[2016-10-23 02:20] onsi commented on #305
hey @nikhilm bad news.  removing `-i` has slowed people's test suites significantly.  I've reverted this bug.  Please open an issue at golang/go to see if the go community can fix the behavior of `-i`

[2016-10-23 02:41] hcliff commented on #307
All sorted!

Great project it's been really helpful for us, thanks for your time with this issue and your wider efforts on ginkgo/gomega :)

[2016-10-23 02:41] #307 closed

[2016-10-24 21:17] nikhilm commented on #305
Thanks @onsi. Related, the Golang bug is also going to change this behavior in go 1.8 to not allow such imports. We will change our tests.

[2016-10-25 12:24] zeekay commented on #70
I think this would be a nice addition. It helps discourage massive `It` blocks, which are a natural response to `BeforeEach` blocks with high-latency setup work (as mentioned by @mml). As per @onsi's suggestion above we implement our own BeforeAll helper like so:

[code]

Which works well with our parallelized (and randomized) test setup.

This has been a boon in dealing with some particularly unr

[2016-10-25 12:44] jsimonetti opened #308 "table extension does not work with BeforeSuite or BeforeEach"
Consider the following test:

[code]

I would have expected that 3 tests are run and they all pass.
However, it looks like the entries variable is not filled until after the DescribeTable dsl is evaluated.
Above file results in:

[code]

Please advise on how to use the table extension with variable length Entries.

[2016-10-26 00:30] onsi commented on #308
The table needs to be constructed before Ginkgo starts running tests.  code like this needs to go in the top level and cannot be in a BeforeSuite.

DescribeTable is simply a thin wrapper around Describe and It and all the Describes and Its need to be specified when go loads the top level code in.

[2016-10-26 10:03] #306 closed

[2016-11-03 17:33] jg8481it opened #309 "Unable to get flaky test mitigation to work"
I have been trying out the --flakeAttempts flag and I keep getting a "flag provided but not defined: -flakeAttempts"

Here is an example of what I am trying to run...

$ ginkgo --flakeAttempts=3

I have a feeling I am doing this the wrong way. Any advice is appreciated. Thanks.

[2016-11-03 20:27] robdimsdale commented on #309
@jg8481it try it with one `-` i.e. `ginkgo -flakeAttempts 3`.

[2016-11-03 21:10] jg8481it commented on #309
@robdimsdale After trying it with...

I still get the same error.

[2016-11-03 22:23] onsi commented on #309
@jg8481it did you pull the latest ginkgo and recompile the CLI (sorry... just trying to cover the basics!)

[2016-11-03 22:32] jg8481it commented on #309
@onsi I will definitely give that a try and post an update.

[2016-11-03 22:40] jg8481it commented on #309
@onsi @robdimsdale

After pulling the latest ginkgo and recompiling the CLI, it's now working perfectly. I see three attempted runs. Thanks for the assistance guys!

[2016-11-03 22:40] #309 closed

[2016-11-07 17:20] kargakis commented on #303
Sorry for the belated response, too many things going on.  It seems you are right, nested AfterEach blocks should work as I expect them to work. Thanks!
[code]

[2016-11-07 17:20] #303 closed

[2016-11-10 02:51] sheeley commented on #111
@onsi can you share more context of why parallel test suites are terrible? if anything, i'd expect to hear that parallel tests within a suite are terrible, not that parallel suites are terrible. interested in helping to get suites running in parallel or understand why our tests should be parallel instead of suites. thanks!

[2016-11-11 04:32] onsi commented on #111
"terrible" is probably way too strong.

running different test suites (especially integration test suites) that might share some sort of global resource (e.g. both pointed at an external cluster, or an external resource set up on the box) could lead to conflicts and surprising/difficult to reproduce test results.  running unit tests in parallel this way is arguably fine.

tests running in parallel

[2016-11-15 00:16] sheeley commented on #111
@onsi thanks for the response - I'm actually pretty interested in being able to run suites in parallel, using something like https://github.com/codahale/testdb to allow them to function completely separately. this way it's very easy/fast to say:
- create new db with only the data I need for entityA
- run test suite for entityA crud/business logic
- tear db down

and

- create new db with only the

[2016-11-15 00:40] onsi commented on #111
Would entityA and entityB share the same test suite?  Or different test suites?  What makes more semantic sense for your project?

If they can be in the same suite then I encourage you to look at Ginkgo's parallelization techniques.  In cases like this I've seen the following pattern work:

- Use `SynchronizedBeforeSuite` to spin up one (shared) data store (e.g. mysql, etcd, etc...)
- entityA and

[2016-11-15 00:44] robdimsdale commented on #111
I was going to suggest wrapping multiple processes in bash. I've seen it done before, but it's gross. Handling the processes and the output gets tricky quickly. You could wrap the `gingko` executable calls in [GNU Parallel](https://www.gnu.org/software/parallel/) if it supports different args for each invocation (I'm not sure about this).

[2016-11-16 11:09] ypapax opened #313 "-bash: ginkgo: command not found"
Commands
[code]
do not createe `ginkgo` binary in $GOPATH/bin

[2016-11-16 18:50] onsi commented on #313
um.  just tried this with a fresh GOPATH with go1.7.1 and it works for me.  are you able to download, compile, and install other packages via `go get`?

[2016-11-17 05:08] ypapax commented on #313
Not sure what was a reason tomorrow, today is working, thanks

[2016-11-17 05:08] #313 closed

[2016-11-18 02:40] #295 closed

[2016-12-05 21:01] LewisWatson opened #314 "Seperate fast and slow tests"
Hello, thanks for making ginkgo, I'm really liking it.

I've got a some fast tests that use an in-memory data store and some slow tests that are effectively the same but use a mongodb data store, which involves spinning up a mongoDB docker container. Is there a way for me to create my ginkgo tests so that when the I run my tests with the `-fast` flag set then only the in-memory tests run?

This is

[2016-12-05 21:15] onsi commented on #314
A common approach here (admittedly a bit hacky) is to come up with a consistent tag that you apply to the relevant `Describe`s:

[code]

Now you can run `ginkgo --focus="{fast}"` to only run things "tagged" `fast`.  (`--focus` takes a regular expression that is applied to the concatenated set of `Describe` and `It` strings to pick out tests to run.  There's a related `--skip` flag.  Both `--skip`

[2016-12-06 07:04] LewisWatson commented on #314
Thanks onsi, that looks like an interesting approach that looks like it would work. After a bit more investigation I've managed to work out how to skip certain tests via the `-short` flag. Turns out I just needed to import the testing package.

[code]

Thanks again.

[2016-12-06 07:04] #314 closed

[2016-12-07 23:26] XenoPhex commented on #294
lighting this conversation up again.

Is there any chance there could be a `--serialPackages=...` flag that would allow all packages but the ones specified to run in parallel, but the specified runs in series. We also have a suite of integration tests that change shared external state, so we would like these tests not to run in parallel, but we also want to just have a single `ginkgo -r integratio

[2016-12-14 21:55] mmb opened #315 "flake count is always 0 when using multiple nodes"
Create a flaky test like:

[code]

[code]

The same test run with `-nodes 2` reports 0 Flaked:

[code]

[2016-12-15 00:54] Burr commented on #201
We are having the same problem. I don't believe that referenced commit (120efcf) solves the issue.

I believe the root cause is that running the tests is a two step operation:

1) Compile the code into a temporary path - https://github.com/onsi/ginkgo/blob/master/ginkgo/testrunner/test_runner.go#L124
2) Run the tests against the path - https://github.com/onsi/ginkgo/blob/master/ginkgo/testrunner/t

[2016-12-15 12:35] #308 closed

[2016-12-18 22:43] stevekuznetsov opened #317 "Terminal escape codes are printed even when the output does not go to a TTY"
As seen in a lot of Jenkins output like [this job](https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_origin_extended_generic_future/13/console) the output still contains terminal escapes, even though it's being written to a file or to some other file descriptor that is NOT a TTY. Example:

[code]

Is this display code from this codebase or from some other library? Where should this be

[2016-12-21 01:54] #315 closed

[2016-12-21 04:35] onsi commented on #201
hmm :/ fair point.  @Burr are you up for submitting a PR?

[2016-12-22 04:06] Burr commented on #201
Sure, I'll take a look at it and see if I can figure out a clean way to proceed. If so, I'll submit a PR. Thanks!

[2017-01-03 06:27] b0o commented on #70
@onsi

I can see how this makes `BeforeAll` possible, but how does it help with emulating `AfterAll`? Adding a guard to an `AfterEach` would just allow you to run it once after the first `It`, right?

I really need an `AfterAll` to reconstruct some high-cost objects.

I've been racking my brain trying to come up with various workarounds, but since the `AfterEach` will be the final thing to run wit

[2017-01-30 00:35] leodotcloud commented on #257
+1

[2017-02-02 15:51] fredr opened #320 "Feature request: Set reporter via command line flags"
It would be great if it was possible to to specify a reporter when running `ginkgo`, so that different reporters can be used in different CI systems etc.

I.e I don't want every developer to have to remember to use `RunSpecsWithDefaultAndCustomReporters` for the tests to be picked up by CI, and I would like to not have to change every TestSuite whenever I need to add a new output format.

[2017-02-13 21:00] jawnsy opened #321 "Show seed unconditionally at the end of test execution"
Ginkgo's seed is printed at the beginning of the test run, but if you're running the tests locally and your scrollback buffer is small, you can lose the seed value. It'd be nice for ginkgo to unconditionally (in case of success or failure) output the seed at both beginning and end of execution.

[2017-02-14 16:50] glyn commented on #234
Note that this problem continues to occur with the official Go vendoring support, e.g. in 1.7.4. The solution is the same: vendor `github.com/onsi/ginkgo/extensions/table`. So it wasn't just a problem with the vendor experiment.

[2017-02-15 09:18] glyn commented on #234
@onsi @georgeharley (who I was pairing with when we hit this issue) suggested adding a brief note to the docs for tables to make sure people remember to vendor in the extra package. Might be worth it if this is a common problem.

[2017-02-15 16:29] onsi commented on #234
That sounds fine Glyn.  Would either of you be up for submitting a PR to the `gh-pages` branch?  Or even the main README if you think it warrants that degree of visibility.

[2017-02-16 09:21] georgeharley commented on #234
https://github.com/onsi/ginkgo/pull/322

[2017-02-17 17:04] vito opened #323 "Hard to collect stack for hanging tests when run in parallel"
We often run tests with `-p` or `-nodes=X` (both in CI and during dev). Unfortunately this makes it impossible to get a stack dump when the tests are hanging. If you send `SIGQUIT` to the toplevel `ginkgo` process you just get a stack dump of the coordinating node, not the nodes actually running the tests. If you send `SIGQUIT` to the nodes running the tests, the coordinating node just prints:

[c

[2017-02-17 17:08] onsi commented on #323
Yes.  Trapping and retransmitting would be the way to go here.  I believe it already does this for SIGINT.

.......PR?

[2017-02-27 03:46] srbry commented on #70
@b0o since each describe/ context/ it are really just functions, could you not just use a `defer` on the function to ensure it runs whenever the function finishes? Not actually tested it myself.

[2017-02-27 17:49] syifan opened #324 "Error after upgrading to Go 1.8"
I recently upgraded my Go package to the 1.8 version. Ginkgo works all fine with Go 1.7. But after upgrading, I get the following error information if I run `ginkgo -r -cover`

[code]

The error only happens if I enable -cover. Also `go test -cover ./...` works fine without any problem. I wonder if there is anything wrong with my setup?

[2017-02-27 21:24] lhdomenech commented on #324
I have the same issue after upgrading to Go 1.8

[2017-02-28 03:05] joshq00 opened #325 "Compiled packages removed?"
Onsi, thanks for this repo + gomega. Really helps our productivity at The Home Depot

After upgrading to 1.8, I've noticed that running any sort of `ginkgo` or `ginkgo watch` causes later compiles to run slowly. I use luan/vimfiles -- which run `go test -c` on every save.

An example use case:
- start tmux
- open a separate pane
  - start `ginkgo watch -r -cover`
- open vim
  - modify a file (take

[2017-02-28 03:10] joshq00 commented on #325
As a side note, I've used `find . -name '*.go' | entr -r -c go test'` and there is no delay in compile or vim

[2017-02-28 03:13] joshq00 commented on #325
May be related to #258

[2017-02-28 14:01] stevekuznetsov opened #326 "Don't print colorized output when not outputting to a TTY"
With code like:

[code]

It should be possible to determine if the output from `ginkgo` is going to a TTY or not. It should be best practice not to spit out color escape codes if the output is _not_ a TTY.

[2017-02-28 15:38] johanbrandhorst commented on #325
Seems to recompile a lot of the standard library whenever `--cover` or `--race` is used.

[2017-02-28 17:23] robdimsdale commented on #326
I can see arguments for both cases. There are examples of where you want to output color to something that isn't a TTY - concourse.ci is one of these - so if we switched the default I would still expect to see a way to configure color.

Changing the default here could cause frustrations for these users as they would lose color support until they explicitly opted-in by re-enabling color.

[2017-02-28 17:35] stevekuznetsov commented on #326
I understand the backward compatibility argument, but given that it's a color and a flag `-color` could be used to force coloring, I think it's still true that well formed programs shouldn't output ANSI escape codes to file descriptors that aren't TTYs by default.

[2017-03-01 14:29] james-lawrence opened #327 "Better diagnostic information when timeout occurs during parallel tests."
current message `Ginkgo timed out waiting for all parallel nodes to report back!` doesn't give enough information about which nodes failed to report back making it problematic to track down the issue.

(I might have time to generate a PR this weekend)

[2017-03-01 16:18] onsi commented on #327
PRs welcome!

[2017-03-02 23:03] alexbrand commented on #294
+1. Would be great to be able to specify a subset of specs that should run serially.

[2017-03-03 00:17] vito commented on #326
FWIW, Concourse runs its tasks with a TTY, so it would be unaffected by this. I agree that by default it should omit color. Curious if Travis CI and others would be affected though?

[2017-03-03 04:38] robdimsdale commented on #326
@vito I didn't realize that - was this always the case? I thought I've seen ANSI codes fail to be escaped in concourse, but I might be confusing it with something else.

A quick google search implies that Travis CI runs a TTY/PTY so that would likely continue to work. I vaguely remember GoCD not supporting ANSI color codes, but I'm not sure how many ginkgo users run on that system anymore.

@onsi

[2017-03-03 04:50] onsi commented on #326
Makes sense to me.  Steve are you up for submitting a PR?

On Thu, Mar 2, 2017 at 8:38 PM, Rob Dimsdale-Zucker <
notifications@github.com> wrote:

[2017-03-03 12:00] stevekuznetsov commented on #326
Yes, I'll take a stab at it. Just to make sure we've got agreement on the change - if the output is not a TTY, act as if `-noColor` had been passed, _unless_ the user supplied `-color`.

[2017-03-03 13:55] vito commented on #326
yep. we initially did it for Bosh cli a long time ago.

On Fri, Mar 3, 2017, 7:00 AM Steve Kuznetsov <notifications@github.com>
wrote:

[2017-03-04 09:03] adred opened #329 "A beginner can't seem to make it work"
It's just a simple string comparison but it fails.
[code]
It's comparing one string with quotation mark to another string without quotation mark. Tried `BeEquivalentTo` and `BeIdenticalTo` with no luck. Here's my code:
[code]
Any idea what's wrong?

[2017-03-04 14:49] adred commented on #329
So you need to do it like this:
[code]
Seems counter intuitive...

[2017-03-06 09:44] johanbrandhorst commented on #89
What is the status of this? Seems like it would be a nice feature.

[2017-03-06 19:00] #326 closed

[2017-03-07 04:11] smarterclayton opened #333 "When running in parallel, some nodes receive tests unevenly (take much longer)"
We run a very large number of tests at very high parallelism (N=25) with each test taking between 5s and 3m to run.  Since I believe (at least based on reading the code and other comments) that tests are determined up front based on consistent seeds, runs that would take 10m if workers were able to grab from a shared queue end up taking 20m or more.

Is there a cheap / easy way to divide up jobs m

[2017-03-07 17:29] onsi commented on #333
Yeah, a shared queue _would_ have been a much better approach to how Ginkgo doles out tests to the workers.  At this point that approach will take some work (it's definitely doable within the exiting architecture but I expect it's a solid ~20-30 hours of effort at least).

For now there is one hacky trick you can use that will likely improve your test performance _on average_:

When Ginkgo randomi

[2017-03-07 21:23] onsi commented on #329
I suspect `rec.Body.String()` is literally returning `"\"Failed to parse payload\""`.

The matcher is behaving as expected - the passed in string has quotes in it, so it will only match if you pass in an identical value.

You could try the `ContainSubstring` matcher - but also look into your code to see if you're returning a string with quotes in it somehow (happy to look at code if you point me a

[2017-03-08 07:43] Bo0mer commented on #324
The same error occurs if the tests are run with the `--race` flag. Example:
[code]

`go test -race` works as expected. Any chance it is related to https://github.com/golang/go/issues/19151?

Regards,
Ivan

[2017-03-09 19:56] onsi commented on #333
...actually - i found a quicker way to do this.

can you try out the `parallel-queue` branch?  you'll need to rebuild the CLI.  it doles out tests via a shared queue and you should see a significant speed bump.

[2017-03-09 20:09] smarterclayton commented on #333
Will give it a try

On Thu, Mar 9, 2017 at 2:56 PM, Onsi Fakhouri <notifications@github.com>
wrote:

[2017-03-10 19:50] sbchand opened #334 "ginkgo reports "undefined: Specify" in go 1.8"
The following command was working with go 1.7.4; however, it reports "undefined: Specify" with go 1.8 on line numbers wherever the keyword "Specify" is mentioned in the test file.  While replacing "Specify" with "It" works, wish to know if there are any changes/issues around this; thanks in advance.

ginkgo -r --failOnPending --cover --trace --noColor --progress --slowSpecThreshold 1 --randomizeAl

[2017-03-10 20:21] sbchand commented on #334
I found the root cause…in addition to upgrading go to 1.8, was using release/tag version of ginkgo 1.2.0 instead of master branch.

“Specify” was introduced in January 2016
https://github.com/onsi/ginkgo/pull/216

However the latest version released is 1.2.0 (which we are using) on June 2015
https://github.com/onsi/ginkgo/releases

Therefore “Specify” may not be available in this version.

[2017-03-10 20:21] #334 closed

[2017-03-10 21:22] timothysc opened #335 "Suite wrapping around libraries"
I would really like to create suites of tests around a single runner then link them like libraries.

a (runner)
-->b (suite b)
-->c (suite c)
-->d (suite d)

a links b,c,d via some inclusion + function.

Is there any way to easily do this today...?

[2017-03-10 21:53] timothysc commented on #335
Figured it out nvmd.

[2017-03-10 21:53] #335 closed

[2017-03-13 04:09] smarterclayton commented on #333
Does the client half (the part in the tests) have to change at all?  Still seeing wildly variable times (between 460 and 615 seconds) - definitely using the parallel-queue binary to launch, but did not update the vendored client site.

[2017-03-13 04:19] onsi commented on #333
yes you need to make sure you're:

(a) using a recompiled ginkgo cli (so make sure to `go install github.com/onsi/ginkgo/ginkgo` after checking out the `parallel-queue` branch).
(b) building your test suite against the `parallel-queue` branch (so update your vendored dependencies if need be).

[2017-03-13 17:15] smarterclayton commented on #333
Figured, will retry.

[2017-03-14 06:00] smarterclayton commented on #333
Ran this several times with code on both sides and was seeing times be fairly consistent - 480s-530s.    That may be near the theoretical max for this workload since I've saturated the workload.  Note the very nice bell curve - other runs are rougher on both sides.

<img width="649" alt="screenshot 2017-03-14 01 58 03" src="https://cloud.githubusercontent.com/assets/1163175/23887706/e474d14e-0859-

[2017-03-14 22:49] onsi commented on #333
Cool.  I confess I can't quite understand the plot (the x-axis is time, what's the y-axis?, is each line a different run?  is the light-blue the old code and the others the new code?)

in any event, i'll likely merge this into head soon.  any objections on your end? did you notice any instabilities/issues?

thanks for the idea nad for validating it!

[2017-03-15 05:51] onsi commented on #333
this is now on master.  please close the issue out @smarterclayton if you think it can be resolved.

[2017-03-16 01:40] geraldhuff commented on #324
I had the same issue after upgrade to 1.8. I found that running `ginkgo -cover  -covermode=count` got past this issue. Can't seem to find good documentation on what mode count is vs atomic or set however.

[2017-03-16 06:12] Bo0mer commented on #324
Basically:
* set: did each statement run?
* count: how many times did each statement run?
* atomic: like count, but counts precisely in parallel programs

More details - https://blog.golang.org/cover

[2017-03-17 03:37] smarterclayton commented on #333
The graph above was CPU per machine of two successive runs of the full kubernetes+openshift e2e suite against a four node cluster, where each line is a separate 2core machine.  Before, it was very jagged with a peak, then a set of staggered sub peaks afterwards.  This is very smooth, with much better saturation.

[2017-03-27 23:52] rosenhouse commented on #234
We just encountered this problem after we began using `code.cloudfoundry.org/lager` in our code & tests without first vendoring it into our project's `vendor` directory.  Perhaps it was causing `ginkgo` to be double imported, and thus adding the flag twice.

[2017-03-28 01:00] drywheat opened #338 "Last tag was created over 2 years ago"
It looks like you were cutting _releases via tags_ a while back. Is that no longer the case?

[2017-03-28 20:13] onsi commented on #338
Yes - not consistently.  There's still reasonably active maintenance and community development happening on master and we generally follow the Golang versioning semantics of "just use master"

Are you using some sort of dependency management tool that requires a tag to be cut?

[2017-03-28 20:18] drywheat commented on #338
I'm currently using [Glide](https://glide.sh/) to manage dependencies. By default, it will look for and try to lock down the latest tag so you can get reproducible installs. Otherwise, using HEAD, there's an opportunity for devs (new and old) to be using different versions of ginkgo for testing.

It is not sustainable for my team/project to forgo enforcing semver. Maybe there's a different way thi

[2017-03-29 03:36] onsi commented on #338
Yeah, understood.  Different folks do this in different ways.  I can set myself a recurring calendar reminder to cut semver-ish releases every month.

[2017-03-29 03:54] onsi commented on #338
OK I just cut new tagged releases for both Ginkgo and Gomega.

[2017-03-29 03:54] #338 closed

[2017-03-29 03:55] onsi commented on #333
Looks like e2e is happy.  Gonna close this out @smarterclayton - open it back up if you see any issues.

[2017-03-29 03:55] #333 closed

[2017-03-29 13:53] drywheat commented on #338
Thank you, that's very accommodating.

[2017-03-30 23:41] dcwangmit01 commented on #285
@tinygrasshopper I was able to work around this issue.  Perhaps this code snippet might help.

[code]

[2017-03-31 11:48] porridge commented on #234
I have a slightly different problem, where adding to my vendor directory does not help.

My project (`mything`) wants to use both `ginkgo` and some other library (`somedep`) which also uses `ginkgo` and has it vendored:

[code]

In this case, both copies of `ginkgo` will be initialized, which leads to the crash in real world:

[code]

I'm rather new to golang, and the only solution I can come up w

[2017-04-02 20:46] #327 closed

[2017-04-04 07:32] tinygrasshopper commented on #285
thanks @dcwangmit01

[2017-04-06 14:04] kiddrew opened #341 "Suite-level BeforeEach call?"
RSpec has the ability to define a BeforeEach in the config, most commonly for preparing a test database. I'm doing the same thing inside Ginkgo to set up a test Redis environment, but I'm making the call in every test file rather than at the suite level.

I've looked through documentation and examples, but I haven't found a way to make that call automatically for every test - is that possible?

[2017-04-06 14:19] onsi commented on #341
Yep, you can define a `BeforeEach` in your `*_suite_test.go` file (you should have one of these if you used `ginkgo boostrap`).  It looks like:

[code]

The `var _` is to get around Go's restriction around calling functions at the top level.

Here's an example from Ginkgo's integration tests:
https://github.com/onsi/ginkgo/blob/master/integration/integration_suite_test.go

[2017-04-06 15:27] kiddrew commented on #341
Aha, thanks!

[2017-04-06 15:27] #341 closed

[2017-04-07 19:18] onsi commented on #324
With go 1.8.1 out today would folks mind giving that a try to see if it's helped?

[2017-04-07 21:11] lhdomenech commented on #324
I cannot reproduce the issue with go 1.8.1.

[2017-04-08 00:23] syifan commented on #324
The problem is not there after upgrading to go 1.8.1. Thank you very much!

[2017-04-09 18:26] vovkasm commented on #324
I still experienced this problem.
* System: ArchLinux
* `go version go1.8.1 linux/amd64`

[code]

ginkgo from 13c94a130ef24c498bdb2d8d3873cf7790925dcf, so fresh enough.

Can I provide any additional info?

[2017-04-09 19:14] onsi commented on #324
Did you `rm -RC $GOPATH/pkg` after upgrading?  Does `go test -race -I` work?

[2017-04-09 20:25] vovkasm commented on #324
1. Yes, I deleted `$GOPATH/pkg` dir
2. Not sure, what exactly you mean (`go test -help` silent about `-I` option)...
[code]

[2017-04-09 20:29] onsi commented on #324
sorry, ipad autocorrect fail.  i meant

`go test -race -i` this is what ginkgo uses under the hood

[2017-04-09 20:31] vovkasm commented on #324
Ahha, yes!
[code]

[2017-04-09 20:43] onsi commented on #324
ok weird.  I'm on OS X so perhaps there's a difference there.

I _thought_ this was supposed to be fixed in https://github.com/golang/go/issues/19151

apparently not?

[2017-04-09 20:50] vovkasm commented on #324
Will try investigate this, in theory other factors can cause this such as timestamps on files or error in OS provided package...

On OS X most users will use go from Homebrew, then this issue will not expose self because GOROOT writeable by user.

[2017-04-11 10:43] fabianTMC opened #342 "Nil pointer dereference / invalid memory address error when running tests"
Hi,

The error I am having is a bit weird. When I run the server normally and test the endpoint manually, I do not get this issue but when I run the tests, I always run into a nil pointer dereference / invalid memory address issue. At first I thought it was because I was passing the database connection incorrectly, but I have verified that it works.

This is what my test suite looks like:
[code]

[2017-04-11 15:37] onsi commented on #342
Are you sure those flags are populating correctly?

Ginkgo calls `flag.Parse()` well before `BeforeSuite` runs.  I suspect that's the issue.  If it is, you can solve this with something like:

[code]

[2017-04-11 17:31] smarterclayton commented on #333
Confirmed this is working as expected.  Thanks - cut 15-20% off the long tail of the runs.

[2017-04-11 17:43] fabianTMC commented on #342
I did not pass any flags when running the test so it uses the values in config. These I know to be working. The issue is not that all calls with db fail, one or two go through and only after a certain point it starts to fail. Even after moving the code around like you mentioned, it is still the same.

When running the main `server.go` code (which is identical), this issue does not occur.

[2017-04-11 17:50] onsi commented on #342
Is one test putting your `db` instance into a state where it can no longer
be used?  One option is to move creating the client into a top-level
`BeforeEach` and cleaning it up in an `AfterEach`.  That will ensure no
test pollution.

On Tue, Apr 11, 2017 at 10:43 AM, Fabian Enos <notifications@github.com>
wrote:

[2017-04-11 18:19] fabianTMC commented on #342
`db` is an instance of `*sql.DB` so that shouldn't be the case. Otherwise, when I am sending requests to the running server, the same code in the http handler function would not execute.

Additionally, in all the tests I am running prior to the one that causes the panic issue, none of them reach far enough into the (same) http handler's logic to cause a database action to be performed. I removed t

[2017-04-12 19:54] fasa123 opened #343 "Export Specs with children/parents"
I am currently trying to write a parser for the Ginkgo test results. Writing a custom reporter makes things easy admittingly but I have no proper way of contextualizing each node. If I hook into SpecDidRun I do not know what that specs parent is whether it has a parent whether it has childrens. Is there any way I can do this?

[2017-04-13 00:53] onsi commented on #343
I'm sorry, I don't follow.  What do you mean by "Parent" and "Children"?  Each Ginkgo Spec is an `It` that stands alone, it does not have parents or children.  It may be nested within several `Describes` and `Contexts` and have numerous `BeforeEach`es and `AfterEach`es around it.  But it is neither the parent of another spec nor the child of another spec.

[2017-04-13 19:03] fasa123 commented on #343
Mind me English isn't my native tongue. Let's take your example:

[code]

I'd like to write a parser that is able to see each Describe/Context/It in their order. In this sample "Categorizing the book length" is the parent of "With more than 300 pages" which is the parent of "should be a novel".

I wanted to know is whether there is some api to get this information; I expected a Slice that includes

[2017-04-13 20:58] onsi commented on #343
The best I can get you now is the `ComponentTexts` and
`ComponentCodeLocations` slices (
https://github.com/onsi/ginkgo/blob/master/types/types.go#L41-L43) that are
passed into `SpecDidComplete`.  Will that work?

On Thu, Apr 13, 2017 at 12:03 PM, fasa123 <notifications@github.com> wrote:

[2017-04-13 21:29] fasa123 commented on #343
Yea I already used them. Problem with those is that I have to do the matching on my own which is really unnecessary since Ginkgo already knows how they are related. Though thanks for the replies eventually I will try to add this functionality into Ginkgo when I have time since that seems to be the most logical option here I assume.

[2017-04-13 21:29] #343 closed

[2017-04-14 14:32] zachgersh commented on #257
@onsi - I believe I can close this with the refactor you did to how nodes work. Is that correct?

[2017-04-14 14:33] onsi commented on #257
Yep!

[2017-04-14 14:37] #257 closed

[2017-04-17 00:55] davecb commented on #231
@onsi I always run the worked example whenever someone proposes something to me, to see if it works.  I'm an old guy, and I've wasted a lot of my life on stuff that looks cool, but doesn't actually _do_ anything, so I expect examples to work.  Alas, while step 1 works, step 2 fails and doesn't produce the output you illustrate. It probably worked once, but it doesn't any more.

That isn't going to

[2017-04-18 20:08] benmoss opened #344 "Ginkgo should error if a package does not have a suite file"
Just wasted ~20 minutes of my life figuring out why Ginkgo couldn't find my test file before remembering that a suite file is required. Maybe there could be a warning?

[2017-04-18 20:14] onsi commented on #344
hmm.  sorry to sound dense but can you tell me exactly what you were doing and what you saw?  Ginkgo doesn't need a `*_suite_test.go` file to realize this is a Ginkgo suite (it looks for an `import` of `ginkgo`).  It _does_ need there to be _some_ sort of `*_test.go` file otherwise it should say "Found no test suites".  If it sees `*_test.go` files but none of the `import "github.com/onsi/ginkgo"`

[2017-04-18 20:27] benmoss commented on #344
I made a repo that shows the problem: https://github.com/benmoss/ginkgo-repro

If you try to run `ginkgo .` you get:

[code]

Apologies if I was a little terse in my description, I'm gonna see if I can put together a PR later today :)

[2017-04-18 20:32] onsi commented on #344
welp.  that's a totes legit edge case.

We could do something ugly like bail if we can't find a line that matches `RunSpecs`.  I wouldn't want to require there be a `*_suite_test.go` file as that is a convention not a rule.  Alternatively we could parse the output of `go test` and look for `testing: warning: no tests to run` and say something like "did you remember to `ginkgo boostrap`?"

Either w

[2017-04-19 00:01] onsi commented on #231
Hey @davecb - yes the example in the documentation is written to express what a Ginkgo test looks like not as a literal worked example.

I'm not confident adding something to the documentation would be effective.  I think it would be best to have an example project and test suite that ships with Ginkgo (that is simpler than Ginkgo's own test suite of course) and simply point to it from the documen

[2017-04-19 13:11] #344 closed

[2017-04-19 19:58] akutz commented on #70
Hi,

I also would like to see `BeforeAll` implemented for the same reason. Sometimes standing up an environment is expensive.

[2017-04-24 06:13] bt opened #346 "Custom coverage profile filename not working"
I noticed that there's a command-line option named `-coverprofile` which is supposed to take in a string and output a coverage profile to the provided string after the tests are completed.

[code]

I can see this is mentioned here: https://github.com/onsi/ginkgo/blob/master/ginkgo/run_watch_and_build_command_flags.go#L133

However, when I run my tests like such:

[code]

I don't get the file at `c

[2017-04-24 20:30] andrehp commented on #344
I don't feel like this is a positive addition to ginkgo, showing a warning is ok, but breaking the build because a package doesn't have a suite test file is too extreme.

[2017-04-24 20:32] onsi commented on #344
@andrehp we pulled in a change that prints a warning.  Are you seeing builds break?

[2017-04-24 20:35] andrehp commented on #344
Yes, I'm seeing breaking builds, I'd guess the problem is at line 467 https://github.com/onsi/ginkgo/blob/master/ginkgo/testrunner/test_runner.go#L467

It sets passed to false when it detects no tests were run.

[2017-04-25 12:59] andrehp commented on #344
@onsi so, any chance of reverting this change? Or at least removing line 467?

[2017-04-25 13:01] onsi commented on #344
Yes.  Fastest way would be a PR that removes that line if you're up for submitting one.

[2017-04-25 13:22] andrehp commented on #344
Created it
https://github.com/onsi/ginkgo/pull/347

[2017-04-25 14:34] benmoss commented on #344
FWIW this shouldn't be breaking your test suite if you don't have any tests in a package. It should only break in the case where you have Ginkgo tests but no suite file, in which case none of your tests are running anyway, which seems like a thing you'd want to know about.

Can you give an example of the problem you're encountering before we merge this? I feel like something else may be the proble

[2017-04-25 14:45] benmoss commented on #344
And this change didn't change the behavior of what ginkgo does when there are no test suites, so I feel like this actually makes it more consistent. The wrinkle there is that ginkgo will fail if run against 1 package with no suite, but will pass if run against multiple packages where only some have a suite. It will now fail if they both lack a suite *and* have a `_test.go` file.

[2017-04-25 17:08] andrehp commented on #344
So, the case this change is breaking my build, a project runs ginkgo with:

[code]

Where TEST_PACKAGES is generated by
[code]

In the case of the project it is
[code]

But the testing folder does not actually contain tests, it just contains some mocks and helpers, and ginkgo outputs:
[code]

The actual command run is:
[code]

I reverted to the last commit before your PR and everything works fine

[2017-04-25 17:19] onsi commented on #344
wdyt @benmoss ?

@andrehp I'm a bit surprised that `ginkgo` is picking up the `testing` package.  I tried this locally by creating a packaged named `testing` that only includes non-`_test.go` files and it worked.

[2017-04-25 18:36] benmoss commented on #344
@andrehp can you tell me more about what files are in your `testing` package? Are any of the files in a `*_test` package?

[2017-04-25 18:47] andrehp commented on #344
@benmoss The project in question is: https://github.com/topfreegames/offers
The first build that broke due to this change was a simple change in the docs: https://travis-ci.org/topfreegames/offers/builds/225319179

[2017-04-25 20:50] benmoss commented on #344
It looks like it's due to the `bench` package, not the `testing` package. I think it's due to there being `_test` files in there that have no tests in them, they just have benchmarks. This used to just print "testing: warning: no tests to run", but now would cause ginkgo to think you have an empty suite. It looks like there's an ambiguity here. Alas. I guess printing the message is still an ok ide

[2017-04-25 23:23] onsi commented on #344
ok thanks.  merging it in.

[2017-05-01 21:50] decibel opened #348 "Add a When() synonym for Context()"
I find myself writing a lot of `Context()`s with a description in the form "when <something>", ... It(). Enough so that I'm wondering if it'd be worth adding a When() to the DSL, something along the lines of:

[code]

[2017-05-03 06:58] blurrcat opened #349 "Is there a way to "parametrize" a spec?"
Say we have an interface called `Cache` and I have a spec that tests its various methods:
[code]
Suppose I have 2 implementations of `Cache`, like `LRUCache` and `LFUCache`, is there a way to re-use the spec? For example, by allowing the Describe callback accepting some parameters? The `table` extension seems to work only on the `It` level.

Currently I wrap the spec inside a for loop:
[code]

Wha

[2017-05-03 07:49] tinygrasshopper commented on #349
There are some [documented ways](http://onsi.github.io/ginkgo/#shared-example-patterns) of reusing specs, I think the first option might be suitable for your usecase

[code]

[2017-05-03 07:57] blurrcat commented on #349
Thanks @tinygrasshopper! This is exactly what I'm looking for.
Coming from TDD, the phrase "shared behaviors" just didn't ring the bell for me. Guess I should have read the docs more carefully!

[2017-05-03 07:57] #349 closed

[2017-05-09 05:19] joekir opened #350 "flakeAttempts flag doesn't appear to work in ginkgo 1.2.0"
#### Issue details

I have tried running both:
`$ ginkgo -r --flakeAttempts=10` and
`$ ginkgo -r -flakeAttempts 10`

Both result in the following kind of error:

[code]

##### Found in
[code]

[2017-05-09 05:24] onsi commented on #350
i think this landed in 1.3.0+ @joekir - for a while I wasn't cutting regular releases but am trying to do that going forward.

[2017-05-19 01:52] glyoko commented on #70
+1

[2017-05-29 07:27] wasylkowski commented on #254
This has been opened a year ago and is still affecting developers that use symlinks (myself included). I second Tim's question. Can we change this?

[2017-05-29 13:38] AlexeySoshin commented on #346
I'm on it

[2017-05-30 18:09] aubm opened #356 "Is there a way to watch everything, not just the go files?"
I have this use case because I have a bunch of external test files that contain thing like JSON snippets, etc...

[2017-05-31 20:23] benmoss opened #357 "fixCompilationOutput breaks compilation output"
Here's what `go build` reports:
[code]

And here's what Ginkgo reports:
[code]

It looks like the problem being solved by the `fixCompilationOutput` function is causing this problem in turn.

[2017-06-01 12:52] wasylkowski commented on #254
@onsi can you take a look? Thanks!

[2017-06-01 15:37] onsi commented on #254
Will try to take a look this week or next.  Am trying to carve out a bit more time for Ginkgo this summer.

As always, though, a PR would be appreciated.

[2017-06-01 15:44] onsi commented on #357
Hey @benmoss - what's the problem specifically?  `fixCompilationOutput` exists so that when you run `ginkgo -r` you get clear locations of all your compilation failures.  It basically tries to get you a full relative path from CWD into each failure (i.e. `api/database/client.go` instead of `database/client.go`)

[2017-06-01 15:49] onsi commented on #356
Sure - this would be a new feature but not too hard.  Can you do me a favor?

Can you:

1. Locally, edit [this line](https://github.com/onsi/ginkgo/blob/master/ginkgo/watch/package_hash.go#L11) and make the RegExp more permissive.

2. Recompile the Ginkgo CLI (`go install github.com/onsi/ginkgo/ginkgo`)
3.

[2017-06-01 15:50] onsi commented on #356
(Or, if you're comfy, a PR would be great too!)

[2017-06-02 14:02] benmoss commented on #357
Yeah, our code doesn't live in `api/database/client.go`, it's just in `database/client.go`. It seems that Ginkgo is prepending `api` to the front because the API package is the one I ran, but the compilation failure was in the `database` package, which `api` depends on.

[2017-06-02 23:58] etsangsplk commented on #324
doe the -a options somehow trigger the go install -a?

[2017-06-03 17:01] onsi commented on #138
Closing this out for now.  Please open it up again if you'd like to discuss.

[2017-06-03 17:01] #138 closed

[2017-06-03 19:55] onsi commented on #357
ok I'll take a look

[2017-06-03 19:56] #350 closed

[2017-06-03 19:57] onsi commented on #348
Makes sense and should be relatively easy.  Will try to get to this soon.

[2017-06-03 19:59] onsi commented on #346
@AlexeySoshin I made a couple of comments on the PR - lemme know if you can take a look.

[2017-06-03 20:05] onsi commented on #342
hey @fabianTMC are you still dealing with this issue?  Sorry I haven't been able to help much but I suspect this isn't a Ginkgo specific issue...

[2017-06-03 20:06] onsi commented on #329
Closing this out - let me know if you're still stuck @adred

[2017-06-03 20:06] #329 closed

[2017-06-03 20:10] onsi commented on #325
hi all - is this still an issue with the latest go 1.8.3 and the latest ginkgo?

[2017-06-03 20:15] onsi commented on #324
which -a option?  yes `ginkgo -a` will pass the `-a` flag down to `go` and will result in slow compiles.  But I don't believe that's the issue on this thread.

I'd like to close this out - anyone seeing any reason not to?  My understanding is that the root issues are resolved in go 1.8.1+

[2017-06-03 20:17] onsi commented on #321
HI @jawnsy I appreciate the ask but Ginkgo's output is already pretty verbose.  I'd prefer not to add more to it.

[2017-06-03 20:17] #321 closed

[2017-06-03 20:23] onsi commented on #294
I prefer the compromise approach of saying that test authors should separate out their serial-only tests into a separate package.  @XenoPhex how important is it that we maintain the single `ginkgo -r`?  You can get close to what you want with:

[code]

[2017-06-03 20:24] onsi commented on #290
@rosenhouse any thoughts on this?  Is it still an issue you're running into or have you found a way around it?

[2017-06-03 20:27] onsi commented on #289
Closing this out.  `ginkgo watch` gets us partway to this functionality.

[2017-06-03 20:27] #289 closed

[2017-06-03 20:30] #287 closed

[2017-06-03 20:32] onsi commented on #278
I believe this is now fixed

[2017-06-03 20:32] #278 closed

[2017-06-03 20:33] johanbrandhorst commented on #325
Doesn't seem to be a problem to me anymore, but YMMV.

[2017-06-03 20:34] onsi commented on #277
I think the flag gets passed in now but Ginkgo doesn't print out the compilation output.  Will fix.

[2017-06-03 20:36] onsi commented on #258
Am closing this out as I believe test compilation is faster in more recent versions of Go.

[2017-06-03 20:36] #258 closed

[2017-06-03 20:36] #256 closed

[2017-06-03 20:38] onsi commented on #251
yep, the approach that @ixdy proposes is the correct one.

[2017-06-03 20:38] #251 closed

[2017-06-03 20:47] onsi commented on #246
Closing this out - I think @robdimsdale has covered the philosophy and thinking behind this well.

[2017-06-03 20:47] #246 closed

[2017-06-03 20:48] onsi commented on #245
Closing this out as I'm trying to more regularly tag new releases.

[2017-06-03 20:48] #245 closed

[2017-06-03 20:48] #236 closed

[2017-06-03 20:51] #230 closed

[2017-06-03 23:22] rosenhouse commented on #290
Ah.... I can't even remember which codebase I was in where this occurred.  Closing for now.   Hope you're enjoying your time off!

[2017-06-03 23:22] #290 closed

[2017-06-04 15:57] fabianTMC commented on #342
Nope. After I eliminated the flag usages and instead plugged in a testing database configuration directly, the issue disappeared. I think you were right about it being a flag.Parse() issue.

[2017-06-04 18:35] onsi commented on #342
👍

[2017-06-04 18:35] #342 closed

[2017-06-05 14:41] Bo0mer commented on #324
I do **not** have this issue any more.

Thanks.

[2017-06-07 15:09] #226 closed

[2017-06-07 15:13] onsi commented on #221
Am closing this out - someone feel free to open it up if there's interest in implementing this.

[2017-06-07 15:13] #221 closed

[2017-06-07 15:14] #220 closed

[2017-06-07 15:17] onsi commented on #201
I believe this was fixed with #282

[2017-06-07 15:17] #201 closed

[2017-06-07 15:19] onsi commented on #194
This issue has grown stale.  Closing it out.

[2017-06-07 15:19] #194 closed

[2017-06-07 15:19] #165 closed

[2017-06-07 15:21] #146 closed

[2017-06-07 15:21] #141 closed

[2017-06-21 13:21] jutkko opened #358 "Running both golang standard testing library and ginkgo tests"
Hi, I am trying to figure out a way to swap out existing tests to ginkgo tests when possible. This will mean that at some point I want to be able to run both kind of tests. Is it possible?

Right now it seems when ginkgo suite is present, `go test` will only run the ginkgo tests.

[2017-06-21 14:02] onsi commented on #358
Is the repo open source so i can take a look and help?

You can mix Ginkgo and go tests within the same package.  Both `go test` and `ginkgo` will run both tests.  You can also have some packages that are Ginkgo tests and some that are go tests.

Have you tried `ginkgo convert` - it will take all your existing go tests and turn them into Ginkgo tests and you can refactor from there.

[2017-06-21 14:22] jutkko commented on #358
Hi @onsi I just realised that I didn't pay attention to the output. I was about to come and close the issue but you already responded! Thanks!

[2017-06-21 14:22] #358 closed

[2017-06-21 14:23] jutkko commented on #358
I have never heard of `ginkgo convert`, sounds like a cool command!

[2017-06-22 20:43] #324 closed

[2017-06-22 20:43] onsi commented on #294
Closing this out for now.

[2017-06-22 20:43] #294 closed

[2017-06-22 20:52] XenoPhex commented on #294
Oh man, sorry, i must have missed your reply! The example you gave is what we currently do.

While it's not terribly important, it would just make it easier for us when we are describing our testing procedure with others (eg 'run the following command to run all of our integration tests' as opposed to these several commands).

[2017-06-27 19:26] #357 closed

[2017-06-27 20:00] #356 closed

[2017-06-29 05:29] onsi commented on #277
this is now fixed.

[2017-06-29 05:29] #277 closed

[2017-07-01 15:00] #248 closed

[2017-07-07 16:47] tamalsaha opened #361 "How to detect test suite failed?"
I want to run suite cleanup commands, only if the test suite is passing. How do I detect that test suite has passed?

[code]

[2017-07-13 10:47] rmohr opened #363 "Is it possible to set a timeout to table driven test entries?"
I want to specify a timeout in combination with `Done` on a table entry, like I can do it for `It`s:
[code]
I was expecting something like

[code]

Does something like that exist?

[2017-07-15 03:05] onsi commented on #363
hi @rmohr - this isn't possible.  Can you give me an example of what you are trying to accomplish?  You can likely use Gomega's `Eventually` function to achieve what you want to achieve.

[2017-07-17 06:48] rmohr commented on #363
hi @onsi,

The reason why I want to do this, is the same like for [Asynchronous tests](https://onsi.github.io/ginkgo/#asynchronous-tests). I have a lot of tests, where I first change something, then I wait for events from a stream, then I continue. I can add my own timeouts to my waits, or use Eventually (and I use timeouts on them, if I want to make sure that sub-steps don't take too long), but i

[2017-07-18 04:17] onsi commented on #363
hey @rmohr - you might find the conversation on #362 interesting.  I'm wanting to deprecate Ginkgo's support for asynchronous tests because of how it can lead to confusing and frustrating flaky scenarios.  I recommend using `Eventually` where possible.

If you'd still like something similar to the current async testing behavior for table tests you can do this:

[code]

This is effectively identica

[2017-07-19 20:01] AlexeySoshin commented on #346
@onsi Implemented changed. Could you please review this again?

[2017-07-19 20:53] AlexeySoshin commented on #89
@onsi I'm thinking of implementing this together with -outputdir, which doesn't work right now, and after PR #355 is merged. WDYT?

[2017-07-19 22:05] onsi commented on #89
Yes!!!! Thanks :) - I hope to take a look and merge your PR tomorrow.

[2017-07-20 08:34] rmohr commented on #363
Ok, #362 definitely explains some strange issues I have seen a few times :+1:

I will consider moving to `Eventually` where possible.

Thanks for you help.

[2017-07-20 08:34] #363 closed

[2017-07-21 12:43] #346 closed

[2017-07-21 18:56] onsi commented on #361
Hi @tamalsaha - sorry for the delay.  There isn't a great built-in way to do this but you could hack something together using `CurrentGinkgoTestDescription()` as follows:

[code]

[2017-07-21 19:04] #89 closed

[2017-07-24 15:20] ferozjilla opened #365 "AfterSuiteDidRun is not invoked when ginkgo run with -p"
Hello,

We are using Ginkgo Version 1.4.0.

We have a custom reporter for our tests for which we are failing to generate the AfterSuite report when ginkgo is run with the `-p` flag. Without the flag, the reporter works fine.

We have made a simpler test suite to highlight our problem. It can be cloned from: https://github.com/ferozjilla/ginkgo-demo

Without the `-p` flag, the output is:
[code]

Wi

[2017-07-25 03:07] onsi commented on #365
Hey @ferozjilla can you point me at the actual code?  The `ginkgo-demo` you generated - while helpful in providing an isolated example - is misleading.

Ginkgo _is_ running the `SynchronizedAfterSuite` and it _is_ calling your reporter's `AfterSuiteDidRun` - it's just not capturing any output generated by your `AfterSuiteDidRun` method.

You can prove this to yourself like so:

[code]

Run `ginkgo

[2017-07-25 10:21] ferozjilla commented on #365
Hey @onsi, thanks for the prompt reply, it has fixed our issue :)

The actual code is here: https://github.com/pivotal-cf/cf-redis-smoke-tests. The `bin/test` script is invoked to start our ginkgo tests. The following summary from our reporter was missed in the output before the fix: https://github.com/pivotal-cf/cf-redis-smoke-tests/blob/master/service/reporter/smoke_test_report.go#L122-L134

Tha

[2017-07-25 10:21] #365 closed

[2017-07-25 19:16] onsi commented on #365
Great!  btw @ferozjilla I think a lot of what you are trying to do with the customer reporter and  could be accomplished with Ginkgo's `By` function.  Have you given it a look?  I'd be curious to understand what `Step` is giving you and whether or not it's pointing to a missing feature in Ginkgo.

[2017-07-26 09:16] jszroberto commented on #323
Same here. It's really tricky to find out the hanging test.

[2017-07-26 19:50] jchauncey opened #366 "junit report for non-ginkgo based tests"
We have a mixture of both ginkgo style unit tests and old golang unit tests. Right now we only get a junit.xml file from the ginkgo tests but I would love to get them for both suites. Is this possible right now or is something you guys would need to add?

[2017-08-10 01:45] joefitzgerald commented on #205
@onsi Sorry to resurrect this from the dead, but perhaps if there were a flag we could pass to suppress the `197` exit code, this could be used by integrations with editors to show coverage for focused blocks?

Obviously the default behavior should continue to be a non-zero exit code, but it feels like this would be a nice compromise to allow for both modes of use?

Are you open to a PR for this?

[2017-08-10 02:09] onsi commented on #205
hey @joefitzgerald - yes a PR would be great!  How about we add a flag like `--exitCodeOnFocus=197` (or a better name if you can come up with one?)?  Please be sure to submit a PR to the `gh-pages` doc branch too please.  Thanks!

[2017-08-10 03:01] joefitzgerald commented on #205
@onsi I chose an environment variable to permit this to work effectively when integrating with `go test [args...]`. Hope that's OK.

[2017-08-10 20:44] onsi commented on #205
@joefitzgerald is this issue having to blam on an extra arg at the end?  env variable is nbd

[2017-08-18 22:46] decibel opened #370 "watch consuming non-trivial CPU"
I've run into situations where `ginkgo watch` is consuming a fair amount of CPU just watching for changes (on the order of 10-15% on a new MacBook Pro). Unfortunately I just rebooted, so the 4 I have running right now are only using between 1.6 and 3.6% each (each of those is in a different branch of the same repository, all running in completely separate go environments).

It looks like the code

[2017-08-22 19:12] onsi commented on #370
hey @decibel - sorry for the delay getting back to you.  when I implemented the polling approach I was a bit nervous about cpu usage but a few cursory tests showed it To Be Mostly OK™.  with that said i can totally imagine it consuming as much as you're seeing, especially if you're running ~4+ instances of `ginkgo watch`.

IIRC at the time I was writing `watch` (maybe 3 years ago?) I had trouble g

[2017-08-22 19:13] onsi commented on #370
I should add I had trouble with fsnotify on macOS.  Not sure if things are in a better place now or not - do you know?

[2017-08-24 23:55] dudehook commented on #370
Hey - I'm planning on modifying Ginkgo to use https://github.com/fsnotify/fsnotify for file watching.  I use both Mac and Linux, and will try on both.

I believe I can modify the tracker which will respond to the fs notifications and update the structures you already have.  Also, I'd move the timer into the tracker, so that the tracker can operate independently regardless of being a timed poller o

[2017-08-25 00:38] onsi commented on #370
👍 awesome!!!

[2017-08-25 22:44] smarterclayton opened #371 "Allow tests to be modified prior to run"
We import ginkgo tests into our code base that we want to add to and organize into suites (define a bulk focus that is easy to specify for end users).  There isn't an easy way to do so today other than creating a wrapper bash script to calculate a focus, but that doesn't lend itself to easy maintenance.

One approach we've explored is to add text to the description before the runner executes so th

[2017-09-05 21:40] gaffo opened #374 "Fail when pending tests pass"
Would it be possible to run pending specs and only fail them when they pass? This was a nice feature of cucumber once upon a time basically saying "hey this now works" and trying to keep the number of pending specs small.

[2017-09-07 21:49] kmacmcfarlane opened #375 "Project with unit and integration tests"
I have a project that has both unit and integration tests. I am adding build targets to the top of all of my tests marking them as 'unit' or 'integration'.

//+build integration

When I run:
`ginkgo -r -tags unit`

I expect this would only run my unit tests, instead it fails to compile, presumably because it encounters my integration_test package where all the files are marked 'integration':
[code

[2017-09-07 23:04] onsi commented on #375
No need to use tags.  Checkout the -skipPackage flag

[2017-09-08 15:07] kmacmcfarlane commented on #375
I just noticed I messed up the markdown on my original post.

It just seems like a bug that it fails to compile in that case.

Thanks for the tip on -skipPackage, I was looking all over the doc and couldn't find it! Doh!

[2017-09-13 18:07] khuddlefish opened #376 "No way to suppress verbose Skip output"
We are currently using Ginkgo to test a database utility that needs to interact with multiple versions of the database.  Many of our functions issue queries to the database for system catalog information that only exists in certain versions of the database, so when testing those functions against a certain database version we skip quite a few tests at runtime because they are not applicable to tha

[2017-09-15 04:24] gaffo opened #377 "expose ability to alias It, Describe, etc like gomega allows with by changing skip"
I have some wrapper functions It and Describe and I'd like them to show the correct context... but I can't access the Skip variable.

[2017-09-21 01:03] hieven opened #378 "How to write table driven tests with variable in BeforeEach"
I did check the doc in Ginkgo website teaching me how to use Table extension writing table driven tests.
But it doesn't cover how to write tests when some variables are generated in `BeforeEach` block.

For example

[code]

Because `BeforeEach` will only run when before an `It`, the `user` is `nil` when I pass `user.Email` or `user.Name` into  `Entry`

Am I writing table driven tests in a wrong wa

[2017-09-22 18:21] wangdrew commented on #378
+1 running into the same issue, would love to know if there is a solution!

[2017-09-24 19:54] dudehook commented on #370
@onsi Where is "after_pr.sh"?

[2017-10-06 01:28] nwoodmsft opened #379 "How to constrain test execution by OS?"
In a project which has a mixture of Linux and Windows code conditionally compiling using build constraints (https://golang.org/pkg/go/build/) is there a way to constrain ginkgo test execution such that "ginkgo -r" will not try to execute Windows tests on Linux and vice versa?

For example, if I am on Linux and I switch to a directory which only contains .go files constrained to build on Windows (a

[2017-10-11 20:47] gaffo commented on #377
ping... per the contributing guide I wanted to discuss how to do this. I was considering exposing DescribeSkip, ItSkip, etc... but that seems somewhat clunky.

[2017-10-12 13:39] zmb3 opened #380 "AfterEach failure should indicate which test it's running after"
I'd like to enable a pattern where a mock is set up in a `BeforeEach()`, expectations are set in each `It()`, and an assertion that expectations were met is done in an `AfterEach()`.

While this works currently, if an `It` spec fails to meet expectations, the error occurs in the `AfterEach` and there's no verbiage to help indicate _which_ spec failed.

Would it be possible for failures in an `Afte

[2017-10-12 16:40] ryan-ju opened #381 "How to pass arguments to ginkgo if I run go test?"
I can't figure out how to pass `-v` or `-trace` arguments to `ginkgo` if I run my test as `go test`.

Is this supported?

[2017-10-12 17:03] lflux commented on #381
`-ginkgo.v` and `-ginkgo.trace`, respectively.

[2017-10-13 01:59] gaffo commented on #377
I think the more correct way would be to expose code point but that's more invasive

[2017-10-13 20:01] dudehook commented on #370
@onsi I started work on this in my fork. Sent you an invite to that fork.

[2017-10-26 04:40] onsi commented on #376
Hey @khuddlefish this sounds fine to me.  PRs wecome!  I honestly don't recall why I took the `noisySkipping` flag out but I think it would be fine to put it back in.  You'll want to check and make sure it works for parallel tests as well.

[2017-11-02 20:12] heschik opened #388 "Test failures in Go 1.10 due to rand.Perm changes"
internal/spec/specs_test.go and internal/suite/suite_test.go include tests that expect rand.Perm to return a particular ordering based on a given seed. https://golang.org/cl/55972 changed the Perm algorithm, breaking those tests. This will cause trouble when 1.10 is released.

[2017-11-09 22:33] chhhavi opened #391 "Ginkgo runs more specs than exists when there is a failure in the BeforeSuite"
When we run ginkgo tests and there is a failure in the before suite:

[code]

We get the following error:

[code]

A variation of this bug occurs if you run in parallel:

[code]

We attached a tar of this package for debugging purposes
[bug.zip](https://github.com/onsi/ginkgo/files/1459418/bug.zip)

[2017-11-21 21:32] xoebus opened #392 "Test Runner Performance"
I've been using the built-in `go test` and `testing` package for a few projects recently. I've noticed that simple test suites seems to run instantly when using these tools which overall made me feel far more productive compared with running Ginkgo tests. I have an inkling that this has always been true to some extent as there is some always going to be some overhead from the extra functionality i

[2017-11-30 16:22] ajp-io opened #393 "Run tests in parallel and calculate coverage"
I don't seem to be able to use the `-p` and `-cover` options in tandem. When I do, the coverage is not calculated. I assume there might be something that prevents the coverage from being calculated in parallel, but I want to ask anyway. Thanks.

[2017-12-01 11:23] hoegaarden opened #394 "Flakey / leaky integration tests"
When we run the tests as described in the contribution guide (`ginkgo -r -p`), we see that the test for the coverage integration tests are very flakey.
We think that is because of race condition in `integration/coverage_test.go` when tests run in parallel -- in `AfterEach` a fixtures directory is being removed while other tests, depending on that, are potentially running.

The error we see quite o

[2017-12-01 11:30] hoegaarden opened #395 "Contribution document is out of sync with CI"
- [`CONTRIBUTING.md`](https://github.com/onsi/ginkgo/blob/master/CONTRIBUTING.md#L9) states that tests should be run as `gingko -r -p`.
- In CI [tests](https://github.com/onsi/ginkgo/blob/7a241e9c6c7fb89adf3965bd763b7369b88a51eb/.travis.yml#L15) run as `ginkgo -r --randomizeAllSpecs --randomizeSuites --race --trace`, so **not** in parallel.

#394 shows that there is a difference when tests run in

[2017-12-01 17:53] stamblerre commented on #388
The perm change has been reverted in [http://golang.org/cl/78195](http://golang.org/cl/78195), so this is now fixed.

[2017-12-04 21:20] williammartin commented on #388
@heschik @stamblerre Thanks for keeping an eye on this. Going to close this out.

[2017-12-04 21:20] #388 closed

[2017-12-04 21:21] williammartin commented on #381
@ryan-ju Looks like this is closeable now. If you have any further questions please feel free to reopen.

Thanks @lflux for the response.

[2017-12-04 21:21] #381 closed

[2017-12-04 21:24] williammartin commented on #376
This looks like it was closed by https://github.com/onsi/ginkgo/pull/385 so I'm going to go ahead and close this.

Thanks @khuddlefish feel free to reopen if there's anything further.

[2017-12-04 21:24] #376 closed

[2017-12-04 21:26] williammartin commented on #375
@kmacmcfarlane Is there anything else you need help with in this issue or can we close it out?

[2017-12-04 21:28] williammartin commented on #374
@gaffo Could you elaborate on this a little, I'm not sure I fully understand the feature. What is the UX you forsee?

[2017-12-04 21:34] kmacmcfarlane commented on #375
Nope, your suggestion works for my uses. Thanks!

[2017-12-04 21:35] williammartin commented on #371
@smarterclayton Thanks, just trying to understand this issue. It seems like you are suggesting you have a set of tests covering a certain behaviour that span suites, and you want to allow people to focus those, and you are currently doing that via modifying the textual descriptions?

[2017-12-04 21:37] #375 closed

[2017-12-04 21:38] williammartin commented on #361
Hi, @tamalsaha, just doing some housekeeping. Did this answer your question, do you want to make an enhancement request, or are you even interested in this anymore? Thanks!

[2017-12-04 21:40] williammartin commented on #325
@johanbrandhorst @joshq00 Just doing some housekeeping. Are you still experiencing this or can I close it out with a recommendation that if people experience slowness they move to latest Go and Ginkgo? Thanks

[2017-12-04 21:44] williammartin commented on #304
@mnussbaum Just doing some housekeeping. Did you get a satisfactory resolution to this, or do you still want some kind of feature enhancement? Thanks

[2017-12-04 21:46] tamalsaha commented on #361
I would like to make an enhancement request so that this can be done in a cleaner fashion.

[2017-12-04 21:48] williammartin commented on #361
Alright cool I've swapped the label over and hopefully someone can take a look. If you had free reign, how would you like the UX to look (no promises :)) for this feature?

[2017-12-04 21:51] tamalsaha commented on #361
May I the AfterSuite calls with a parameter?

[code]

[2017-12-04 21:56] williammartin commented on #215
@keaty Did you ever get to the bottom of this? I added the `requires-investigation` label but I'm secretly hoping it's not a problem anymore :)

[2017-12-04 21:58] williammartin commented on #206
@ixdy Did you end up exploring that option or finding a resolution?

[2017-12-04 22:17] johanbrandhorst commented on #325
@williammartin I think this is resolved

[2017-12-04 22:19] gaffo commented on #374
Mainly just that if you were to make your own custom Before/After... which
I'm doing to run certain sets of befores in certain test modes.... the
errors show up correctly to the line of test not to the Before shim. Does
that make sense?

On Mon, Dec 4, 2017 at 1:28 PM, William Martin <notifications@github.com>
wrote:

[2017-12-04 22:29] williammartin commented on #374
No sorry, are you describing your other open issue https://github.com/onsi/ginkgo/issues/377 ?

[2017-12-04 22:59] gaffo commented on #374
Oh duh... Sorry

On Dec 4, 2017 14:29, "William Martin" <notifications@github.com> wrote:

[2017-12-04 23:20] gaffo commented on #374
So basically in some other test frameworks you can run in a special mode where you say "if a pending spec passes, it should fail" this way you see the test failures as specs that should be running every time. Eg, these are specs that are accidentally off. It's a tool that helps with cleanup. I used it with cucumber before and it basically would fail the build if we had specs that should have been

[2017-12-05 16:01] williammartin commented on #325
Awesome, I'm gonna close it off but definitely come back if there are any more issues.

[2017-12-05 16:01] #325 closed

[2017-12-05 16:05] williammartin commented on #374
Oh yeh that's definitely an interesting feature. Do you happen to have a link to the Cucumber feature, maybe we could follow the same UX?

[2017-12-05 19:47] martinxsliu opened #396 "Conventional import ordering in generated code"
Currently, in the code generated by the `ginkgo bootstrap` and `ginkgo generate` commands, the imports are ordered like:

[code]

This goes against conventional rules which suggests that standard library imports should come first (e.g. see: https://github.com/golang/go/wiki/CodeReviewComments#imports) followed by third party imports and then followed up by local imports (which is encouraged by [go

[2017-12-05 20:24] williammartin commented on #396
Hey @martinxsliu cool catch. Happy to review a PR for this.

[2017-12-05 20:46] williammartin opened #397 "Ginkgo gh-pages uses unsupported highlighting"
We receive this error when updating the `gh-pages` branch that builds the docs at: https://onsi.github.io/ginkgo/

[2017-12-06 09:27] williammartin commented on #396
Merged the PR so I'm gonna close this, thanks!

[2017-12-06 09:27] #396 closed

[2017-12-06 09:29] williammartin commented on #395
Hey, would definitely like a PR for this but doesn't look like we can do it correctly until https://github.com/onsi/ginkgo/issues/394 gets fixed otherwise CI will break.

[2017-12-06 09:30] williammartin commented on #394
Thanks for the investigation, would gladly accept a PR to fix this so we can also do #395

[2017-12-06 16:32] #397 closed

[2017-12-08 16:51] williammartin opened #406 "Are the version numbers in Ginkgo docs REALLY accurate?"
There's a few mentions of supported versions of golang and versions in Ubuntu apt repos in the docs and I'm not sure they are accurate.

[2017-12-08 16:52] williammartin commented on #406
We should probably update version numbers to reflect what we run in CI, outside of that it's unsupported.

[2017-12-08 16:57] williammartin opened #407 "Ginkgo README has a lot of duplication"
Seems like a lot of stuff in the README is duplicated from the docs, maybe we could just point to the docs like Gomega does and keep the README real simple?

What is in the README that isn't in the docs? What would we need to port over to the docs?

[2017-12-08 17:00] squeedee commented on #407
I think the typical idiom is for:
  * a doc site to describe using the product, in this case, target developers using ginkgo to test their own work.
  * the README to tell people where to get help (point to the docs) and if not seperated, to cover contribution related topics. Eg, conventions used, setting up ci, testing style etc.

[2017-12-12 19:20] genexp opened #408 "Print Out Specs"
This is probably a silly question, but is there a way to print out all the Specs from within my project so I can (for example) hand them over to our QA team?

[2017-12-12 22:33] williammartin commented on #408
Would `ginkgo -v -dryRun` help?

[2017-12-14 20:09] genexp commented on #408
Yep, that works :)  Thanks!

[2017-12-14 20:09] #408 closed

[2017-12-14 20:11] genexp opened #411 "go test fails on pending tests"
I'm seeing a strange issue.. for some reason, when I use `go test` instead of the Ginkgo runner, it fails when I have pending tests, but only on our CI server.

I verified both have Ginkgo 1.4 installed, and Go 1.9.2.  The CI server uses an Ubuntu image, whereas locally I'm on OSX.

[2017-12-14 21:31] williammartin commented on #411
Any chance you can point us to / snippet the test scripts you are running / your CI server output?

[2017-12-18 15:58] arthurgustin opened #412 "Memory leak detection"
In my team we have a mature code-base, and some of our services have memory leak. We are currently investigating on those issues, and me found this library: github.com/fortytw2/leaktest that can be integrated in golang standard tests to help detect thos leaks.
However we use ginkgo for our tests and we are glad to do so, but we cannot use this library.

Any plans to give access to the underlying `

[2017-12-18 17:31] onsi commented on #412
This is cool!  So it looks like `leaktest` takes `t` via an `ErrorReporter` interface which `GinkgoT()` should satisfy.

Try adding this at the very top level of your Ginkgo suite to enable leak checking for _all_ your tests (warning: pseudocode - might not compile! but should give you the right idea):

[code]

I'm _pretty_ confident that Ginkgo should pollute your goroutine profile and so you sho

[2017-12-18 17:32] onsi commented on #412
@arthurgustin lemme know if this works.  If it does it might be worth adding to the Ginkgo docs.

[2017-12-18 19:41] ixdy commented on #206
I don't think we ever found a proper solution. I think it started happening less, possibly because we mitigated the root cause (bad tests?) in other ways.

[2017-12-19 08:58] arthurgustin commented on #412
Hi @onsi, thank you for your great answer.
I just copied/pasted your code and it just worked, good job !

[code]

Output:
[code]

[2017-12-19 08:59] arthurgustin commented on #412
@onsi Unfortunately it did not find our issues because we encounter the leak only on load-test, but it is not in the scope of this issue.
Thank you

[2017-12-19 09:24] arthurgustin commented on #412
Hi @onsi, thank you for your fast answer !
Your code compile, but I don't get the expected behavior of the leaktest library, it goes on timeout:
`leaktest: timed out checking goroutines`. Any ideas ?

[2017-12-19 11:57] williammartin commented on #412
Seems like expected behaviour, when I run the example on `leaktest` repo:

[code]

via `go test`, I get:

[code]

So it seems like we are just missing some useful output. 🤔

[2017-12-19 12:43] williammartin commented on #412
Ah, it's because the ginkgo `testingproxy` fails the test (https://github.com/onsi/ginkgo/blob/master/internal/testingtproxy/testing_t_proxy.go#L29) on the first call to `t.Errorf()` here: https://github.com/fortytw2/leaktest/blob/master/leaktest.go#L126 and never makes it to https://github.com/fortytw2/leaktest/blob/master/leaktest.go#L144 where the list of leaked goroutines are printed.

So it s

[2017-12-19 13:54] tappoz opened #413 "Running many routines involving Sync RWMutex and atomic counters triggers a count mismatch when evaluating the test"
I've written a wrapper for a key/value map to store `int32` counters (as values) to track how many times `string`s representing error messages (as keys) have been seen so far.

I am currently working in Go 1.8 so I can not use `sync.Map` at the moment, however I ended up using:

- `sync.RWMutex` to control the access to read/insert/update map values
- `sync/atomic` to store the values as counters

[2017-12-19 14:05] williammartin commented on #413
Hmmm, I ran the ginkgo test you provided `-untilItFails` and got 1000 successful runs in a row on:

[code]

Any chance you can try your reproduction using latest versions and see if it reproduces?

[2017-12-19 14:09] tappoz commented on #413
My setup is the following:
[code]

Unfortunately I can not quickly update those versions.

By the way: the test I mentioned earlier with the standard library usage run against 100,000 routines (not billions). Apologies for that.

[2017-12-19 14:43] williammartin commented on #413
@tappoz Just to check I'm accurately reproducing, can you:

[code]

And if it's not failing, let me know what is wrong with the reproduction case? Thanks.

[2017-12-19 14:49] tappoz commented on #413
Uhm, no errors. I've run it for 1685 times (then hit ctrl+c).

I have to say this failing test is running among other test files involving real TCP calls and real ICMP calls. ICMP calls on Linux mean using raw sockets, so I have to run those tests as root with an alias to `sudo` to be able to include `$GOPATH/bin` in the environment of `sudo`.

[2017-12-19 14:56] williammartin commented on #413
So within that suite of tests, if you focus this test, is it stable?

[2017-12-19 15:06] tappoz commented on #413
With `FIt(...)`? Yes it's stable.

That `Describe(...)` is actually running another test changing the same map. Apologies, my bad, it seems I was misusing the test suite when sharing the map instance among many tests.

[2017-12-19 15:16] williammartin commented on #413
🥇  So we're good and can close this out?

Doh, there are some other golang test libraries around that don't use closures to help avoid test pollution. Wondering if we should look at those moving forward for inspiration in this area. :)

[2017-12-19 15:42] #413 closed

[2017-12-19 15:44] tappoz commented on #413
Thanks for the support, this was just a naive mistake. Once I realized those multiple tests sharing the same instance I felt a bit ashamed :)

[2017-12-19 15:46] williammartin commented on #413
No problem, we've all been there.

[2017-12-19 16:14] williammartin opened #414 "Specify prints an unpleasant stack trace on failure"
[code]

->

[code]

This line:

[code]

is pretty useless, and I think it's because `Specify(` calls `It(` which sets a codelocation of `1`, not pruning the stack correctly:

https://github.com/onsi/ginkgo/blob/master/ginkgo_dsl.go#L365
https://github.com/onsi/ginkgo/blob/master/ginkgo_dsl.go#L339

[2017-12-21 00:14] rancheral opened #416 "Need a flag to turn off Focus Test exits with error code"
Currently, ginkgo exits with error code 197 when running focused tests.  However, that causes certain ides to not provide coverage reports because it thinks the testing failed.  I can't find a flag for turning this behaviour on/off.  Please provide a failOnFocus flag similar to failOnPending flag.

[2017-12-21 01:19] #414 closed

[2017-12-21 01:34] onsi commented on #416
#367 should resolve this.  Take a look!

[2017-12-21 16:42] rancheral commented on #416
Verified that setting GINKGO_EDITOR_INTEGRATION=true before running focus test resolved this issue.  Thanks!

[2017-12-21 16:42] #416 closed

[2018-01-02 12:26] soltysh commented on #371
@williammartin yes, that's basically what we're doing in the linked commits. The idea is that we have a bunch of tests from both origin and k8s and we want to be able to run them using reasonable focus text. The first commit @smarterclayton pointed out is the one that is introducing that change. Are you interested in it? It basically allows one to modify the textual description like you've said to

[2018-01-10 04:49] genexp opened #417 "Unable to read coverage file"
Hey all - Strangely, on our CI system I get the error "Unable to read coverage file" about 30% of the time.   The error seems to be here:
[code]

In any case, the error is due to the following Ginkgo command:
[code]

I'm really not sure why it happens, or only some of the time.  I suspect perhaps its trying to consolidate cover profiles before they're actually written?

[2018-01-10 18:29] genexp opened #418 "Data Race"
We're getting a data race condition in some of the concurrent portions of our code, probably based on a misunderstanding of how we should be using Ginkgo.  We're wondering, how does this work:

[code]

We're getting test failures when we enable "--race".  I assumed that (somehow) BeforeEach was being run before each IT statement, and each subsequent IT wouldn't run until the previous completed.

A

[2018-01-10 18:32] genexp commented on #417
To give a little more background here, I am generating both per-package level profiles, as well as a consolidated one.  To get things working again, I ended up getting get of -outputdir and wrote a bash script to combine profiles.  I'm up and working, just wanted to log this as a low-priority. :)

[2018-01-10 18:32] #411 closed

[2018-01-10 18:51] onsi commented on #418
Yes, `BeforeEach` runs before each `It` and that `It`s always run in series.  However an `It` has no idea if you've spawned a goroutine and it's on you to block until all your goroutines have finished.

A hokey example:

[code]
Does that make sense?  If you have a more fleshed out example I can try to be more specific and helpful.

[2018-01-10 18:53] genexp commented on #418
Thanks @onsi yeah, that makes sense.  We're theoretically firing up go routings and blocking until they are complete within the function we're testing (so it *should* feel like a normal function).

That said, likley PEBKAC. :)

Thanks for the hand!

[2018-01-10 19:04] onsi commented on #418
yeah - if the function is blocking it should be fine.  are you reassigning `person` or modifying it (with some sort of atomic primitive to ensure modifications are threadsafe?) - if you are reassigning it the race detector may be catching the fact that you're making a non-threadsafe change to `person` from two different goroutines (even though you might know the goroutines can't run in parallel, I

[2018-01-10 19:33] williammartin commented on #418
@genexp If you want to drop a more complete example/reproduction, I'm happy to have a look at it for you.

[2018-01-11 17:47] williammartin commented on #417
@genexp Can you paste the full error here? Also, can you confirm that is the exact command you are running, and it's not being killed mid-run or anything?

Thanks

[2018-01-11 18:11] genexp commented on #418
Thanks all!  I'm going to close this to keep the Issue list clean, and will reopen if I'm still stuck after I investigate a bit more.

@onsi @williammartin Thank you!

[2018-01-11 18:11] #418 closed

[2018-01-11 18:12] genexp commented on #417
Hey @williammartin sure!  I actually think this might have to do with the race condition I'm getting, and the job failing.  Closing this until I do more investigation.

[2018-01-11 18:12] #417 closed

[2018-01-11 18:15] williammartin commented on #417
The reason I'm suspicious is that if you `ctrl+C` ginkgo right after starting it, because of the interrupt handling, you'll end up with a similar error (might be worth an issue of its own to avoid confusion). Good luck

[2018-01-15 11:08] momchil-sap opened #419 "How to run async benchmark tests"
Hi,

According to the documentation of Ginkgo, it should be possible to run asynchronous benchmark tests: https://onsi.github.io/ginkgo/#asynchronous-tests

Unlike `It` blocks, `Measure` blocks also require a `Benchmarker` argument to be specified, hence it's not clear from the documentation where the `Done` argument should be placed, and there don't seem to be any examples

I tried both options:

[2018-01-15 12:00] williammartin commented on #419
@momchil-sap Yep, I get the same thing and definitely see something funny going on here.

There is a switch statement which determines whether the test should be sync or async (https://github.com/onsi/ginkgo/blob/master/internal/leafnodes/runner.go#L38-L55) depending on the number of args given (e.g. `func(done Done) = 1`)

In the `It(` case this works fine because the test function is passed stra

[2018-01-15 13:18] williammartin commented on #419
I pushed a commit over in my fork with a potential hacky solution (https://github.com/williammartin/ginkgo/commit/9726ceae9cec233014f9257838bb2a8d0d7532ef).

| don't like the code, and I think we'd prefer removing async test altogether, but I'm interested if it works like you expect. I was able to write a test like:

[2018-01-16 07:35] momchil-sap commented on #419
@williammartin , I checked your solution and it seems to work.

However, if you omit the `Done` argument, it prints an address to stdout. I suspect you weren't going for a productive solution with that commit, but just something to keep in mind.

On a side note, you said you wanted to remove async testing. What did you have in mind? (just curious)

[2018-01-18 18:25] williammartin opened #420 "Update docs for When DSL"
Since #386 has been merged, we should update the Ginkgo docs to reflect the new DSL.

[2018-01-19 08:39] porridge commented on #206
@williammartin @robdimsdale @ixdy let me try and refresh this bug a little.
What we are currently seeing in https://github.com/kubernetes/kubernetes/issues/56046 is:
- we are no longer running this on jenkins, but are interrupting ginkgo from our own code
- a suite of 700+ tests ran in parallel on 30 ginkgo nodes
- progress stops at some point, after ~41 minutes
- after ~9 more hours the process w

[2018-01-19 14:50] williammartin commented on #206
Thanks for the update. It's a bit hard to parse the output but I see what you mean, that there should be at least _some_ progress across 30 nodes in the 9 hour gap. I'll have a think but nothing springs to mind immediately around how to debug without some changes or manual intervention.

FWIW, in Garden we have a tool called `slowmobius` (https://github.com/cloudfoundry/garden-runc-release/blob/de

[2018-01-19 17:48] williammartin opened #421 "Gingko needs a releasing guide"
See Gomega: https://github.com/onsi/gomega/blob/master/RELEASING.md

[2018-01-19 17:50] williammartin commented on #420
Committed:

https://github.com/onsi/ginkgo/commit/7484dadc13963f614309c6751938129141f320c7
https://github.com/onsi/ginkgo/commit/747514b53ddd06d5d37d096c1cb313cfe620d7d4

[2018-01-19 17:53] williammartin commented on #348
This was done in https://github.com/onsi/ginkgo/pull/386. Hope it works for you.

[2018-01-19 17:53] #348 closed

[2018-01-20 14:45] onsi commented on #206
How frequently does this happen @porridge?  How reproducible is this?

A long time ago (years) I invested effort to try to reproduce this but could not.  I’ve seen it happen in the wild though and would love a reproducible case.

My gut says the issue is somehow related to how the parallel nodes capture output - that some sort of non-obvious lower level bug (possibly outside of ginkgo... go? kerne

[2018-01-24 00:40] alamages commented on #394
@hoegaarden indeed the error is due to a race condition in `integration/coverage_test.go`.

The coverage tests generate/delete files to/from the same fixtures directory thus they interfere with each other.

For example as pointed, the above error is thrown from the go cover tool failing to parse the generated coverprofile file `./_fixtures/coverage_fixture/coverage_fixture.coverprofile`

A solutio

[2018-01-24 09:56] alamages commented on #394
On the other side the above approach might not even be necessary if we group the tests in a way which they don't interfere which will be way simpler and cleaner. I will investigate.

[2018-01-24 15:25] arthurgustin opened #422 "Ginkgo callbacks ?"
Hi, I'm in a situation where I have asynchronous magic stuff, and I want to test the content of a specific log number, and this log depends on a POST timeout I set in a http client, and the limit number of goroutine I set (those goroutines make concurrent POST request to different host), but it does not matter.

I got this function to test the total number of logs made:

[code]
Which works well.

[2018-01-24 16:56] williammartin commented on #422
Sorry @arthurgustin I'm not sure what you're asking here. Maybe you could write some code that represents what you would like?

I don't see how a callback differs in this case from doing:

[code]

[2018-01-24 17:04] arthurgustin commented on #422
What I want to do is trigger another test when `Eventually` becomes true because I don't know when my goroutines finish and there are things I can only test *after* my goroutines finish

[2018-01-24 17:17] onsi commented on #422
Ah I see.  It's important to understand that Ginkgo takes the stance that your `It`s should be completely independent of each other.  This enables race-free paralellization and test randomization (which is important for sussing out test pollution).

In this case you could combine these into one `It`.  Or put `Eventually(warnCount, 15*time.Second, 1*time.Second).Should(Equal(count))` into a `Before

[2018-01-25 07:11] arthurgustin commented on #422
Wow that was that simple ok
[code]

Need to lint the code a bit but it works as expected.
Thanks @onsi

[2018-01-25 07:27] williammartin commented on #422
Thanks @arthurgustin, can we close this out now?

[2018-01-25 07:28] arthurgustin commented on #422
yep

[2018-01-25 07:28] #422 closed

[2018-01-26 12:35] nodo opened #424 "ginkgo unfocus should not remove the actual ginkgo functions"
## The problem

`ginkgo unfocus` replace every occurrence of a ginkgo component name with the component name without the `F`. For instance, every `FDescribe` in a project will be replaced with `Describe`. This is not usually a problem, however, when ginkgo appears in `vendor/`, `unfocus` changes the actual ginkgo functions, which is not desirable.

`ginkgo unfocus` uses `gofmt -r` to replace the o

[2018-01-26 17:10] nodo commented on #424
I have seen the issue has been raised before https://github.com/onsi/ginkgo/issues/113 . The go fmt issue is open for quite some time now. Do you still think that we should wait?

[2018-01-26 17:24] alamages commented on #254
Hello @thockin  @wasylkowski,

Can you please provide some more info to better understand the issue? How can I reproduce it? Can you give an example?

The problems appears when:
- the CWD itself is a symlink?
- the CWD contains symlinks? If yes, are the *_test.go files symlinks or a subfolder/package which contains tests is symlink?

Thanks

[2018-01-27 04:41] onsi commented on #424
Option 2 makes sense to me @nodo - how much effort would it be?

[2018-01-27 10:51] nodo commented on #424
Sounds good to me. I'll give it a try, thanks @onsi!

[2018-01-29 11:36] porridge commented on #206
@onsi happened 2 times so far with 75 attempts, so ~2.5% rate. We haven't tried reproducing it, since a successful run takes ~9 hours.

Does `-stream` leave some way of matching up output from individual cases? For example prefix output with node ID? Without it the logs would be nearly useless, and with such low error rate, it would take us months to say with confidence that it has helped.

BTW, w

[2018-01-29 11:41] porridge commented on #206
@williammartin thanks for the suggestion. What would we need to look at if we caught it red-handed though? Just SIGABRT and take stack traces?

@ixdy that script would not be terribly useful because it's timeout-based, but if we could periodically measure the size of build-log.txt, then an hour of no change in size would be a good indication that this is happening, and we could abort the run forci

[2018-01-30 17:42] williammartin commented on #393
Hey, sorry it took so long to respond. This is interesting but can you be more specific about "the coverage is not calculated". Seems like we have a test that is supposed to cover this (https://github.com/onsi/ginkgo/blob/master/integration/coverage_test.go#L88-L100) but I can see it doesn't do anything more than check a file exists.

[2018-01-30 21:48] williammartin commented on #379
If I understand the question correctly (I'm pretty weak on the build constraints stuff sorry), you can pass `-tags` as an argument to `ginkgo` or `ginkgo build`, though I'm surprised at the OS behaviour. Might have to test this one out myself.

[2018-01-31 10:53] MrDaBIng opened #425 "Have some question about Eventually()"
I define a variable outside of Eventually (), modify that variable within the method in Eventually ():
[code]
The result is :
[code]
why dose the str print ""??

[2018-01-31 13:04] williammartin commented on #425
I think that at the time you are calling `.Should(Equal("345"), fmt.Sprint("str = ", str))`, the `fmt.Sprint` is being evaluated. The `Should` is evaluated _before_ your anonymous function is executed, so the value of `str` will not have been updated.

Also, for future, this is really a question about the `Gomega` matching library. Hope that helps.

[2018-02-01 20:43] williammartin commented on #425
I'm going to close this out, feel free to reopen if you need further help.

[2018-02-01 20:43] #425 closed

[2018-02-02 01:43] MrDaBIng commented on #425
ok, thanks

[2018-02-03 11:30] nodo opened #426 "Data race when handling SIGINT"
I found the following data race in ginkgo. It happens when a suite receives a SIGINT (or Ctrl-C).

### Step to reproduce

1. Create a suite with a test that sleeps for a period of time. E.g.
[code]
2. Run `ginkgo -race`
3. Hit `Ctrl-C`
4. You should see the data race

## Example output
[code]

## The problem

I think the problem is the following.

Ginkgo register for interrupts in the `registerFor

[2018-02-08 00:04] alexparker215 commented on #393
I mean that normally when you use `-cover` it prints out "coverage: 95.0% of statements". But if I use the `-p` option in tandem with `-cover`, then it doesn't print out the coverage.

[2018-02-08 13:56] Bo0mer opened #427 "Failed to compile <package>: output file "<test binary>" could not be found"
# My environment

I'm running using ginkgo 747514b53ddd06d5d37d096c1cb313cfe620d7d4.
Go version is `go version go1.9.2 darwin/amd64`
Go env:
[code]

# What I'm trying to do

Run the following commands:
[code]

# What I expect to see
No failure as there are no test cases.
# What I see instead

[code]

I've tested the same sequence of commands, but using `go test` instead of `ginkgo -r`, and it work

[2018-02-09 08:13] Bo0mer commented on #427
Hello,

The problem seems that ginkgo does not check whether there are any test files that could be build into a test binary. Applying the following diff resolves the problem:
[code]

Let me know if any more debugging is needed on my side. If you're OK with the proposed change, I'd be happy to send a PR.

Cheers,
Ivan

[2018-02-09 19:15] yaede7 opened #428 "JUnit Test Reporter"
Is there any possible way to use the JUnit reporter across many suites that merge into one directory?

[code]

The desired output would be the merged results of both A Suite and B Suite in the merged.xml file

Any ideas or input on this would be greatly appreciated.

[2018-02-12 12:49] attila123 opened #429 "Helper functions for logging?"
I'm new to Go and ginkgo (selected that because seems to be the most feature packed test framework out there :) ).
The documentation mentions GinkgoWriter (but assumes to find out more details about io.writer to use it), and for me it seems to be used  mostly in these ways:
io.WriteString(GinkgoWriter, "Some log text")
or maybe:
io.WriteString(GinkgoWriter, fmt.Sprintf("Some log text: %v\n", someV

[2018-02-12 16:28] williammartin commented on #206
@porridge

`-stream` prints node numbers along with output e.g:

[code]

I was thinking `SIGABRT` and take stack traces although I'm not 100% sure where the useful information would go. Looking at https://github.com/onsi/ginkgo/blob/master/internal/remote/output_interceptor_unix.go#L37-L38 when not using `-stream` we `dup` stdout and stderr to point at a file, so maybe we could find stack dumps in

[2018-02-13 14:30] relnod opened #431 "Improve error reporting with table driven tests"
Hi, I have the following test:
[code]
When I run the test suite, the second entry fails, which is expected. The problem I have is, that the error reporter says, that the failed test is in the line, where the assert happend instead of the line, where I declared my second entry.

Ideally the reporter would tell me both lines. The line of the assert and the line of the entry.

[2018-02-13 18:41] #426 closed

[2018-02-14 07:41] msabramo commented on #320
👍 As I want to add junit reporting and would like to avoid having to modify 24 `*_suite_test.go` files.

I'm willing to take a stab at it, but I'd like to get feedback from @onsi before diving in.

[2018-02-14 08:25] AswathyAshokan commented on #231
i have also facing the same issue as posted by jc1738. i  followed the steps of @robdimsdale  but getting the same error "no buildable Go source files in /usr/lib/go-1.8/Projects/mirafra/books"

[2018-02-14 08:55] msabramo commented on #320
Here's my workaround:

[code]

[2018-02-14 18:33] attila123 opened #432 "ginkgo sets the current working directory to where the test suite is"
I start 'ginkgo -r' in the root directory of my project and I would assume that the current working directory does not change. However, it seems to change the working directory to whichever directory I move my test suite file to (currently I am writing my first test suite).
To print the current working directory something like this can be used (I printed it in my BeforeSuite).
[code]
This is probl

[2018-02-15 11:13] porridge commented on #206
That prefixed output does not look too bad. Sent a PR to make a subset of our test jobs use it, and I also another where I took a stab at replacing SIGINT with SIGABRT.
Regarding replicating k8s test environment, I don't know how feasible that is. Perhaps @ixdy would know.

[2018-02-16 08:25] mezis opened #433 "ginkgo unfocus should remove FSpecify"
`ginkgo unfocus` [removes](https://github.com/onsi/ginkgo/blob/4e84bbfb7d968ebd967a58e4af1015c9d8dc5275/ginkgo/unfocus_command.go#L23-L28) focus for most blocks, except `FSpecify`.

Unless there's a valid reason I'm missing, should we amend it to also unfocus `FSpecify`?

[2018-02-16 08:56] nodo commented on #433
@mezis I agree, it definitely should 👍  would you be happy to create a PR?

[2018-02-16 09:17] mezis commented on #433
@nodo will do!

[2018-02-16 17:00] #433 closed

[2018-02-20 23:42] ameowlia opened #435 "Multiple definition errors despite ldflags set with go 1.10"
## Issue

When we run this code (note, `--allow-multiple-definition` flag is set) on go 1.10:
[code]

we see this multiple definition error from cgo:
[code]

## Context

We are seeing this error because two different packages have vendored the exact same code. This issue is detailed here: https://github.com/golang/go/issues/23555

We have mitigated this in the past on 1.9 by using the `allow-multi

[2018-02-21 23:34] jsamr commented on #429
+1
Although this is easier

[code]

[2018-03-02 14:03] nodo opened #436 "Ginkgo dryRun outputs "slow tests""
When running `ginkgo` with the `-dryRun` flag, it wrongly warns the user about slow tests.

For instance using this test:

[code]

It outputs the following:

[code]

Note that the test took 612ms to run, but the warns says it took 9223372036.855 seconds. We would expect to not see the warning.

with @kirederik

[2018-03-02 18:46] carldunham commented on #175
That's the little nugget that cost me a couple of hours. 😸

[2018-03-06 18:01] ianvernon opened #437 "Run AfterEach function if failFast is enabled"
I would like the ability to run the `AfterEach` function for each test if `-failFast` is provided as an option to run Ginkgo. This allows for certain operations that I'd like to run after every test even in the case of failure to occur, but without running subsequent tests.

[2018-03-06 23:19] carldunham commented on #205
This appears to have returned. If I run
[code]
with a single `Context` changed to `FContext`, I get no `coverage.out` file. If I change it back and run it again, I now get the coverage file.

Happy to open a new issue and provide more detail if needed, but seems easy to reproduce.

[code]

[2018-03-08 09:10] nodo commented on #205
@carldunham I wasn't able to reproduce your problem with the same go and ginkgo version. However, feel free to open a new issue with more details if you feel would be useful. I don't have much context on this, but I am happy to help you figure out what's the issue.

[2018-03-09 18:38] wolfgangmeyers commented on #17
@onsi correction on the link - http://onsi.github.io/ginkgo/#using-other-matcher-libraries

[2018-03-10 01:10] kchristidis opened #439 "ParallelNode not producing expected output"
## Context

- `ginkgo` rev: `9008c7`
- `gomega` rev: `de89e6`

Consider this simple (and silly) test suite:

[code]

I invoke it by  forcing the suite to run in 2 nodes, i.e.: `ginkgo -nodes=2 -v`

## Expectation

I expect to see references to "node 1" and "node 2" in the test output (when running in verbose mode).

## Reality

Instead both nodes show up with index 0:

[code]

## Question

What am

[2018-03-12 10:34] #436 closed

[2018-03-13 15:03] kchristidis opened #440 "Which variables are shared when running specs in parallel?"
## Background

Consider these bits from [the documentation](http://onsi.github.io/ginkgo/):

1. You can add a single spec by placing an `It` block within a `Describe` or `Context` container block.
2. In general, the only code within a container block should be an `It` block or a `BeforeEach`/`JustBeforeEach`/`AfterEach` block, or closure variable declarations.
3. It is a mistake to initialize a cl

[2018-03-16 23:54] ameowlia commented on #435
Turns out we we were calling:

[code]

which works with 1.9, but doesn't work in 1.10 because of the single quotes.

[2018-03-16 23:54] #435 closed

[2018-03-17 07:36] mnussbaum commented on #304
Sorry to drop off the thread. I no longer need this feature for anything so I'll close out the issue

[2018-03-17 07:36] #304 closed

[2018-03-19 00:30] decibel commented on #348
Works great, thanks for your efforts!

[2018-03-20 22:55] kswope opened #442 "Clarify docs about bootstrap"
The docs are very clear, but I ran into one problem that stopped me for a while.

Looks like bootstrap must be run in every package, but "package" sorta has two meanings in golang, the "project" (technically the main package), and its included package dependencies.  So I was only running bootstrap at the top level, running generate in the subdirectory packages, using the recursive switch, and was

[2018-03-21 09:36] kirederik commented on #442
Hey @kswope,

That makes sense. Do you mind submitting a PR for that? The docs live here: https://github.com/onsi/ginkgo/tree/gh-pages

Thanks!

[2018-03-21 17:59] pmzajaczkowski commented on #377
I have the same issue. I am writing some wrappers around It, Describe, etc. so my tests look better and to have standardized output in tests failure raport, but the links to the code location then points to my functions (wrappers) and not to tests - becuase of fixed skip value inside for example It(...) function. I'd like to have some functions like CustomIt(..., skip = 3) or to have access to the

[2018-03-21 18:20] #421 closed

[2018-03-26 16:30] nodo opened #445 "RunSuite does not return a compilation error"
@alamages and I are working on fixing this [red test](https://wings.pivotal.io/teams/ginkgo-gomega-contributors/pipelines/main/jobs/ginkgo/builds/1498#L5ab27edf:340).

We figure out the following: in case a suite fails to compile, ginkgo prints the error and does not run the suite (see [here](https://github.com/onsi/ginkgo/blob/master/ginkgo/suite_runner.go#L129).

On the other hand, the compilati

[2018-03-27 17:07] nodo commented on #445
It turned out that `runResult` has a status which identity whether a run has been successful or not (including compilation error) (see https://github.com/onsi/ginkgo/blob/master/ginkgo/run_command.go#L104) and  (https://github.com/onsi/ginkgo/blob/master/ginkgo/suite_runner.go#L128-L140).

Closing this issue.

with @alamages

[2018-03-27 17:07] #445 closed

[2018-03-30 19:34] fortytw2 commented on #412
:thinking: having just stumbled upon this issue, thought I might chime in about how leaktest is expected to work - after the function returned by `leaktest.Check(t)` is called (the `defer x()` bit), it loops to see if the list of goroutines matches what it was before the test started, so it's not super picky about things that may clean up 100ms or so after the test ends.

Perhaps the `t.Errorf` he

[2018-04-01 15:21] zolotov opened #447 "ginkgo produces unparseable by cmd/test2json output"
Given a test file:

[code]

While running with an official `test2json` utility, it doesn't produce `TestPassed` event, because of missing `\n` after status line:

https://github.com/onsi/ginkgo/blob/5ca121185e255e5041d7727d77992618545a93d2/reporters/stenographer/stenographer.go#L181

[code]

should be

[code]

[2018-04-03 01:15] mjaiswal90 opened #449 "Ginkgo leaking color encoding in test logs"
##Summary

On running the test suite, sometimes the test suite leaks the color encoding in the test log making it unreadable.(See the testlog screenshot).I suspect that these are getting leaked from the  ginkgo/main.go

lines 135-138
const greenColor = "\x1b[32m"
const redColor = "\x1b[91m"
const defaultStyle = "\x1b[0m"
const lightGrayColor = "\x1b[37m"

Also from diff_test.go:-

Line 958
Expecte

[2018-04-03 07:36] nodo commented on #449
Hi @mjaiswal90,

does this happen using a specific suite? If this is the case please could you post it so that it's easier to reproduce the issue?

[2018-04-03 07:38] nodo commented on #447
Hey @zolotov,

Thanks! This sounds like an issue! Would you be able to open a PR for that?

[2018-04-03 07:59] williammartin commented on #449
I'm interested in what you mean by "sometimes the test suite" demonstrates this behaviour. I would have expected this to be an issue with terminal colour configuration.

[2018-04-03 12:53] zolotov commented on #449
This is issue of GoLand. See https://youtrack.jetbrains.com/issue/GO-5467

[2018-04-03 18:03] mjaiswal90 commented on #449
What @zolotov said seems to be the reason for this issue . Thanks for participating in the conversation guys. I will close this issue now.

[2018-04-03 18:03] #449 closed

[2018-04-03 18:09] #447 closed

[2018-04-09 11:19] andy-miracl opened #452 "How to handle same tests on multiple environments"
I am running some integration tests using ginkgo, but I have encountered a problem in that I'm finding I am duplicating many of my test 'It' blocks, for different scenarios. I think Im probably missing the point here, what am I doing wrong?

Here is some skeleton code, each of the 4 contexts run the same set of `It` tests using different combinations of operating system and browser. How do I avoid

[2018-04-09 11:48] williammartin commented on #452
Would it work to use a shared spec e.g.

[code]

One disadvantage of this style is that if you focus an `It(`, it will still run in each `Context(`, so you'll need to focus the context too.

[2018-04-09 12:13] andy-miracl commented on #452
Yeah, I have also experimented with :

[code]

But it is still seems pretty verbose , and then the `It` blocks are not contained nicely within the `Describe`, and readability is not great.

[2018-04-09 12:34] andy-miracl commented on #452
Is something like this feasible, I wonder :

[code]

[2018-04-09 20:06] williammartin commented on #437
Hi @ianvernon can you provide a more concrete example of the behaviour you'd like, I can't quite picture the use case. Thanks.

[2018-04-10 10:25] #452 closed

[2018-04-10 16:06] williammartin commented on #439
@kchristidis Sorry it took so much time to look at this. This was a tricksy one, but here's the summary:

^ I figured it out and it was related to the initialisation phases.

TL;DR:

When compiling a test (e.g. with `go test -c`, as ginkgo does), a `_testmain.go` file gets created which will create a new `M` struct (massive look of disapproval to Go here) via `NewMainStart()` and call `Run()` on i

[2018-04-10 16:23] mirandamauricio opened #454 "When are you creating the next release?"
My company has a policy to only use released versions and there are lots of bugs resolved and not released.

[2018-04-10 16:26] williammartin commented on #454
@mirandamauricio I don't see any reason we couldn't release imminently really, though I'd have to check with other maintainers. Would it help you if we did so?

[2018-04-10 17:04] mirandamauricio commented on #454
Sure!

[2018-04-10 19:38] kchristidis commented on #439
@williammartin: This is not a deal-breaker for me. Was mostly trying to figure out if I'm missing something. Thank you for explaining what's going on behind the scenes.

[2018-04-10 19:38] #439 closed

[2018-04-10 19:40] williammartin commented on #439
OK cool, I'll try to get round to your other issue tomorrow. Thanks for the opportunity to understand this craziness!

[2018-04-17 14:31] stevenroose opened #457 "BeforeSuite should run before any Describe blocks"
Even though, I read [this comment](https://stackoverflow.com/a/36204239/749521), I don't think that makes sense.

If you have some variables that you need, not only in `It` blocks (whatever the "It" stands for), but also before that, right now the only way is to manually call a function before calling ginkgo. That is literally what the BeforeSuite should be doing.

[2018-04-17 14:32] stevenroose commented on #457
For example, I'm not writing a test suite for the package itself, but a REST API test suite. So I have a "test config" file with some parameters. These parameters could even define what exact tests should be ran, so it would be impossible to not call these parameters before `It`.

[2018-04-17 14:50] kirederik commented on #457
Hi @stevenroose,

I think you are missing the [BeforeEach](https://onsi.github.io/ginkgo/#extracting-common-setup-beforeeach) block. That is, rather than setting up configuration variables inside the `Describe/Context` block, you wrap it inside a [`BeforeEach`](https://onsi.github.io/ginkgo/#extracting-common-setup-beforeeach) like this:

[code]

[code]

[2018-04-17 15:02] stevenroose opened #458 "Support warnings"
Support for warnings would be nice. Something that leaves a clear message in the output, but still marks the test as succeeded.

Syntactically could be like
[code]
or
[code]

[2018-04-17 15:05] williammartin commented on #458
I think this is a Gomega issue, would you like me to open it there (https://github.com/onsi/gomega) or do you want to do so? Thanks for the issue, looks like an interesting one to discuss.

[2018-04-17 15:08] stevenroose commented on #457
Consider the following suite:
[code]

The gist is: **_You can't use any dynamically loaded test parameters to create contexts._** Unless you suggests contexts should be used within `It`s.

[2018-04-17 15:13] stevenroose commented on #458
Hmm, well it could be ginkgo only, I guess. If ginkgo registers in the `Warn` function that it's in warning mode, if could then determine what to do inside `Fail`, since you declare `RegisterFailHandler` anyway. gomega can just fail, while ginkgo can catch it, knowing that the fail was produced in a `Warn` section.

[2018-04-18 01:42] onsi commented on #457
It does seem the naming is getting in the way.  `BeforeSuite` runs before  any of the tests in the suite run.  The test _tree_, however, is instantiated when the Go program (the test in this case) is loaded into memory and all the top level variables and invocations are run.  The test tree is static and cannot be mutated once the tests begin.  The first thing that happens when the tests begin is t

[2018-04-20 08:32] nodo commented on #458
It's a very interesting idea!

I think both options have pros and cons. Do you think that users of gomega and not ginkgo would benefit from this feature? If this is the case let's do it in gomega.

IMO I would implement it in gomega for the reason above, but happy to discuss.

[2018-04-20 10:10] blgm commented on #458
The Golang philosophy is to not have warnings.  While I understand why people sometimes want them, it tends to drive behaviours that are in the end unhelpful.  The idea of a test is that it tells you whether some code is good or bad.  If you get a warning, then you either ignore it (in which case, what's the point of it?), or you spend time investigating and understanding it (which is unproductive

[2018-04-20 10:16] stevenroose commented on #458
True. When ginkgo is primarily aimed at building test suites for Go code, I
agree that warnings don't make sense. I'm using it for some other means
(testing different servers for API compliance), where it would make sense.

On Fri, Apr 20, 2018 at 12:10 PM, George Blue <notifications@github.com>
wrote:

[2018-04-20 15:36] blgm commented on #458
Maybe an extension could be the right way forward?  It's great that Ginkgo has used beyond classical unit testing.  In the same way that Gomega is a pluggable extension, perhaps there could be a Gomega-warnings package that adds the functionality described?

[2018-04-21 16:24] nicored opened #460 "BeforeEach and AfterEach not firing"
Hi,

For some weird reason, BeforeEach and AfterEach do not fire in new tests that I create. I have an existing test that somehow works well, and I've done nothing differently.

I got rid of the working test to see if maybe the newer tests would work, but nope. So I ended up getting rid of everything and created the following tests, and I still get the issue. Am I missing something?

**app_suite_t

[2018-04-21 16:36] nicored commented on #460
Yeah, ok... BeforeEach fires before 'It'
My bad

[2018-04-21 16:36] #460 closed

[2018-04-22 12:58] williammartin commented on #460
Haha no that's actually really interesting, I hadn't considered that this would happen so it's good to see it called out explicitly.

[2018-04-25 22:33] onsi commented on #206
Hey all please take a look at #461 and comment on whether or not its a viable/valuable next step towards making progress here.

[2018-04-26 12:44] vedujoshi opened #462 "It() inside a for loop"
I am trying to understand ginkgo styling before proceeding to write tests.
When i run the below code, the It() is not executed.
[code]
But if I have the for loop inside It(), the test is run. Could you please help me understand why so?
[code]

Is there a recommended way to pass args to It() or should I be thinking differently ?
Also, The It() also has a float64 argument. May I know what is this fo

[2018-04-26 13:03] williammartin commented on #462
Hey @vedujoshi great questions.

The first one is a painful result of the multi-step flow Gingko does. Simplified it has two stages:
1. Parse: Execute the anonymous funcs passed to each container node (Describe, Context mainly) and store runtime blocks for later execution (Before*, It, After*)
2. Run the runtime blocks

What this means is that for your example, the for loop evaluates as part of st

[2018-04-26 19:50] vedujoshi commented on #462
@williammartin Thanks very much...i get it now. Somehow, the help topic did not seem to reflect this info.

I was thinking about having ways to pass values to It() so that the same test can be run with different args(and thus reported as multiple tests)

The reason why i asked about float64 in It() above was because the function definition looked to accept a list of float64s ..am i reading correct

[2018-04-26 19:53] williammartin commented on #462
I can't make much sense of the variadic float64, maybe @onsi can?

Would a table test work for you? https://onsi.github.io/ginkgo/#table-driven-tests

[2018-04-27 07:20] vedujoshi opened #463 "ginkgo only as a testrunner"
If I write non-BDD-style tests using stdlib testing module and want to use ginkgo as a testrunner(does it make sense?), would I be able to make use of these features:

- GinkgoWriter ( I guess the answer is yes here)
- dryRun
- Randomizing testcases
- parallel tests( and thus junitxml reports)

[2018-04-27 15:24] onsi commented on #463
Ginkgo will run the tests.  But it won't have any visiblity into if they've failed or not as you need to call Ginkgo's fail method.  It also wont' have any visibility into the test structure as it does not try to gain access to the list of stdlib tests (I'm not sure if this is possible yet).

As such it will not be able to perform a dryRun, randomize the tests with a consistent seed, or run them i

[2018-04-30 11:43] vedujoshi commented on #463
I would then better set string inside the It() to look like a function name so that it can be referred easily.

[2018-05-01 16:38] williammartin commented on #462
@vedujoshi Any thoughts?

[2018-05-01 16:39] williammartin opened #464 "Flaky interrupt test fails with wrong exit code"
Occasionally when running the ginkgo integration tests I see:

[code]

[2018-05-01 16:43] williammartin commented on #464
I _think_ this is happening due to a race condition in interrupt handling setup. We register for signals here: https://github.com/onsi/ginkgo/blob/master/internal/specrunner/spec_runner.go#L218 but this function is called in a goroutine here: https://github.com/onsi/ginkgo/blob/master/internal/specrunner/spec_runner.go#L59

It's possible that we start running the specs (and then get signalled by t

[2018-05-01 16:54] #424 closed

[2018-05-01 17:04] williammartin opened #465 "Flaky asynchronous test fails with wrong spec state"
Occasionally when I run the ginkgo tests I see the following failure:

[code]

[2018-05-02 16:08] nodo commented on #464
I think you are right @williammartin, putting a sleep before https://github.com/onsi/ginkgo/blob/master/internal/specrunner/spec_runner.go#L218 makes the test fail consistently.

[2018-05-03 08:08] nodo opened #467 "Possible race when calling `registerForHardInterrupts`"
Related with https://github.com/onsi/ginkgo/issues/464.

It seems that there might be a race condition when [registerForHardInterrupts](https://github.com/onsi/ginkgo/blob/d5f2ebf4b5700a72a2e74327b6206179c0bf3005/internal/specrunner/spec_runner.go#L226) is called.

`registerForHardInterrupts` could take long time and a signal could be sent before the registration is completed, causing a wrong exit

[2018-05-03 09:15] vedujoshi commented on #462
@williammartin Thanks, it should do.

[2018-05-03 09:15] #463 closed

[2018-05-03 09:43] #462 closed

[2018-05-03 11:33] amitash1109 opened #469 "Ginkgo doesn't cover beego controllers"
Hi,

I'm using ginkgo for generating coverage file.

Do you know why the coverage file doesn't consist the controllers even though their in the covered packages and there are tests covering them?

Thanks,
Amit

[2018-05-03 20:01] mirandamauricio commented on #454
Is there anything I can do to help speedup this process?

[2018-05-06 07:57] #469 closed

[2018-05-09 11:45] stephanwesten opened #471 "Errors should be written to Stderr"
func (reporter *JUnitReporter) SpecSuiteDidEnd(...) writes errors to Stdout instead of Stderr. See:

fmt.Printf("Failed to create JUnit report file: %s\n\t%s", reporter.filename, err.Error())

and

fmt.Printf("Failed to generate JUnit report\n\t%s", err.Error())

[2018-05-09 16:14] #464 closed

[2018-05-09 16:35] williammartin commented on #471
Hey @stephanwesten seems like a sensible change to make. Is this causing you a problem? Would you be ok opening a PR?

[2018-05-09 20:47] stephanwesten commented on #471
Our Jenkins job ignores stdout and only captures stderr - this is why it is an issue. We work around it for now by also capturing stdout.

The bigger issue is that sometimes the junit file / report is not generated on Jenkins, no clue yet why.

[2018-05-10 18:25] mirandamauricio commented on #454
Thanks very much.

[2018-05-10 18:25] #454 closed

[2018-05-11 16:17] msabramo opened #472 "RFC: Add a GoTestReporter"
Was playing with the goconvey web UI and noticed it expects `go test` style output and gets confused by Ginkgo tests.

I wonder if it would make sense to write a `GoTestReporter` that emits `RUN: <test name>`, `— PASS:`, etc. for each ginkgo test case (not just for the whole suite) ?

[2018-05-15 04:03] fanux opened #473 "The order problem"
How to control the order in which test cases are executed?

Each module test code in different `Discribe`, module B is rely on module A, for example, we must run create a user test  before create app test. and those code in different modules.

[2018-05-15 07:59] williammartin commented on #473
Hi @fanux,

Can you please explain why your user test must run before create app test? I think there are probably better solutions, but before I propose one I'd like to understand exactly why you have this dependency?

[2018-05-15 08:01] williammartin commented on #472
This sounds like a good idea to me, there must be a bunch of tools out there that try to parse Go test output.

[2018-05-16 01:17] fanux commented on #473
Thank you, I got it,  it will be some duplicate code in our project 😭.

[2018-05-16 01:17] #473 closed

[2018-05-16 07:37] nodo commented on #465
@williammartin  I am not sure I have understood your point. Where would you put the sleep exactly?

A possible the root cause (maybe different from the one above) is the too narrow difference in time between the timeout (set to 10ms) and the sleep in the async func (set to 20ms)

Suppose that there is a sleep long enough before the `select` statement [here](https://github.com/onsi/ginkgo/blob/mast

[2018-05-16 10:44] vedujoshi opened #474 "How to programatically set recursive option"
I see that the recursive option is set here https://github.com/onsi/ginkgo/blob/b36a6e0e910d6eb5b776ab0fec410a9183ca7530/ginkgo/run_watch_and_build_command_flags.go#L13

If i want to set the -r config programatically similar to other config such as https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/test_context.go#L192, how could i do it ?

[2018-05-22 17:52] nodo commented on #465
@williammartin any thoughts on the comment above?

[2018-05-22 18:14] williammartin commented on #465
Yes but I thought we could discuss when you're back. Not the easiest to describe racy behaviour over GitHub.

[2018-05-25 10:46] a4abhishek opened #475 "Why `It` is not allowed in `BeforeSuit` or `AfterSuit`"
I am using GinkGo for Integration testing. My code is below:
[code]
When I run this test I am getting error:
[code]
Which is because GinkGo does not support `It` in `BeforeSuit` or `AfterSuit`.
So, I Chaged the code to this:
[code]
Still geting error:
[code]
Now the question is Why can we not do this at all. This makes code more readable, which is the whole purpose of having `It` or `GinkGo` or `B

[2018-05-25 15:05] williammartin commented on #475
Hi @a4abhishek thanks for your detailed writeup and examples. I think you're just missing a slight nuance in testing in a BDD style but otherwise really close! You really want your `It` blocks to represent the things specifically under test in this suite e.g. when I look at https://github.com/a4abhishek/node-disk-manager/blob/d7d92a58d4248f9eda99b4f0b11acd44dbe60a8e/integration_test/ginkgo_integra

[2018-05-28 16:21] nodo opened #476 "Proposal: add testable examples to ginkgo!"
`go test` can be used to write [testable examples](https://blog.golang.org/examples). Basically, it is possible to write special tests that automatically end up in the godoc.

For instance, given a package hello:
[code]

And a hello_test:

[code]

`godoc` will automatically generate automatically this:
![issue](https://user-images.githubusercontent.com/829178/40622722-da9e5392-629a-11e8-99fd-c14c0

[2018-05-29 13:27] a4abhishek commented on #475
Thanks @williammartin for the great reply and also for replying this fast. I am trying to grasp it completely, but I understand one thing for sure that we should not use `It` for the things which result doesn't matter to us.
And sorry for my late reply.

[2018-05-29 17:24] #465 closed

[2018-05-29 20:51] haichuanyu opened #477 "Faulty pointer management with variable declared in method name"
Hi,

When I stepped through the following method being executed by a test, I found that at the top of the method, the variable myVar was in fact initialized to some corrupted values. This caused my tests to fail.

`func myGetFunc(ctx common.RequestContext) (myVar []myModel, err error) {
  ...
  err = ctx.Tx().Select(&myVar, prepared, args...)
  return
}`

I tried several things to try to fix this

[2018-05-30 07:48] nodo opened #478 "Flaky integration test failing with a timeout"
The following test fails intermittently:

[code]

[2018-05-30 08:02] nodo commented on #477
Hi @haichuanyu,

please, could you share more context about your test? In particular, what do you mean by corrupted value? Also, how do you exactly call the `myGetFunc` function?

[2018-05-31 10:44] fasaxc commented on #303
@onsi My team have a good use case for JustAfterEach: dumping diagnostics after a failure.  Basically, we want to run a bunch of diags collection scripts after a failure but before the scenario gets torn down by the AfterEach blocks.  If we do that in an AfterEach, then we have to add it to the most deeply nested AfterEach in each Context, which doesn't scale well.

We're going to prototype it and

[2018-05-31 16:22] #478 closed

[2018-05-31 20:27] natemara opened #480 "Panic in a goroutine crashes test suite"
When a goroutine panics during a ginkgo test, there is no way to tell what test the panic was associated with. The whole test suite crashes, and there's very little information given to the user.

Example code:

[code]

This suite fails with the following error:

[code]

I would expect Ginkgo to provide the name of the test that failed, the same as it does for a panic in a normal function when I r

[2018-06-01 09:36] adambuckland opened #481 "Around block"
:wave:

Something that would be very useful is the ability to do an `AroundEach` similar to how it works in [ActiveRecord](https://relishapp.com/rspec/rspec-core/v/2-0/docs/hooks/around-hooks)

A good use case for this, would be wrapping tests in DB transactions, to ensure a clean DB between tests.

I don't know the feasibility of this, but it's an idea. An example is below:

[code]

[2018-06-04 08:56] teddyking opened #482 "Test starts flaking after a bump to ginkgo v1.5.0 and gomega v1.4.0"
We recently bumped our ginkgo/gomega dependencies as follows:

Ginkgo -> From: `059cec02d342bab423425a99b191186a03255e9e` to `v1.5.0`
Gomega -> From: `0df7b7fdb38123c12a1f569f0affb2c2a7bd72cf` to `v1.4.0`

After the bump one of our tests has started to flake.

The flakiness can be easily reproduced by focusing [this Context](https://github.com/cloudfoundry/garden-shed/blob/4f5659ae4eb0d049ca0fd733

[2018-06-04 09:07] williammartin commented on #482
What is the failure that you see? If someone looks at this I guess they're going to want to know they are reproducing the same failure you are seeing.

[2018-06-04 10:10] teddyking commented on #482
Full steps to reproduce:

[code]

And the exact failure is:

[code]

We think the error may be the result of a "missing" layer required to perform the mount because it has accidentally been cleaned up. E.g. the "root" variable looks a bit suspicious given it's defined [here](https://github.com/cloudfoundry/garden-shed/blob/master/layercake/docker_linux_test.go#L38), used in both the "upper" Before

[2018-06-04 11:43] williammartin commented on #482
It's definitely a Ginkgo issue, not Gomega, from some initial bisecting.

[2018-06-04 14:55] williammartin commented on #482
Heyo, so this actually looks like a race in the garden-shed tests. The commit that started causing failures (5ca1211) introduced a runner that allows parallel nodes to poll a queue in order to run tests as soon as they are ready to take on work. Prior to this, if you were not using `randomizeAllSpecs` (which garden-shed isn't, see: https://github.com/cloudfoundry/garden-runc-release/blob/671960f68

[2018-06-04 14:55] #482 closed

[2018-06-05 13:33] lwr20 opened #483 "WIBNI there was a JustAfterEach"
In the kubernetes end to end tests (which use Ginkgo), the structure is that there is a general framework and then specific test cases.  Both have BeforeEach and AfterEach statements and the execution order is
[code]
Quite often, the Test's BeforeEach sets up some infrastructure required for the test and the AfterEach tears it down.

However, if a test fails, we want to collect diags as close to t

[2018-06-05 13:34] lwr20 commented on #483
Just found https://github.com/onsi/ginkgo/issues/303

[2018-06-05 13:35] lwr20 commented on #483
I have the beginning of a PR for this - working code, but no tests or documentation yet.

[2018-06-05 17:02] #317 closed

[2018-06-06 13:51] lwr20 commented on #483
Added some tests.

[2018-06-06 13:54] williammartin commented on #483
At first glance I think I can see the value this would provide. Historically we've had some push back on the nature of `JustBeforeEach` being confusing so I am slightly hesitant with regards to `JustAfterEach` but I'll give it some more thought - I'm definitely not opposed by default.

I'm having a bit of trouble forseeing the potential consequences of supporting this, and how it might be abused 😆

[2018-06-07 12:35] williammartin opened #485 ""You may only call It from within a Describe, Context or When" isn't always clear"
See: https://github.com/onsi/ginkgo/issues/475

[2018-06-07 12:36] williammartin commented on #475
"Also, you might want to improve the error message You may only call It from within a Describe, Context or When." -> Yep this might be a bit confusing. Have opened #485 and going to close this issue now. Thanks!

[2018-06-07 12:36] #475 closed

[2018-06-07 12:39] williammartin commented on #477
bump @haichuanyu

[2018-06-07 12:41] williammartin commented on #457
I'm going to close this out now and if there's any enhancement or recommendation for ginkgo as a result, feel free to reopen or create a new issue.

Thanks for the discussion.

[2018-06-07 12:41] #457 closed

[2018-06-07 12:45] williammartin commented on #419
@momchil-sap Sorry for the super late reply. The async tests are a bit sketchy, complicate Ginkgo and often lead to unintended side effects such as go routines failing unrelated tests in the future. We mostly recommend that people use the asynchronous assertions in Gomega now: https://onsi.github.io/gomega/#making-asynchronous-assertions

How are you feeling about this piece of work now, still som

[2018-06-08 11:15] momchil-sap commented on #419
@williammartin , what you have described makes sense.

In the meantime, I had changed my code to propagate the error back from all go-routines to the calling `It`. There I could use `Eventually` or `Expect` (depending on the test flow) to verify that no error had occured.
I guess it resulted in a bit more complicated test code (since I needed to aggregate and synchronize errors from multiple go-ro

[2018-06-08 11:15] #419 closed

[2018-06-13 11:37] cynepco3hahue opened #486 "junit.xml generate by JUnitReporter does not compatible with the jenkins "xUnit" plugin"
junit.xml that generated by JUnitReported
[code]
errors that I receive when `xUnit` plugin tries to parse it
[code]

[2018-06-14 07:34] nodo commented on #486
Thanks for reporting @cynepco3hahue , are you interested in sending a PR?

[2018-06-14 07:39] cynepco3hahue commented on #486
@nodo I think yes :smile: I already worked a little with reporters, so I think I can fix it, so assign it to me

[2018-06-14 08:03] nodo commented on #486
Amazing! I'm happy to help in case you need!

[2018-06-17 08:35] cynepco3hahue commented on #486
I just will add some investigation notes:
- `WARNING: At line 2 of file:.../junit.xml:cvc-pattern-valid: Value '502.436823874' is not facet-valid with respect to pattern '(([0-9]{0,3},)*[0-9]{3}|[0-9]{0,3})*(\.[0-9]{0,3})?' for type '#AnonType_timetestsuite'.` - currently `xUnit` plugin supports only 3 symbols after the dot under `testsuite` timestamp.
- `WARNING: At line 2 of file:.../junit.xml:c

[2018-06-23 00:13] mkj28 opened #490 "message element in JUnitReporter xml"
Not sure if issue or feature request, also may be related to https://github.com/onsi/ginkgo/issues/486

Essentially asking for `message` element to be included in case of failure. What I get is:
[code]

I would love to get is:
[code]

Main reason is https://github.com/allure-framework/allure2 looks for it....

[2018-06-24 17:52] grosser commented on #481
Yes please, also useful for things like chDir / ENV changes / etc global changes so they can all live in a shared space and not be split between the before/after

[2018-06-25 00:01] grosser opened #491 "Don't show assertions as the backtrace"
Given a test helper like this:

[code]

I expect the backtrace to point to `ExpectFoo()` and not `Expect(1).To(Equal(2))`,
could backtraces for methods that have a certain prefix like `Expect` or `expect` or `assert` be filtered out when trying to find the backtrace ?

[2018-06-26 04:05] grosser commented on #481
FYI as a workaround I tried this:

[code]

which works ... but if there are any more wrapper functions like:

[code]

it turns into:

[code]

... so this might work, but would need some changes to the backtrace logic, but even if it works it's kinda ugly and cannot be covered into an AroundEach unless It is made into a `var` (not sure ...)

[2018-06-26 08:00] williammartin commented on #491
Interesting. I'm not sure how we could do this in a sane manner. The current solution to this problem is to use `ExpectWithOffset`: https://godoc.org/github.com/onsi/gomega#ExpectWithOffset

[2018-06-27 03:41] grosser commented on #491
nice, that's helpful!

[2018-06-27 03:53] grosser opened #492 "before_pr does not seem to work / need better docs"
cloned the repo into github.com/onsi/ginko ... ran `go test` ... got `ginkgo_dsl.go:24:2: use of internal package not allowed`

... at this point it would have been great if it failed fast and told me what to do somehow ...

found docs and rand before_pr.sh ... nothing happened and it did not fail ... so need better feedback/instructions 🤷‍♂️

[2018-06-27 03:56] grosser commented on #492
... ok so first mistake was `ginko` <-> `ginkgo` ... now i get
`?   	github.com/onsi/ginkgo	[no test files]` 🤷‍♂️
maybe some copy-paste instructions of how to get tests running ?

[2018-06-27 03:58] grosser commented on #492
hmm the `CONTRIBUTING.md` has better info ... maybe link that from the readme and move the before_pr instructions there ?

[2018-06-27 03:58] grosser commented on #492
now I'm at
`can't load package: package github.com/onsi/gomega: cannot find package "github.com/onsi/gomega" in any of:`

... add `go dep` maybe for easier dependency resolution ?

[2018-06-27 07:40] nodo commented on #492
Hey @grosser,

My suggested steps would be:

1. Install `ginkgo` as specified in the docs [here](http://onsi.github.io/ginkgo/)
Which is:
[code]
2. Go to `$GOPATH/src/github.com/onsi/ginkgo` and run `ginkgo -r`. Tests run and are green for me.

If you feel some docs are missing or unclear, please feel free to open a more specific issue or a open pull request.

[2018-06-27 08:00] #491 closed

[2018-06-27 10:12] fasaxc commented on #483
FWIW, we're using this in anger now in our tests and it's been very helpful to be able to do pre-tear-down operations such as diags collection.

[2018-06-27 10:15] williammartin commented on #483
Can you link to that please?

[2018-06-27 10:19] fasaxc commented on #483
Unfortunately not, they're in a private repo :-(

[2018-06-27 20:55] chuckha opened #493 "RFC: pass SIGTERM/SIGINT to precompiled suite run with ginkgo"
The problem I'm trying to solve relates to the [kubernetes e2e tests][k8se2e]. This test suite will output some junit data that I'm interested in, even for a partial run. I'd like to be able to timeout and still get results. You can see the exact command that resulted in surprising behavior in our [kube-conformance repo][kc].

Ignoring the bad bash in that file, when I run this command by hand and

[2018-06-28 05:01] grosser commented on #492
-> https://github.com/onsi/ginkgo/pull/494

[2018-06-28 21:32] #486 closed

[2018-07-01 15:08] grosser commented on #492
@nodo can you check out the PR (maybe it just does not work for me ...)

[2018-07-02 11:21] BooleanCat opened #495 "Failed to compile ginkgo-arch-specs: output file ".../ginkgo-arch-specs.test" could not be found"
Ginkgo fails to compile suites that have no specs for an architecture when there are specs for other architectures.

# Reproduction

Consider this project: https://github.com/BooleanCat/ginkgo-arch-specs

There is a package `ginkgo_arch_specs.go`, which is tested by:

[code]

If I `ginkgo run .` this package from an archecture other than linux (I reproduced this with Darwin), then I see:

[code]

[2018-07-02 11:36] BooleanCat commented on #495
Note that we add an empty test file `ginkgo_arch_specs_test.go`, this resolves the immedate issue but l leaves artifacts in `C:\Windows\Temp`. Eventually our Windows CI machine will have so much stuff in its temp dir that it refuses to write anything else to it because of weird Windows fragmentation limitations. (https://garden.ci.cf-app.com/teams/main/pipelines/main/jobs/groot-windows-periodic/bu

[2018-07-02 12:03] nodo commented on #492
Hey @grosser ,

Yeah, the way to contribute to ginkgo from a fork is not super smooth.  I have also found a problem in the integration tests after I tried it out, so thanks for raising that!

I think the problem you are getting is related to the way you have installed `gomega`.

It should be installed using: `go get github.com/onsi/gomega/...` (not the three dots at the end).

Also, which version

[2018-07-02 18:59] grosser commented on #492
same problem :/
go version go1.10.1 darwin/amd64
Ginkgo Version 1.5.0

On Mon, Jul 2, 2018 at 5:03 AM Andrea Nodari <notifications@github.com>
wrote:

[2018-07-04 08:08] nodo opened #496 "Fix current contribution flow"
The current flow for contributions if the following:

1. Fork `ginkgo`
1. Install `gomega`
1. `cd $GOPATH/src/github.com/USERNAME && git clone git@github.com:USERNAME/ginkgo.git`
1. AWESOME CODING
1. `./before_pr.sh`
1. Run `ginkgo -r`
1. Open a PR if tests are all green

However, when running the tests I see:

[code]
And in particular the tests fails because the coverage is not correct:

[code]

[2018-07-04 17:10] nodo commented on #495
Interesting @BooleanCat! thanks for raising that.

FWITW It think the behaviour of `ginkgo` it's a bit similar to `go test`:

[code]

[2018-07-04 18:57] pohly commented on #280
I just stumbled over this. `go test` will run tests from different packages in parallel by default when invoked for multiple packages. I was expecting the same from ginkgo, but as explained here that doesn't work. I'm now stuck between a rock and a hard place: either run tests from multiple packages in parallel, or run specs inside a Ginkgo suite in parallel. It would be really nice if ginkgo coul

[2018-07-05 11:13] pohly opened #498 "log.SetOutput(GinkgoWriter) necessary for parallel testing?"
I ran across a rather puzzling issue: I was running `ginkgo -p` on a tests suite, but it never spawned more than one instance of the test program. Only after adding the usual `log.SetOutput(GinkgoWriter)` to the suite (which was missing before, not sure why - I didn't write it) did I get parallel test execution.

Does that make any sense? If so, should this be documented somewhere?

I only found o

[2018-07-11 13:36] BooleanCat commented on #495
It seems that the result of invoking ginkgo for my example suite is an exit code of -1 - a failure. Running `go test` in the same package results in an exit code of 0 - success.

[2018-07-12 11:00] nodo commented on #498
Hey @pohly,

could you share a reproducer of the issue?  As far as I understand, this is not the right behaviour.

[2018-07-12 16:29] nodo commented on #496
See https://github.com/onsi/ginkgo/pull/494#issuecomment-404571360

[2018-07-14 02:51] carldunham commented on #234
I am seeing a version of this as well, related to the way that Go mis-handles vendored packages generally (hopefully fixed with module support in 1.11), as illustrated in https://github.com/carldunham/go-dep-test.

It would be helpful if we could set the `prefix` variable for the flags, at least, so we could hack something up where each instance of Ginkgo could be assigned a different prefix. Apol

[2018-07-14 04:33] carldunham commented on #234
I submitted a PR to suggest one way of addressing this: https://github.com/onsi/ginkgo/pull/502

[2018-07-15 20:16] grosser opened #503 "Improve error message for BeNumerically with ~"
`Expect(elapsed).To(BeNumerically("~", 3*time.Millisecond, time.Millisecond))`

current:
[code]

desired:
[code]

[2018-07-16 06:51] williammartin commented on #503
Makes a lot of sense to me to provide the threshold with the error message. Would you be up for opening a PR?

[2018-07-16 07:49] pohly commented on #498
I can't reproduce it anymore. I'm pretty sure I went back and forth with just changing the logging, but there's no way to verify that now.

[2018-07-16 07:49] #498 closed

[2018-07-16 14:58] grosser commented on #503
I'll give it a try

On Sun, Jul 15, 2018 at 11:51 PM William Martin <notifications@github.com>
wrote:

[2018-07-16 22:33] joestringer opened #504 "Ginkgo with Golang 1.10 attempts to overwrite system-installed versions of Golang"
In my environment, I run Ubuntu 18.04 LTS with Golang 1.10 installed via Snap:

[code]

When I attempt to build my ginkgo tests, it fails due to this:

[code]

Here's the `ginkgo build -n` output:
[code]

Basically it seems like the ginkgo build is attempting to overwrite my Golang installation.

I believe that this is because `-i` is added to the `go test` arguments here:

https://github.com/onsi

[2018-07-20 08:17] nodo opened #507 "Default timeout is set to 24 hours. Should we reduce it?"
We set the default timeout to be 24 hours see [here](https://github.com/onsi/ginkgo/blob/1e72798a2620664d2ab32ffd4473c102fcd4894d/ginkgo/run_watch_and_build_command_flags.go#L154).

I can see a discussion in https://github.com/onsi/ginkgo/issues/248 but I cannot find context about the value of "24 hours".

It seems to me a very large default and I would like to reduce it? What do you think?

[2018-07-20 13:42] pohly opened #508 "make passing of -test.v configurable"
It looks like `ginkgo` always invokes Go test binaries with `-test.v`.

I think this is the code line where this is decided:
https://github.com/onsi/ginkgo/blob/69338ec944d215e09f3ac930150792e7f98d52a0/ginkgo/testrunner/test_runner.go#L256

Should that perhaps only be added when running `ginkgo -v`?

I want to to use `ginkgo` as main test runner because then I can parallelize my rather large Ginkg

[2018-07-24 16:44] Vesli opened #509 "go test ./... will fail when ginkgo -r works"
I've noticed that I'm doing some similar creation / deletion on an external DB between my packages.
Thus, each package success if I directly run a `go test` in each of them but if I try to run all my tests as once, crazy behaviours happen - all database related.

On the contrary, ginkgo -r works like a charm and super super fast.

The only way I have to make it works properly without ginkgo is to

[2018-07-24 16:46] Vesli commented on #509
Actually, both are super slow. Sorry for that

[2018-07-24 16:46] #509 closed

[2018-07-25 06:18] joefitzgerald opened #510 "Ginkgo should download dependencies when using go 1.11 inside a go module"
Given the following:

* go 1.11 beta 2 or newer
* using go modules support
* you have cloned a go module into a directory outside your GOPATH

When you run `go build ./...` the various dependencies required to build the main module are downloaded. Additional test dependencies have not been downloaded yet. When you run `ginkgo`, tests fail due to missing test dependencies. Running `go test` results

[2018-07-25 06:29] joefitzgerald commented on #510
This is an invalid issue; I was able to get things to function correctly locally and will just wrangle with Travis (using the temporary `GO111MODULE=on` environment variable).

[2018-07-26 12:36] junpayment opened #512 "How to use lazy evaluation and subject like rspec"
I want to use some functions of rspec.

- Lazy evaluation like rspec's "let"
- Subject like "subject"

Are there any rules to write them?

Thaks great products!

[2018-07-27 04:50] junpayment opened #513 "ginkgo installation failed by Dep"
Hi contributers, thanks a great product!

Attempting to install with dep will fail.

[code]

Actually I know the cause, I also know how to avoid it.

This is because the path of `gopkg.in/fsnotify/fsnotify.v1` referred to by kinkgo's dependent library `github.com/hpcloud/tail` at `v1.0.0 (latest)` is different from the current one .

*I make the issue about it*
https://github.com/hpcloud/tail/issu

[2018-07-27 12:53] himanshu219 opened #514 "Debugging tests inside describe using delve debugger"
I have tests written in following way and when I have placed a breakpoint inside one of the IT

    Describe("Testing Application", func() {
        It("test 1", func() {
              runtime.Breakpoint()
        })
        It("test 2", func() {

        })
     })

When I execute the command `dlv test test_suite.go`  tests are not running. How can debug tests with breakpoints?

[2018-07-30 19:44] hui-yang opened #515 "Correct code location for table driven tests"
For table driven tests, the code location is always showing https://github.com/onsi/ginkgo/blob/master/extensions/table/table_entry.go#L46 which is not correct. This should be a useful feature for some testers.

Is it possible to call PutItNode directly with correct call depth like this? https://github.com/onsi/ginkgo/blob/master/ginkgo_dsl.go#L375

[2018-08-01 08:04] dulltz opened #516 "Is there a way to measure the processing time for each `By` block ?"
I want to measure the processing time for each `By` STEP.
Is there a way to do it?

[2018-08-01 16:41] nodo commented on #513
Hey @junpayment !

Thanks for reporting this problem and investigating the root cause! Hopefully, it will help other `ginkgo` users with the same problems.

I feel that this issue is not related to `ginkgo` directly and for now I am going to close it. Please, feel free to re-open the issue if you have questions or comments on this.

[2018-08-01 16:41] #513 closed

[2018-08-01 16:44] nodo commented on #512
Hey @junpayment,

Please can you share a specific example for your use-case?

As a first step, I suggest you to have a look at the [docs](https://onsi.github.io/ginkgo/). In particular, the section related to [structuring tests](https://onsi.github.io/ginkgo/#structuring-your-specs).

[2018-08-01 16:50] nodo commented on #516
Hey @dulltz,

`By` steps are just log lines, so `ginkgo` does not support benchmarking on them.

A possible suggestion would be to re-structure your tests to use https://onsi.github.io/ginkgo/#benchmark-tests . Would this solve your issue?

[2018-08-01 17:01] nodo commented on #515
Thanks @hui-yang,

Thanks very interesting feedback!

I have prepared a small reproducer:

[code]

Currently outputs:
[code]

- It mentions "yolo3" as failing entry
- It mentions line 12, which points to the failing "Expect"

However:
- It does not mention the line of the failing `Entry`. Which could potentially be useful information.

Would you be interested in working on a PR?

[2018-08-02 02:00] junpayment commented on #512
Hi @nodo, Thanks your reply.

I mainly use golang however sometimes use other scripting languages like Ruby or PHP.

In Rspec, ruby BDD testing gem, we can write like below.

[code]

in ginkgo..

[code]

Based on the above code two questions.
- Is there a way to clarify the test object in one describe like the subject of rspec?
- Is it correct to write in the block of the BeforeXXX method to delay

[2018-08-05 19:16] carldunham commented on #378
Wrap in an It()? Doesn't seem right. I assumed that the func (named `itBody` in the code) was an "it" 😊

[2018-08-06 08:32] himanshu219 commented on #378
Came across this problem what to do if one needs to pass parameters to beforeEach. Also I have some 100+ tests using DescribeTable so cannot write IT's for each one of them.

[2018-08-06 16:03] nodo commented on #512
This will work if you have a `flatten` structure. If you have nested `context`s you might want to check out `JustBeforeEach`. This would run every single it, similarly to `let` and `subject`. Does this answer your question?

[2018-08-07 03:01] junpayment commented on #512
@nodo Thanks a lot. I'll try it.

[2018-08-07 03:01] #512 closed

[2018-08-07 17:05] rgalanakis opened #517 "Hung tests only when run in parallel and without -stream"
I'm seeing some very strange behavior when running tests in parallel (OSX, running CLI from HEAD, vendored version is 1.6).

- If I run tests in parallel (`-p` or `--nodes=2`), specs hang.
- If I run in serial, specs work fine.
- If I run in parallel, with `-stream`, specs work fine.
- None of the other debug flags (`-race`, `-v`, --v`, --debug`, `--progress`) make a difference.

The last chunk of

[2018-08-07 17:35] nodo commented on #517
Thanks for taking the time to opening the issue @rgalanakis . This is a known bug unfortunately. I guess that you cannot share the test suite and / or the log files, right ?

There is one thing I am curious about though. Are you seeing the tests hanging intermittently or every time you try to run them?

[2018-08-07 18:46] rgalanakis commented on #517
I was able to create a minimal repro case.

Create files `file1_test.go` and `file2_test.go` in a folder
The contents should be:

[code]
and:
[code]

Run: `ginkgo --nodes=2 --debug ./...`

Observe the output:

[code]

The contents of the logs. Node 1:
[code]

Node 2:
[code]

If you comment out the contents of one of those files (leaving only the package declaration),
run the same command and obser

[2018-08-07 18:47] rgalanakis commented on #517
To answer your latter question- locally, and with these repro cases, I see it every time. On our CI server running integration tests in parallel, it was intermittent (though probably more common than a success).

[2018-08-07 19:29] rgalanakis commented on #517
I think whoever set up the initial ginkgo patterns in our repos (probably me, though maybe I copied the one other place it was used when I started here) set it up that way and I copied it- it wasn't clear from the docs that this is discouraged. It may also have to do with running specs in Goland/Intellij, but I'd need to confirm. Is there never a reason for multiple test functions?
Thanks for resp

[2018-08-07 21:47] williammartin commented on #517
Yeh there's not really any reason I can think of to have multiple test functions in a suite, since the test graph is built up by the top level `var _ = Describe` statements and then run via `RunSpecs(t, "...")`. I suspect Ginkgo would be trying to do a bunch of stuff twice.

I reproduced just running from the CLI.

[2018-08-07 22:58] haichuanyu commented on #477
hi sorry, we seem to have worked around this by adopting the practice of not using unnamed returns. don't have the bandwidth to really return to this and try to reproduce the issue.

[2018-08-07 22:58] #477 closed

[2018-08-11 15:46] ianvernon commented on #437
Closing this for now. Sorry for the noise.

[2018-08-11 15:46] #437 closed

[2018-08-11 22:50] onsi commented on #517
Hey - to clarify.  The issue isn’t multiple `TestXxx` per se - it’s that you are calling `RunSpecs` twice.

Ginkgo will work fine with multiple `TestXxx` though it cannot report on these tests and when you run in parallel all the non-ginkgo tests will run on each parallel node.

[2018-08-13 04:39] dulltz commented on #516
@nodo

Thank you for telling me,
but it seems difficult to rewrite it with `It` or` Measure`,
because my integrated-style test codes contain a lot of processing to be executed sequentially.

I will try to measure in a primitive way using `Time` package.

Thank you for replying.

[2018-08-13 04:42] #516 closed

[2018-09-04 06:40] 27149chen opened #518 "Combining the coverprofiles to one file should remove the mode (mode: xxx) line"
When combining the coverprofiles to one file, ginkgo should remove the mode (mode: xxx) line, it is the first line in every single profile. Otherwise, running "go tool cover -html=" will report "cover: line [] doesn't match expected format: ^(.+):([0-9]+).([0-9]+),([0-9]+).([0-9]+) ([0-9]+) ([0-9]+)$"

Using ginkgo 1.6

[2018-09-06 16:06] joestringer commented on #504
As noted in #505, this also affects Golang 1.11 users using modules:

https://github.com/onsi/ginkgo/pull/505#issuecomment-419073653

[2018-09-07 14:11] rickb777 commented on #504
As a work-around, I cloned /usr/local/go and gave myself write permissions on the pkg tree within the clone. Set GOROOT to point to the clone and the ginkgo bug disappears.

Clearly, ginkgo should not attempt to overwrite pkg files in the standard library.

[2018-09-13 02:09] lefurgy opened #520 "Gingko reports suite failed, but all specs pass?"
What would cause "Test Suite Failed" to be printed when all Specs are reported "Passed"?
No explanation of why the suite failed is reported.
It happens about 1 out of 10 times. The other 9 times report "Test Suite Passed".

go version: go1.9.4 linux/amd64
ginkgo: commit 11459a886d9cd66b319dac7ef1e917ee221372c9
             date:   Mon Aug 28 19:22:21 2017 -0600

Here is an example of the good outp

[2018-09-13 02:13] lefurgy commented on #520
Additional note: I have noticed that sometimes a race condition is reported in my code.

[2018-09-13 20:40] #504 closed

[2018-09-18 06:27] zkrhm opened #522 "getting "version queue is empty, should not happen" when using dep."
hello, I am using dep to add ginkgo as my dependency but getting error :
"panic: version queue is empty, should not happen"

I execute this command :
[code]

what do I do wrong?

[2018-09-18 06:59] blgm commented on #522
I’ve seen that before, and I think it’s a bug in `dep`. I’ve worked round it in the past by running `go get ...`, and running `dep ensure` afterwards.

[2018-09-19 17:18] zkrhm commented on #522
hey, I tried and it's works. thanks!

[2018-09-19 17:18] #522 closed

[2018-09-20 06:15] jspawar opened #523 "Cropped output when performing equality assertions against lengthy strings"
I keep running into this issue and am wondering if it is possible to opt out of this cropping because it makes everything incredibly painful to debug:

[code]

I am trying to check equality of multiline strings and this assertion message, be it multiline or lengthy or whatever, obviously doesn't really provide any clarification on what went wrong. I am seeing this output when running in IDE and in

[2018-09-26 16:53] mokiat opened #524 "ginkgo generate fails in module"
It seems that running `ginkgo generate` inside a go module, as per go 1.11, somewhere outside `GOPATH` results in a broken test skeleton.

Example:

[code]

The problem likely stems from the usage of `ImportDir` which does not work with go modules:
https://github.com/onsi/ginkgo/blob/000d317071340972710dc1da9ae3c2c016a7a560/ginkgo/bootstrap_command.go#L106

This has been described here:
https://gi

[2018-09-26 19:39] blgm commented on #524
I’ve had that happen too. As you point out, we are in a tricky situation because people expect Gomega to work with Go modules, but Go modules (and their support packages) are not completely stable yet. I’ve heard several reports of issues with Go 1.11. I expect the stability will improve rapidly. If you (or anyone else) fancy submitting a PR that maintains backwards compatibility, then I’d gladly

[2018-09-26 20:44] BrandonZacharie commented on #524
In the meantime, you can symlink your project and run `ginkgo generate` from there.

- `mkdir -p $GOPATH/src/github.com/_my_account_/_my_project_/`
- `cd $GOPATH/src/github.com/_my_account_/`
- `ln -s _path_to_my_project_`
- ` cd _path_to_my_project_`
- `ginkgo generate _some_dir_/_some_file_`

[2018-09-27 19:02] mokiat commented on #524
@blgm , as you mentioned, their new modules support packages (namely  [golang.org/x/tools/go/packages](https://godoc.org/golang.org/x/tools/go/packages)) are still not stable. According to the linked issue, the `go/build` package should shell out to the `go` executable as a quick workaround, however, that did not work for a tool of mine (whereas `go/packages` did).

On the plus side, the `ginkgo`

[2018-09-30 06:26] wnxn opened #525 "Misspelling in docs"
Hi Onsi,
At `Miscellaneous` section in [docs](http://onsi.github.io/ginkgo/#running-tests), I found the word `paried` might be replaced by `paired` in `This is best paried with -v to preview which tests will run.`

[2018-10-02 11:10] lawrencejones commented on #481
+1 for this. This interface has the happy bonus of re-enabling the use of `defer` for test suite cleanup- something like this:

[code]

becomes

[code]

There are several benefits here, such as allowing golint to pickup un-cancelled contexts, and removing the need for you to check a resource has been initialized before tearing it down in the `AfterX` block.

[2018-10-03 15:35] rosenhouse opened #526 "How to serialize tests within a package"
We sometimes encounter cases where a particular package manages global state, so making the tests safe to run in parallel is challenging.

To keep other packages running in parallel, we resort to complex scripts that include [a list of "serial packages"](https://github.com/cloudfoundry/cf-networking-release/blob/f82cf0d5f0a467b419b24e41df009f1d934d043e/scripts/unit-and-integration-tests#L8-L13).

[2018-10-05 14:03] ckaminer commented on #361
Is there a solution for detecting failures during a recursive run?  In my CI/CD pipeline I can make the pipeline fail if I run one suite at a time.  During another stage where I recursively run multiple suites I'm having a hard time detecting at least one failure and kicking out of the pipeline.

[2018-10-19 08:42] Pushplaybang commented on #141
@abourget you should be able to use goconvey

[2018-10-19 16:08] marcotorre commented on #231
A bit late to this forum, but if you still weren't able to create the book.go code, you can view what I have [here](https://github.com/marcotorre/demos/tree/master/bdd-ginkgo).

[2018-10-24 14:55] vito opened #528 "Raise default Eventually() timeout?"
Hi there!

So, `Eventually()` is pretty cool, but its default timeout is 1 second. When a machine is busy running other builds, this can fail for no good reason, because Mr. Computer can only do so much at once. It's been a constant battle over the past couple of years, chasing down naive `Eventually()` calls that don't set a higher timeout. Every time I see a timeout failure in CI my default assu

[2018-10-24 16:30] xoebus commented on #528
I agree.

I don't think we're at the "Eventually Considered Harmful" stage, but having the suite hang until the global test timeout has the advantage that you can dump the stacks of the test process to see where the holdup is. I'm in favor of any practice which moves us further from blindly re-triggering builds.

[2018-10-24 18:36] onsi commented on #528
It is possible to change the default globally on a per-suite basis.  Yet another thing to remember to do per suite to be sure.  But are there reasons that isn’t a good enough solution?

With that said am open to changing the baked in default.  The original value was somewhat arbitrary.

[2018-10-24 21:51] vito commented on #528
@onsi True, and I've started doing that when I don't have time to fix individual tests. It's still something to fix each time engineers bootstrap new packages, so I don't think it resolves the root of the issue.

I'm with @xoebus in spirit, in that having no timeout would be preferable for our project, but that's almost definitely too big of a change for everyone else using Ginkgo. What about havi

[2018-10-25 00:17] grosser commented on #522
FYI dep issue is https://github.com/golang/dep/issues/1799

[2018-10-25 19:51] grosser commented on #522
FYI switching to go modules also works :)

[2018-10-26 19:30] olegch opened #529 "ginkgo CLI cannot run pre-compiled test package on windows"
# Reproduce

Compile ginkgo for windows:
[code]
Precompile test package for windows:
[code]
Try running the test binary on windows:
[code]
It works as expected.
Try running the test binary via ginkgo CLI:
[code]
Test suite is not found and not run

[2018-10-26 20:07] olegch commented on #529
It looks like the heart of the problem lies here: https://github.com/onsi/ginkgo/blob/master/ginkgo/testsuite/test_suite.go#L29-L35

Ginkgo assumes that the precompiled test binary name must end with `.test` and that it must have an executable bit set.

Neither is true on windows.

I tried to remove these checks from the code and apparently it fixes the issue, at least partially.
With those checks

[2018-10-26 23:39] christarazi opened #530 "Intermittent test pollution with variables declared in global `Describe` block being shared among parallel nodes"
We noticed that when running tests in parallel, there **intermittently** seems to be some pollution with variables declared in the global Describe block, being shared among parallel nodes.

[code]

When we printed out `process`'s address in each parallel node, we noticed the problem occurs when the addresses are the same among the parallel nodes. In all other successful runs, the addresses are dif

[2018-10-29 22:40] joshzarrabi commented on #530
We are seeing this as well.

[2018-10-31 16:39] elgohr opened #532 "WASM support"
Refering to https://github.com/sclevine/agouti/issues/173

When I try to use Ginkgo in a WASM setup `$ GOOS=js GOARCH=wasm go test`, it errors with
[code]
When I don't set `GOOS` and `GOARCH` the application code doesn't compile.

This is a little annoying as it often breaks my flow.

Workaround:
Move tests in a separate package and run the tests without `GOOS` and `GOARCH`

[2018-11-05 17:43] williammartin commented on #483
PR has been merged. Thanks all.

[2018-11-05 17:43] #483 closed

[2018-11-05 18:44] williammartin commented on #530
Hi, following your instructions results in go vet failures e.g.

Failed to compile monitor:

[code]

[2018-11-05 18:47] williammartin commented on #530
I removed the unused lines and made the `Fprint` an `Fprinf` and the tests seem to be running now.

[2018-11-06 06:05] christarazi commented on #530
In our case, the process is a web server. The failure occurs when the test is polluted and the `ginkgomon.Interrupt` sends the signal to the wrong process, thus killing the web server in the middle of a test run.

In regards to how many runs until we see it, it varies. Sometimes it happens on the first go, sometimes it takes ~100 attempts. When we ran it on the Linux container in Concourse, the av

[2018-11-06 11:37] syamgk opened #534 "There is no way(flag) to hide showing line numbers for passing tests"
There should be a way to printing line numbers to the stdout and just the Spec names to the stdout stream

[2018-11-06 12:03] williammartin commented on #534
Can you provide some examples for what you would like to see, compared to current output? I'm not sure I understand.

[2018-11-06 12:38] williammartin commented on #530
I've tried running this a few times and each time it fails with a data race:

[code]

This doesn't look like what you are reporting, but just want to confirm?

[2018-11-06 13:32] williammartin commented on #530
Ahh, I suspect it might be this?

[code]

[2018-11-06 14:47] williammartin commented on #530
I'm actually not convinced this is the problem either. I'm going to need a better reproduction to help with this, and if I was a betting man I'd say it's not a ginkgo problem.

[2018-11-06 15:02] williammartin commented on #530
Another failure:

[code]

I'm suspect maybe the error above is the correct error, however, I was running the tests in serial, which would indicate nothing to do with ginkgo parallelism.

[2018-11-07 05:53] christarazi commented on #530
The actual error message we get is indeed the `read: connection reset by peer` error. Sorry if that was not said in the original post.

That's really interesting that you saw this occur when running serially. I know that I ran it serially prior to making this issue and we did not see the error in over 1000 test runs. Seems like we were just unlucky.  I am quite surprised at this finding though. Ho

[2018-11-07 17:49] williammartin commented on #530
Yep! Definitely serially, here's the command I ran:

`(detached:master~2 U:4 ✗) switchboard ginkgo -r -failOnPending -randomizeAllSpecs -slowSpecThreshold=20 -keepGoing -untilItFails`

And the output (which actually has two failures!):

[code]

I'm running this on a Linux Cosmic Cuttlfish Ubuntu distribution VM, 2 CPUs with just 1 GB of RAM so quite constrained.

[2018-11-08 06:31] syamgk commented on #534
Hi @williammartin , we are using this for writing end to end tests for [Odo project](https://github.com/redhat-developer/odo).
you can find the end2end test logs [here](https://travis-ci.org/redhat-developer/odo/jobs/451279473#L724)
and I am looking for a way to only log the specs which are running and commands.
And the line numbers and expected output should only be shown when a test fails

Logs

[2018-11-08 08:51] williammartin commented on #534
Thanks! I understand now. Can you tell me a little more about the reason you don't want this printed?

[2018-11-09 05:37] christarazi commented on #530
Huh interesting. I will have to play around with this and poke at it some more.

[2018-11-12 13:42] amitkrout opened #535 "Question: Does it support cucumber gherkin parser? If no is there any plan for it"
Something i am looking for solution like simple readable english sentence in a feature file and the implementation will be somewhere in the other go file. For example
[code]

[2018-11-12 13:49] amitkrout commented on #534
@williammartin @syamgk Or probably add some flag so that these verbose can be mute and unmute as per user choice.

[2018-11-13 02:46] magicsong opened #536 "when use `go test` instead of `ginkgo`, its output is still not change."
There is only one line in output like native `go test`:
[code]
how can i get the ginkgo-style output use `go test`.
BTW, the command i use is `go test path/to/package`. When i `cd` in the package directory just use `go test`, it works. Why?

[2018-11-13 16:37] tylerphelan opened #537 "Parallel compilation may be causing go module races"
We've observed non-deterministic behavior when running ginkgo:
[code]
Produces a roughly 50% failure to compile with varying compilation errors.

[code]
Succeeds 100% of the time.

Forcing module download before running tests, for example with `go mod download`, will also produce 100% success rate.

Our theory is that parallel compilation, and thus parallel module fetching, really confuses go, lea

[2018-11-13 16:50] onsi commented on #537
I think this is surfacing a bug in `go mod download`.  Seems like `go` should be able to handle multiple downloads in parallel.  I'd suggest y'all open an issue there.

For now the `-compilers=1` flag workaround will have to do :/

[2018-11-13 16:55] tylerphelan commented on #537
Looks like the issue is https://github.com/golang/go/issues/26794

[2018-11-13 16:57] tylerphelan commented on #537
Will close for now.

[2018-11-13 16:57] #537 closed

[2018-11-15 04:23] kkokey opened #538 "How to run test when start ginkgo watch start? (change) Please reply.."
I would like run test with ginkgo watch start.
But not found any option about that thing.

Do you have plan? or any idea?
Important thing is with start.

ginkgo is always only start.
I have to change some code when I want start test.

[2018-11-15 18:21] henryaj opened #539 "Flake attempts should be logged"
I had a build pass even though a couple of tests failed – took a bit of digging to figure out we had `--flakeAttempts` set to 2. But even knowing this, there doesn't appear to be any output that indicates that the test was reattempted.

Should there be? (Happy to PR this in if so.)

[2018-11-20 16:54] williammartin commented on #528
Having been through this so many times on Garden, I've also ranted a fair few times on timeouts and the second order effects. There's so much value in Eventually and Consistently, but man does it hurt later when you don't know if something was slow or hanging forever.

[2018-11-20 17:39] williammartin commented on #539
I suspect what is happening that you are running multiple suites in your tests, which enable the `succinct` behaviour by default:

![image](https://user-images.githubusercontent.com/1611510/48791985-05963580-eceb-11e8-9d8f-906e73468113.png)

And then your tests are passing. That means we fall into this block:

https://github.com/onsi/ginkgo/blob/master/reporters/stenographer/stenographer.go#L157

[2018-11-22 15:35] williammartin commented on #538
Hi @kkokey, is there some reason you don't want to just use `ginkgo` by itself to run your tests?

[2018-11-27 13:04] munnerz commented on #361
Wonder if there's anything more on this? I am running my tests in parallel as well, so the above mentioned solution (utilising a global var to mark the test as failed) will not work for me, as parallel mode spawns a gingko process for each parallel worker.

More info on my use case: our tests are mostly self contained, but have *some* 'global' addons that are used by *all* tests. I want to print l

[2018-11-29 03:00] magicsong opened #540 "use glog"
Can we use `glog` in ginkgo right now? I can use glog in `go test` however not work in  `ginkgo` cli, do i miss something?

[2018-12-04 22:36] cquon opened #541 "Feature request: Allow AfterEach functions to tell the summary.State of the current test, not just if it is Failed."
I have a use case where I'd like to see the test status, particularly if it is Skipped, not just Failed.  Looking at this closed issue https://github.com/onsi/ginkgo/issues/163 and the code, it looks like only Failure is exposed.  I can open a PR for this issue.

[2018-12-05 15:24] williammartin opened #544 "What versions of Go should Ginkgo support"
Following on from Gomega #315.

Gomega now uses type aliasing which is only available in Go 1.9+. Currently our Travis tests run against 1.6+, so there are build failures.

The Go support policy is N-1 major releases, so Go 1.11 and Go 1.10 will receive security patches (. I'd suggest we aim to keep a similar policy, I don't want us to be hamstrung by supporting older versions.

[2018-12-05 15:36] williammartin commented on #544
Merged a PR that resolves the build failures. Would someone like to create a PR to note our policy in docs so we can close this?

@nodo Do you remember what bits of code there are in Ginkgo that required older versions of Go?

[2018-12-06 18:34] nodo commented on #525
@wnxn would you like to open a PR for that?

[2018-12-06 19:22] nodo commented on #544
I was thinking about these files:
- https://github.com/onsi/ginkgo/blob/master/ginkgo/testsuite/vendor_check_go15.go
- https://github.com/onsi/ginkgo/blob/master/ginkgo/testsuite/vendor_check_go16.go

[2018-12-07 04:07] wnxn commented on #525
Hi @nodo , I am glad to open a PR for typo. But I want to know where is the source file to generate website http://onsi.github.io/ginkgo/.

[2018-12-07 05:05] wingyplus commented on #540
The possible solution that I try is compile test to binary and set flag to it.

This is my source code.

[code]

Then compile and run:

[code]

[2018-12-07 05:12] wingyplus opened #545 "Ginkgo doesn't support -blockprofile flag from go test."
The `ginkgo` binary has only `-blockprofilerate` flag but not for `-blockprofile`. This should be add support for this?

[2018-12-07 05:37] magicsong commented on #540
@wingyplus you can use `go test` without using main function. My question is use `glog` in ginkgo cli, like `ginkgo  -v 1 -logtostderr` . when using `go test` , it is very inconvenient to use  flag of ginkgo-cli.

[2018-12-07 07:31] williammartin commented on #525
It's under the gh-pages branch.

[2018-12-07 22:19] joaopapereira opened #547 "Display `By` in the error trace"
I was wondering if this feature would be of any interest.

At this time when `By` is added into a test it writes it only outputs the `STEP` information in the log. But when it fails the log does not inform about the last `By` that we defined.

An example would be:
[code]
Output:
[code]

I do believe that a output that would look like the following would help pinpoint the place where the error happ

[2018-12-11 10:12] tejashwikalptaru opened #548 "ginkgo cover output to cobertura"
When we use
`ginkgo -r -cover -outputdir=./shippable/codecoverage/ -coverprofile=coverage.txt`
It will create a combined output of coverage to a single file, I am unable to convert this output to equivalent Cobertura format (shippable expects Cobertura format for coverage reports)

Also, when using `-outputdir` flag, it should create a combined coverage output instead of creating coverage file in

[2018-12-11 10:16] williammartin commented on #518
Hi. Would welcome a PR to fix this if you are up for it.

[2018-12-11 10:19] williammartin commented on #547
I can definitely see why this would be useful. As someone who is fairly anti `By()` I suppose I would encourage writing more compact tests that this isn't required, but I can totally understand how this would be useful if someone were using `By()`.

Would you be willing to attempt a PR?

[2018-12-11 11:21] tejashwikalptaru commented on #548
Nevermind, figured out myself.

Generate the cover using covermode as set
`ginkgo -r -cover -covermode=set -outputdir=shippable/codecoverage/ -coverprofile=coverage.out`

Now, we need to remove duplicate entries of `mode: set`
`awk '!seen[$0]++' shippable/codecoverage/coverage.out > shippable/codecoverage/coverage-fix.out`

Finally, convert to Cobertura
`gocov convert shippable/codecoverage/covera

[2018-12-11 11:22] williammartin commented on #548
Thanks for your investigation. I noted on #518 that I'd very happily take a PR to fix that up.

[2018-12-13 09:26] skydai opened #549 "how do i set up my suite test?"
I'm using Ginkgo, and this is my starting directory structure:

**
project/test/test_suite_test.go
project/test/component1/component1_test.go
project/test/component2/component2_test.go
project/test/component3/component3_test.go
.......**

because of each test must run after i start a informer and message queue, so i write it in BeforeSuites, located on **project/test/test_suite_test.go**
[code]
Bu

[2018-12-13 09:38] williammartin commented on #549
Hi, when you say "to keep order", do you mean temporal ordering, or do you mean tidiness?

[2018-12-13 10:00] skydai commented on #549
tidiness, I want the category looks hierarchical.

[2018-12-13 11:13] amitkrout commented on #535
Hope you guys ate listening, a gentle reminder.

[2018-12-13 12:49] williammartin commented on #535
Thanks for the reminder @amitkrout, we do listen, but have limited time. Appreciate you poking us gently :)

Ginkgo doesn't support Cucumber/Gherkin parsing and I think it's unlikely we ever will. Ginkgo was never intended to be a way to communicate with non-technical stakeholders, simply to allow engineers to write better, more descriptive tests.

I don't think we would ever merge a Cucumber like

[2018-12-13 12:55] williammartin commented on #549
I don't believe there is any way to achieve what you want here and I'm not sure that it's idiomatic Go either, as it would encourage your packages to be coupled in an unusual way. That's your decision to make of course.

The best thing I can think to suggest right now is to provide the functionality in your `BeforeSuite` as a utility and create very thin `suite` files in each of your packages. Sui

[2018-12-14 06:24] amitkrout opened #550 "Pass multiple spec in --focus flag"
I have recently starter contributing in [odo](https://github.com/redhat-developer/odo) project. Most of my contribution is towards the odo e2e test. I am glad to see GinkGo framework as the test framework and infact the tests are running in the CI smoothly.

Now i am planning to use the ```--focus``` flag in more user friendly way. See https://github.com/redhat-developer/odo/issues/1138 for more d

[2018-12-14 09:08] amitkrout commented on #535
@williammartin Thanks for the info and pointers too. Will try it out for sure

[2018-12-14 09:33] #535 closed

[2018-12-14 13:14] #549 closed, assigned to nobody

[2018-12-18 09:52] Julio-Guerra opened #551 "Assertions of Measure() average result."
Hello,

I couldn't use `Measure()` to make assertions on time measurements, which are sensitive to the scheduling, because it only allows to run assertions on a single sample. For example:

[code]

The scheduling impacts the time measurements, sometimes making the assertion false. Being able to run the assertion of the average value would allow to get rid of this (they should be on average the sam

[2018-12-25 02:41] detailyang opened #553 "[question] how to know whether the spec is focused"
Hello.

I want to know is there any way to know whether ginkgo is used `--FOCUS`.

Now my before/after suite is blocking 2 seconds via `time.Sleep`. Even if I use `--FOCUS` it also will blocking the non-target tests.  So when I run tests via --FOCUS=xx, I wish to skip the non-target tests in my code.

Is there any way to get it? Many thanks:)

[2018-12-25 10:08] wingyplus opened #554 "JUnit reporter does not create directory before creating file."
When call `RunSpecsWithCustomReporters` with not current directory and it doesn't exist. Ginkgo print an error and stop running:

[code]

I can produce this issue by this code below:

[code]

I have workaround solution by called `mkdir` before run spec. But I think it would be nice if ginkgo can create directory before create a filename.

[2019-01-17 17:33] #544 closed

[2019-01-23 08:09] wingyplus opened #557 "Redeclared error after run ginkgo bootstrap with -nodot option"
After run ginkgo with `ginkgo boostrap -nodep`. It cannot run due to compile error. Reproduce issue steps below:

[code]

After I found this error, I grep `Expect` to see when it redeclared:

[code]

[2019-01-25 15:59] zmackie opened #559 "Support for vendoring + modules"
The team I'm on vendors (for reasons...) but we're also using modules. It'd be great if ginkgo's pre-test compile step could respect the existence of this case and run the build with local code (ala `go build -mod=vendor`. We'd be happy about contributing a PR given a bit of guidance on where to look...

[2019-01-31 14:32] chordabmx opened #561 "suite parametrization and parallel"
Hi @onsi, first of all thanks for this awesome framework!
I would like to know is it possible to parameterize test suite and run it in parallel?
Something like this:
[code]
ginkgo -p would run 4 nodes

1 node RunSpecs(t, a)
2 node RunSpecs(t, b)
3 node RunSpecs(t, c)
4 node RunSpecs(t, d)

[2019-02-01 01:02] ClayShentrup commented on #481
I found this thread looking for an `AroundEach` for the _exact same purpose_ — DB rollbacks like ActiveRecord. 😄

[2019-02-01 02:06] onsi commented on #561
Hey @chordabmx what problem are you trying to solve?  Digging into that might help us suggest a solution.

[2019-02-01 07:41] chordabmx commented on #561
@onsi Thanks for your reply!
I wrote templated tests, for a lot of web pages, and run them passing variable in RunSpec to do assertions.
Ex:
[code]
Also a i have integration with testrail, so the point is to run teplated tests for all pages in parallel, and fill in testruns in testrail.

[2019-02-01 08:48] wingyplus commented on #561
@chordabmx Is `github.com/onsi/ginkgo/extensions/table` can be solve your problem?

[2019-02-01 09:22] chordabmx commented on #561
@wingyplus it used to parametrize each test, but dont work for parametrization of whole spec, or am i missing something?

[code]

[2019-02-01 13:46] onsi commented on #561
ok got it - so you’ve templatized all tests and want to run them a handful of times with different variables.  and you’d like the tests to run in parallel.

The approach with calling `RunSpecs` multiple times won’t work, unfortunately, as (a) GInkgo expects `RunSpecs` to be called just once and (b) the test tree is constructed when the program is loaded into memory (all those `Describes`) are exec

[2019-02-04 07:20] chordabmx commented on #561
@onsi tnx for your answer, it helped a lot, i guess we can close this issue.

[2019-02-04 07:20] #561 closed

[2019-02-10 15:57] 21stio commented on #525
can it be closed?

[2019-02-10 17:27] fjorgemota commented on #393
What's "waiting for response" on this issue?

I miss this feature too. Just to mention an example, I need to run tests sequentially if I want to get coverage % printed directly in the end of the `ginkgo` command, meanwhile, if I run all tests in parallel using `ginkgo -p -cover`, only the coverage file is generated, but without printing the total % in the screen.

I searched on Ginkgo's code and s

[2019-02-10 17:51] #525 closed

[2019-02-18 12:32] tzvatot commented on #18
I would really like to have beforeAll() that will run once before all the `It` it cover.
The reason is that you sometime group together several specs and they call can share a common state, but I don't want that state to be global to the suite: it's not serving all the specs.

[2019-02-18 12:37] williammartin commented on #18
Please add your thoughts to https://github.com/onsi/ginkgo/issues/70 @tzvatot.

[2019-02-18 12:47] tzvatot commented on #70
I'm facing the same issue: working with openshift (kubernetes based) I have a test suite devided to several contexts and specs. Some tests needs a setup before their execution. The setup takes a long time, but it's the same setup for all `It` in the context, which the outcome is a state which the test requires in order to run. Running the setup before each test cause the test duration to exceed th

[2019-02-18 13:37] williammartin commented on #70
@tzvatot Thanks for your feedback! Is this code somewhere I can see?

[2019-02-18 14:02] tzvatot commented on #70
Unfortunately no. But we might open it up sometime in the future.

[2019-02-21 21:27] rafaeleyng commented on #518
@williammartin I could try it, could you give me just a direction where to start looking for it on the codebase?

[2019-02-24 05:32] shaunc opened #563 "Add "Helper()" to GinkgoTInterface"
`https://github.com/bradleyjkemp/cupaloy` uses [Helper()](https://godoc.org/testing#T.Helper) could this be added to the mock?

[2019-02-24 05:48] shaunc commented on #563
Also is missing "Name()". As a rough workaround, the following seems to work:
[code]

[2019-03-05 20:42] vhosakot commented on #480
I see this issue too with the following code:

[code]

Output:

[code]

My go version:

[code]

[2019-03-05 21:25] williammartin commented on #480
@vhosakot Can you describe what you're doing that you want your tests to result in a panic, that you aren't trying to assert on? Is it just that you had a panic and it was hard to debug?

[2019-03-05 22:01] onsi commented on #480
Also - there is no way, in Golang, for one goroutine/thread to capture a panic emitted by another goroutine.  This is why you have to call `defer GinkgoRecover()`

@natemara I appreciate this comment:

but would offer the test is giving you some actionable feedback about your code.  Your code launches a goroutine that can panic in a way that cannot be trapped, thereby crashing the application.  Pe

[2019-03-06 16:12] vhosakot commented on #480
Thanks for the info @williammartin, @onsi. Yeah, unexpected panic in code crashed the test suite and hence was hard to debug.

[2019-03-08 23:10] BooleanCat commented on #559
As of ginkgo 1.8.0, you can use `ginkgo -mod vendor ...`

[2019-03-08 23:11] williammartin commented on #559
Thanks @BooleanCat for the contribution.

@Zanadar Can you check and see if this solves your issue?

[2019-03-08 23:14] Zanadar commented on #559
Thanks @booleancat

[2019-03-08 23:19] Zanadar commented on #559
@williammartin sure I’ll check. Will re-close if we’re all set.

[2019-03-15 11:13] akshaymankar opened #567 "Help should be printed to stdout"
`ginkgo -h` produces a lot of output. Sometimes I am looking for something and grepping doesn't help me unless I redirect stderr to stdout. It would be really nice if the help was printed to stdout.

[2019-03-15 11:22] blgm commented on #567
I've just done an experiment with the `git`, `curl` and `bosh` on a Mac, and they all send help messages to STDOUT and not STDERR.  This change suggestion does seem both helpful and more "standard".

[2019-03-27 05:20] pprasanthi commented on #175
I dont understand why we use this `entry := entry //gotcha!` step?

[2019-03-27 10:17] carldunham commented on #175
And when you do, you will be one step closer to realizing what a truly awful language Go is.

Carl

[2019-03-28 21:16] Zanadar commented on #559
@williammartin @BooleanCat
I'm not certain this is actually working...it looks like ginkgo is still downloading modules that exist in our local vendor folder

Eg

[code]
(notice modules do not need to be downloaded)
vs

[code]

See go.mod

[code]

[2019-03-28 21:18] Zanadar commented on #559
Second confirmation, run after above test run:
[code]
(Notice the first time no download, when modcache is primed. Then notice download after cleaning modcache).

[2019-04-02 09:52] cuongld2 opened #569 "Integrating ginkgo with testrail api to add result test to Test Rail"
Hi there,
I am integrating ginkgo with TestRail API.
I would like to do the trick if the the test is failed because of fail assertion in It blocks, a value will be got and then I can parse value to the test rail API to update the test result to test rail.

But the problem is, in It block, when something failed in the assertion, it will skip all the below code.
How can I achieve this?
Thanks so muc

[2019-04-03 13:36] saschagrunert commented on #427
Hey, I run into the same issue and prepared your changes as a fix. Bear with me! :pray:

[2019-04-11 12:08] mjudeikis opened #572 "Writer implementation - internal type reuse"
We have a use case, where we want to send all logs into external log aggregator for centralised search. With help of customer reporter these logs can be tagged/labelled based on the suit. The initial plan was to use `GinkoWriter`:
[code]
And in the `customWriter` send logs into both writers (cloud and originalWriter).

This does not work, because code casts GinkoWriter to internal type and using a

[2019-04-11 13:42] williammartin commented on #572
@blgm I know you were looking around the reporting domain when you were adding the `debug` flag, do you have any thoughts on this?

[2019-04-11 13:49] williammartin commented on #572
From my perspective, it does seem like we should just provide a function that allow

[2019-04-11 13:49] williammartin commented on #572
Misclick, sorry ^

[2019-04-11 13:57] mjudeikis commented on #572
@williammartin @blgm I think this is the most simple approach and least intrusive at the moment. And when you have bigger refactor underway, just make sure this is added to the backlog. If we agree on function, will raise a PR

[2019-04-11 14:53] williammartin commented on #572
It seems acceptable to me right now. I think as long as the `GinkgoWriter` is set before `RunSpecs` is called this should be fine. In practice this really means anywhere except a `BeforeSuite`, `BeforeEach` or `It` (and friends), and before `GinkgoT`.

I'm not sure that we can get way with not needing the `writer.Writer` interface because the tests make extensive use of that behaviour, but maybe w

[2019-04-11 14:59] mjudeikis commented on #572
cool. let me raise a PR and we can take it from there

[2019-04-11 15:27] mjudeikis commented on #572
https://github.com/onsi/ginkgo/pull/573

[2019-04-18 10:46] filwie opened #574 "Possible false positive on SIGTERERM"
I've written a Stack Overflow post about Ginkgo's behavior in context of terminating test execution. I would be glad if someone informed me if this is an expected outcome:

https://stackoverflow.com/questions/55743469/false-positive-when-sending-sigterm-to-ginkgo-test-suite

[2019-04-18 14:34] williammartin commented on #574
I have responded on the Stackoverflow post. Thank you for your question. Let me know if you would like any other help.

[2019-04-18 15:03] #574 closed

[2019-04-18 18:08] filwie commented on #574
Thank you for quick and informative response (I especially appreciate links to specific lines in code). I can live with the fact that this is an expected behavior :)

[2019-04-28 08:06] angadn commented on #236
This is how I've set mine up finally:

[code]

[2019-05-10 09:58] 46bit commented on #559
I second `ginkgo -mod=vendor` in Ginkgo v1.8.0 and Go 1.12.4 not using packages from `vendor`.

[2019-05-13 16:26] williammartin commented on #559
Doh. Seems like we missed something! I'll try to have a look this week but if anyone more familiar with Go modules than me has a good idea, that would be very welcome.

[2019-05-16 18:16] wxy325 commented on #522
In my case, adding

[code]

in `Gopkg.toml` works

[2019-05-17 06:34] PsPrasant opened #576 "Machine hanging if we press`ctrl + C` immediately running a test with ginkgo-cli"
I am not sure if I can report this here. Whenever I run a test suite with ginkgo and press `ctrl+ C` it is making my entire machine to hang. I am running it on Mac High Seirra (10.13.6) and Ginkgo Version `1.8.0`

[2019-05-19 20:54] williammartin commented on #576
Hi @PsPrasant, I'd love to help but I'm afraid there isn't enough information here for me to do any kind of diagnosis. Does this happen with any test suite? What do you mean by "entire machine to hang"? What is the command line that you are running?

[2019-05-19 20:55] williammartin commented on #567
@akshaymankar Would you open a PR for this?

[2019-05-20 16:00] akshaymankar commented on #567
@williammartin The PR is ready, let me know what you think.

[2019-05-21 13:24] #567 closed

[2019-05-21 15:51] leninhasda commented on #524
Could we use this as a solution?
[code]
https://github.com/golang/go/blob/master/src/cmd/go/internal/modfile/read.go#L837

I mean, this is how go internally read the module path from `go.mod` file. And maybe it's a good idea to copy a function instead of pulling a package!
Or is there something else I might be missing and need to look into?

[2019-05-23 11:15] serathius opened #579 "JUnitReporter doesn't generate raport when tests time out"
When tests are called with '--timeout' and this timeout is reached, then raport will not be generated.
I think this should be fixed as this flag is documented and supported by ginkgo.

Is there any way to get around this before fix is implemented?

[2019-05-23 15:14] mangelajo commented on #222
Bump, also found the same issue, while I was trying to replicate what kubernetes test do for E2E for a kubernetes network federation project.

[2019-05-31 14:38] srinubalsu opened #580 "tagging tests"
Is there a way that I can tag each test so that I could decide which test to run on different test environments?

That makes my life little bit easier.

[2019-05-31 14:59] blgm commented on #580
Yes.  You can use the [`-tags`](http://onsi.github.io/ginkgo/#the-ginkgo-cli) flag which is passed to the Go compilation step, allowing you to use Go's built in tagging functionality, which is now called [Build Constraints](https://golang.org/pkg/go/build/#hdr-Build_Constraints)

[2019-05-31 15:07] srinubalsu commented on #580
Hi George,
Thanks a lot for immediate and quick response.

Coming to my issue, the solution that you have suggested will eliminate whole file. In my case, for example, I have test file with 50 tests, I want to run 20 in Dev Env, but in QA Env I want run 20 of same Dev Tests along with 10more tests.

How can I use this tags flag for this?

One more thing, with in the same file, I have positive and

[2019-05-31 17:13] blgm commented on #580
The `—focus` and `—skip` flags can do this based on test descriptions. See the section “Focused Specs” in the docs for more information.

[2019-05-31 19:49] srinubalsu commented on #580
Hi George,
I am currently using those options for my runs, I wanna check out if any other option available.

[2019-06-05 03:23] jianzhangbjz commented on #144
I'd like to use the `Lable` flag to run specific tests. But, now, I couldn't find the `--labelsMatch` option.
So, how to run the specific tests? Only one way by now: `-focus`? @onsi
[code]

[2019-06-11 21:32] cliu-splunk opened #581 "Allow failFast to run teardown code"
Hi,

Please correct me if I am wrong but I notice that the teardown code (AfterEach or AfterSuite) will not be run with --failFast option specified.

It causes a resource leaking problem for us that the resources tests create will not be cleaned up if any test fails, especially in our CICD. We have to remove the failFast option for now but would like to fail fast because it takes quite long or all

[2019-06-13 03:36] GaneshaThirumurthi commented on #378
+1 Also seeing this issue, slightly surprised that the BeforeEach() isn't run since Ginkgo's table driven tests supposedly break down into It(). I wonder if it executes the breakdown into It() before BeforeEach is even able to run but that would seem strange.

Has anyone found a workaround?

From the documentation:
DescribeTable generates a single Ginkgo Describe, within this Describe each Entry g

[2019-06-13 03:52] onsi commented on #378
So the issue in the example is that `user.Email` and `user.Name` is evaluated when the `Entry` is processed and converted to an `It` which happens when the test tree is being generated _not_ when the test is running.

At that point in time `user` is `nil`.

A kludgy workaround would be something like (forgive the pseudocode, i'm rusty):
[code]

This would pass in a closure that captures the `user`

[2019-06-13 05:16] GaneshaThirumurthi commented on #378
Awesome, thanks @onsi - much appreciated

[2019-06-19 10:09] wingyplus opened #582 "GinkgoT() should implements testing.TB"
I found that I cannot parse `GinkgoT()` as an argument to my test helper code that use both testing and benchmark code because it doesn't have `Helper()` method.

For example:

[code]

The result from `go test`:

[code]

[2019-06-22 07:50] sazary commented on #393
I'm experiencing the same issue. seems like `-p` and `-cover` are incompatible

[code]

[2019-06-25 11:34] anandsinghkunwar commented on #381
This doesn't work.
[code]
But this works,
[code]
@iandelahorne Do you have any idea why this might be?

[2019-06-25 11:35] williammartin commented on #381
Have you tried:

[code]

[2019-06-25 11:37] anandsinghkunwar commented on #381
Yes, I get `can't load package` error

[2019-06-25 12:03] williammartin commented on #381
Right, I think I was a little confused by your "doesn't work" in your first comment.

[code]

[code]

We can see here that the `ginkgo.v` argument is passed to the test binary.

I suspect what you are saying is "I don't get verbose output". When you run `go test` in `package list mode` i.e. `go test <pkg>` OR even `go test .` the test runner turns down the verbosity in comparison to `local directo

[2019-06-25 12:36] manosnoam opened #583 "Option to print output of passed tests in Reporters"
For those who use reporters, such as Teamcity or Junit, for their tests frameworks, it is commonly required to display steps output of passed tests (not only for failed tests, which is the current behavior).

I've implemented an option to use `-ginkgo.reportPassed ` for that purpose,
and the report output, for example in Junit XML, will look as follow:

[code]

[2019-06-26 11:41] anandsinghkunwar commented on #381
@williammartin This works! Thanks a ton, I always thought this was a `ginkgo` bug but never checked the `ps aux` output to verify. I just assumed it was related to ordering and flag parsing and a corner case that wasn't handled. Glad to know it was a user error. :)

[2019-06-26 15:04] wingyplus commented on #534
Or just hide it by default and print it when test got failed.

[2019-06-26 15:08] williammartin commented on #381
Neat, no worries, it's a bit confusing behaviour that you need to pass two verbose flags.

[2019-06-27 09:02] williammartin commented on #534
I think I'm a little confused again by this request (which is definitely my fault for letting it get stale, sorry).

If you are experiencing this as an issue can you drop the command you're running in here. The reason I ask is because I only recall line numbers being printed if:
 - The test fails
 - You have verbose output (`-v`) enabled
 - Your test exceeds the slow threshold

Thanks all.

[2019-06-30 12:55] manosnoam commented on #583
Hi @williammartin,
I've implemented your suggested requirements in https://github.com/onsi/ginkgo/pull/586,
including Tests for:

- internal/specrunner/spec_runner_test.go
- reporters/default_reporter_test.go
- reporters/junit_reporter_test.go
- reporters/teamcity_reporter_test.go

[Travis-CI](https://travis-ci.org/onsi/ginkgo/jobs/552400139) is now passing.

Can you please review ?

[2019-07-10 19:33] hh opened #588 "Executing a specific ginkgo test programatically"
I'm exploring adding Gherkin support for kubernetes to separately define our behaviours/features from our tests.

We currently make heavy use of Ginkgo, and much of our infrastructure is based on it.

I'd like create a set of .features referencing our existing ginkgo tests, while allowing us to make use of `Feature:`, `Scenario:`, and `tagging` via Gherkin. It would help projects like ours that al

[2019-07-10 19:34] hh commented on #588
https://github.com/kubernetes/kubernetes/pull/79914/files#r302236077 is focused on the function that has the existing ginkgo test string. I'm unsure if it's possible to call into the Ginkgo framework to execute the test from here.

[2019-07-15 07:06] amitkrout commented on #440
I am also having the same observation while running my test on four test node

[code]
import (
	"os"
	"testing"

	. "github.com/onsi/ginkgo"
	. "github.com/onsi/gomega"
	"github.com/openshift/odo/tests/helper"
)

func TestIntegration(t *testing.T) {
	RegisterFailHandler(Fail)
	RunSpecs(t, "Integration Suite")
}

var _ = BeforeSuite(func() {
	var clusterURL, userName, password string
	if os.Getenv(

[2019-07-15 16:29] i-kwilk opened #589 "Coverage for external golang app started by gexec.Start"
How to measure a coverage for an app "A" started inside of my ginkgo test application by

cmd := exec.Command("./A")
gexec.Start(cmd, GinkgoWriter, GinkgoWriter)

When I compile my test app within -cover flag it doesn't show the coverage inside of "A" app for tests that definitley uses "A" app. I know that golang might treat "A" as a separate app, but can I somehow compile "A" app within some spec

[2019-07-16 15:02] #583 closed

[2019-08-10 15:33] williammartin commented on #589
I don't believe that this is possible but if you find a way to do this I would be extremely interested!

[2019-08-12 15:07] jaypipes opened #596 "Is there any way to not use the `globalSuite` global variable?"
I was looking to reuse a bunch of Ginkgo "plumbing" and have been stymied by Ginkgo's use of global variables. For instance, functions like `ginkgo.Describe()` rely on a `globalSuite` global variable:

https://github.com/onsi/ginkgo/blob/0ecbc58698389c4a38c1b07e092f686286a73013/ginkgo_dsl.go#L289

And unfortunately that `globalSuite` variable is of an internal type (from ginkgo/internal/suite), wh

[2019-08-13 09:03] birdayz commented on #559
i'm having the same issue; we're using vendoring for all our deps (go modules are used to define the exact dependencies).

[2019-08-13 09:39] VasanthiVM opened #597 "How we can send test data to "ginkgo" test.go file from console or any file formats?"
It("Allow issuer to issue new commercial paper", func() {
			expectcc.ResponseOk(paperChaincode.Invoke(`issue`, &cpaper.IssueCommercialPaper{
				Issuer:       IssuerName,
				PaperNumber:  "0001",
				IssueDate:    time.Now(),
				MaturityDate: time.Now().Add(time.Hour * 24 * 30 * 6),
				FaceValue:    100000,
			}))
		})

[2019-08-14 09:19] manosnoam commented on #320
Hi, I've added this PR #598 - it is passing on [travis-ci](https://travis-ci.org/onsi/ginkgo/builds/571680500).
Please ignore the failed builds on my personal fork, probably I need to reset my fork.
@williammartin can you review please ?

[2019-08-14 12:30] manosnoam opened #599 "Running Travis-ci on forked repo fails - use of internal package not allowed"
I'm trying to figure out why is my forked repo cannot pass travis-ci.
It always fails on "use of internal package not allowed".
For example:
[code]

Then looking at my forked in Travis, that was run right after push:
https://travis-ci.org/manosnoam/ginkgo/jobs/571794959

It always fails with errors, such as "ginkgo_dsl.go:24:2: use of internal package not allowed"

What am I missing here ?

Thanks