[2021-04-07 14:49] onsi commented on #706
Um. Yeah.  If there's a failure and Ginkgo is exiting zero that's a serious bug in either Ginkgo or go/testing - and one I haven't seen before.  I'll take a closer look at output links you shared once I'm at a computer (they're not loading on my phone).

[2021-04-07 15:48] onsi commented on #706
hey @alvaroaleman - sadly it looks like the various artifacts associated with that particular test run are no longer available.  I'll keep an eye out for this.  Based on your description it isn't just that the `ginkgo` process exited with 0 but that the default reporter didn't even emit the failure?  That's certainly very very strange.  I looked at the test in question and it looks fine to me.

I'

[2021-04-07 15:48] #706 closed

[2021-04-07 22:16] ClayShentrup commented on #481
Thanks. This solves the problem but does feel it a bit awkward in how it's less constrained (more room for bike-shedding).

For instance, I can write things out of order like this:

[code]

Or I can use one vs. multiple calls to `GinkgoCleanup()`.

[code]

Whereas an `AroundEach()` like this is more restrictive. And has clear immediately recognizable semantics, rather than a cleanup call (which is

[2021-04-08 01:41] onsi commented on #481
Thanks for the thoughtful reply @ClayShentrup - this horse hasn't left the stable yet, so now's definitely the time to check it's teeth 😉

I agree that `AroundEach()` has stronger, more opinionated, semantics.  But the more I think about `GinkgoCleanup` the more I start to like the ~~bikesheds~~ patterns that emerge.  I'm gonna share a few - please don't feel like you need to respond in detail but

[2021-04-08 04:54] ClayShentrup commented on #481
I guess I can't recall, in the 12 or so years I've been using RSpec, ever needing to do something like this:

[code]

I would just do something like:

[code]

Or for the other pattern, we'd just do:
[code]

Which is fine as long as `AroundEach` can be invoked multiple times.

You could also do this with a single `AroundEach` where you can call run() as many times as needed and pass it into multipl

[2021-04-08 07:37] chenpfeisoo commented on #744
When will V2 be released？

[2021-04-08 08:01] mkj28 commented on #490
seeing same behavior with ginkgo v1.16.1

[2021-04-08 11:09] onsi commented on #744
I'm hoping around June/July

[2021-04-08 11:17] onsi commented on #481
They're certainly not mutually exclusive.  One of the motivating factors behind `GinkgoCleanup` is to support the same pattern that go test uses:

https://golang.org/pkg/testing/#T.Cleanup

as some test libraries out there want a `testing.T` that they can register cleanup functions with and Gingko doesn't yet support this.

So I'm inclined to start there and see where how the dust settles and what

[2021-04-08 14:59] #662 closed

[2021-04-08 18:08] onsi commented on #393
this is now fixed on the v2 branch

[2021-04-12 11:48] onsi commented on #766
this is now fixed on the v2 branch

[2021-04-12 20:54] jpalermo opened #794 "go get -u ignores ginkgo and does not update it"
If we include ginkgo in the project via the `tools` package suggested in the ginkgo readme, a `go get -u ./...` does not update ginkgo.

Some details are here: https://github.com/golang/go/issues/32345

Although that issue seems to imply that the issue was fixed back in 1.13 in 2019 but we're still seeing the same problem using go 1.15.8.

Thoughts?

[2021-04-12 22:00] onsi commented on #794
hey @jpalermo!

I don't know too much about the tools stuff - i think @blgm wrote up that part of the readme so maybe he has a bit more context.

I can poke around next time i'm at a computer.

[2021-04-12 22:08] blgm commented on #794
I can reproduce this: `go get -u ./...` does not update Ginkgo (or anything else), but: `go get -u github.com/onsi/ginkgo/ginkgo` does update Ginkgo.

I think this is principally a Go design decision that I'm not sure I particularly like, but it seems to be working as documented - `go help get` says:
[code]
And it seems that when you "name" `ginkgo` it does update, and when you don't it doesn't.

[2021-04-12 22:25] jpalermo commented on #794
No, I think this is helpful. From the linked issue this also seems to work
[code]
but then later in that issue it also seems to imply the "problem" was fixed, so I wasn't sure if I was missing something.

[2021-04-12 22:25] #794 closed

[2021-04-14 06:50] clyang82 opened #795 "Customize the testcase name for BeforeSuite and AfterSuite"
the requirement is we have different test suite per component. we analysis the results to decide which test case is failed . for example:
[code]
[code]
`BeforeSuite` is failed. but we cannot have proper label indicates which component is failed.
is it possible to customize the name from `BeforeSuite` to `[ComponentA] BeforeSuite`?

[2021-04-14 11:29] onsi commented on #795
hi @clyang82 - I guess I'm a little confused as the test suite name is encoded both in the enclosing `<testsuite>` tag and in the `classname` attribute on the `<testcase>` in question.  Is there a reason you can't extract the test suite  from one of those sources?

[2021-04-15 21:06] avorima opened #796 "Error building ginkgo binary with go 1.16"
Building the ginkgo binary with go 1.16.3 fails with:

[code]

To reproduce:

[code]

Running this in a container (`golang:1.16` or `golang:1.16-alpine`) will result in the same error.

[2021-04-16 18:09] particledecay opened #797 "Coverage support for LCOV?"
It seems like a significant portion (majority?) of test coverage tools these days require LCOV format for coverage reporting. I started down the track of writing my own Reporter until I realized that might not do what I'm thinking (lol). Is there any way to get Ginkgo to output coverage metrics into LCOV format, or a way to override the reporting and perhaps build our own?

I currently use `gcov2l

[2021-04-16 19:05] onsi commented on #796
thanks for the report - i'll take a look soon and let you know once it's fixed.  /cc @HagaiBarel have you seen any issues like this with resolving the slim-sprig dependency?

[2021-04-16 19:11] onsi commented on #797
Ginkgo's using go's coverage support to generate cover profiles.  I could imagine first-class support for other formats so long as they can be converted to from go's coverage format. I've improved how coverage reporting works in V2 and could imagine adding this as an additional flag/option (e.g. `-cover-format=lcov`). after v2 ships.  But given there is tooling that exists already I'm inclined to

[2021-04-16 19:12] onsi commented on #795
Closing this due to inactivity.  Feel free to reopen if you'd like @clyang82

[2021-04-16 19:12] #795 closed

[2021-04-19 06:25] HagaiBarel commented on #796
@onsi haven't seen this before, would like me to take a look?

[2021-04-19 11:47] onsi commented on #796
If you’re up for it and have the time that would be wonderful thanks!  No worries if not.

[2021-04-21 12:25] BooleanCat commented on #603
Thanks for the pokes! I never got around to working on this and I'm unlikely to find time at least in the near future to work on it I'm afraid.

[2021-04-21 12:44] onsi commented on #603
Sounds good - no worries!

[2021-04-22 11:09] blgm commented on #796
I've had a quick look at this. I really like the recreate scenario because it's simple and demonstrates the error message.

I think there's some confusion here between:
- `go get github.com/onsi/ginkgo@v1.16.1` which get Ginkgo library (with `Describe`, `It` etc...)
- `go get github.com/onsi/ginkgo/ginkgo@v1.16.1` which gets the Ginkgo command

`go get` tries to be efficient and get only what's ne

[2021-04-22 12:08] avorima commented on #796
In my example the `go get` is only so the dependency is in the go.mod file and the `import _` is just so `go mod tidy` doesn't remove it. I need to `go build` it though, because I need the binary locally in CI and use `go.mod` for versioning of that binary.

I found a solution: pass `-mod=mod` flag to `go build`.

Seems I should've read the [release notes](https://golang.org/doc/go1.16):

This sho

[2021-04-22 12:13] avorima commented on #796
Still weird that it somehow works for ginkgo v1.14.2

[2021-04-22 13:27] blgm commented on #796
That's certainly curious. My guess is that because Ginkgo v1.14.2 had `go 1.13` in the `go.mod` file, maybe Go has a compatibility behavior that was making it work. But it's just a guess.

[2021-04-22 13:31] blgm commented on #796
I think that if the import reads:
[code]
Then the `-mod=mod` flag should not be needed.

[2021-04-22 15:41] avorima commented on #796
Yes, that's right. I'll close this issue then.
Thanks for taking your time to look into this.

[2021-04-22 15:41] #796 closed

[2021-04-24 08:44] munnik commented on #797
I'm using https://github.com/jandelgado/gcov2lcov now which is fine. It would be nice if I can configure ginkgo to automatically invoke commands after testing so lcov get generated immediately after running the tests. Especially when running `ginkgo watch` this could be helpful.

[2021-04-24 12:14] onsi commented on #797
I am planning on adding LCOV format support in v2.  You can get Ginkgo to invoke commands after every test run already - check out `--afterSuiteHook`.

[2021-04-25 12:32] munnik commented on #797
Thanks! that works great.

[2021-04-25 12:33] munnik commented on #797
Thanks! That works great.

[2021-04-26 10:58] angadn commented on #766
Awesome. Thank you so much @onsi!

[2021-04-26 10:58] #766 closed

[2021-04-26 14:55] joselitofilho commented on #766
Very good @onsi. I will test it and implement a new feature on the plugin to show coverage of the code using the Ginkgo executable.

[2021-04-26 15:18] onsi commented on #766
Thanks y'all.  @joselitofilho in case you're interested the json formatted report is also available on the v2 branch if you run with `--json-report=...`

[2021-04-26 19:12] smikulcik opened #799 "config.DefaultReporterConfig.SlowSpecThreshold doesn't work for parallel"
`config.DefaultReporterConfig.SlowSpecThreshold` allows me to set the SlowSpecThreshold for non-parallel tests but when I enable parallel, it ignores the parameter

dummy/dummy_suite_test.go
[code]

[code]
[code]
[code]

Related Links:
- Stack Overflow question on similar topic: https://stackoverflow.com/questions/58431596/disable-ginkgo-warning-of-slow-test#comment114307075_58432873

[2021-04-27 06:59] kaoet opened #800 "How to run Ginkgo in parallel with bazel?"
Our project is using [Bazel](https://bazel.build) and [rules_go](https://github.com/bazelbuild/rules_go). We want to run tests in parallel to speed up our tests. However, it seems that it needs the `ginkgo` command line to start the test. And we cannot use `go test` only to run them in parallel. The problem is that the [`go_test`](https://github.com/bazelbuild/rules_go/blob/master/go/core.rst#go_t

[2021-04-27 11:50] onsi commented on #800
you're going to need to be able to invoke the ginkgo binary to run in parallel.  there is no support for in-process parallelism and there won't be with the current design.  i don't know what's entailed in writing a custom bagel rule set but that would be the direction to go in IMO.

[2021-04-27 12:42] onsi commented on #799
First - the nuts and bolts explanation of what's happening under the hood.  When running in parallel, spec results generated by the individual ginkgo processes are sent to the ginkgo cli process which then emits the report as those results arrive.  so the reporter configuration that needs to be changed is the one running on the cli - not the one running in the test process.

You'll want to use the

[2021-04-27 17:31] smikulcik commented on #799
Thanks @onsi for the quick reply. Yes that does make sense and I understand why we are where we are. OK I'll close this issue as I see this is simply a quirk of how v1 Ginkgo works. Thanks

[2021-04-27 17:31] #799 closed

[2021-04-29 08:21] kaoet commented on #800
We end up writing a custom wrapper around `go_test`.

[code]

So we can write a `ginkgo_test` rule below `go_test` and pass the `-p` flag.
[code]

[2021-04-29 12:01] onsi commented on #800
that's awesome - thanks for sharing @kaoet in case others come across the same need.

[2021-04-29 17:36] ralf-cestusio opened #801 "Test behavior breaks when testing v2+ gomodules"
When following the guidelines for writing v2+ packages from [Go blog] (https://blog.golang.org/v2-go-modules#TOC_4.)
executing
`
ginkgo ./...
`
in the v1 version starts throwing error messages looking like

`
Failed to compile entities:
main module (go.mycompany.com/services/foo) does not contain package go.mycompany.com/services/foo/v2/
`

commands in the standard go tool chain (including go test

[2021-04-29 18:29] blgm commented on #801
Hi @magicmoose. That's curious.

In order to have something concrete to talk about, I've created this repo: https://github.com/blgm/foo

It has "v1" code at the top level and "v2" in a directory - as per the blog. It seems to work for me. I'm guessing that there's a difference between what we are doing, and understanding that difference will move the issue forward. Does this repo look like what yo

[2021-04-29 18:37] magicmoose commented on #801
you are missing the go.mod file in the v2 directory.
so the step from the blog looking like
[code]

[2021-04-29 19:10] blgm commented on #801
Got it! I can reproduce the issue you describe:
[code]
[code]
But `go test` works by skipping the Go Module within Go Module:
[code]

[2021-04-29 21:16] carldunham opened #802 "Feature request: Acknowledge Deprecation Warnings"
Otherwise, it's going to be a long couple of months... 😅

[2021-04-29 21:49] onsi commented on #802
😅 heh, indeed.  Which deprecation are you hitting in particular?

[2021-04-29 22:22] carldunham commented on #802
So far, just the JUnit generation that we use for CI

[2021-04-29 23:26] onsi commented on #802
Yeah makes sense.  That particular deprecation is not actionable yet.  I'm inclined to do something like:

"If the environment variable `GINKGO_ACK_DEPRECATIONS=1.16` is set then Ginkgo won't emit deprecations.  Subsequent version of 1.x will emit new deprecations though until you bump the version number in the deprecations env var."

The intent there is to make it so folks notice the new deprecat

[2021-04-30 00:20] carldunham commented on #802
That would be awesome.

[2021-04-30 23:09] mbalcomm commented on #711
I  just got this "warning" :
 You are using a custom reporter.  Support for custom reporters will likely be removed in V2.  Most users were using them to generate junit or teamcity reports and this functionality will be merged into the core reporter.  In addition, Ginkgo 2.0 will support emitting a JSON-formatted report that users can then manipulate to generate custom reports.

We have been using

[2021-04-30 23:54] onsi commented on #711
hey @mbalcomm - so glad to hear that that deprecation warning caught your eye.  I've been looking to get some early feedback :)

To confirm - you've read the [Reporting Infrastructure](https://github.com/onsi/ginkgo/blob/v2/docs/MIGRATING_TO_V2.md#improved-reporting-infrastructure) section in `MIGRATING_TO_V2`.

For your use case, assuming you don't need to emit test information in real time, I wo

[2021-05-01 12:53] onsi commented on #801
I started looking through the go source code to figure out how `go test` computes packages for `./...` and.... there's a fair bit of complexity there.

I see two options:
- continue to play whackamole and implement logic to prevent ginkgo from traversing this edge case.
- have ginkgo call `go list` to faithfully reproduce the go toolchain's behavior.  the downside here is the performance hit of in

[2021-05-01 16:11] blgm commented on #801
The advantage of using `go list` is we delegate complexity and maintain *exactly* the same behaviour as `go test`. I wonder how noticeable the effect is of staring another process?

[2021-05-01 16:56] onsi commented on #801
I'm gonna try it out over on the v2 branch.  On my admittedly crappy 2012 macbook pro it takes about a half second to run.

[2021-05-01 16:59] onsi commented on #801
But yes.  Agreed that it's the more sustainable long term solution.

[2021-05-01 17:39] magicmoose commented on #801
I would agree that it is the best long term solution.
The go team has changed their mind about how to deal with modules and module versions multiple times. Using their own tool chain would probably remove the need to touch this again in a few months.

[2021-05-01 17:57] onsi commented on #801
Ok sounds good all around.  I'll work on using `go list` - though i'm only planning on making the change in v2 (which i'm hoping will ship in the next couple months).

[2021-05-01 18:02] magicmoose commented on #801
Sounds good! Its a good driving factor to get ppl to use v2 when it comes out.

The downside of this is that i will have to temporarily move our ci pipelines at work to a custom patched ginkgo version since our pipeline fails since we introduced a v2. I will post my temp fix(when its done)  in case there will be interest in mergeing this to v1.

[2021-05-01 18:03] onsi commented on #801
that would be super super helpful, actually.  thanks!

[2021-05-01 18:04] onsi commented on #801
i'm mostly wanting to spend most of my cycles on v2 - but will happily merge a working patch into v1 (and borrow from it to accelerate the v2 side too!)

[2021-05-01 19:48] magicmoose commented on #801
i have a poc in https://github.com/magicmoose/ginkgo/tree/no_module_cross
but realised that i was using a go 1.16+ feature.
I will have to find some time to rewrite that against 1.15. But feel free to take a look to see if you like the general approach.

[2021-05-03 04:14] mbalcomm commented on #711
@onsi Thanks for your responses!
Yes, I have read the Migration_to_V2. and to answer your question:
1.  The specific information I would like to capture in the report is "By". We use By() inside It for detailed test run information.
2. One reporter we are using is Allure Report(https://docs.qameta.io/allure/) since it does not have Golang plugin, we have to write our own. We like the Allure report

[2021-05-03 12:20] onsi commented on #711
Hey @mbalcomm:

Thanks for your reply.  Some thoughts:

How are you currently capturing the information in `By`.  Currently, `By` simply writes to the GinkgoWriter but I'm thinking of evolving it to better integrate into the new reporting infrastructure which would make it easier to post-process programatically.

At the same time, the main reason that `By` exists is because it's hard for folks to

[2021-05-04 18:50] onsi commented on #802
hey @carldunham - this is now done in v1.16.2.  Give it a whirl.  I went with `ACK_GINKGO_DEPRECATIONS=1.16.2` for the environment variable.

[2021-05-05 14:50] carldunham commented on #802
@onsi that works great. Thank you!

[2021-05-05 14:50] #802 closed

[2021-05-10 03:23] ltx0621 commented on #602
I've encountered this error log while using branch v2:
`flag provided but not defined: -ginkgo.timeout`

steps:
1. git clone and checkout branch v2 ,go build
2. run the cli command , `./ginkgo` , no option.

go version `go version go1.16.3 darwin/amd64`

ps: the case run perfectly with master branch

[2021-05-10 03:29] onsi commented on #602
hey thanks for giving V2 a try.  can you confirm that you recompiled the `ginkgo` binary (eg run `ginkgo version`).  I suspect you're using an older version of the cli.

[2021-05-10 03:30] ltx0621 opened #804 "flag provided but not defined: -ginkgo.timeout while using branch v2(go v1.16.3 darwin/amd64)"
I've encountered this error log while using branch v2:
flag provided but not defined: -ginkgo.timeout

steps:

git clone and checkout branch v2 ,go build
run the cli command , ./ginkgo , no option.
go version go version go1.16.3 darwin/amd64

ps: the case run perfectly with master branch

[2021-05-10 06:59] abaturovskyi opened #805 "Using Gomock with Ginkgo crashes test suite"
I have a simple mock and a consumer that uses this mock in a goroutine. When an unexpected Gomock function call occurrs - Ginkgo panics and outputs no additional information. Based on the output, I can't tell why my test failed.

[code]

Output:
[code]

The problem is that it is not my code produced panic - it is gomock's call to `testingproxy` which calls Ginkgo's `Fail` with panic at the end of

[2021-05-10 11:55] onsi commented on #804
hey thanks for giving V2 a try.  can you confirm that you are in fact invoking an updated version of the `ginkgo` binary (eg run `ginkgo version`).  I suspect you're inadvertently using an older version of the cli.

[2021-05-10 12:00] onsi commented on #805
So it's clear you'll want:

[code]

[2021-05-11 03:18] onsi commented on #804
Ah sorry I had it backwards!

So that error will occur when you use the v2 cli on a codebase that is importing v1 ginkgo.  The cli is running the test with the `ginkgo.timeout` flag which the v2 library can handle but not the v1 library.  Have you bumped the version of ginkgo in the package you are testing?  If you're using go modules you can do that with `go get github.com/onsi/ginkgo@<a-v2-sha>`

[2021-05-12 02:27] jakeczyz commented on #711
Quick Comment:

We are using a custom reporter and not ready to migrate to v2 until v2 is out of beta/stable.  So, in the mean time, whenever we run tests we get those several lines of deprecation warning text eating up screen space (and attention).

It would be super helpful if there was a way to disable the deprecation warnings via flag or env var or otherwise. :)

[2021-05-12 03:08] onsi commented on #711
hey @jakeczyz PTAL at #802 - you can now set an env var to silence deprecations

[2021-05-12 06:52] chenpfeisoo opened #806 "Where can I get ginkgo's design documents"
Where can I get ginkgo's design documents ，uml ？

[2021-05-12 11:45] onsi commented on #806
hey @chenpfeisoo there aren't any - what are you working on or trying to solve.  perhaps i can help?

[2021-05-12 11:57] chenpfeisoo commented on #806
@onsi  Thank you for your warm help
I try to add a description to the ginkgo report, so that I can print the case information completely, including the detailed steps of the case, which is very helpful for other people to read my case. It's a little more elegant than printing step in the code, and it's much more convenient than writing a lot of descriptions in casename. I implemented a simple code

[2021-05-12 12:17] onsi commented on #806
hey @chenpfeisoo - thanks for sharing all that detail.  Ginkgo's underlying design is changing with V2 - and I'm trying to make it easier for folks to customize things like this.  There are a couple of changes in V2, for example, that would enable you to support this fairly cleanly I think:

- [Report Entries](https://github.com/onsi/ginkgo/blob/v2/docs/MIGRATING_TO_V2.md#new-report-entries) now a

[2021-05-12 12:36] chenpfeisoo commented on #806
@onsi Thank you for your reply

V2 see a lot of ability to use, I'm looking forward to it

JUnit adds description as a customized requirement. Our internal report display platform (supports multiple languages) has this field. I realized this ability

[2021-05-12 12:43] onsi commented on #806
is there a specific product/oss tool you are using for that?  or have you built your own?  i'm asking because I'm trying to learn what people are using in real life to see if there is a new report format I should be supporting.

[2021-05-12 12:50] chenpfeisoo commented on #806
This report platform is completely a black box for me. I gave a JUnit report template. I don't know if it is universal
[code]

[2021-05-12 13:39] chenpfeisoo commented on #806
@onsi
I have this problem without parallel, a little confused

redefined: ginkgo.seed

[2021-05-12 14:43] onsi commented on #806
can you share more detail?  V1 Ginkgo defines its flags [here](https://github.com/onsi/ginkgo/blob/master/ginkgo_dsl.go#L53) and that `init()` func should only be called once.  I don't think parallel vs not would have an effect.

[2021-05-13 02:34] chenpfeisoo commented on #806
[code]

[2021-05-13 07:44] chenpfeisoo commented on #806
@onsi Thank you. I found a problem. There is a reference to GitHub code in our basic library code. Ginkgo of my local warehouse will start again and repeat

[2021-05-13 18:45] onsi commented on #806
hey - glad you figured it out!

[2021-05-14 03:10] chenpfeisoo commented on #806
Thank you, issue. I'm closed

[2021-05-14 03:10] #806 closed

[2021-05-17 11:59] criscola opened #807 "Skipped test descriptions are not reported"
When reading the docs:

My command is:

[code]

My output is:

[code]

I can't see in any way the descriptions of the skipped tests. I also tried playing with some CLI flags such as `--noisySkippings=true` with no luck.

[2021-05-17 12:15] onsi commented on #807
hey @criscola -- yeah the behavior of `--noisySkippings` is kinda weird.  It's actually being removed in [v2](#711) because I don't think it's providing a ton of value.

There are two basic ways to skip tests in Ginkgo.  Like you're doing with `--skip` which filters out tests by name.  And by calling `Skip("skipped because of foo")` within a test programatically.  `--noisySkippings` controls wheth

[2021-05-17 16:04] criscola commented on #807
Hi @onsi, thanks for your rapid response. I'm looking forward to work with the `v2` of Ginkgo, especially spec labels which I essentially implemented through string formatting, some "enums" and regex.

I tried with `--v` as well, but what I see is this:

[code]
I would like to see the text associated with each `It` or  `Describe` clauses, so that I could check that my regex actually skipped the te

[2021-05-18 03:18] onsi commented on #807
welp - my bad, sorry.  I was misremembering Ginkgo's behavior.  you're correct there's currently no way to view the set of skipped specs which is an oversight.  I'll make sure this is possible in v2 but I'm not planning on making too many more changes on V1.

[2021-05-18 11:43] chenpfeisoo opened #808 "Ginkgo SynchronizedBeforeSuite Parallel access array"
I define an array in the node1body of Ginkgo SynchronizedBeforeSuite. When I execute cases in parallel, I need to control each case to obtain an array value that does not repeat. I have tried many times, and the result each time does not meet the requirements. Is there a demo for this scenario. Thank you very much
@onsi

[2021-05-18 12:31] onsi commented on #808
hey @chenpfeisoo it would be helpful to have a little more information so I can best help you.  I've rarely seen a case like this and want to make sure I'm understanding the actual problem you are trying to solve so I can help you solve it.  Since Ginkgo spawns multiple processes to run in parallel coordination between the processes can take more work.

Some basic approaches:

## Pre-distribute th

[2021-05-18 12:59] chenpfeisoo commented on #808
@onsi Thank you for your warm reply

First of all, I'm sorry I didn't clearly describe my problem. Here are some of my test code

Before the test, I created a group of cluster resources. Each test case uses two clusters. I want to ensure that the parallel tests are allocated differently each time

I can't accurately control the parallelism here. As a result, the clusters obtained by the three case

[2021-05-18 13:19] chenpfeisoo commented on #808
![image](https://user-images.githubusercontent.com/18147157/118658130-b3342200-b81e-11eb-99a3-aac3ccf325db.png)

[2021-05-18 14:27] onsi commented on #808
OK - so a few options:

## Option 1 - Create a new pair of clusters before every test

This option ensures that you have a fresh pair of clusters for each test.  The clusters will never be accessed by more than one test in parallel.  You typically use an option like this if you need a fresh pair and cannot clean them up between tests.

[code]

The downside here is that the tests will be slow if cl

[2021-05-19 12:24] criscola commented on #807
Got it, thanks.

[2021-05-19 12:24] #807 closed

[2021-05-21 19:33] RomanKornev opened #809 "Invalid package names generated when folder name starts with a number"
1. `mkdir 5`
1. `cd 5`
1. `ginkgo generate`
1. `ginkgo bootstrap`
1. `cat 5_test.go` should not begin with `package 5...` since it's not a valid package name
1. same with `cat 5_suite_test.go`

[2021-05-22 20:55] blgm commented on #809
Agreed. A package name in Go must be a valid identifier, which must begin with a letter.
- what's the impact of this for you? Is it causing a problem, or is this issue more about correctness?
- what do you think Ginkgo should do in this situation?

[2021-05-23 19:06] RomanKornev commented on #809
1. I found a workaround: set the correct package name in a file first, then run the generators. Ginkgo picks up the correct package name from an existing file.
2. Maybe start with an underscore `_`?

[2021-05-24 08:19] chenpfeisoo commented on #808
@onsi Thank you for your advice, issue. I'm closed

[2021-05-24 08:19] #808 closed

[2021-05-24 22:30] FastNav commented on #745
I'm actually wondering if this could be re-opened. It seems like a good way to write invariant conditions into hierarchical tests. Though it probably should be lumped in with the regular `It` function for compatibility reasons among others. For example:

[code]

This is equivalent to
[code]

Having invariants "out of focus" like this is good because it helps isolate the checks that are unique to e

[2021-05-27 07:04] chenpfeisoo opened #810 "Ginkgo supports mixed execution of parallel test and serial test"
Some of my test projects can be executed in parallel, and some need to be executed serially due to the high cost of testing, but I don't want to perform multitasking, so I need a `ginkgo  -r --nodes=x  --suitefilter --suitchioce`. I don't know whether there is a similar scheme or whether Ginkgo 2.0 thinks it is necessary?

[2021-05-27 11:59] onsi commented on #810
hey @chenpfeisoo with V1 the only thing you can do is specify --skipPackage to skip packages.  so a common pattern is:

[code]

I'm aiming to do better with V2 by introducing a capability to provide per-package configuration that can be committed to Git.  With this packages will be able to set (for example) a maximum number of nodes so that some will run in parallel and others will not  and you ca

[2021-05-28 06:46] chenpfeisoo opened #812 "It's not a good choice to connect textname of describe, context and it with space in JUnit"
At present, our use case names are connected by the textname of describe, context and it with spaces, which has no effect on the execution of use cases and the record of case execution,

However, when we try to analyze JUnit reports automatically, find the failed cases and re execute them, because there are spaces in different levels of textname, it will be difficult to deal with when parsing test

[2021-05-29 02:42] onsi commented on #741
Take a look at the new [gomega/gmeasure](https://github.com/onsi/gomega/tree/master/gmeasure) package.

[2021-05-29 02:48] onsi commented on #812
I know I keep repeating myself about V2 - but i do think the JSON-formatted reports in V2 will be much more useful here.  The JUnit format just isn't expressive enough.  I don't want to change the behavior with the JUnit reporter - perhaps you can look at the location information (filename, line number) for now.  I think the JUnit report includes that information?

[2021-05-31 02:32] chenpfeisoo commented on #812
OK, thank you very much. (file name, line number) is useful

[2021-05-31 11:57] yaronya opened #813 "Using ginkgo on testing a custom terraform provider"
I'm building a [custom terraform provider](https://learn.hashicorp.com/tutorials/terraform/provider-use?in=terraform/providers) and I've recently started writing unit tests to it. I use `gomock` to mock my API client and I'd like to use `ginkgo` for ordering my test files, and also for its cool setup/teardown capabilities.

Hashicorp also [provides a testing framework](https://www.terraform.io/doc

[2021-05-31 12:26] onsi commented on #813
hey @yaronya - are you able to tell exactly where the panic is being thrown?  could you point me at the file/line where the relevant `testing.T` fail function is being called?  Is it in Hashicorp's framework or in go mock?  As best I can tell Hashicorp's test framework is generally calling `t.Fatalf`and they're doing it in the same goroutine that the `It` is running in - which is a requirement bot

[2021-05-31 14:46] yaronya commented on #813
@onsi I've dug deeper a little bit and found [this issue](https://github.com/hashicorp/terraform-plugin-sdk/issues/638). Seems like that dude experiences my issue as well and it also seems to comply with the error received from `ginkgo`. Basically `t.Fatalf` calls `t.FailNow` which in turn does `runtime.Goexit` to the goroutine that is run by terraform during tests. You can see the exact error [he

[2021-05-31 21:16] onsi commented on #813
Thanks @yaronya  - looking at the stack trace and at the issue you shared it looks like terraform's test framework sets up a server that handles requests asynchronously on their own goroutines.  As you point out, `t.Fatalf` eventually calls `runtime.Goexit` which will cause those Goroutines to exit causing a deadlock (not sure why - probably something in the bowels of the grpc server code or terra

[2021-06-01 11:02] rmohr commented on #800
@kaoet that's exactly what I needed. :+1:

[2021-06-02 02:24] jmalloc opened #814 "Checksum mismatch for v1.16.3 tag."
Hi there,

I am seeing a checksum mismatch when attempting to install v1.16.3:

[code]

This error is occurring in builds for PRs created by Dependabot ([example](https://github.com/dogmatiq/kyu/pull/22)).

Separate, but related, our corporate Go proxy happened to cache the version with the hash of `nbWI/w6DYT9gXDQi59Mht//PLPPFv/Hc3fHms4eVUK0=`, which does _not_ contain a CHANGELOG.md entry for v1

[2021-06-02 03:40] onsi commented on #814
hey @jmalloc - yeah i accidentally tagged the wrong commit.  i fairly quickly removed the tag and then reattached the tag to the subsequent correct commit - not realizing it would wreak havoc!  any suggestions on what to do on my end?  i could cut a new 1.16.4 tag and mark 1.16.3 as [retracted](https://golang.org/ref/mod#go-mod-file-retract)

[2021-06-02 03:50] jmalloc commented on #814
I'd forgotten all about the `retract` keyword, that sounds perfect!

Added bonus for those of us that use Dependabot, it'll see the new tag and replace the failing PRs with good ones :+1:

[2021-06-02 04:01] onsi commented on #814
ok thanks.  sounds good.  i’m out of town for a bit but will do this in the next couple of days.

[2021-06-02 04:02] jmalloc commented on #814
No worries, thanks for the quick replies :)

[2021-06-02 10:43] bohdantrotsenko commented on #814
Oh, I also came here with this issue as CI (using a cache) started failing on me.

[2021-06-02 12:18] SamYuan1990 commented on #741
Will take a look later.

[2021-06-02 18:27] onsi commented on #814
alright fixed and pushed out 1.16.4 - please let me know if y'all continue to see issues.

[2021-06-02 22:25] blgm commented on #814
1.16.4 is working for me

[2021-06-03 03:54] jmalloc commented on #814
Confirmed on my end, too. Thanks again!

[2021-06-03 03:54] #814 closed

[2021-06-03 06:23] abaturovskyi commented on #805
Sorry for late response, so basically if there is an async code encapsulated in some struct function, and it is using a mock, you can't control that using `defer GinkgoRecover()` as you need to place it into the panicking goroutine?

[2021-06-03 12:15] onsi commented on #805
That's correct: a goroutine cannot capture a panic emitted by another goroutine.  If you can't control the goroutine in question there is this workaround that I mentioned recently on a similar issue:

https://github.com/onsi/ginkgo/issues/813#issuecomment-851685310

[2021-06-03 18:08] abaturovskyi commented on #805
Thanks, I'll have a look.

[2021-06-03 18:08] #805 closed

[2021-06-09 02:01] jakerobb opened #815 "Question: why aren't my spec names showing up in verbose output?"
I have a new app and just added my first Ginkgo test. I've used Ginkgo before, but I wasn't the one who set it up.

The test looks like this:

[code]

And when I run it in verbose mode:

[code]

The output I expected would have been:
[code]

Presumably I've missed some small detail that is preventing the strings I pass to `Describe()`, `Context()`, and `It()` from appearing in the verbose output.

[2021-06-09 02:35] onsi commented on #815
hey @jakerobb

I generally recommend using the `ginkgo` cli over `go test` as you'll get support for a bunch of additional features.  `ginkgo -v` will give you the verbosity you desire.

with that said using `go test` is fully supported (modulo a few missing features that you can only get with the cli) however you need to pass in ginkgo's flags namespaced appropriately.  to get verbosity you need

[2021-06-09 14:27] jakerobb commented on #815
Understood, but when I run with `go test -v` in the other app, I see test names in the output, and I was trying to figure out why.

I ended up making a copy of the older app and paring it down as much as possible to figure out what was different. Turns out it uses Terratest, and every test has at least some log output. Terratest prints the full name (describe + context + it) of each test at the be

[2021-06-09 14:27] #815 closed

[2021-06-21 02:55] zzxwill opened #816 "Vulnerability CVE-2020-29652 reported"
My project depended on github.com/onsi/ginkgo v1.16.2 and it's reported a vulnerability CVE-2020-29652.

ID | SEVERITY | PACKAGE | VERSION | FIXED IN
-- | -- | -- | -- | --
&nbsp; | CVE-2020-29652 | HIGH | golang.org/x/crypto | v0.0.0-20200622213623-75b288015ac9 | v0.0.0-20201216223049-8b5274cf687f

golang: crypto/ssh: crafted authentication request can lead to nil pointer dereferenceA nil pointer

[2021-06-21 14:01] blgm commented on #816
Hi @zzxwill. Ginkgo does have `golang.org/x/crypto` in the `go.sum` file, but not in the `go.mod` file. My interpretation of this is that Ginkgo doesn't directly use `golang.org/x/crypto` but some of the dependencies of Ginkgo may use it - or did in the past. Because of Go bug https://github.com/golang/go/issues/36460, the `go.sum` file for Ginkgo contains a number of historical cyclical dependenc

[2021-06-23 22:29] SamuelCabralCruz opened #817 "Noisy Skippings seems to be broken"
Hi there,

It seems that noisySkippings flag does not work anymore since I get the same result no matter its value:
on:
![image](https://user-images.githubusercontent.com/15621634/123176092-d9b63000-d450-11eb-9468-2fa018564fee.png)
off:
![image](https://user-images.githubusercontent.com/15621634/123176138-e76bb580-d450-11eb-8875-a51f21afe91d.png)

Expected behavior:
with `--noisySkippings=false` I

[2021-06-24 15:04] bobdonat commented on #711
I am experimenting with v2 and I am interested in the test label feature.  It appears that this feature is not there yet.  Is this feature still planned for v2 and when will that feature be available?

[2021-06-24 15:13] onsi commented on #711
Yep - still planned.  Summer schedules have slowed down development a bit so i'm having a harder time reasoning about the timeline but i'm hoping to get to that feature in the next couple 2ish months.

[2021-06-24 15:48] onsi commented on #817
hey @SamuelCabralCruz - I think `--noisySkippings` has always been a bit broken.  In fact I'm removing it in [v2](#711) which should be shipping in the next few months.  In V2 Ginkgo simply honors `--succinct` and `--v` to control verbosity, including verbosity for skipped tests.

[2021-06-24 15:51] SamuelCabralCruz commented on #817
@onsi all right, thanks for the quick feedback and for your great work 💪 can't wait for this V2, it looks really promising 🙏

[2021-06-26 13:17] JiaYongfei opened #818 "ginkgo build command support running in parallel"
Is there a way to do this for now? It's helpful if this feature is supported in the case we have lots of test suites to build.

[2021-06-26 13:33] onsi commented on #818
i'm intending to add it to [v2](#711) but not in v1

[2021-06-27 15:10] onsi commented on #817
thanks for the kind words @SamuelCabralCruz !

[2021-06-27 15:10] #817 closed

[2021-07-01 13:10] chrisdoherty4 commented on #711
We were using custom reporters to send information to TestRail. It looks like the `ReportAfterSuite()` capability will satisfy our needs though - thought I'd give the feedback none-the-less.

[2021-07-02 19:00] onsi commented on #711
thanks @chrisdoherty4 !

[2021-07-05 19:53] TaylorOno commented on #711
After the deprecation custom reports will the any built in reports allow for integration with Goland which seems to only play nice with the go test format?

Reports like https://github.com/SemanticallyNull/golandreporter which provide real time feedback

[2021-07-05 20:04] onsi commented on #711
It would be fairly straightforward to use and/or port the golandreporter you reference.  In V2 ginkgo will support emitting a JSON-formatted report that other tooling can build on top off (whether on the goland/ide side or on the ginkgo side or some sort of shim in-between).

[2021-07-05 21:47] TaylorOno commented on #711
I am just not clear how you would accomplish that without a way to emit go test formatted output in real time. Goland play test function will naively run these commands sending the output to test2json.
[code]

[2021-07-07 12:52] onsi commented on #711
Ah, I see.  For this I would imagine a library that hooks in via `ReportAfterEach`.  A simple `_` import would be enough to add the hook and goland can take it from there.

[2021-07-09 00:46] thomas-bousquet opened #820 "Error when running tests across multiple tests files within the same package"
It seems like when there is more that one test file in the same package, it triggers the error :
`You may only call It from within a Describe, Context or When`

Can be reproduced on this repo https://github.com/thomas-bousquet/play-wih-ginkgo, with `go test ./...`  command.
go version go1.16.5 darwin/amd64

[2021-07-09 01:38] onsi commented on #820
hey @thomas-bousquet - sorry for the cryptic error you are getting (it should be much improved in v2).

i'd suggest a quick skim through the docs [here](https://onsi.github.io/ginkgo/#getting-started-writing-your-first-test)  but the short version is: you don't need (in fact, should **not** have) multiple calls to `RunSpecs` - a single call from a single `TestX` function is all you need per packag

[2021-07-09 02:11] thomas-bousquet commented on #820
Thanks @onsi for the quick response!

[2021-07-09 06:47] vespian opened #821 "Scheduling clarification"
I recently discovered a Data Race in our tests when accessing shared object in `BeforeEach` and `AfterEach`.

I would like to confirm that ginkgo can start executing next test's `BeforeEach` while still waiting in previous test's `Eventually` in `AfterEach` block.

Can this behavior be disabled?

[2021-07-09 11:36] onsi commented on #821
Ginkgo does not start the next test's `BeforeEach` until the current test's `AfterEach` has completed.  Did you launch a goroutine somewhere in the first test that is still alive when the second test is running?

If you can share your code I might be able to help a bit more.

[2021-07-09 12:47] #820 closed

[2021-07-09 15:50] vespian commented on #821
Thanks for a reply.

Yes. The code looks like more or less like this (:
[code]

You can find the stack trace I got below.
[code]

[2021-07-09 18:54] onsi commented on #821
Thanks that's helpful.  In the specific example you shared you're never closing the `done` channel in the goroutine launched in the `AfterEach`.  I assume that's just a typo though as this is just an example and not your actual code?  If it _is_ in your actual code then I think a `defer close(done)` will fix things.

Generally speaking the pattern you are following here should work.  One way you c

[2021-07-12 08:04] vespian commented on #821
Yes! Thanks for spotting it. I missed it when summarizing the code.

I think this is the case here. I have taken a closer look at the build logs and found that all the data races had an accompanying failure.

Thank you for your help and time. I will close the issue now.

[2021-07-12 08:04] #821 closed

[2021-07-13 09:17] avrahams opened #822 "Q: Parallel nodes and dynamically generating tests"
I followed the pattern for [dynamically generating tests](https://onsi.github.io/ginkgo/#patterns-for-dynamically-generating-tests) to dynamically create a spec for each on my custom "testcase" objects
Since my testcases need long preparation time (create db, prepare namespace etc.) , the testcase .prepareForTest() function is called outside the spec  and returns a channel in which the the prepara

[2021-07-13 11:55] onsi commented on #822
Hey @avrahams - you are correct that when running in parallel each process will need to construct the testing tree, and therefore each process will need to execute the `Describe` and `Context` blocks you've shared above.  And that when they do, each process will range over all the `testcases` and then call `testcase.prepareForTest()` for each one.  After that, each process will have a complete lis

[2021-07-13 12:43] avrahams commented on #822
Thanks @onsi
Actually my purpose was to save preparation time for a testcase which can take up to 15 minutes
In my current implementation the testcases will do the preparations  in the background while first test is running
Placing it inside the It will not have this benefit

I was wondering if there is something I can do with SynchronizedBeforeSuite
For instance defining which testcases each node

[2021-07-13 13:07] onsi commented on #822
Ah, I see.  Can you help me understand a bit more about your test suite so we can brainstorm some solutions together?  A few questions:

How many testcases are there?
Is there just one that takes ~15 minutes to set up?
How long do the others typically take? (1 minute each? 5 minutes each?)
How much parallelism can you throw at the problem?  Can you run them all at the same time?  Just a handful at

[2021-07-13 13:18] avrahams commented on #822
There could be dozens of test cases in the system
Each testcase take 15 minutes to prepare
Each test per testcase takes ~40 minutes to complete
Theoretically all the testcases can run in parallels - but because of system resources like number of available DBs  I was planning to run 2-3 nodes

Question:
What if I will add conditional spec creation according to the running node like in the sample be

[2021-07-13 13:57] avrahams commented on #822
So for 10 test cases with 15 minutes preparation and 40 minutes test
With your approach in parallel  with 2 nodes will take  (15 min preparation + 40 mins test)*10/2 = 275 minutes

and with the current implementation
15 min preparation + (40 mins test*10) = 415 minutes

So for me best to condition the current implementation only when running with ParallelTotal == 1 and place it inside the It if it

[2021-07-13 14:41] onsi commented on #822
Yes, that's one option.  I think I understand your context a bit more now.  I confess it's a bit different from any I've seen before.  Normally if running each individual test takes this long and you hit system resource issues when running with a parallelism of 2-3 then you typically _also_ see test preparation hit similar system resource limits and so you need to limit parallelism of both the tes

[2021-07-13 15:22] avrahams commented on #822
This is a good solution
Thanks

I was thinking also on a different option but I am not sure this is possible
Q: is there a way to know from inside BeforeSuite which specs will run on the current node ?
In this case I can run prepareForTest only for the testcases that will related to the specs that will run on this node
This way I can do it in-proc and still use channels instead of serializing resu

[2021-07-13 16:37] onsi commented on #822
Nope there's no way to know ahead of time which process a given test will run on.  That's because the tests are randomized and ginkgo doesn't know beforehand how long each test will take.

Glad to hear we may have arrived at a more optimal solution for your usecase.  One thing I'd suggest looking at and investing effort in would be around resource reuse.  Is there any way for you to reduce the set

[2021-07-13 20:14] avrahams commented on #822
yes, This is our e2e suite with real cluster and other distributed systems so it not so standard as our mock bdd suite

[2021-07-13 22:31] onsi commented on #822
sounds good @avrahams - i'll go ahead and close out this issue.  please feel free to reopen if you hit any snags.

[2021-07-13 22:31] #822 closed

[2021-07-15 11:21] rmohr opened #823 "Running a reporter before AfterEach blocks to collect data"
Would it be possible to extend reporters so that they can be run before the first `AfterEach` is called?

The main purpose of this would be to collect information before the cleanup of the tests are happening in `AfterEach` blocks, since that destroys evidence.

Is there a way to do that already?

[2021-07-15 11:28] onsi commented on #823
There is not a way to do that today via custom reporters.  In fact custom reporters will be going away in [V2](#711) in favor of a [more flexible set of mechanisms for reporting on tests](https://github.com/onsi/ginkgo/blob/v2/docs/MIGRATING_TO_V2.md#improved-reporting-infrastructure).

If you want to extract information about your test just after the `It` runs but before any `AfterEach` nodes run

[2021-07-15 11:31] rmohr commented on #711
We use in kubevirt custom reports to collect the current state of a cluster when a test fails. Just filed https://github.com/onsi/ginkgo/issues/823 when I realized that the reporters are going to be removed. I think `ReportAfterEach` can give us what we have right now. Did you also consider a `ReportBeforeAfterEach`, so that one can collect information without destroying the state which led to a f

[2021-07-15 11:41] onsi commented on #711
Like I said in #823 you can use `JustAfterEach` and have the same effect.  The same report object passed to `ReportAfterEach` is available via `CurrentSpecReport()` which can be called at any point.

[2021-07-15 11:48] rmohr commented on #823
Thanks for the suggestion. What I find nice about reporters is that i can register them globally and keeping the actual tests completely free of any traces of them.  Is there a way to register something like a global `JustAfterEach` without having to wrap the whole description block?

[2021-07-15 11:53] rmohr commented on #823
Never mind. I could have tried it out. I can register it. Thanks. That should be good enough for me.

[2021-07-15 11:53] #823 closed

[2021-07-15 11:54] onsi commented on #823
Yes you can do it at the top-level.  Or even in a library when you import it.

[2021-07-20 09:19] JiaYongfei opened #824 "How to get the failure info in AfterEach"
We want to implement a feature that notifying the user immediately when a test failed. In AfterEach block, we can use CurrentGinkgoTestDescription() to get most of the key info except the test failure. Any suggestions?

[2021-07-20 11:46] onsi commented on #824
hey @JiaYongfei - sadly this is a limitation in Ginkgo v1.  It is resolved in v2 which should be available in the next few months.

[2021-07-20 17:59] TaylorOno commented on #711
one more question about the golandreporter.  Previously `SpecWillRun` was being used, what would be the equivalent? or will we only be able to report on that after the spec has completed via the `ReportAfterEach`?

[2021-07-20 19:37] onsi commented on #711
@TaylorOno yes, `SpecWillRun` is going away - there just weren't that many use-cases for it.  It can be replaced with `BeforeEach` with the only downside being that skipped specs will not run their `BeforeEach` (but will run their `ReportAfterEach`).  I can and may add a `ReportBeforeEach` after 2.0 ships.

[2021-07-21 11:59] JiaYongfei commented on #824
ok. Looking forward to ginkgo v2

[2021-07-21 11:59] #824 closed

[2021-07-22 16:42] TaylorOno commented on #711
a `ReportBeforeEach` would nice since it would allow you to have Goland display a nice spinner for long running tests.  My real dream is having a ginkgo goland plugin.

[2021-07-25 22:45] onsi commented on #711
Will add `ReportBeforeEach` to the backlog.  Agreed that the long-term answer here is a Ginkgo goland plugin!

[2021-07-27 01:08] piratf opened #825 "What is the best practice to benchmark memory allocation with ginkgo?"
Go test benchmarking with memory profiler will print like this:
[code]
This is a very convenient and intuitive way to do it.

For my test, I tried ginkgo in docker because it needs some setup.
I compiled the testing code with "go test -c -race -o xxx" and run with "-test.benchmem" like suggested.
But ginkgo still only prints time.
![image](https://user-images.githubusercontent.com/9389616/12707664

[2021-07-30 03:42] rlpowell opened #826 "Silent failures when running out of memory"
See also https://github.com/golang/go/issues/47467

Normal run:

<pre>
$ docker run -v $(pwd):/go/src --rm -it ginkgo_mem bash -c 'go mod tidy ; ginkgo -v -trace -progress'
Running Suite: Main Suite
=========================
Random Seed: 1627602484
Will run 3 of 3 specs

Book Use a decent amount of RAM Don't Care
  should trivially succeed 1
  /go/src/go_suite_test.go:18
[It] should trivially succ

[2021-07-31 01:16] onsi commented on #826
@rlpowell I'm sorry to hear this turned into a multi-hour debug session for you.  I'll look into why the `signal: killed` message is being swallowed, presumably by the Ginkgo CLI, but as the go issue you link to explains - there's probably not much more to be done to identify that the kill signal is due to the OOM killer.

[2021-07-31 19:13] chavacava opened #827 "Suspicious use of break statement in switch-case"
While developing the new linting rule `useless-switch` for [revive](https://github.com/mgechev/revive) I've used ginkgo codebase for testing the rule and I've found the following suspicious use of `break` statement

https://github.com/onsi/ginkgo/blob/f2509775374631f799f8c5a8ddc5224cad0e5b4b/ginkgo/convert/ginkgo_ast_nodes.go#L52-L59

It seems that the intention is to exit the loop as soon as a fu

[2021-08-01 06:55] rlpowell commented on #826
Yeah, I'm not particularly surprised; thanks for taking a look at it.

[2021-08-16 07:37] JiaYongfei opened #831 "Is there any flow chart or architecture showing how ginkgo works?"
Is there any flow chart or architecture for better understanding of how ginkgo works? specially for the parallel feature and log aggregator part.

I'm asking because I'd like to introduce ginkgo to someone else. It'll be easier to understand ginkgo if we have some chart.

[2021-08-16 18:23] onsi commented on #831
Hey @JiaYongfei - sadly there are no diagrams or flow charts to help teach the various features.  The [documentation here](https://onsi.github.io/ginkgo) covers most of this stuff and this section on [Understanding Ginkgo's Lifecycle](https://onsi.github.io/ginkgo/#understanding-ginkgos-lifecycle) gets into some of the more subtle parts of Ginkgo.  But I admit it's not very well-written and can be

[2021-08-23 06:24] newbie-learner opened #834 "Is there any way in Ginkgo to run a suite in order instead of opting alphabetical order"
Hi
I have test directory where i have multiple suite likes
 ls -lrth test
total 12K
drwxrwxr-x 2 siddharth siddharth 4.0K Aug 19 11:04 tcp_testcase
drwxrwxr-x 2 siddharth siddharth 4.0K Aug 20 17:32 slice
drwxrwxr-x 2 siddharth siddharth 4.0K Aug 20 17:32 servicediscovery

i am exeucting to run a suite in test directory : ginkgo -r test
but it's pick a suite in alphabetical order
Instead of alphab

[2021-08-23 12:54] blgm commented on #834
Ginkgo takes the view that ideally tests are self-contained and do their own setup and teardown, so it should not matter what order they are run in. In fact it can be beneficial to run them in random order.

Having said that, pragmatically sometime we do need to run tests in a particular order. The simplest way to achieve this in your case in probably to use the `-focus` flag. From the help:
[code

[2021-08-27 04:15] dkoshkin opened #835 "Is it possible to Stream output with SynchronizedBeforeSuite and SynchronizedAfterSuite"
Im using `SynchronizedBeforeSuite` and `SynchronizedAfterSuite` in my suite to run some longer setup and teardowns, ~20 mins and `15 mins. There are no `BeforeSuite` or `AfterSuite`.

Running the test with:
[code]

Because of the `-p` flag the tests in `Describe` wait for the test to finish before printing its output which makes sense.

But is it possible to stream the output realtime when `Synchr

[2021-08-27 14:26] LennDG opened #836 "Ginkgo verbose mode not outputting "By" steps"
I have an It() step with several By() functions in it to structure the step clearly in the output, as per the docs: https://onsi.github.io/ginkgo/#documenting-complex-its-by

It states that the By steps are output with the GinkgoWriter when the tests are ran with `ginkgo -v ./...`.

Is there anything additional I need to do in this code?

[code]

[2021-08-27 14:29] #836 closed, assigned to nobody

[2021-08-31 14:21] SamYuan1990 opened #837 "How to use pprof with ginkgo?"
as subject, I already use ginkgo as test framework and I want to use it together with pprof to further investigate/ensure there no performance issue for my code.

any suggestion?

[2021-08-31 14:29] SamYuan1990 commented on #837
[code]

[2021-08-31 14:31] onsi commented on #837
hey @SamYuan1990 there are a few issues with profiling in v1 that are fixed in v2 (which will release in the next couple of months).  For now you can use `go test` though note that you will have to `go test` each individual package (`go test` has a limitation around profiling multiple packages at once).  Good news is that in v2 Ginkgo supports running multi-package profiles and will put all your p

[2021-08-31 14:43] SamYuan1990 commented on #837
em.... @onsi
if I have serval packages as below,
[code]
so far I am able to use
[code]
to test them.
however for performance...
[code]
or
[code]
will `v2` support
[code]
to running all test case with monitoring?

[2021-08-31 14:44] SamYuan1990 commented on #837
thanks for the msg, and keep eye on v2~

[2021-08-31 14:50] onsi commented on #837
yes that `go test` behavior is what i was telling you about - it doesn't support profiling with multiple packages.

if you want you can start playing with v2 now.  Just clone the ginkgo repo, `git checkout v2`, and point your `go.mod` to your local `v2` copy and give the new Ginkgo a try!  Note that you'll need to `go install ./ginkgo` to get the `v2` cli on your path.

[2021-09-02 13:27] Sushant-1999 commented on #684
Thanks

[2021-09-03 07:33] dereknex opened #838 "GinkgoT() missing Setenv on go v1.17"
Go v1.17 add `TB.Setenv()` to `testing.TB` interface, issue: https://github.com/golang/go/issues/41260 .
`GinkgoTInterface` need add implatement.

[2021-09-03 13:37] onsi commented on #838
yep will add soon, thanks.

[2021-09-08 07:34] mat007 commented on #711
Hi, is there a way to update to V2 with a Go modules `go get`?
The [Go documentation](https://go.dev/blog/v2-go-modules) suggest to have V2 in a sub-folder along side V1, but here it’s in a branch.

Sorry if this is a silly question and I’m missing something obvious 😬
I looked at the migration guide but couldn’t find any advice there.

[2021-09-08 11:55] blgm commented on #711
@mat007 it doesn't work with `go get` yet because the V2 branch hasn't had the import path modified here: https://github.com/onsi/ginkgo/blob/f772b55b9575950075d19f196e0b0f41fc893782/go.mod#L1

This is because the V2 branch is still under development. However if you want to try it out, you can:
[code]
This will put the V2 `ginkgo` command in `$GOBIN` or `$GOPATH/bin` which is typically in the `$PA

[2021-09-09 14:51] onsi commented on #827
hey @chavacava  - thanks for calling this out.  `convert` will not be in Ginkgo V2 so I'm going to close this issue out.

[2021-09-09 14:51] #827 closed

[2021-09-09 15:00] #838 closed

[2021-09-09 15:20] onsi commented on #711
Thanks @blgm - at this point I'm ready to call V2 beta.  I've updated the [V2 Migration Guide](https://github.com/onsi/ginkgo/blob/v2/docs/MIGRATING_TO_V2.md#using-the-beta) with instructions on how to download and use the beta as well as a (long!) list of improvements and changes that have landed.  Would love to get feedback!

[2021-09-09 18:54] mat007 commented on #711
This is probably fine for a quick test run (pun intended 😁), but I was myself planning on switching a rather large project over to ginkgo v2 for all my coworkers and our CI.
I think I will probably fork ginkgo, move the v2 branch to a v2 folder, and update our project to point to my fork. Or is there a simpler solution?

[2021-09-09 19:56] onsi commented on #711
Hey @mat007 and @blgm good news (I think!).  Go's module toolchain does support checking out branches however the branch name I'd picked (`v2`) was clashing with go mod's server support.  I've renamed the branch to `ver2`  and this has substantially simplified how you get access to version 2.  Just:

[code]

Doing this will check out a pseudo-version tied to the tip of the `ver2` branch.  Just rer

[2021-09-10 18:49] #812 closed

[2021-09-10 18:50] #800 closed

[2021-09-10 18:51] onsi commented on #813
Closing due to inactivity.  Feel free to reopen if you'd like.

[2021-09-10 18:51] #813 closed

[2021-09-10 18:53] onsi commented on #801
Sorry for the radio silence.  Am still planning to leverage `go list` in V2 but haven't gotten to it yet.

[2021-09-10 18:54] onsi commented on #809
I've added this to the v2 backlog.

[2021-09-10 18:55] #816 closed

[2021-09-10 18:57] onsi commented on #818
This is now available on the ver2 branch.  [Please try out the beta](https://github.com/onsi/ginkgo/issues/809)!

[2021-09-10 18:57] #818 closed

[2021-09-10 19:01] onsi commented on #825
There isn't first-class support for it at this point and I'm removing `Measure` from Ginkgo V2 in favor of [gmeasure](https://github.com/onsi/gomega/tree/master/gmeasure).  I could see adding first-class support for more granular memory allocaiton measurement to `gmeasure` but I don't have plans to do that before Ginkgo V2 ships.  V2 does, however, better support `go test`'s various profiling flag

[2021-09-10 19:02] #831 closed

[2021-09-10 19:02] onsi commented on #834
hey @newbie-learner I'd love to hear what problem you are trying to solve.  Why do your tests need to run in a given order?

[2021-09-10 19:03] onsi commented on #837
The V2 beta was just released.  [Here are some instructions for trying it out.](https://github.com/onsi/ginkgo/issues/809)!

[2021-09-10 19:57] onsi commented on #222
A beta for Ginkgo V2 that fixes this issue was just released.   [Please try out the beta](https://github.com/onsi/ginkgo/issues/809)!

[2021-09-10 19:57] #222 closed

[2021-09-10 19:58] onsi commented on #377
A beta for Ginkgo V2 that fixes this issue was just released.   [Please try out the beta](https://github.com/onsi/ginkgo/issues/809)!

[2021-09-10 19:58] #377 closed

[2021-09-10 20:00] onsi commented on #428
A beta for Ginkgo V2 that addresses this issue was just released - Ginkgo can now produce combined Unit reports as well as keep them separate.   [Please try out the beta](https://github.com/onsi/ginkgo/issues/809)!

[2021-09-10 20:00] #428 closed

[2021-09-10 20:01] onsi commented on #429
A beta for Ginkgo V2 that addresses this was just released.  `GinkgoWriter` now provides a bunch of [convenience methods](https://github.com/onsi/ginkgo/blob/ver2/core_dsl.go#L61-L70).    [Please try out the beta](https://github.com/onsi/ginkgo/issues/809)!

[2021-09-10 20:01] #429 closed

[2021-09-10 20:02] onsi commented on #490
A beta for Ginkgo V2 that fixes this issue was just released.   [Please try out the beta](https://github.com/onsi/ginkgo/issues/809)!

[2021-09-10 20:02] #490 closed

[2021-09-10 20:05] onsi commented on #541
A beta for Ginkgo V2 that fixes this issue was just released.  `CurrentSpecReport()` can now be called from any Ginkgo node and includes up-to-date information about the current running test.  More importantly, there's a new `ReportAfterEach()` that is guaranteed to be called even if the spec is skipped (whether programmatically or via Ginkgo's filtering mechanisms).

[Please try out the beta](htt

[2021-09-10 20:05] #541 closed

[2021-09-10 20:05] onsi commented on #545
A beta for Ginkgo V2 that fixes this issue was just released.  Profiling support is much improved now.   [Please try out the beta](https://github.com/onsi/ginkgo/issues/809)!

[2021-09-10 20:05] #545 closed

[2021-09-10 20:05] onsi commented on #572
A beta for Ginkgo V2 that fixes this issue was just released.  `GinkgoWriter` now provides `TeeTo`.

[Please try out the beta](https://github.com/onsi/ginkgo/issues/809)!

[2021-09-10 20:05] #572 closed

[2021-09-10 20:06] onsi commented on #639
A beta for Ginkgo V2 was just released.   It supports emitting JSON-formatted reports though, as mentioned above, it's Ginkgo's own JSON format which includes a bunch of rich test information.

[Please try out the beta](https://github.com/onsi/ginkgo/issues/809)!

[2021-09-10 20:07] onsi commented on #664
I'm going through old issues and noting that a beta for Ginkgo V2 was just released.  It includes support for test labels which y'all can try out.

[Please try out the beta](https://github.com/onsi/ginkgo/issues/809)!

[2021-09-10 20:08] onsi commented on #676
A beta for Ginkgo V2 just released.   V2 revamps how custom reporting is supported and this use-case should now be unblocked.

[Please try out the beta](https://github.com/onsi/ginkgo/blob/ver2/docs/MIGRATING_TO_V2.md#using-the-beta)!

[2021-09-17 14:54] lanwen opened #842 "fail on focus option"
It would be nice to have same as `--fail-on-pending` option to fail on focus, as on CI we want to notify developers if they forgot to remove that.

There is an option `ginkgo unfocus` but it works only with v1 style `F` prefix and not with v2 `Focus` arg and also doesn't prevent that from being committed.

p.s.
[code]

[2021-09-17 15:04] onsi commented on #842
hey @lanwen good catch on `ginkgo unfocus` not catching `Focus`.  I'll fix that ahead of the RC for v2.

Ginkgo's current behavior is that it emits a non-zero exit code if it detects a programmatically focused test (i.e. `FIt` or `It(...,Focus,...)`).  If you use the Ginkgo CLI it should interpret that non-zero exit code and give you a helpful message.

[2021-09-21 18:27] onsi commented on #526
Not quite what this issue is asking for, but on the [ver2](https://github.com/onsi/ginkgo/blob/ver2/docs/MIGRATING_TO_V2.md#using-the-beta) branch you can now mark tests as `Serial`.  This will be guaranteed to run in series, never in parallel with other test.

[2021-09-28 10:04] mat007 opened #843 "Captured GinkgoWriter Output messes up text with %"
This is Ginkgo V2, I’m doing something like
[code]

and here is the output at the end when a test fails
[code]

[2021-09-28 11:59] onsi commented on #843
Welp - thanks for calling this out.  It looks like `By` is passing your string into `fmt.Sprintf` without escaping it.  Will fix on the ver2 branch soon.

[2021-09-28 16:12] kralicky opened #844 "(v2) Race condition when using By() in a separate goroutine"
Using `By()` inside a separate goroutine causes a race condition.

To reproduce:

[code]
go.mod:
[code]
Output:
[code]

[2021-09-28 17:01] onsi commented on #844
Thanks for reporting this @kralicky - I'll have it fixed and on the ver2 branch asap.

[2021-09-28 18:53] onsi commented on #844
hmm, actually, this is a bit more subtle than it first seemed.  I can add the various synchronization mechanisms necessary to satisfy the race detector but that would be a solution that obscures the actual problem: the race detector is telling you something about the code that's written.  Namely that the `By` is being called outside the lifecycle of the `It` - this is problematic because the `By`

[2021-09-28 18:54] onsi commented on #843
this is now fixed

[2021-09-28 18:54] #843 closed

[2021-09-28 19:04] kralicky commented on #844
Ah that definitely makes sense! I ran into this problem when migrating existing test code from ginkgo v1 to v2, I assumed it was a regression since the race condition did not occur with ginkgo v1. Looks like it is a feature not a bug :)

[2021-09-28 19:14] #844 closed

[2021-09-30 02:18] piratf opened #845 "How to run compiled executable in parallel ?"
You must use the ginkgo cli to support parallel tests.  try `ginkgo -p`

_Originally posted by @onsi in https://github.com/onsi/ginkgo/issues/781#issuecomment-800258412_

[2021-09-30 02:22] piratf commented on #845
I'm using ginkgo to create e2e test binray in docker container.
The test pacakge has been compiled to executable so it cound be reused easily.

But according to the documentation, it can only be run parallel with the Ginkgo CLI.
Is there any way that compiled binaries can execute specs concurrently?

[2021-09-30 02:35] onsi commented on #845
You can `ginkgo -p /path/to/executable`

[2021-09-30 03:18] onsi commented on #835
hey @dkoshkin - this is now live on the ver2 branch.    Docs for using the beta are [here](https://github.com/onsi/ginkgo/blob/ver2/docs/MIGRATING_TO_V2.md#using-the-beta).

[2021-09-30 03:20] onsi commented on #790
hey @noah-friedman - it sure took forever but the V2 beta has this functionality now.  Docs for using the beta are [here](https://github.com/onsi/ginkgo/blob/ver2/docs/MIGRATING_TO_V2.md#using-the-beta) - and details on the new table behavior are [here](https://github.com/onsi/ginkgo/blob/ver2/docs/index.md#generating-entry-descriptions)

[2021-09-30 03:22] #834 closed

[2021-09-30 03:23] onsi commented on #810
hey @chenpfeisoo - you can't specify this on a per-package basis yet... however you _can_ mark individual tests or containers as `Serial` in V2 now.  Docs for using the beta are [here](https://github.com/onsi/ginkgo/blob/ver2/docs/MIGRATING_TO_V2.md#using-the-beta) - give it a try!

[2021-09-30 03:25] onsi commented on #779
V2 now includes a `-repeat` flag that has this behavior.  Docs for using the beta are [here](https://github.com/onsi/ginkgo/blob/ver2/docs/MIGRATING_TO_V2.md#using-the-beta).

[2021-09-30 03:26] onsi commented on #764
V2 is beta and should now solve for this use case.  Docs for using the beta are [here](https://github.com/onsi/ginkgo/blob/ver2/docs/MIGRATING_TO_V2.md#using-the-beta).

[2021-09-30 03:27] onsi commented on #744
The V2 beta includes this change.  Docs for using the beta are [here](https://github.com/onsi/ginkgo/blob/ver2/docs/MIGRATING_TO_V2.md#using-the-beta).

[2021-09-30 03:28] onsi commented on #743
This is now fixed in V2.  Docs for using the beta are [here](https://github.com/onsi/ginkgo/blob/ver2/docs/MIGRATING_TO_V2.md#using-the-beta).

`GinkgoT()` now supports `TempDir()` and `Setenv()`.  More importantly, Ginkgo implements `DeferCleanup` which enables support for helper functions like this that perform some set up that then must be cleaned up at the appropriate time in the test lifecycl

[2021-09-30 03:28] #741 closed

[2021-09-30 03:29] onsi commented on #738
The V2 beta shipped last week and includes support for `BeforeAll` and `AfterAll` in contexts that are marked as `Ordered`.  Docs for using the beta are [here](https://github.com/onsi/ginkgo/blob/ver2/docs/MIGRATING_TO_V2.md#using-the-beta) and the docs for `Ordered` are [here](https://github.com/onsi/ginkgo/blob/ver2/docs/index.md#ordered-containers).

[2021-09-30 03:31] onsi commented on #734
V2 now provides `AbortSuite` which solves for this use case.  It works when running in series or in parallel and will immediately end test execution.  V2 is in beta now and I'd love for folks to use it and send me feedback. Docs for using the beta are [here](https://github.com/onsi/ginkgo/blob/ver2/docs/MIGRATING_TO_V2.md#using-the-beta).

[2021-09-30 03:32] onsi commented on #728
This is now resolved in V2.  Ginkgo now manages its own timeout and triggers a test-wide interrupt that gracefully unwinds any running tests and calls reporters appropriately.  V2 is in beta and I'd love to see folks try it and give me feedback.  Docs for using the beta are [here](https://github.com/onsi/ginkgo/blob/ver2/docs/MIGRATING_TO_V2.md#using-the-beta).

[2021-09-30 03:33] onsi commented on #722
V2 will now emit much clearer errors when blocks are nested in invalid ways like this.  I think this is probably resolved in V2 now.  The beta is out and docs for using it are [here](https://github.com/onsi/ginkgo/blob/ver2/docs/MIGRATING_TO_V2.md#using-the-beta).

[2021-09-30 03:58] piratf commented on #845
Thank you! I tried this feature as follows but it's not work. Can you help me?

[code]

The “main“ program is built by this command
[code]

[2021-09-30 04:26] mat007 commented on #728
I’ve switched our e2e tests to V2 with only minor code rewrite.
It’s working fine, including in the timeout case I was describing above.

Thanks @onsi !

[2021-09-30 11:43] onsi commented on #728
that's great to hear, thanks!

[2021-09-30 11:46] onsi commented on #845
Ah, thanks for the additional context.  Ginkgo needs the executable to end in `.test` - so `go test ./test/integration -c -o ./test/integration/main.test` followed by `ginkgo -p ./test/integration/main.test` should work.

[2021-10-01 16:53] hamadise commented on #70
We do use Ginkgo to develop a framework to test applications of Openshift/Kubernetes and having BeforeAll is really sweet option. Otherwise, we're forced to do that ourselves (not in a clean way)
In Openshift, we do need to setup the whole application with all the sessions to different Pods/Nodes.
Then we do run different suites and differents tests. "It" blocks are fully separated and can run in

[2021-10-06 20:12] onsi commented on #801
I've finally managed to circle back to this as I near the finish line on ginkgo v2...

...and it looks like this  issue is "fixed" in Ginkgo V2.  I've fetched @blgm's aptly named https://github.com/blgm/foo repo and, at least on v2 of Ginkgo, I'm seeing:

[code]

When I run with Ginkgo V1 I see the compilation issue y'all were seeing.  There have been very many changes in V2 and I bet some of the

[2021-10-09 05:05] #825 closed

[2021-10-20 01:04] guodongli-google opened #849 "Report a coding issue that possibly leaks memory due to unclosed resource"
In the following code
https://github.com/onsi/ginkgo/blob/f43583d78dd771a06b6f0eb07b6627b6e7fa467d/internal/suite/suite.go#L110-L113

According to the Go documentation (https://pkg.go.dev/net/http), when `err` is `nil`, `resp` always contains a non-nil `resp.Body`, caller should close `resp.Body` when done reading from it, otherwise the memory held by`resp.Body` will not be released.

A fix is:
[c

[2021-10-20 14:46] onsi commented on #849
thanks for sharing - this is resolved in V2 which will ship soon.

[2021-10-20 14:46] #849 closed

[2021-10-27 07:58] cuongld2 opened #850 "Ginkgo version 2 error with windows OS"
go get github.com/onsi/ginkgo@ver2
show error

..............\output_interceptor_win.go : imported and not used "bytes"
..............\output_interceptor_win.go : imported and not used "io"
..............\output_interceptor_win.go : imported and not used "os"

Checking the code we have
package internal

import (
	"bytes"
	"io"
	"os"
)

func NewOutputInterceptor() OutputInterceptor {
	return NewOSG

[2021-10-27 16:30] nmiculinic opened #851 "[Ginkgo 2] parallel tests are not working properly"
I have some test with ginkgo,

[code]

I am not exactly sure what has playwright managed to do to kill ginkgo. The test just hangs despite synchronizeBeforeSuite completing on both nodes (as seen from finished {1,2} log outputs).  No specs are executed.

[code]

Version:

[code]

[code]

[2021-10-29 10:52] nmiculinic opened #852 "[Ginkgo 2] expose current context's test information"
I have the following code:

[code]

and it's important that the `lifecycle` function is only called within `Ordered` section...otherwise things will not do what I want. I'd love to have:

[code]

function or something similar giving me all information about the current test/context:

* is it focused or not
* All labels
* Is it ordered
* etc.

[2021-10-29 18:21] onsi commented on #852
All this to say I may eventually implement `BeforeAll` support within nested containers - but I want to get 2.0 out first and can then build on the new feature set over time.

[2021-10-30 10:06] nmiculinic commented on #852
My use-case is two-fold:

* One is having a pretty big setup, which I want to do assertions on. Think:

[code]

The second use case is workflow/lifecycle/test scenario. e.g. I have:

[code]

It blocks mutate the state under test, using same local variables.  Supporting nested BeforeAll/Ordered blocks would enable nested helper functions, but yeah...it may not be worth it to block v2 release.

[2021-10-31 12:13] onsi commented on #852
hey @nmiculinic yep those usecases make sense and are why `Ordered` now exists.  I'm gonna keep pressing on with 2.0 and have added nester `BeforeAll/AfterAll`to the backlog.  will update this thread when they land.

[2021-11-01 12:07] mdbooth opened #853 "How to reuse expensive test initialisation?"
I'm working on an e2e test suite which uses Ginkgo, specifically https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/82bc42efb0485efeddd3a3907cfdf553d529c2c8/test/e2e/suites/e2e/e2e_test.go

There are lots of problems here, but to avoid too many rabbit holes I want to concentrate on just one. The simplified structure is something like this (or it would be if we refactored it a b

[2021-11-01 13:44] nmiculinic commented on #851
I'm using `--output-interceptor-mode=none` and this seems to fix the issue. Closing this unless you disagree

[2021-11-01 13:44] #851 closed

[2021-11-01 14:50] onsi commented on #853
hey @mdbooth Ginkgo 2.0 is coming soon and will provide [`Ordered` containers](https://github.com/onsi/ginkgo/blob/ver2/docs/index.md#ordered-containers) that will support `BeforeAll` nodes that are intended to solve for this use case. Within an `Ordered` container `BeforeAll` nodes are guaranteed to run only once and `AfterAll` nodes are guaranteed to only once after the last spec in the containe

[2021-11-01 14:54] onsi commented on #851
@nmiculinic its fine to close the issue and it's ok to use the output interceptor mode approach however i'd recommend the approach i laid out above:

[code]

that will allow you to continue to get the benefits of Ginkgo's output interception.

[2021-11-01 15:35] mdbooth commented on #853
Yes, I think Ordered containers would do the job! It's stricter than we need because we don't need them to be ordered or (strictly) serialised, but the additional semantics wouldn't cause us a problem.

[2021-11-01 20:30] onsi commented on #853
hey glad to hear it.  Please share your thoughts feedback if you do end up giving the RC a try.

While we're talking about it I'd love to ask a few follow-up questions.  I've designed things this way to control the amount of complexity going into 2.0.  Once i ship, though,  I'll be able to layer on more functionality/complexity.

Would it be valuable to you to be able to run specs which shared set

[2021-11-02 10:28] mdbooth commented on #853
In theory, yes. In this specific instance, I don't think we'd use it, or at least we'd probably want to limit which tests ran in parallel to ensure we never exceed resource constraints during a test run.

We actually have 3 levels of shared setup:
* Prior to running Ginkgo, but for every test run, we install a [small OpenStack cloud](https://docs.openstack.org/devstack/latest/) as our test target.

[2021-11-02 18:19] onsi commented on #853
Thanks for sharing the additional context @mdbooth - I'll keep it in mind as I think about the roadmap.  And thanks for the kinds words!

Also - yes, `BeforeSuite` and `BeforeAll` are quite similar.  In fact, if you think about it, enabling a `BeforeAll` that can run, just once, for a set of specs that can run in parallel, would also require a `SynchronizedBeforeAll` similar to `SynchronizedBefore

[2021-11-04 22:55] AzureMarker commented on #572
For anyone like us who aren't planning on using v2 until it's ready, but need to send Ginkgo logs through another logger, here is a workaround:
[code]

Disclaimer: this might stop working after any version bump since this deals with internal types.

`AndRedirectTo` is public, but in the internal `writer.Writer` type. So declaring an interface with the same function lets us cast `GinkgoWriter` and

[2021-11-05 13:54] tsaarni opened #854 "Test runner does not print failure summary if just one test fails"
I'm working on a project with many packages, each with their own test suite.

Summary of the failed suites is not printed by the test runner if only one suite fails.

This applies to Ginkgo v2 branch

[2021-11-05 14:45] onsi commented on #854
thanks for catching this and fixing it @tsaarni !

[2021-11-05 14:45] #854 closed

[2021-11-10 12:34] Juliia13 opened #857 "BeforeAll/AfterAll doesn't execute for each attempt when specify flake-attempts parameter"
Here is the schema of my **Ordered** test
[code]

When I run the tests, I use the `flake-attempts` parameter to rerun the failed test.

The issue that I faced is that `BeforeAll ` is executed only once before the first attempt, and the `AfterAll ` is executed also only once after the last attempt. BUT, there are situations when the issue itself occurs in the BeforeAll function, and all that attemp

[2021-11-10 15:17] onsi commented on #857
hey @Juliia13 - thanks for catching this.  The interplay between spec retires and `Ordered` is unfortunately complex - but I think the behavior you're expecting is the more intuitive one and Ginkgo's current behavior is incorrect.

I'll work on some changes to fix this.  I'll have `BeforeAll` rerun _only_ in the case where the failure occurs in the `BeforeAll`

[2021-11-10 15:55] hhsecond opened #858 "[ginkgo 2] Parallel tests failing on Focal distro"
Hi, we have been migrating to ginkgo 2 from ginkgo 1. We were using Bionic originally but wanted to move to focal. Here is the Dockerfile for the image

[code]

When running the tests using multiple nodes (`--nodes` > 1), I see this issue

[code]

[2021-11-10 15:58] onsi commented on #857
I've pushed some changes out to ver2 - this should be working now.

[2021-11-10 16:06] onsi commented on #858
hey @hhsecond I _think_ there's a version mismatch between the ginkgo CLI and the ginkgo library you've got in your go.mod.  I [recently](https://github.com/onsi/ginkgo/commit/e28ffdd5043ee72ea36766fc237ca53820717cfd) changed the internal contract between Ginkgo's server/client RPC api.  I bet `go install github.com/onsi/ginkgo/ginkgo@ver2` in your docker file is grabbing the tip of the `ver2` bra

[2021-11-10 17:54] hhsecond commented on #858
Oh you are amazing! Thank you. Closing the issue

[2021-11-10 17:54] #858 closed

[2021-11-11 12:43] YuliiaLizanets commented on #857
Hey @onsi
Applied fix, everything works. Thank you!

[2021-11-15 13:52] KevinJCross commented on #711
Hi Im considering trying to add a feature where a file log of the time of each stage is added. Currently we have quite a few issues with slowness in our meduim sized test suites and to get some metrics as to which bits are taking the most time would be greatly advantagous.
I.e.
CompileTimes
BeforeSuite
AfterSuite
BeforeEach's
AfterEach's
JustBefore
and Its
Practically anywhere where time is spent

[2021-11-15 16:35] bobdonat commented on #711
Will the JUnit generated report identify which tests are flaky along with the number of attempts

[2021-11-15 16:45] onsi commented on #711
@bobdonat the JUnit schema (which... is a bit hard to find an official version of, though [this](https://llg.cubic.org/docs/junit/) is a good resource) doesn't have much of a mechanism for specifying per-spec information in a structured way.  I end up munging stuff into the existing fields.  So, currently, the JUnit report does not include # of attempts.

I'd love to encourage folks who are runnin

[2021-11-15 18:20] #857 closed

[2021-11-15 18:24] onsi commented on #852
Well, it proved to be pretty complex because of all the edge cases and interplay with flaky spec retries - but nested `BeforeAll/AfterAll` just landed on the latest ver2.

[2021-11-15 19:59] onsi opened #861 "Profiling Suite Runtimes"
@KevinJCross wrote on #711

Hi, Im considering trying to add a feature where a file log of the time of each stage is aded. Currently we have quite a few issues with slowness in our meduim sized test suites. To try optimise this we would like to get some metrics as to which bits are taking the most time to focus our approach.

I.e.
CompileTimes
BeforeSuite
AfterSuite
BeforeEach's
AfterEach's
JustBe

[2021-11-15 20:09] onsi commented on #861
hey @KevinJCross some thoughts on this.  The use case makes sense to me.  I can imagine a few ways of approaching this once 2.0 is out (I'd like to get 2.0 out first - it's just about ready at this point).

I'm a bit hesitant to introduce an entirely new type of report complete with its own format and would rather build on top of the emerging 2.0 reporting infrastructure.  For example, a new `--me

[2021-11-17 01:09] matt-royal commented on #711
So glad you're doing this Onsi! My team just upgraded for the `Serial` support, which is very useful.

I do have a help and/or feature request. Is it currently possible to add a `Label(...)` at the level of the entire test package? Right now I'm having to add the same annotation to every top-level `Describe` in the package instead. Thanks!

[2021-11-17 01:37] onsi commented on #711
ooh that's a great point.  I can make it so you can add `Label` to `RunSpecs` - will work on it tomorrow :)

[2021-11-17 10:02] nmiculinic commented on #852
Awesome @onsi ! :)

[2021-11-17 11:17] marianopinto commented on #711
Hi @onsi, thanks a lot for the amazing work you are doing for the community. I just upgraded Ginkgo and integrated it in Jenkins. While I run the tests locally everything seems to be going pretty smooth with the Junit reports getting generated. In the CI I am seeing issues, in particular I am seeing this:
[code]

[2021-11-17 13:23] onsi commented on #711
hey @marianopinto do you mind opening a separate issue so we can dig into the details?  can you share how you're running the tests (i.e. what are the flags you're passing in to the `ginkgo` cli?)

[2021-11-17 14:14] KevinJCross commented on #861
@onsi sure I totally agree with getting 2.0 out and this can just be a feature say in say 2.1. I also figure that 2.0 is now just going through a `stabilisation` process so the architecture should be stable enough to start working on something like this for 2.1.

Yeah IU think maybe a visitor or observer-ish pattern or such using the nodes could be quite generic and usefull in the future.

yeah th

[2021-11-17 14:15] KevinJCross commented on #861
@onsi also When would be a decent time to create a fork to start looking into this ?

[2021-11-17 17:11] marianopinto opened #862 "Reports not getting generated"
### Setup
- CI/CD Jenkins
- Aws Lambda to actually run the test (the Ginkgo command to run the tests is baked in the lambda)
- Internal tool built to trigger the lambda

### Execution
The lambda gets built together with the above mentioned tool, the ginkgo executale and the packaged tests of course. Jenkins is where the tests actually run.

### Issue
After migrating to v2 I am seeing the tests run

[2021-11-17 18:02] onsi commented on #862
thanks for the details - can you share which command line flags you're using?  I think the issue is that Ginkgo stores the reports in the package directories before moving them to `output-dir` and the package directories aren't writable in the environment in question. But knowing what flags you're using will help me pin things down a bit more.

[2021-11-17 19:09] onsi commented on #711
hey @matt-royal you can now annotate suites with labels by passing the `Label()` decorator into `RunSpecs()`.  Give it a try and let me know if it suits y'all's need!

[2021-11-17 19:18] onsi commented on #861
hey @KevinJCross - ok sounds like the api design makes sense to you.  I'm close to pushing out a commit to the `ver2` branch that formally bumps the major version - which means all the imports across all the files in Ginkgo are going to change from `github.com/onsi/ginkgo` to `github.com/onsi/ginkgo/v2` so I definitely wouldn't fork until then.

As for internals/reporting etc. I can talk through w

[2021-11-17 22:12] marianopinto commented on #862
Hi @onsi, this is the command I use to run the tests:
```ginkgo --junit-report=out.xml -no-color --nodes=40 --timeout=15m -slow-spec-threshold='60s' --succinct --trace --progress --flake-attempts=2 -output-dir=/tmp/reports```

[2021-11-17 22:15] onsi commented on #862
ok thanks.  right now the reporting infrastructure puts intermediate assets in the package directories and then moves them to the output-die afterwards.  i'm changing it so that if output-dir is specified all assets go there directly.  there are a few edge cases to handle but i'm hoping to have the fix out by tomorrow.

[2021-11-17 22:18] marianopinto commented on #862
Thanks a lot for your hard work @onsi.

[2021-11-17 22:50] KevinJCross commented on #861
@onsi ok hmm had a little bash at it this evening to see how things fitted together.
https://github.com/KevinJCross/ginkgo/tree/runtime_reports
Its probably a lil all over the place.... but its more to find out how things work in ginkgo.

[2021-11-18 09:30] KevinJCross commented on #861
@onsi it seems my poc is a bit like a middleware/decorator/pointCut rather than a Instrument.
I think this would a more flexible way of doing this where the node is available to you before the call and after and you can even not call the node ... i.e. maybe some filtering or skipping 🤷

[2021-11-18 16:38] onsi commented on #861
hey @KevinJCross thanks for exploring options here.  I've thought about it a bit more and I find my opinion shifting.  Rather than build out a new instrumentation abstraction (and deal with the various edge cases it opens up) I want to go back to the original problem statement.  "How do I profile the runtime for my Ginkgo suites?" and I think the `pprof` toolchain provides a lot of goodness that w

[2021-11-18 18:10] onsi commented on #862
hey @marianopinto please give the latest code on `ver2` a try.  This should be fixed now.

[2021-11-18 19:29] onsi commented on #711
Heads up that 2.0.0-rc2 is out now.  I've formally bumped the major version in go.mod so you'll need to change your import path to `github.com/onsi/ginkgo/v2`.

I've also tagged the release which should make it a bit easier to pin to the rc.  I'll be tagging subsequent RCs if there are any.

Updated instructions for fetching and using the RC are [here](https://github.com/onsi/ginkgo/blob/ver2/docs

[2021-11-19 21:12] marianopinto commented on #862
Hi @onsi, thanks for the quick turnaround on this. I gave it a go and it seemed to be working. Unfortunately I was not able to test it in the CI yet as I noticed that the major version number of Ginkgo has been bumped to v2 and I want to update that as well. Hopefully I'll be providing you feeedback on this very soon.

[2021-11-19 21:13] onsi commented on #862
Perfect, thanks!

[2021-11-19 21:47] marianopinto commented on #862
Hi again @onsi, quick one regarding the new version. I was told that a few people are having issues while running `go get github.com/onsi/ginkgo/v2@2.0.0-rc2` getting this `go get: github.com/onsi/ginkgo/v2@2.0.0-rc2: invalid version: unknown revision 2.0.0-rc2` back. Are you aware of what could be causing this? Thanks

[2021-11-21 23:03] SamuelCabralCruz opened #863 "Feature Request: --onlyChanged flag"
I was wondering if there was any way to reproduce the --onlyChanged flag when using jest with ginkgo.

This would be really helpful whenever we want to create a pre-commit hook while restraining number of tests to be run before the commit.

I saw that there was a watch cli which must already do all the logic of detecting changes using suites dependencies, so I guess it should not be that hard to i

[2021-11-22 09:00] KevinJCross commented on #861
ok hmmm ive not played with the pprof stuff much but wont just turning it on catch all the the test suite running as well as the code its testing at the same time. I think I stated originally that we could leverage the pprof flags but write some scripts around it to mine the information correctly.
There is a significant drawback around using the current pprof format is that its sampled and quick n

[2021-11-22 15:17] marianopinto commented on #862
Hi @onsi, I can finally confirm that the fix is working as expected. Running smooth in Jenkins and reports getting generated correctly. Thanks

[2021-11-22 15:17] #862 closed

[2021-11-29 16:29] onsi commented on #861
hey sorry for the delay.  I was offline for 🦃 -day.

Yes I'm suggesting Ginkgo creates its own proof file using its own instrumentation rather than sampling.  `pprof` is "just" a hierarchical protobuf format that associates stacks with measurements (i.e. numbers).  The measurement for Ginkgo would be runtime and he stacks would be the spec tree hierarchy.

[2021-11-29 16:33] onsi commented on #863
hey @SamuelCabralCruz - I'm going to avoid adding any more scope to v2 at this point since it's so close to release.  this would not be crazy hard to implement, no, but I'm not super confident in the value... I tend to run all the tests in my pre-commit ritual; and my slow test suites tend to be integration tests which will basically always need to rerun because you typically can't really guarante

[2021-11-29 16:38] SamuelCabralCruz commented on #863
@onsi I totally agree with you and this is also what I ended up doing while I was waiting for your feedback.
Also, go tests are much faster to execute than node ones so it is not to big of a problem.

We can close this issue then!

[2021-11-29 16:38] #863 closed

[2021-11-29 16:39] onsi commented on #863
great thanks!

[2021-11-29 19:00] markxnelson opened #865 "Pass-through broken by Ginkgo V2 (rc2)"
Hi, I have a test that uses the pass-through feature as documented here https://onsi.github.io/ginkgo/#the-ginkgo-cli

[code]

With Ginkgo V1 this works as expected.  Here is a simple test to reproduce the issue:

[code]
and
[code]

When I run this I get the output I expect, for example:

[code]

Notice that it does pick up the value of skipDeploy that I passed in and printed it out correctly.

No

[2021-11-29 19:03] #865 closed

[2021-11-29 19:04] markxnelson commented on #865
ok sorry, i found my mistake, i was running it with rc1, not rc2.  when i corrected that, it worked fine.

[2021-11-30 16:20] KevinJCross commented on #861
ok hmmm sounds interesting... Ill have a look into this too.
Sounds better than putting it in the report tbh.

[2021-12-02 12:44] josesa commented on #280
@onsi Was this considered for `v2` ? I can't seem to find any reference to that in the migration documentation.

[2021-12-02 14:32] onsi commented on #280
This is not going to land in V2.  It may come in a subsequent release.

[2021-12-05 08:49] tixxdz opened #866 "github:topics: add repo topics to easily find ginko on github [trivial]"
Hi maintainers,

You should tag the repo with topics, I was looking for **testing** packages for Golang , but did not see ginkgo, I did read about it in the past that's why I'm here, otherwise I would have missed it...

https://github.com/topics/testing?l=go

Maybe it was suggested in the past ?

Thanks!

[2021-12-05 21:05] onsi commented on #866
oh hey thanks!  I had no idea this was a thing on Github.  fixed now!

[2021-12-05 21:05] #866 closed

[2021-12-08 12:36] LittleFox94 commented on #711
Hi,
I'm having an issue with an `Ordered` `Context` and not sure if this is intended or worthy for it's own ticket:

My test (which is an e2e/integration test) has roughly this structure:
[code]

The problem is the problematic `AfterEach` being run after every `It` in the `Ordered` `Context`, I expected it to run once for the `Ordered` container. The semantic for `AfterEach` is to run for every `I

[2021-12-13 12:49] Rory-Z opened #867 "Pod is not created by deployment in test case"
Hi guys
I just started using this project to perform test tasks and it's great, but I've run into some problems
I wrote the test script, like the following
[code]

Then I got this printout
[code]
I can see that the pod is not created and the deployment status is not updated, which makes me wonder, am I missing something?

[2021-12-13 12:50] Rory-Z commented on #867
When I create the Pod directly using `corev1.Pod`, it works

[2021-12-13 12:51] Rory-Z commented on #867
Some information
[code]

[2021-12-13 13:24] onsi commented on #867
hey @Rory-Z - I'm not much of a k8s expert and don't have al to of experience with the k8s client.  as best I can tell your test looks good.  Are you sure `k8sClient.Get` returns an error if the deployment can't be found (vs simply returning a `nil` deployment`?  You could try

[code]

to wait until the deployment is not `nil` if that's the case.

[2021-12-13 14:52] onsi commented on #867
ah sorry - I misread your original post, my bad.  the `Deployment` and `PodList` are not `nil`.  Now that I've had some coffee I can probably be more helpful ;)

k8s is eventually consistent.  So my `k8sclient.Create()` returns immediately and things like `Get(Deployment)` and `List(PodList)` will  return values immediately though the values will be unpopulated until the underlying resources actua

[2021-12-14 08:21] #867 closed

[2021-12-14 21:57] LittleFox94 commented on #711
first: sorry for not having answered to your first reply, that task was pushed aside for now and the notification email still in inbox to process at some point ^^'

In my case `BeforeEach` and `AfterEach` each running once for the `Ordered` container would work great and I think they should always work as pair with same behavior. I'm not sure though if changing the semantics of `Before/AfterEach`

[2021-12-14 22:02] onsi commented on #711
Thanks.  I don't think it's a super huge change since `Ordered` containers are a new construct and really behave like large Its composed of more granular subunits.

[2021-12-14 22:03] LittleFox94 commented on #711
Hm yes, that makes sense

[2021-12-16 16:30] kgadams commented on #711
Hello, I am looking for a way to integrate some reporting about the progress of Ginkgo into our own log file.
Right now we get ginkgo messages on stdout (including the configurable error reporting) and logging from our own coding in a dedicated logfile.
Now I would like to add logfile entries about all the actions that ginkgo takes, so that I can match this more easily.
I had started to implement

[2021-12-16 23:13] onsi commented on #711
hey @kgadams - the topic of V2's reporting infrastructure is covered in the migration guide [here](https://github.com/onsi/ginkgo/blob/ver2/docs/MIGRATING_TO_V2.md#improved-reporting-infrastructure).

In brief: you can probably accomplish what you want using [`ReportBeforeEach` and `ReportAfterEach`](https://github.com/onsi/ginkgo/blob/ver2/docs/MIGRATING_TO_V2.md#capturing-report-information-abou

[2021-12-17 08:16] kgadams commented on #711
Ok, thank you, that looks good to me.

Thanks again 👍

[2021-12-17 16:53] onsi commented on #711
hey @LittleFox94 I changed tack and ended up leaving the default seating of `*Each` untouched.  You can, however, now decorate `BeforeEach` and `AfterEach` with the new `OncePerOrdered` decorator.  Please bump to the latest and give it a try!

[2021-12-17 16:56] onsi commented on #711
Hey all - we're super close to the GA here.  I just pushed out one last release candidate.  rc3 is now out and includes the new [`OncePerOrdered` decorator](https://github.com/onsi/ginkgo/blob/ver2/docs/index.md#setup-around-ordered-containers-the-onceperordered-decorator).  If you've been using the 2.0 RCs **THANK YOU**!  The feedback has been invaluable!  Please give this latest release candidat

[2021-12-17 18:06] anshuljayn opened #868 "Request: Allow flexibility to avoid having codeLocation and time in AddReportEntry"
As of now when report entry are added it it puts location and time stamp. There should be option to ignore writing these -

code location can be ignored by passing types.CodeLocation{}, but with time it is not possible as nil time is not possiible

		AddReportEntry("foo", "bar",ReportEntryVisibilityNever, types.CodeLocation{})
		AddReportEntry("foo", "baz",ReportEntryVisibilityNever, types.CodeLoc

[2021-12-17 20:29] onsi commented on #868
hey @anshuljayn thanks for using the 2.0 beta/rc!  As it's a new feature, I'd love to learn more in general about how you're using report entries.

I can add these additional configuration options to give you more control at the per-ReportEntry level but I'd like to learn more about your use case to see if there are alternative solutions.  For example, I  wonder if it would work for you if Ginkgo

[2021-12-17 23:00] anshuljayn commented on #868
Hi @onsi, I am using junit reports and using AddReportEntry to persist some of the transaction data (e.g. - id, uuid etc) to junit reports which can be checked in future retrospectively or can be used to generate the html reports. I'll save this irrespective if failure or success as end system can't be automated and we need to manually validate the transaction. So rather looking for logs and get t

[2021-12-18 02:28] onsi commented on #868
hey @anshuljayn thanks for sharing how you're using the new feature.

When you say you want the flexibility to avoid including CodeLocation and Time do you mean in the JUnit file?  Or in the stdout output of the test run itself?  If you mean in the stdout output then I'd love to hear your thoughts on what I'm proposing above (namely: location and time are only visible during failures or when runni

[2021-12-19 22:27] anshuljayn commented on #868
Just to control the output in the jUnit report, I am using Jenkins junit plugin which generate reports as follow -

Standard Output
Report Entries:
baz
/Users/user1/GitHub/tempe2etemp/temp.go:35
2021-12-19T21:27:37.761123207Z
bux
--
foo
/Users/user1/GitHub/tempe2etemp/temp.go:36
2021-12-19T21:27:37.761123207Z
bar

Where as I would prefer it to be able to have it as below for better readability and

[2021-12-20 09:05] LittleFox94 commented on #711
looks good for me, I like this solution :)

[2021-12-21 16:13] TheDiveO opened #869 "support -exec in run"
`go test -exec sudo ./...` allows running the tests binary(s) via another binary such as `sudo`, instead of running them directly. This allows running tests which require root privileges without the need to compile the test binaries as root. Would it be possible to support `-exec` as `go test -exec foo` does?

[2021-12-22 17:08] TheDiveO commented on #810
`Serial` is really useful! I'm now upgrading to v2 beta, as I have some container-workload related tests that should not be run in parallel because of high latencies due to container image unpacking and preparations. In the past I've thus never used `--nodes`, now it is sweet and safe to use.

[2021-12-27 15:58] woodgear opened #870 "could not install ginkgo via go install"
report error like 'package github.com/onsi/ginkgo is not a main package'
go version go1.16.10 linux/amd64
I seem should use `go get -u xx` but I don't want to change my go.mod just wants to install the ginkgo CLI tools.

[2021-12-27 17:07] onsi commented on #870
to get to the cli you need `github.com/onsi/ginkgo/ginkgo`

[2021-12-28 02:04] #870 closed

[2021-12-29 21:08] onsi commented on #810
sweet @TheDiveO - glad you're able to put this to use :)

[2021-12-29 21:13] onsi commented on #868
hey sorry for the delay on my end.

thanks for the additional detail.  imo the junit and json report formats should have as much information as possible and formatting/visibility should be controlled downstream by whatever agent is constructing the view of the report.  I'm not super-inclined to add complexity in the form of configurability for the machine-readable formats.

[2021-12-29 21:17] onsi commented on #869
hey @TheDiveO sorry for the delay.

yes I imagine `ginkgo -exec` would be relatively straightforward to implement.  I can add this to the 2.1 docket and hope to ship 2.0 asap.

[2021-12-30 19:33] #427 closed

[2021-12-30 19:33] #529 closed

[2021-12-30 19:33] #495 closed

[2021-12-30 19:33] #809 closed

[2021-12-30 19:46] onsi commented on #711
🎉🎉 🎉

After many months - and just before we all ring in the new year -  I'm super happy to share that Ginkgo 2.0 is now officially GA.  The v2.0.0 code is now tagged and on master.  Huge thanks to the many users who gave the betas and RCs a try and provided so much valuable feedback to make this release what it is today.

🎉🎉 🎉

[2021-12-30 19:46] #711 closed

[2022-01-04 15:27] blgm opened #871 "Ginkgo 2.0 hangs after running all tests"
I've just tried out Ginkgo 2.0. It's worked perfectly [on one project](https://github.com/cloudfoundry/jsonry/commit/c10c9f2c7ec2c3c9dbea641fee13298cac9e0818), but on a second project, Gingko appeared to hang at the end of the test run. Running with `--progress` didn't reveal anything, so I captured the goroutine state.

You can [try out the code](https://github.com/cloudfoundry-incubator/cloud-se

[2022-01-04 19:04] blgm commented on #871
Thanks for your response @onsi.

There don't seem to be any child processes:
[code]

Adding `--output-interceptor-mode=none` made Ginkgo complete as expected.

I decided to dig into exactly which test was causing the issue, and I found that focusing on [this one](https://github.com/cloudfoundry-incubator/cloud-service-broker/blob/ec73d0faceb755126ea606fe9dd9b8ab00fd5912/integrationtest/database_en

[2022-01-04 19:50] onsi commented on #871
I'm also not seeing the actual test binaries running in your `pstree`... strange.

I'm glad it's resolved - and I think the bits I can add to catch when this happens and notify the user will help others get to resolution faster as well.... but these hanging processes because of subtleties in how stdout/stderr are piped in linux sure are annoying :/

[2022-01-05 07:19] Thor-wl commented on #806
I met the same error at CI recently:
/home/runner/work/volcano/volcano/test/e2e/schedulingbase/schedulingbase.test flag redefined: ginkgo.seed
panic: /home/runner/work/volcano/volcano/test/e2e/schedulingbase/schedulingbase.test flag redefined: ginkgo.seed
My golang version is 1.16.

[2022-01-05 10:07] blgm commented on #871
I tried this again and was able to find the unterminated program using `ps`:
[code]
As you can see the PPID is `1`. So what I think is going on is that the test program spawned `cloud-service-broker` (the test subject) and then the test program exited (I can't find it in the `ps` listing), so `cloud-service-broker` was adopted by `init` (or `launchd` on a Mac), but STDOUT and STDERR were still con

[2022-01-05 10:07] #871 closed

[2022-01-05 19:59] austince opened #873 "Detecting if a suite has failed in `AfterSuite` blocks"
Hi there, I'm currently trying to check if any of the specs in a suite have failed during test cleanup. If so, I'd like to collect some debug information and write it to a file before cleaning up the created resources.

In ginkgo 1, a custom reporter works ok for this, but I know they have been removed in ginkgo 2. I've considered the new `ReportAfterEach`, but these run after the cleanup code and

[2022-01-05 20:38] onsi commented on #873
hey @austince - I think it would help to have a bit more detail about the use case and lifecycle for your specs but some quick thoughts ahead of that.

If the intent is to save off debug information after each failed spec then I'd put that code in an `AfterEach` and use [`CurrentSpecReport()`](https://onsi.github.io/ginkgo/#getting-a-report-for-the-current-spec) to figure out if the spec failed or

[2022-01-06 10:12] runkecheng opened #874 "[question] Skip does not work when import test case as `_`."
hello, I want to skip the case which in `pkg1`, I tried `ginkgo -skip="case1 "` and `ginkgo -skipPackage="pkg1"`, but both of them do not work.
[code]

How should I do this?

[2022-01-06 18:44] KevinJCross opened #875 "Crash when trying to upgrade to v2"
Hi guys,
Im currently trying to upgrade to v2 on our cloudfoundry app-autoscaler project and have hit a **significant** blocker.

The issue will probably in more complex projects with loads of dependencies that use ginkgo from multiple versions i.e. a transient dependency (because go does not have a test dependency tree)

I believe there are at least 4 dependencies transitily including the v1 gink

[2022-01-06 19:05] onsi commented on #875
hey @KevinJCross - presumably updating all the dependencies to v2 will resolve this but I imagine there's complexity around that.  I looked at `autoscaler-release/src/autoscaler/api/brokerserver` to try to understand what's going on - my guess is the issue is that your updated version imports `github.com/onsi/ginkgo/v2` whereas the `ifrit/ginkgomon` dependency imports `github.com/onsi/ginkgo`

I _

[2022-01-06 19:09] onsi commented on #874
hey @runkecheng `ginkgo -skip="case1"` should indeed work.  `-skipPackage` will not work as it only refers to the package that is being compiled - not any imported dependencies.

I do recommend upgrading to Ginkgo v2 soon - it includes features like [labels](https://onsi.github.io/ginkgo/#spec-labels) which will give you finer control over which specs to run/skip.

[2022-01-06 19:12] onsi commented on #874
can you share some output from `ginkgo -v -skip="case1 "` - that really should be working...

[2022-01-06 19:26] onsi commented on #875
FWIW I'd be happy to try to help update a few dependencies - if you can point me at them I can spend some time submitting PRs

[2022-01-06 21:34] austince commented on #873
hey @onsi, thanks for the quick and thoughtful response.

For context, I'm spinning up k8s clusters in a `BeforeSuite` and tearing them down in an `AfterSuite`, since they are a bit expensive. Before shutting them down, I'd like to report things like current pod logs, events, etc.

Taking a look at the `ReportEntry` framework in v2, I can easily see how this could be implemented as you describe, t

[2022-01-06 21:34] #873 closed

[2022-01-06 21:47] onsi commented on #873
hey @austince - glad it was helpful.  please ping me if you run into any issues.  I'll just call out the specific thing to be aware of since it's a bit buried in the docs [here](https://pkg.go.dev/github.com/onsi/ginkgo/v2@v2.0.0/types#ReportEntry.GetRawValue) - you'll want to grab `entry.Value.AsJSON` and run _that_ through the json decoder to reconstitute your original object.

[2022-01-07 09:15] KevinJCross commented on #875
I dont think thats going to be feasible for a very very long time. Since some for the dependencies now do not have a maintainer.
This is a problem a lot of people are going to face where some old dependencies have this incluided and are just plain not giong to work.
I think the easiest way is to work around this in v2 to allow an upgrade path otherwise its going to take ages to upgrade.

[2022-01-07 09:21] KevinJCross commented on #875
There are at least 5 in our deps using v1 in the project and who knows how many thay have too.

[2022-01-07 09:43] TheDiveO opened #876 "Ginkgo's DSL `Labels` type pollutes user modules when dot-importing github.com/onsi/ginkgo/v2"
What have I been warned of dot imports ... but here we Go 😀: `Labels` seems to be a type that is loved and declared in so many places (I'm afraid that my phrasing still won't be sufficient for a Purlitzer, though). Think of HTTP, containers, ...

With Ginkgo v2 the newly added `Labels` types now will conflict with existing `Labels` types in the user's modules, because of the highly generic type na

[2022-01-07 09:59] runkecheng commented on #874
I upgrade to the V2 version, but I still can't use the CLI to specify filtering criteria, the log shows that the incoming `LabelFilter` is a null value.
[code]

Fit () can work correctly, just CLI can't work.

[2022-01-07 12:46] onsi commented on #875
Can you list out and share the five?

i dare say that "this is the work" and it will be better to deal with it sooner rather than later.

[2022-01-07 12:49] onsi commented on #874
any chance your repos are open source and i can take a look?

[2022-01-07 12:57] onsi commented on #876
Ouch.  The dangers of dot-imports indeed.  Strictly speaking I'd have to release a 3.0 with this change but I can perhaps get away with a 2.0.1 since it's very early days.

Is the issue that you are dot-importing the code under test?  And so don't want to change the actual production code (totally fair)?  Or is the issue that you have a type named `Labels` in your test suites (arguably could be ch

[2022-01-07 13:20] runkecheng commented on #874
[here](https://github.com/runkecheng/radondb-mysql-kubernetes/tree/ginkgo_v2/test/e2e), Thank you.

[2022-01-07 14:56] TheDiveO commented on #876
Ah, good question for clarification: it's not dot-importing the code under test, but dot-importing Ginkgo v2 into the white-box test code. The reason for white box testing is that the testing code needs access to the non-exported functions and methods.

I've not yet committed this upgraded code, but the problem arises in this Go package [https://github.com/TheDiveO/lxkns/tree/master/model](https:/

[2022-01-07 15:04] TheDiveO commented on #876
Maybe I should file a feature request against Go modules for handling `.0` release always differently and with greatest care anyway...

Even if it may look slightly counter-intuitive at first sight: what about a `spec` package (instead of `decorator`)? ...as the [type `Labels` comment](https://github.com/onsi/ginkgo/blob/6f8577e204f044110ba6e8bd106917993bcf12e2/decorator_dsl.go#L79) in `decorator_

[2022-01-07 15:35] TheDiveO commented on #876
For the moment, I can work around by importing ginkgo as `g "github.com/onsi/ginkgo/v2"` and then using `g.Describe()`, `g.It()`, et cetera. Not nice, but workable. But `spec.Labels` would be keeping the existing v1 dot-imports and yet make things clear when it comes to `Labels` (and maybe other decorators): they're for the (test) spec, not from the user packages.

[2022-01-07 16:01] magicmoose commented on #801
I totally missed this message.
I will go give it a try in the (hopefully) near future.
I think the behavior you are seeing is the now default go behavior: no command passes module barriers.
Its the same for go build ./... (this did bite me as well since running this in the root does not mean you can compile v2)

[2022-01-07 16:51] onsi commented on #876
I went on a run this morning and may have come up with a (relatively elegant? maybe??) solution.  (This happens often enough that I refer to it as run-driven development).

In 2.0 I broke the DSL out into a couple of different files to make it easier for myself to keep things organized within the `github.com/onsi/ginkgo/v2` package.   You can see this on the [master branch](https://github.com/onsi

[2022-01-07 16:57] TheDiveO commented on #876
L(V)GTM ... and I'm using a similar hike-driven development model 😁

[2022-01-07 17:01] blgm commented on #875
There are situations in which it does seem to work. [One of my projects has](https://github.com/cloudfoundry-incubator/cloud-service-broker/blob/main/go.mod):
[code]
And does not crash when testing. I'm not clear why it would work in one project and not another. Maybe the Go version or something makes a difference?

[2022-01-07 17:04] onsi commented on #876
Great!  will work on it and aim to ship 2.1 next week

[2022-01-07 17:12] onsi commented on #875
I don't think it's the Go version.  I think it has to do with how the dependency is used.  @KevinJCross - things may not be quite as dire as they seem:

If a dependency uses Ginkgo for it's own tests then it's fine for it to use a different major version of Ginkgo.  The 1.x version will appear in `go.mod` but that's OK, Go will still only use `v2` to run _your_ tests.  In fact, different _packages

[2022-01-07 17:17] onsi commented on #874
ok thanks.  I don't think I understand _why_ this is happening but the flags aren't being parsed/aren't visible in your `e2e.go` file.   I see that you have an `e2e_test.go` file and an `e2e.go` file.  How Go does the packaging under the hood is subtle and sometimes confusing.  However, if you rename `e2e.go` to `e2e_X_test.go` (or merge it's contents into `e2e_test.go`) then the flags will be cor

[2022-01-07 17:20] KevinJCross commented on #875
@onsi thanks for having a look ill look into this a bit more too.
so your saying if its in the project and not in the *_test package it will cause problems.
Ill have a look into this next week ... its all a bit tricky and kinda started herting my head last time I looked. 🤯

[2022-01-07 17:26] onsi commented on #875
No, I think it's a bit different.  Let me try again:

(a) If an individual package imports both Ginkgo V2 and Ginkgo V1 (either directly or via some dependency) then 💥
(b) I believe that, in your case, the only time this happens is when your code's _test_ package (i.e. any files ending in `_test.go`) imports a test helper (e.g. `ginkgomon` or `lagertest`) that, itself, imports Ginkgo V1.
(c) That

[2022-01-07 17:34] onsi commented on #875
ah, sorry, I think _I_ misunderstood you:

you mean "if it's in the _dependency_ and not in the *_test package it will cause problems".  Yes that's what I mean.  If it's in the dependency (specifically in a package you _import_ into your test suite) it will cause problems.

[2022-01-08 02:44] runkecheng commented on #874
I merge e2e.go into e2e_test.go then the flag is parsed normally! thank you very much for your help.

[2022-01-08 03:04] onsi commented on #874
great!  glad that helped.

[2022-01-08 13:45] TheDiveO commented on #875
Maybe as a note of another potential source of 💥: I had an import for `github.com/onsi/ginkgo/config` in my own package tests which I missed to update, or rather, to migrate. This triggered a flag double registration panic as well as the indirect dependency.

[2022-01-09 22:27] onsi commented on #875
Thanks @TheDiveO - i'm adding an FAQ to the migration guide to capture some of this subtlety.

@KevinJCross ive opened https://github.com/tedsuo/ifrit/issues/35 and will work on it this week.

[2022-01-10 02:12] Thor-wl opened #877 "Is there a script for verify license for v2?"
Hi. I updated my ginkgo to v2.0.0 recenetly. But it loses effect for my verify license sciprt for the v2 will not put license file under root directory of the project directly. The directory struct changes to /vendor/ginkgo/v2/license. I wonder is there some scripts for use? My privious script is https://github.com/volcano-sh/volcano/blob/master/hack/verify-vendor-licenses.sh

[2022-01-10 02:15] onsi commented on #877
hey there @Thor-wl - seems like an issue in the script.  Ginkgo's github repo includes an MIT license in the root directory.  You may want to open an issue with the source of that script as other v2 modules may have the same issue.

[2022-01-12 18:17] onsi commented on #876
hey @TheDiveO - I just pushed the new `dsl` packages to master.  If you have some time could you give 90868e2501c74f1be47c3da3a6343b73b9cbed60 a try?

I've also updated the [docs](https://onsi.github.io/ginkgo/#alternatives-to-dot-importing-ginkgo) to cover how to use them.

If you're able to take a look that would be great.  I can cut a release after I get a "works for me" from you.

[2022-01-12 18:18] onsi commented on #875
I've updated the [migration docs](https://onsi.github.io/ginkgo/MIGRATING_TO_V2#faq) to capture this issue and give folks a bit more guidance.  Adding that link here so others can find it _and_ in case you'll find it helpful @KevinJCross

Gonna work on Ifrit in the next few days so should have a PR for Ted to pull in soon.

[2022-01-12 21:22] Br3nda commented on #141
for those that land here and want to get a HTML report from your ginkgo tests, the magic command is:

[code]

you'll need to install https://github.com/vakenbolt/go-test-report

[2022-01-13 11:07] mgoerens opened #882 "Timeout on setup nodes in ginkgo v2"
I've upgraded my project to ginkgo v2 today.

With ginkgo v1.x, I could add a 60s timeout to `BeforeSuite` (among other setup nodes) like this:
[code]

Is there a way to achieve the same behavior in ginkgo v2 ?

[2022-01-13 12:06] blgm commented on #882
Hi @mgoerens. My guess (which may be corrected by @onsi later) is that this relates to the removal of async tests, with the recommendation to use async assertions instead: https://onsi.github.io/ginkgo/MIGRATING_TO_V2#removed-async-testing

[2022-01-13 13:21] onsi commented on #882
That's right @blgm - @mgoerens please take a look at the section of the migration doc George linked to.  There's also a deeper dive into asyn testing patterns in the documentation [here](https://onsi.github.io/ginkgo/#patterns-for-asynchronous-testing).

If you run into issues let us know and we can help further.  In fact if you can point me at your code (if it's open source) i can make some concr

[2022-01-14 08:34] TheDiveO commented on #876
That's great! Hopefully I can give it a quick try this evening and then give thumbs up. In any case, many thanks! hooray to sports-driven-design.

[2022-01-16 08:25] sigalmaya commented on #875
is it merged? we are experience the same problem

[2022-01-16 12:50] onsi commented on #875
Nope it doesn't look like it's merged yet

[2022-01-17 14:53] mgoerens commented on #882
Thanks a lot for your answers. I had another look at the docs.

Of course, the reality is a bit more complex than my very simple code snippet :) I'm using `operator-sdk` (https://github.com/operator-framework/operator-sdk/) to build a go-based Kubernetes Operator. `operator-sdk` scaffolds a base project, including a minimal `suite_test.go`, using ginkgo 1.x, and using the deprecated timeout featur

[2022-01-17 15:28] onsi commented on #882
hey @mgoerens will reply more when i'm at my computer.  for now just wanted to let you know that github link 404s.  any chance you have a public repo i can look at?

[2022-01-17 15:40] mgoerens commented on #882
Right, forgot this was still private. I set the visibility of the repository to public now, as it should be.

[2022-01-17 16:05] onsi commented on #882
Thanks for opening the repo up.  It looks like the original code you've linked to wasn't doing what folks expect.  In Ginkgo V1 the timeout only applies if the function passed to `BeforeSuite` accepts a `Done` channel argument.  The [code in the repo you linked to does not](https://github.com/opdev/synapse-operator/blob/89f06097cffe2f3feb710891118663eed4aa1ed5/controllers/synapse/suite_test.go#L52

[2022-01-17 16:27] mgoerens commented on #882
Great infos, thanks a lot ! There's nothing else to add I think :)

[2022-01-17 16:27] #882 closed

[2022-01-18 14:15] Lehp opened #884 "skip and only flags"
One of the most convenient features of mocha was the .only flags which executes only one test and ignores all the others. It would make it way easier to focus on my work.

I read the documentation and didn't see a way to debug only one test. I hope i didn't miss anything.

love ur work <3

[2022-01-18 14:19] blgm commented on #884
Hi @Lehp. I think what you're looking for is called "focus" in Ginkgo:
https://onsi.github.io/ginkgo/#focused-specs

[2022-01-18 14:20] #884 closed

[2022-01-19 16:41] antoineco opened #886 "Variable value leaks between `Context` blocks"
**Version:** Ginkgo v2.0.0

Consider the following (simplified) test spec with a `subscriptionID` variable declared at the top scope:

[code]

Occasionally, `azure.CreateResourceGroup()` is called with a `subscriptionID` value of `00000000-0000-0000-0000-000000000000`, instead of the value read from the environment, although this value originates from a totally different Context:

[code]

The full

[2022-01-19 16:47] onsi commented on #886
Hey there - the issue is that the context node is only run once during the tree construction phase.  Ginkgo wants you to "Declare in container nodes, initialize in setup nodes".  You can get the behavior you want with:

[code]

I'd recommend reading [this part of the docs](https://onsi.github.io/ginkgo/#mental-model-how-ginkgo-traverses-the-spec-hierarchy)  to build a mental model for how the test

[2022-01-19 16:53] antoineco commented on #886
Thanks for the quick answer @onsi!
The solution is to move the initialization to the `BeforeEach` understood.

However, how could the `00000000-0000-0000-0000-000000000000` value possibly end up being accessible to the first `Context`? Is this because nothing was writing a value in a setup node and therefore the initialization became order dependant?

[2022-01-19 17:12] onsi commented on #886
The `subscriptionID` variable is shared between the two contexts, and Ginkgo randomizes the order of your specs.  Because of this you will  get `000-etc.` anytime the "Fake Value => Something"  spec runs before the "Real values => Something" spec.   Note that when a spec runs only the contents of the setup and subject nodes are invoked.  Not the contents of the container nodes - so the initializat

[2022-01-19 17:19] antoineco commented on #886
Thanks again, everything is much clearer now 👍

[2022-01-19 17:19] #886 closed

[2022-01-22 10:31] mamachanko opened #887 "`ginkgo ... -race` fails on `gexec.Build`"
👋  Hi!

I am building my CLI with `gexec.Build` within a `BeforeSuite` container. When I am running my tests with the [recommended flags for CI](https://onsi.github.io/ginkgo/#recommended-continuous-integration-configuration) they fail. If I omit `-race`, they pass. There is, however, no condition that should trigger the race detector.

To demonstrate and reproduce the issue I built [mamachanko/gi

[2022-01-22 15:21] TheDiveO commented on #876
🎉 importing `v2/dsl/core` perfectly works for me, no more conflicts. Thank you very much!

Please excuse me for not being able to check and report earlier, as I was tied up in some heavy architectural day-time work.

[2022-01-22 15:21] #876 closed

[2022-01-22 18:19] onsi commented on #887
...strange.  Thanks for the repro repo.  I cloned it and, unfortunately (?), both `make test` and `make test-no-race` pass on my machine.  I'm running on an apple silicon machine and I believe the race detector can have subtle differences based on architecture...

...with that said, Ginkgo and Gomega's CI run with the race detector on on GitHub's linux boxes - so `amd64` and both suites do exactly

[2022-01-22 18:19] onsi commented on #876
no worries at all.  thanks for taking a look and making sure things work!

[2022-01-23 10:28] mamachanko commented on #887
Thank you for looking into it @onsi !

I followed your suggestion, got rid of all the Ginkgo test files and ran it like that. [Here's what I see](https://gist.github.com/mamachanko/668eb86107f400c124d549fba6385967#file-output-L53-L173) (scroll up for more contextual info).

Fwiw, when containerized it passes on my machine as well:
[code]

[2022-01-23 10:30] mamachanko commented on #887
Since I was on `go1.17.5` I upgraded to `go1.17.6` and the failure disappeared, even with the original, untouched repo.

[code]

🥳

[2022-01-23 10:32] #887 closed

[2022-01-23 13:34] onsi commented on #887
🎉 great to see this was an issue fixed in the latest go version

[2022-01-24 03:54] shawnwinder opened #889 "return no value"

[2022-01-24 03:54] shawnwinder opened #890 "multiple return"

[2022-01-24 03:55] #889 closed

[2022-01-24 03:56] shawnwinder commented on #889
accidentally openup

[2022-01-24 03:57] shawnwinder commented on #890
accidentally openup

[2022-01-25 19:09] jhernand opened #891 "Using the dsl packages exclusively ignores command line arguments after --"
I have noticed that when importing only the `dsl/...` packages the test suite is not considered a `ginkgo` test suite (flag `IsGinkgo` is set to false). A side effect of that is that command line arguments passed after `--` in the command line of the `ginkgo run ...` command are not passed to the test binary. In addition the output is not the expected/pretty one generated by `ginkgo`. I think the

[2022-01-25 19:26] onsi commented on #891
omg what a dumb bug, so sorry :(

thanks for reporting it!  i'll fix it and push out 2.1.1 soon.

[2022-01-26 15:03] markxnelson opened #892 "Is it possible to write my own decorator?"
Hi, thanks for the great project!

I would like to write my own decorator, so I could do something like specifying the requirements for a particular node, and get control in my decorator handler code to "make right" before that node gets to execute.  Is it possible to do something like this?

I know I could use a BeforeXX to do this kind of thing.  I have some tests that have some timing/dependenc

[2022-01-26 15:32] onsi commented on #892
hey @markxnelson - one of Ginkgo's [foundational assumptions](https://onsi.github.io/ginkgo/#mental-model-ginkgo-assumes-specs-are-independent) is that your specs (i.e. the individual `It`s) are independent from each other.  This enables parallelization and randomization, and encourages writing test suites that are less prone to flakiness and test pollution.  The new `Ordered` decorator (which add

[2022-01-26 15:47] markxnelson commented on #892
Hi @onsi - you are right, yes, I am trying to test the actual upgrade to make sure that upgrading works.  So I install an old version, do a few tests to make sure it is all good, then perform and upgrade, then the bulk of my tests are checking that the upgrade did what I expected it to do, and so I do need a little bit of order and I want those last batch of tests to be parallelized.

I was aware

[2022-01-26 16:07] markxnelson commented on #892
Thanks, I will have to read up on `Offset`, have not used that yet.  By the way the big doc update with v2 was really helpful!
I had thought about multiple suites, and I guess I could do that.  That would mean I could not just do a `ginkgo -p whatever/...` though, but its not the end of the world, we have a lot of suites anyway, and they can't all be run like that because some are "safe" and some

[2022-01-26 16:12] onsi commented on #892
:heart: thanks for the kind words!

ooh... that's interesting.  can you say more?  [`Serial`](https://onsi.github.io/ginkgo/#serial-specs) might help here because I often find that only a subset of specs are "unsafe".  With `Serial` you can tell Ginkgo to run these in series at the end.  That lets you run `ginkgo -p ./...` and not worry that some suites are safe for parallel while others are not.

[2022-01-26 16:23] markxnelson commented on #892
Yeah, so by "safe" and "unsafe," I really mean whether they can share a cluster.  For example, we have tests that test installing our product, upgrading our product, uninstalling our product.  Those need to run in their own dedicated clusters because they are destructive.
Then I have a heap of tests that test the normal features of our product while its running - and most of those are "safe" and c

[2022-01-26 16:38] onsi commented on #892
yeah that wouldn't play well.  the `It`s all need to be invoked during the tree construction phase.  I really do think a separate suite is your friend here.

And then possibly some investment in getting it so you can run `ginkgo -p ./...`  safely.  My sense is that will scale the most long-term without introducing a ton of complexity into your testing universe.  I can imagine a shared library that

[2022-01-26 16:41] markxnelson commented on #892
Yeah I think I am leaning towards something like that - a shared library of funcs to do those kinds of things. :)

[2022-01-27 19:06] #891 closed

[2022-01-27 19:08] onsi commented on #891
This is now fixed in v2.1.1

[2022-01-27 19:17] jhernand commented on #891
Great! Thank you very much @onsi.

[2022-01-28 00:07] astrieanna opened #893 "`ginkgo labels ./...` doesn't find the labels I added."
## Context

I just added labels to our integration tests. All the labels are on `Describe` blocks. For example:

[code]

I usually use `ginkgo -p ./...` to run all the tests, and that continues to work perfectly after this change.

## What Happened

To confirm that things were working, I tried `ginkgo labels ./...` from the root folder of my repo. I also tried `ginkgo run --label-filter=integratio

[2022-01-28 00:16] onsi commented on #893
Strange.  Any chance your repo is open source so i can take a look?

[2022-01-28 00:24] onsi commented on #893
Also, if you run `ginkgo -v` in a package that you've added labels to do you see an annotation next to the name of the spec for the ones that are labeled?  (it would look like `[integration]` in your example).

btw thanks for the super clear summary.  it's a mystery how this could be happening at this point since everything you've shared sounds like it should be working.

[2022-01-28 00:25] onsi commented on #893
Sorry one last thought.  Do things behave differently if you use `ginkgo -r` instead of `ginkgo ./...`?  i can't imagine that's the issue but it's worth ruling out.

[2022-01-28 01:22] astrieanna commented on #893
Unfortunately, no the repo isn't open-source.

`ginkgo -r` and `ginkgo ./...` seems to behave identically.

Examining the output of `ginkgo -v` in one of the packages was really useful! Our previous way of avoiding integration tests via a build flag was preventing those tests from running -- so I needed to remove a few `//go:build integration` to see the integration tests run.

With the build flag

[2022-01-28 02:32] onsi commented on #893
OK _phew_.  Makes sense about the build tag interfering and I'm glad to hear that `--label-filter` is working well.

The [implementation](https://github.com/onsi/ginkgo/blob/master/ginkgo/labels/labels_command.go) for `ginkgo labels` is _incredibly_ naive (it's just a hair more sophisticated than `grep`).  One thing is that it'll only look at `*_test.go` files.  I know some folks organize their sp

[2022-02-01 21:26] johnSchnake opened #897 "Is there a way to timeout individual tests?"
Hi, I work to maintain the [Sonobuoy](https://github.com/vmware-tanzu/sonobuoy) project and the most common use case is testing Kubernetes clusters via the Kubernetes conformance tests.

When a cluster is broken, I'd love to be able to run a handful of tests quickly to try and diagnose the problem. The problem I'm running into is this:

 - Given that I've chosen my tests based on their happy path

[2022-02-01 23:15] onsi commented on #897
hey @johnSchnake thanks for the detailed explanation of the use-case!  In Ginkgo 1.0 there was a somewhat clunky ability to mark individual nodes (i.e. `It`, `BeforeEach` etc.) as asynchronous and add a per-node timeout.  [I removed this in Ginkgo 2.0 for a number of reasons](https://onsi.github.io/ginkgo/MIGRATING_TO_V2#removed-async-testing) and am encouraing folks to use more Gomega's `Eventual

[2022-02-02 00:26] johnSchnake commented on #897
Thanks for the thorough response. Let me think on it for a days and see how those options sit. I'm also attending one of the k8s working groups and may be able to bring it up.

[2022-02-02 00:30] onsi commented on #897
👍 stepping back - one thing to consider is whether there are changes that can be made to the test suite to make it more robust/responsive when a systemic failure occurs.  or, put differently: "why _does_ it take the test five minutes to fail?  and the whole suite O(hours)?  is that reasonable?  should the timeout be changed or more easily configured? is there a top-level or context-dependent `Befo

[2022-02-02 11:20] Lehp opened #898 "Feature Request Validate Swagfile"
I've written a Function that takes json swagfiles and checks if the types of a json buffer (server response) equals the corresponding type in the swagfile. Idk if someone cares about this I'd be clad to help.

https://pkg.go.dev/github.com/lehp/goswag-validator/validate_json

[2022-02-03 02:27] onsi commented on #898
Cool!  If you'd like you can implement this as a [Gomega matcher](https://onsi.github.io/gomega/#adding-your-own-matchers) and i'd be happy to mention it in the [list of community supported marchers](https://github.com/onsi/gomega/wiki)

[2022-02-03 23:10] austince opened #899 "Ginkgo CLI unfocus incorrectly modifies imports when file uses build tags"
I think I've narrowed it down to this test case:

### Input
[code]

### Output

The package `github.com/austince/common-go/util` is changed to `github.com/austince/common-o/util` and the focused
describe block is unchanged. If I remove the `//go:build integration` directive, all is well.

[code]

## Environment

[code]
But also tried it with 1.16 and seems to have the same issue.

[2022-02-04 11:13] blgm commented on #899
This is very curious. The way that this is mean to work is:

- the Go file is read into a buffer
- the buffer is parsed into an AST, and the position of each `FDescribe`s etc is identified
- using the positions derived from the AST, the original buffer is modified to remove the `F` characters

I was able to reproduce this with Ginkgo 1.16.4 and got `"github.com/austince/comon-go/util"` which is sl

[2022-02-04 11:16] Airblader commented on #899
I've experienced this as well (disclaimer, I work with @austince) and also got it in a different spot; for me, it wasn't an import statement that got changed, but actually test code, and it happened in the CI. Needless to say I was close to questioning my sanity  when I saw

[code]

in the CI logs even though both locally and in GitHub's diff it clearly said `Equal`. :-)

[2022-02-04 13:23] onsi commented on #899
well... _faaascinating_ time for some `fmt.Println`-driven debugging.  i'm not sure that i'll be able to get to this for a few days so if anyone wants to explore it further everything is in [this file](https://github.com/onsi/ginkgo/blob/master/ginkgo/unfocus/unfocus_command.go)

[2022-02-04 14:56] johnSchnake commented on #897
I definitely don't think that the async failure causing _other_ tests to fail would be beneficial; I can see why you wanted to get rid of that behavior. Even if it made things faster, if we can't properly identify which failed then we don't really make progress.

As for why things take so long; its a series of hardcoded timeouts that are just too long for this particular use case. For instance, wh

[2022-02-04 15:04] onsi commented on #897
^- agreed.  In your use case are you trying to automate interpretation of the failures?  Or is this for a human to look at output and make a diagnostic decision.  If the latter then such failures, though confusing, might be "good enough" - especially with adequate warning (e.g. I could have failures explicitly say "hey there was a timeout so take a look at the source lines to see where this failur

[2022-02-08 11:50] axilis-marko opened #903 "spec tree in docs"
I was going through the docs and came up on something in the [Mental model ](https://onsi.github.io/ginkgo/#mental-model-how-ginkgo-traverses-the-spec-hierarchy).
This is the code layout used as an example in the section:
[code]

And it goes on to say:

"We could represent the spec tree that Ginkgo generates as follows:"
[code]

Shouldn’t it be that the `When` nodes are subnodes of the second `Des

[2022-02-09 18:14] jyellick opened #930 "Ginkgo with cover fails opaquely when tests are programatically focused"
Running `ginkgo --cover ./pkg/with/focused/test` (with ginkgo v2.1.1) for a test suite that has a programmatically focused test results in an error like the following:

[code]

Or, when run recursively, it fails with an error like:

[code]

The underlying cause seems to be related to #417 where `go test` does not write a cover profile file when the test exits with a non-zero code.  And, although I

[2022-02-11 04:10] ycyaoxdu opened #931 "Q: While migrating to V2, my specs were skiped"
Hi, I'm really appreciate the new feature Spec Decorators, especially the `Ordered` key word, which may help to split huge `It` block into some more seprated blocks, make my code more clear.

So i'm trying to migrate to v2.

And while I just changed the import name, from `"github.com/onsi/ginkgo"` to `ginkgo "github.com/onsi/ginkgo/v2"`, and rerun my test, it turns out to this:
[code]
seems my spe

[2022-02-11 15:26] #903 closed

[2022-02-11 15:27] onsi commented on #903
Hey @axilis-marko - you are exactly right.  thanks for catching that!  I've just pushed a fix up now.

[2022-02-11 15:47] phil9909 commented on #875
If you want to start using ginkgo v2 before all your dependencies have switch to v2 apply this workaround:

[code]

This renames the flags for ginkgo v1. This should not matter, if all your packages use gingko v2.

[2022-02-11 16:52] #930 closed

[2022-02-11 16:56] onsi commented on #931
hey @ycyaoxdu sorry you're having trouble.  yes, for the most part, it should be as simple as changing `github.com/onsi/ginkgo` to `github.com/onsi/ginkgo/v2`.   Is there any chance your repo is open source so I can take a look?

Some other things to consider:

- make sure there aren't any build tags preventing specs from being compiled in
- try making a new temporary folder in your folder and boo

[2022-02-11 17:00] onsi commented on #899
ok I'm poking around a bit.  it looks like the _length_ of the build tag changes _where_ the deletion occurs.  this says to me that something about the AST parsing is not including the build tag in the offset computations.  I'll poke around a bit more...

[2022-02-11 17:11] austince commented on #899
Thaaat would make sense (though I haven't had more than time to read through the file, sorry 😞).

[2022-02-11 18:03] #899 closed

[2022-02-11 18:04] onsi commented on #899
figured it out.  looks like we were incorrectly subtracting out the `file.pos()` when computing the location of the focus token.  should be fixed now... will cut a release soon.

[2022-02-11 18:05] Airblader commented on #899
Thank you for your effort!

[2022-02-11 20:34] blgm commented on #899
Thank you @onsi

[2022-02-14 02:49] ycyaoxdu commented on #931
yes, i'm working on a open source repo, and my test code is in https://github.com/open-cluster-management-io/clusteradm/pull/111/files, mainly the following dour files:
[code]
in directory `test/e2e/clusteradm`.
and my test command is : [`go test -v ./test/e2e/clusteradm -timeout 1800s`](https://github.com/open-cluster-management-io/clusteradm/pull/111/files#diff-76ed074a9305c04054cdebb9e9aad2d818

[2022-02-14 18:51] onsi commented on #931
thanks @ycyaoxdu - on the whole things look ok except for one exception.  It's actually an error to run `ginkgo.By` inside the body of a container node like `ginkgo.Context` or `ginkgo.Describe`.  `By` should only be placed inside setup nodes (`BeforeEach`, `AfterEach`) and subject nodes (`It`) as it only applies during the [run phase](https://onsi.github.io/ginkgo/#mental-model-how-ginkgo-travers

[2022-02-15 05:22] ycyaoxdu commented on #931
I extend my sincere thanks to you! Your eyes are so sharp! :) @onsi

---
**The issue is actually caused by the misuse of `ginkgo.By`.** Following 2. :

my test spec works again.

---

Hahaha, already migrated! And that is the first thing i did after fixed the bug.
Also, `DeferCleanup` is really a cool feature!

---
By the way, I think that the misuse of `ginkgo.By` should be reported. If the same

[2022-02-15 16:50] onsi commented on #931
thanks for the kind words @ycyaoxdu

There should have been an error that appeared but it looks like it wouldn't have been a helpful one.  I'm fixing that now and will push out a fix soon.

In addition, it looks like the `defer GinkgoRecover()` calls that you have in your container nodes (e.g. [here](https://github.com/ycyaoxdu/clusteradm/blob/modify-e2e-test/test/e2e/clusteradm/joinhubscenario_ti

[2022-02-15 16:59] onsi commented on #931
I just released v2.1.3 which emits an error if By is placed in a container node.

[2022-02-15 16:59] #931 closed

[2022-02-15 20:52] jyellick commented on #930
Thanks for fixing! Confirmed, that a focused test is now nicely reported in ginkgo's coverage output rather than failing.

[2022-02-16 20:49] aasasi commented on #141
Hi @Br3nda ,
Have you had success using go-test-report  for GINKGO tests? Can `| go-test-report` be used with the `ginkgo` command?
I tried using this as you mentioned above, but it does not seem to recognize each spec. Any guidance on this is greatly appreciated.

[2022-02-16 22:01] Br3nda commented on #141
@[aasasi](https://github.com/aasasi) alas no. it sees each package as one test - it doesn't see each spec as it's own test.

however, this issue claims we can get json out put from ginkgo V2.
https://github.com/onsi/ginkgo/issues/639

[2022-02-16 22:14] onsi commented on #141
building out an html reporter for ginkgo would be super fun.  it hasn't been a priority for a while but with the new json format it wouldn't be too hard to implement something fairly feature rich.

it's a project i'd like to take on at some point.  i generally just use the console so this is a nice-to-have for me but i'd love to hear what kinds of usecases folks have in mind.  the most compelling

[2022-02-16 22:15] onsi commented on #141
and one more clarification - the json format i'm reporting to is Ginkgo's own json format, not the go test json format.

[2022-02-16 23:09] aasasi commented on #141
Thanks @onsi ! As you mentioned, I would like to be able to visualize a summary of the test run and be able to drill down to the steps of each test for debugging . I have always loved the karate/cucumber test report , and I believe that something of that sort would be super helpful. With the current test logs, it is not super easy for folks who are not working on the tests to actually debug.

[2022-02-18 23:25] mauriciopoppe opened #932 "Location of the v1 docs"
Is there a page for the v1 docs? They seem to be gone and replaced with the v2 docs

[2022-02-18 23:28] onsi commented on #932
you can get at the old markdown file [here](https://github.com/onsi/ginkgo/blob/gh-pages/index.md)

[2022-02-18 23:30] mauriciopoppe commented on #932
Thank you! I was about to post https://github.com/onsi/ginkgo/blob/gh-pages/index.md too

[2022-02-22 11:37] LittleFox94 opened #933 "New decorator for It blocks: Always"
Hi,

we are writing integration tests for API bindings with Ginkgo and Gomega and quite often use Ordered contexts to check CRUD-like operations with these bindings, like this:

[code]

The problem is when one of the tests between "creates a VLAN" and "deletes a VLAN" fails - the VLAN will not be deleted. To work around this, we sometimes have a `BeforeAll` containing a `DeferCleanup` instead of t

[2022-02-22 11:49] LittleFox94 opened #934 "Long-running BeforeAll looks like the first It block takes a long time"
Hi,

as said in #933, we do integration tests for API bindings with Ginkgo and Gomega. I'm currently writing the tests for one such API binding which needs a resource of another one. I currently create that resource in `BeforeAll`, cleaning it up in `AfterAll` (Before/AfterSuite might be better, but I _guess_ that's not relevant? Didn't check that though).

These operation can take quite some time

[2022-02-22 17:10] rcw5 opened #935 "Call ReportAfterSuite in --dry-run mode"
I've been running ginkgo in `--dry-run` mode to generate a custom report of all the tests in my project without having to run them (it's a long-running integration test suite)

After migrating to Ginkgo v2 I notice that `ReportAfterSuite()` isn't called when `--dry-run` is enabled, I _think_ because of this block - https://github.com/onsi/ginkgo/blob/master/internal/suite.go#L528-L530:

[code]

Th

[2022-02-22 17:48] onsi commented on #935
iirc i turned this off intentionally.  your usecase makes sense to me though so let me dig into why i'd done that and circle back.

[2022-02-22 17:54] rcw5 commented on #935
I've been able to find a way around the change by setting `--focus` in such a way that all tests are skipped, i.e. `ginkgo2 --focus NoSpecsMatchThisString`

Seems to be working OK so far, but a modified `--dry-run` behaviour would make my intentions more explicit!

[2022-02-22 18:20] onsi commented on #935
Makes sense - but I think I agree that the intent behind `--dry-run` is to report on how the suite will run which should include running the reporting nodes.  Will take a look sometime this week.

[2022-02-23 06:35] zaunist opened #936 "How can we use ginkgo in Apple M1?"
Does v1.x version support on apple m1, I downloaded v1.16.4, but I got stuck in the process of running the test, I downloaded ginkgo through `go install`, I don't know if the version I downloaded this way supports arm64 architecture.

Ginkgo Version 1.16.4

[2022-02-23 12:38] blgm commented on #936
I don't have an Apple M1 to try this out. What's the error that you are seeing?

[2022-02-24 01:07] zaunist commented on #936
Sorry, I checked again, it's not ginkgo error, I would close this issue.

[2022-02-24 01:07] #936 closed

[2022-02-25 18:34] skanthed opened #937 "Trying docker-build"
Building an OpenShift operator

Any suggestions on how to resolve -
[code]

Docker and go version -

[code]

My go.mod file looks like  -

[code]

[2022-02-28 06:15] roopakv opened #939 "Allow turning on reporter via env variables"
While we use the ginkgo framework we do not use the Ginkgo CLI.

in V2 we are forced to use the CLI to support junit reporters. Would be nice to be able to enable reporters without needing to switch to the CLI

[2022-02-28 12:21] onsi commented on #939
Hey there,

I generally recommend using the CLI - it enables additional ginkgo functionality that you can't get from `go test` - and will not be adding environment-based configuration.

You can add a [`ReportAfterSuite`](https://onsi.github.io/ginkgo/#reporting-nodes---reportaftersuite) node that calls [`reporters.GenerateJunitReport()`](https://github.com/onsi/ginkgo/blob/master/reporters/junit_r

[2022-02-28 12:22] onsi commented on #933
hey there sorry for the delayed response.  i've been taking some time off that last few days but will take a look at this and reply in more detail soon.

[2022-03-03 07:47] acumino opened #940 "Race detected when trying to run test using `-race` flag"
When trying to use `By()` in concurrent function, The race detector detects data race.

Error -
[code]

### How to reproduce it -
[code]
then run

[code]

[2022-03-03 08:24] acumino commented on #940
cc - @onsi

[2022-03-05 02:36] onsi commented on #940
Hey sorry for the delay - please take a look at https://github.com/onsi/ginkgo/issues/844 for a discussion.

[2022-03-05 11:54] acumino commented on #940
Thanks for the response. Maybe this can be mentioned in the `migration guide`, so in the future people don't think that this is a bug.

[2022-03-05 11:54] #940 closed

[2022-03-05 15:00] onsi commented on #940
Good idea - I'll add it.

[2022-03-07 12:39] jg19 opened #941 "Dark mode in the github the logo is not visible."
Dark mode in the github the logo is not visible.
This is a example of the main page of project

![image](https://user-images.githubusercontent.com/6341359/157035896-ee2f80c5-81ae-4590-ab19-13a387b4bfe2.png)

[2022-03-07 15:06] #941 closed

[2022-03-08 08:52] vedil opened #944 "running tests with --coverpkg=./... does not give coverage across all packages"
when i run tests like `ginkgo -p -covermode=count --cover  --output-dir=$(TESTDIR)   --coverpkg=./...  $(PKG1)`  would still give coverage only in $(PKG1)

where as if i run `ginkgo -p -covermode=count --cover  --output-dir=$(TESTDIR)   --coverpkg=$(PKG0),$(PKG2)  $(PKG1)`  would still give coverage in $(PKG0),$(PKG1),$(PKG2)

:( to get the list of all packages , output of go list ./... could not

[2022-03-10 10:13] keeema commented on #358
I face probably one missing functionality in ginkgo command.
When I run

[code]

then it runs all spec as you wrote but the final summary and the __report.json__ contains only information about ginkgo tests.

[2022-03-12 16:01] TheDiveO commented on #476
Maybe I've found a use case years after: documenting matcher usage examples.

[2022-03-12 16:08] TheDiveO commented on #476
Okay, that seems to do the trick:

[code]

[2022-03-12 16:13] TheDiveO commented on #476
Is there any bad side effect from either registering the same fail handler multiple times, or alternatively doing it once per package in an `Init()` instead of a `TestXXX()`?

[2022-03-13 13:38] talbright opened #945 "gingko confused about -ginkgo.timeout flag and won't run tests"
Ginkgo won't run tests:

[code]

Tests run fine with `go test`:

[code]

[2022-03-14 14:52] onsi commented on #476
hey @TheDiveO - the `Examples` will run out of band from GInkgo's test runner so I'm confident that `ginkgo.Fail` won't actually hook into Ginkgo's failure handling.  My expectation is that `ginkgo.Fail` will panic when it is called and the `Example` will fail.  Which is, maybe, OK?

My understanding is that the `ExampleX` functions pass or fail on the basis of their generated output.  And so I wo

[2022-03-14 14:54] onsi commented on #945
hey there - it looks like you are using the V2 CLI but your test suite is written with Ginkgo V1.  You need to use the major version of the CLI that matches the version of the library imported by your suite.

[2022-03-14 15:07] onsi commented on #937
hey there,  sorry for the delay.  this doesn't look like a ginkgo issue but rather something going on with the container networking in your docker installation?  that isn't my forte and I'm not sure how helpful I can be :/

[2022-03-14 15:09] onsi commented on #944
boo.  `ginkgo --coverpkg=X` simply passes `X` straight to `go test --coverpkg=X` - I'd suggest opening and issue over at the go repo to see if there's interest in having `cokerpkg` handle `./...`

(but please let me know if I'm mistaken and Ginkgo is munging `X` somehow)

[2022-03-14 15:27] onsi commented on #934
hey @LittleFox94 this makes sense and it's an unfortunate side effect of the reality that the `BeforeAll` node runs as part of the first `It` node and not as a standalone thing with it's own report.  I appreciate that it's confusing but I don't think it's something I'm going to be able to change any time soon.

[2022-03-14 15:40] alexgenco opened #947 "How can I run the test suite indefinitely?"
This would allow me to use a ginkgo test suite for e.g. continuously smoke testing an API. It seems like the options are:

- `--repeat=<large int>`
- `--until-it-fails` + hacking assertions to never actually fail
- `FlakeAttempts(<large int>)` + permanently failing test
- wrap `RunSpecs` in a loop (explicitly not allowed)
- wrapper script

I would prefer not to use a wrapper script because I would

[2022-03-14 18:00] onsi commented on #476
makes sense.  I think you'll need:

[code]

That should work... maybe?

[2022-03-14 18:13] TheDiveO commented on #476
I think so; `defer sendFaimuresToStdout()` would cover all Gophers. 😁

[2022-03-14 19:39] alexgenco commented on #947
Thanks @onsi this is an interesting idea spawning a subprocess and parsing its JSON report for metrics. I'll give it a shot and report back if I have any issues.

[2022-03-14 19:59] onsi commented on #947
great!  let me know how it goes.  i haven't documented how to read/parse the json format in detail but you should be able to unmarshal ginkgo's generated json file into a `[]types.Report{}` object [defined here](https://github.com/onsi/ginkgo/blob/master/types/types.go)

[2022-03-14 20:15] alexgenco commented on #947
Is there a way to write the json report to stdout, rather than to a file? It doesn't seem like `--json-report=-` or `--json-report=/dev/stdout` work. The former seems to be ignored, and the latter fails with

[code]

It looks like it's converting it to a relative path

[2022-03-14 20:18] onsi commented on #947
nope sorry it spits out to a file and doesn't support stdout.  i could do that for you in the ginkgo cli but the reality is i would write it to a temp file and then read it and pipe it to stdout - this is because the cli does some post processing to combine reports when running multiple suites.

[2022-03-15 15:02] alexgenco commented on #947
This worked pretty well! Thanks for the suggestion. I do think it would be a nice convenience to support stdout, but I'm not blocked on that, and i feel like it might conflict with the progress output that's already there.

[2022-03-15 15:02] #947 closed

[2022-03-15 15:20] onsi commented on #947
sweet! glad that worked out for you :)

[2022-03-15 15:35] vedil commented on #944
closing this (might be some thing related to my project structure :( )
i tried creating a sample project there the result is as expected/documented

[2022-03-15 15:35] #944 closed

[2022-03-16 11:20] LittleFox94 commented on #934
could adding a line be possible, making it look like this? This could probably already help a lot

[code]

Replace the BeforeAll with whatever it's currently running (BeforeAll, BeforeEach, JustBeforeEach, ..) and maybe only after two seconds so it's not spamming the log

[2022-03-16 11:27] LittleFox94 commented on #933
No worries about the delay @onsi :)

in this exact case, creating and tearing down the VLAN is actual part of the test suite, not a prerequisite for them - if it was a prerequisite, a BeforeAll and AfterAll would be correct, yes.

I agree adding more complexity to lifecycle of things is probably not good in the long term. I'm wondering if there is some syntactic sugar possible, doing the `AfterAll

[2022-03-17 23:19] selzoc opened #948 "Data race in DeprecationTracker when invoked from multiple goroutines"
We recently bumped ginkgo from `1.16.4` to `1.16.5` in [grootfs](https://github.com/cloudfoundry/grootfs).  We run our integration tests with the `-race` flag, and noticed the following race after the bump:
[code]

In [our code](https://github.com/cloudfoundry/grootfs/blob/85e7f8042693dfc63d5f5a7bc532260d8f794cbb/integration/create_concurrency_test.go#L53), we call `GinkgoParallelNode()` from mult

[2022-03-21 19:29] bdshroyer opened #950 "Go v1.18 breaks installation procedure in docs"
Hello all,

I upgraded to Go v1.18 over the weekend, and the installation instructions under Getting Started -> Installing Ginkgo no longer work.

The following is the output I receive when attempting to run `go get github.com/onsi/ginkgo/v2/ginkgo` in the `golang:latest` container. I have achieved similar results in a Github Action:

[code]

This matches the Go dev blog's [notes](https://go.dev/d

[2022-03-21 19:48] onsi commented on #950
hey @bdshroyer - there are no bigger plans at the moment, no.  I don't think I understand why `go install` is failing since the go docs seem to indicate that that should work.  but if `go get` followed by `go install` works then that's what we need to do I suppose.  please do submit a PR for the docs.

[2022-03-21 22:01] bdshroyer commented on #950
I found a little bit more about go install's behavior in the [build command flags](https://go.dev/ref/mod#build-commands). Specifically, the `-mod` flag is set to `readonly` by default when the Go version in `go.mod` is below 1.14 (GInkgo's is 1.12). The readonly mode raises the errors we see above when it can't find a module in the cache--it was just never an issue before because all the modules

[2022-03-22 23:32] massenz commented on #945
I really believe there ought to be an easy way to make this error **a lot** clearer (along with a clear way to install `v1` instead of the default `v2` now) as it is likely to confuse a lot of folks coming from v1.

[2022-03-22 23:41] talbright commented on #945
BTW that oh geeze was too myself not realizing the mismatch...not a complaint 😉

The error was fairly confusing though.

Regardless, thanks for the help!

[2022-03-22 23:45] massenz commented on #945
ummm... I have now removed `v2` and the binary `ginkgo` but it seems like that now running ` go get github.com/onsi/ginkgo` gives me back the pkg folder etc. but I cannot get the binary back - any suggestions?

Thanks!

[2022-03-22 23:59] onsi commented on #945
the v1 cli lives `github.com/onsi/ginkgo/ginkgo`

i can imagine the v2 cli identifying that you are running it against a v1 repo and emitting a more useful warning.  that could be something i add in the next v2 release.

[2022-03-23 00:30] massenz commented on #945
Thanks for the super-quick reply!

and, LoL, being the idiot I am, I hadn't realized that "onsi" was an actual person 😆
Ginkgo is absolutely awesome, and I just **love** ❤️ `ginkgo -watch`!
Thanks for developing it!

[2022-03-23 00:42] massenz commented on #945
Ok - maybe I'm missing something here:

[code]
I can see `main.go` but if I (blindly) just try and build it, I get a bunch of errors:

[code]
Did I misunderstand and you meant somewhere else?
(it's not in this repo, or in the source code tarball at v 1.16.5)

[2022-03-23 01:30] onsi commented on #945
thanks for the kind words y'all.  and sorry installing things is giving you trouble.

I just ran:

[code]

and got things to install.  I'm not using `$GOPATH` (it's been years since I last did...) but I imagine things should work just fine

[2022-03-23 04:55] massenz commented on #945
Thanks!
This worked, these were the missing magic incantations:

[code]
(the "double" ginkgo)

[2022-03-23 07:37] TomerJLevy opened #952 "print report before running the AfterEach/JustAfterEach sections"
Hi, currently I see that the report is being printed after running the `JustAfterEach` and the `AfterEach` sections and before the `AfterSuite` section, is it possible to configure it to print the report before running the `JustAfterEach` and the `AfterEach` sections?

[2022-03-23 18:45] onsi commented on #950
💯 thanks for digging into it @bdshroyer !

[2022-03-23 19:57] #950 closed

[2022-03-25 14:06] onsi commented on #952
hey there @TomerJLevy - that ordering is not configurable.  Can I ask:  what problem are you trying to solve?  It may be that there are alternatives I can point you to.

[2022-03-25 14:09] onsi commented on #948
hey there - thanks for sharing this.  The 1.x line is no longer being supported and given there's a workaround I'm inclined to lave it as is and encourage folks to invest effort upgrading to 2.x instead.

[2022-03-26 19:38] #952 closed

[2022-03-27 21:11] TheDiveO commented on #603
As I wondered about goroutines in some of my projects and to detect them in testing, a search for "gomega goroutine leak" teleported me here. Not only does this issue has the interesting goleaks link, but also a valuable discussion around it ... even as it has been dormant for quite some time.

Initially, I thought about wrapping Über's (yepp, I'm entitled to use proper umlauts) `goleak` for use w

[2022-03-29 21:10] carsonoid opened #954 "Watching does not work with build tags"
Command

[code]

Output

[code]

Interestingly, it does actually find the test suite and run it. But it does in fact not watch for changes and re-run tests. The watch did work before the build tag was added. And `ginkgo watch --tags e2e ./test/e2e/` runs the suite just fine

Version Info:
[code]

[2022-03-29 22:37] oliviassss commented on #893
@onsi Hi I have a quick question, in order to use `--label-filter`, which ginkgo version is required as minimal?

[2022-03-30 01:50] onsi commented on #893
hey @oliviassss you need 2.0 at least.  The `Label` decorator and `--label-filter` are a new features in 2.0

[2022-03-30 04:58] JiaYongfei opened #955 "Pending Specs was not outlined as pending when running ginkgo outline command"
Spec:
`It("should be skipped too", Pending, func() {})`

Run
`ginkgo outline --format=json <test_suite>` command

Output:
`{
        "name": "It",
        "text": "should be skipped too",
        "start": 1734,
        "end": 1784,
        "spec": true,
        "focused": false,
        "pending": false,
        "nodes": []
      }`

We can see that the pending field's value is false, which should

[2022-03-31 15:12] chendave opened #956 "[Question] dump `specSummary` with dry-run in v2"
I am trying to migrate ginkgo from v1 to v2, there were a custom report defined to dump the  `specSummary` with `dryRun` mode,  this is workable in the v1, and it was implemented in `SpecDidComplete`.
[code]
The migration guide here: https://onsi.github.io/ginkgo/MIGRATING_TO_V2#migration-strategy-2 suggests to add a `ReportAfterSuite` node and process the `types.Report` in v2 to replace custom re

[2022-03-31 15:26] TheDiveO commented on #603
@onsi @BooleanCat may I propose ... [noleak](https://github.com/TheDiveO/nole), to complement Gomega with goroutine discovery and leak matchers?

Simplest form:

[code]

Or adapting to background goroutine noise:

[code]

The goroutine filtering to find leaked goroutines uses `GomegaMatcher`'s to reason about `Goroutine`s. Comes with predefined goroutine matchers, as well as accepts shorthand nota

[2022-03-31 17:32] onsi commented on #956
hey there - this is similar to #935 - i'm going to be adding support for this in v2 soon

[2022-03-31 18:09] onsi commented on #603
OMG this is a thing of beauty 🤩.  I love the interface you've come up with!  My only question is wether or not [`G` ](https://github.com/TheDiveO/noleak/blob/46d8a8cb427017b8e37c64aa9be3a743d22bf29b/util.go#L31) should be exported?  My sense is the intent is for it to be used internally by the various noleak matchers?

If you're game with changing the license I'd love to include this in Gomega - i

[2022-03-31 18:18] #956 closed

[2022-03-31 18:29] onsi commented on #955
hey thanks for reporting this.  looks like I'll need to add decorator support to `ginkgo outline` - I'll try to work on that soon and publish a new release.

[2022-03-31 18:29] onsi commented on #954
thanks for reporting this.  I'll need to investigate and circle back.

[2022-03-31 19:12] TheDiveO commented on #603
- `G` ... intentionally is exported as this allows users to reuse that convenience in case they need to write their own goroutine filter matchers. As a nice bonus, it still allows to use the shorthand variable name `g` for a goroutine description. 😉
- as I said, changing the license to Gomega's MIT-style license is no problem for me. It's an honor to me to get integrated into Gomega!
- changing to

[2022-03-31 19:21] onsi commented on #603
LOL that can go in the docs for sure :)

sounds good all around - feel free to open a new issue.  thanks for contributing this!

[2022-04-01 02:01] chendave commented on #935
@onsi  thanks for the quick fix, could you pls let me which minor version of v2 will include this fix https://github.com/onsi/ginkgo/commit/aae4480d35116455d7115e71120566e8be55b4a4?

[2022-04-01 23:43] onsi commented on #935
it'll be in the next release - not sure yet when I'll cut a release, though.  hopefully in the next few days/week.

[2022-04-02 12:18] keith-cullen opened #957 "Documentation for spec labels contradicts intself"
In docs/index.md, under the section: 'Spec Labels', the text states that:

'Labels are simply textual tags that can be attached to Ginkgo **container and setup nodes** via the Label decorator.'

The following example shows spec labels being applied to **container nodes and subject nodes**.

[2022-04-02 12:36] onsi commented on #957
thanks - good catch, it should say subject nodes.  will fix.

[2022-04-08 00:16] particledecay commented on #797
@onsi did this ever happen? Funny enough this thread is the top result when you search "ginkgo lcov" (which I ran into again and came across my own thread :laughing:)

[2022-04-08 12:00] josh-ferrell opened #959 "Ginkgo stops processing in middle of JustAfterEach after failed assertion in JustBeforeEach"
I'll start by saying this may be a failure to fully understand Ginkgo setup nodes on my part. I have a test that creates some public cloud infrastructure in a JustBeforeEach setup node, executes the test and tears down the infrastructure in JustAfterEach. If an assertion fails in the JustBeforeEach setup node Ginkgo will stop after func3 in the example below. If I move that assertion to the subjec

[2022-04-08 13:02] onsi commented on #959
Hey there - when a failure occurs within the body of a given node [Ginkgo halts execution of that node](https://onsi.github.io/ginkgo/#mental-model-how-ginkgo-handles-failure)` - any lines of code that occur after the failure point in that node will not run.  Ginkgo will then start cleaning up by running any relevant `AfterEach` nodes.

My best guess is that the `condition` statement in your `Afte

[2022-04-08 15:36] onsi commented on #797
hey there - sorry, it never ended up happening.  I ran out of steam near the end there and couldn't pull together native `lcov` support.  Open to accepting a PR and happy to point the way but I don't think I'm going to have time to do this myself anytime soon :/

[2022-04-08 15:56] onsi commented on #959
Ah I see, sorry I didn't read your first post closely enough.  I bet this is what's happening:

When you put the assertions in the `JustBeforeEach` like this:

[code]

then `CreatePeering()` never runs becuase the `ASSERTIONS` fail and halt execution.  Ginkgo then moves on to the `JustAfterEach` and I _bet_ what's happening is a panic is occuring either because `cPeering` is still `nil` and you ar

[2022-04-08 17:13] josh-ferrell commented on #959
That makes so much sense I'm embarrassed. I just couldn't see it so I didn't think through that failure in the AfterEach node. Thanks again for all your help on this.

[2022-04-08 17:13] #959 closed

[2022-04-08 17:28] onsi commented on #959
no worries - glad we could figure it out and sorry Ginkgo isn't more communicative about the second failure.

[2022-04-11 10:43] chendave opened #960 "[Question] How to dump test spec with "FullStackTrace" with v2"
Hi,

I am trying to migrate ginkgo from v1 to v2 for kubernetes project (https://github.com/kubernetes/kubernetes/pull/109111).

One obstacle I have seen is that kubernetes depends on the "FullStackTrace" for each test spec to find where is the code comment for each conformance test, and there is a CI validation based on this, this is workable with ginkgo v1 as the "FullStackTrace" is always attac

[2022-04-11 10:44] chendave commented on #960
@onsi Could you pls give me any suggestion on this? thanks a lot!

[2022-04-14 07:08] XiShanYongYe-Chang commented on #893
I am using ginkgo 2.1.3 and have had the same problem.

[2022-04-15 03:24] chendave commented on #960
Have tried the `offset` decorator, so far everything is good. :)

[2022-04-15 03:25] chendave commented on #960
pls let this issue open for an while in case there is any following up questions.

[2022-04-17 14:24] JiaYongfei opened #963 "CapturedStdOutErr field in report.json captured the console output when running in parallel, but not for serial running cases?"
When running in parallel, there is a CapturedStdOutErr field  in report.json which captured all the console output.
`"CapturedStdOutErr": "I0417 22:10:24.591147   27863 clustercase_test.go:70] table test test1\n"`

When running in serial, CapturedStdOutErr field was not found.

[2022-04-17 14:27] JiaYongfei opened #964 "Is there a way to get the real-time num of specs like how many specs are running, passed, failed, to-be-running?"
We'd like to show these kind of info on our platform to indicate the progress. Is there a way to get them?

[2022-04-19 19:16] zostay opened #965 "Switch off fail on focus"
Sorry if this already exists as a feature and I'm just not finding it: It would be helpful if there were a way to switch off returning a non-zero exit code on failure. I think that is a great default, but sometimes the exit code is helpful just to see if one or more tests in the suite are failing, i.e., when bisecting. If you want to focus on a single test and perform a bisect, this makes it somew

[2022-04-19 19:19] zostay commented on #965
My current work-around is a shell script like this:

[code]

[2022-04-19 19:25] onsi commented on #965
You can set an environment variable like so: `GINKGO_EDITOR_INTEGRATION=TRUE`

It's a bit of a [hidden feature](https://github.com/onsi/ginkgo/blob/ce3d3731402b67a8d6dd966480924b7133bb5642/core_dsl.go#L292) but it's supported for editor integrations so don't worry about relying on it.

[2022-04-20 08:47] pohly opened #966 "continue after failure in ordered container"
When running specs in an ordered container, ginkgo aborts after the first test failure:
[code]

In my case, additional specs can run. I need them to run in a certain order not because there are dependencies between them (each spec is self-contained) but because it is more efficient (some setup code can get skipped) and some tests are more reliable when run first.

Is it possible to configure wheth

[2022-04-20 08:50] pohly commented on #966
In Ginkgo v1, is execution order deterministic when parallelization and randomization are off? I had the impression that it runs in the order in which specs are defined, but that didn't work all the time.

Obviously using Ginkgo v2 with explicit semantic will be better, it just might take a while longer to get there :sweat_smile:

[2022-04-20 10:39] pohly opened #967 "-v prints GinkgoWriter output twice"
I am running with `-ginkgo.v -ginkgo.always-emit-ginkgo-writer=false` because I want to see output as soon as it gets produced while the tests run. I found that this then prints the output twice, once when it originally gets produced and then again when the spec has passed. That's because of this line:

https://github.com/onsi/ginkgo/blob/ce3d3731402b67a8d6dd966480924b7133bb5642/reporters/default_

[2022-04-22 11:55] pohly opened #969 "timeouts and cleanup"
In Kubernetes, we would like to have:
- an overall timeout for the entire suite (`-ginkgo.timeout`, with a very high value because the suite is large)
- a per spec timeout (???, smaller, to avoid blocking for the entire `-ginkgo.timeout` duration on a single spec)
- timeouts for AfterEach specs (we try to clean up, but cleaning up itself may get stuck)

So far I have only found `-ginkgo.timeout`.

[2022-04-23 13:44] chendave commented on #960
so far it is good with the `offset` decorator, thanks for the solution!

[2022-04-23 13:44] #960 closed

[2022-04-23 14:02] chendave opened #970 "[Question] How to debug the node hangs when multiple nodes run in parallel"
Hi,

I am still working on the Ginkgo migration from V1 to V2 for Kubernetes (https://github.com/kubernetes/kubernetes/pull/109111), only one last job is failing and it is saying,

```Ginkgo timed out waiting for all parallel procs to report back```

This job "pull-kubernetes-e2e-ubuntu-gce-network-policies" intends to run testcases with 15 nodes in parallel. Seems like the job failed with some no

[2022-04-23 14:04] chendave commented on #970
@onsi , thanks for all the help you have provided, the migration is pretty close now, this is last one big problem as far as I can see now.

[2022-04-23 14:08] chendave commented on #970
I saw the error message `Ginkgo timed out waiting for all parallel procs to report back` comes right after the below testcases,

[sig-network] Netpol NetworkPolicy between server and client should enforce egress policy allowing traffic to a server in a different namespace based on PodSelector and NamespaceSelector [Feature:NetworkPolicy]
test/e2e/network/netpol/network_policy.go:879
--------------

[2022-04-23 14:21] chendave commented on #970
the log says all the parallel processes run on the "Ginkgo node 0", this is something need to be optimized (ParallelProcess is not passed in correctly I think) but I don't think this is the root cause.

[2022-04-23 14:30] onsi commented on #970
Hey @chendave - i'll try to find some time to reply and help this morning.

[2022-04-23 18:14] onsi commented on #970
hey @chendave

First to reply to some of your follow-up questions:

correct - I have no reason to believe the tests aren't being parallelized, this looks like a minor issue around passing in `ParallelProcess`.

No, it does not.  That test succeeded and finished.

---

When Ginkgo runs tests in parallel it launches multiple test processes and then monitors them.   The error you are seeing can occur

[2022-04-24 03:52] chendave commented on #970
Thanks @onsi for the quick response!

yes, the job (pull-kubernetes-e2e-ubuntu-gce-network-policies) never pass after the migration, I am trying to see whether it will fail intermittently on V1 and pushed a testing pr here (https://github.com/kubernetes/kubernetes/pull/109633).

tried here (https://github.com/kubernetes/kubernetes/pull/109111/commits/21c185f6034494e6e70b15a3361f46c135196ee9), let'

[2022-04-24 08:52] chendave commented on #970
Tried with the option `--output-interceptor-mode=none`, the log shows something helpful,  the [log ](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/109111/pull-kubernetes-e2e-ubuntu-gce-network-policies/1518068579122024448) here says there is concurrent map writes when using the deprecated `CurrentGinkgoTestDescription` method.

snap of the stack trace,

  	vendor/github.com/onsi/gink

[2022-04-24 10:01] chendave commented on #970
the job "pull-kubernetes-e2e-ubuntu-gce-network-policies" eventually passed, thanks @onsi for the hints.

[2022-04-24 12:04] onsi commented on #970
aha!  that's a bug in 2.0 then, the concurrent map write was causing at least one of the nodes to exit early which triggered this issue.  having removed `CurrentTestDescription` are things passing?  Do you they pass without `--output-interceptor-mode=none`?

I'll add a lock to the depredation tracker and push out a new version soon.  But if your tests are passing now you should be good!!

[2022-04-24 13:27] chendave commented on #970
yes, remove `CurrentTestDescription` everything is good.

as long as removed the `CurrentTestDescription`, the job will be happy.

[2022-04-24 13:29] chendave commented on #970
I don't know what's the magic, but `--output-interceptor-mode=none` do show me lots of useful information. :)

[2022-04-24 13:29] chendave commented on #970
thanks again!

[2022-04-26 16:32] onsi commented on #970
alright I've added a lock to `DeprecationTracker` and updated Ginkgo's `Ginkgo timed out waiting for all parallel procs to report back` error to also encourage users to try setting `--output-interceptor-mode=none` to get additional debugging information.

[2022-04-26 16:39] #970 closed

[2022-04-26 16:54] #957 closed

[2022-04-26 17:00] onsi commented on #964
hi @JiaYongfei sorry for the delay.  Please take a look at the [Generating reports programatically](https://onsi.github.io/ginkgo/#generating-reports-programmatically) portion of the documentation.  In particular, you can use [`ReportAfterEach`](https://onsi.github.io/ginkgo/#reporting-nodes---reportaftereach-and-reportbeforeeach)  to track whether a spec has passed/failed.  You could then send th

[2022-04-26 17:10] onsi commented on #966
hi @pohly - am finally feeling better so I'll work through the various issues you've opened and share some replies.

it is not possible to configure whether ordered containers fail fast - and I'm trying to avoid adding more caveats and knobs to the ordered container stuff so I'd prefer to not make too many changes there.

In both Ginkgo v1 and Ginkgo v2 you cannot turn off randomization.  However,

[2022-04-26 17:17] onsi commented on #967
yeah - it's' intentional though admittedly there's not a great reason for doing it.  when you're running in series you'll see `GinkgoWriter` writes emitted in real-time and then again as part of the spec summary.  When you're running in parallel you'll only see it emitted in the summary once.  These slight differences in behavior when running in series/parallel are unfortunate - but the intent is

[2022-04-26 18:49] pohly commented on #966
Would you accept a PR?

Unfortunately OLM is not something that any of the developers working on PMEM-CSI are familiar with, and the upstream OLM developers have shown little interest in helping us with debugging problems that only occur in our CI system.

[2022-04-26 18:51] pohly commented on #967
I've arrived at the same conclusion. My solution in PMEM-CSI now is to use -ginkgo.v only when running interactively, with some comments explaining the double output.

[2022-04-26 18:51] #967 closed

[2022-04-26 19:02] pohly commented on #969
How does it abort a running spec, i.e. which mechanism is used to force a Go function to return? Just curious.

I think that would be useful. Exposing this as options then also is an opportunity to document this behavior in a user-visible place. At least I didn't see anything about this aspect.

I tend to agree, and as I said somewhere (not sure anymore where), Kubernetes should have timeouts defi

[2022-04-26 19:07] pohly commented on #969
However, those are usually local timeouts, not per-spec timeouts. So if a spec creates 10 pods, each pod creation gets the same 5 minute timeout instead of having an overall timeout for the spec. I've seen cases where something was wrong, but not wrong enough to time out any of the individual steps, so the spec kept running although it would have been better to abort after a certain per-spec timeo

[2022-04-26 19:08] pohly commented on #969
It's also hard to review how long the entire spec is expected to run. One would have to sum up the individual timeouts, of which most are hidden behind helper functions.

[2022-04-26 19:10] onsi commented on #969
I wish I _could_ forcibly end the go function.  But that isn't possible.  It just moves on to other things (so you actually potentially end up with multiple things running in the background when a timeout occurs and is unwinding)

OK sounds good.  I'll work on it and will try to ship something soon.

that's also part of the challenge - what should you set the spec-level tiemout to?  In any event,

[2022-04-26 19:13] onsi commented on #966
Sorry - I wasn't trying to communicate "this is complicated so I don't have time to do it."  I was trying to say "there's already growing code _and_ function.l complexity to this feature and I don't want to make it more complex."  As it stands I'm seeing all sorts of interesting uses of `Ordered` trying to paper over the reality that the system under test actually needs improvement.

I appreciate

[2022-04-26 19:31] pohly commented on #966
I could invoke it twice, with different -ginkgo.focus/skip parameters. It would make an already complex invocation even more complex, but it would be doable.

[2022-04-26 19:41] onsi commented on #966
Right.  But if invoking it twice is an option then why not have the flaky "need to run right away" specs use their own dedicated resource/cluster and have all the others use a different one.  The cost of setting up both clusters is the same for either scenario.

I'd love to do a deeper dive with you and whoever else is close to these test suites as I do wonder if there are alternatives like this t

[2022-04-26 19:57] pohly commented on #966
True, but reusing the same cluster is more efficient. We are trying to save some money here.

Thanks for the offer to help, but I think I can solve this myself.

[2022-04-26 20:00] onsi commented on #966
okie doke :) if you do end up wanting to revisit it let me know.  sorry there aren't any out-of-the-box solutions that Ginkgo can offer.

[2022-04-26 20:15] pohly commented on #969
That's what I thought.

So you are saying that when something times out, the code keeps running in the background and ginkgo just "pretends" that the It or AfterEach has stopped?

Then why does my example not print "stopped" via `defer fmt.Fprint(ginkgo.GinkgoWriter, "done\n")`?

[2022-04-26 20:26] onsi commented on #969
your example doesn't print "stop" because the test process exits after the last `AfterEach` node is "terminated"

does that make sense?  in Go one goroutine can't cause a different goroutine to exit. so Ginkgo has to let these timed-out goroutines "leak" - but since a timeout has occurred Ginkgo's goal is to try to run as many of the cleanup nodes as possible and then exit.  so when the last clean

[2022-04-27 09:47] dmytro-zakharov commented on #966
Hey!
I found this issue as I have a similar problem that I'm not sure how to solve.
First of all - I've just started using ginkgo and everything looks promising, but I may have missed something 😬

I want to run some integration tests on a running test environment and check if a result of some action impacts correctly all the services. Every check is independent, so I'd love to have an option to "c

[2022-04-27 09:53] pohly commented on #966
What do you need `Ordered` for in this example? It looks like you can simply drop it.

[2022-04-27 09:59] dmytro-zakharov commented on #966
As I mentioned - to be able to use `BeforeAll`. Once I remove `Ordered`, I get this error:

[code]

[2022-04-27 10:12] pohly commented on #966
Can't you use a normal `BeforeEach`? Or is the setup so expensive that it should only run once?

[2022-04-27 10:40] dmytro-zakharov commented on #966
A normal `BeforeEach` might be an option, but since the setup is relatively expensive and may slow down the whole execution - it seemed to be more natural to rely on a single run using `Ordered` / `BeforeAll`, but maybe I miss some hidden drawbacks with `BeforeAll` approach 🤔

[2022-04-27 12:07] onsi commented on #969
hey @pohly - yes you have it right.

I think of suite timeouts as exceptional situations (similar to user-initiated interrupts like sending a `SIGINT`).  The intent is to say "the suite has failed - do your best to clean up and exit ASAP."  Ginkgo then does a best-effort cleanup that is predicated on the assumption that everything is shutting down ASAP so let's tear things down.

So, yes, the `It`

[2022-04-27 12:38] pohly commented on #969
It might be worth calling that out as a caveat in the documentation, if it's not there already. I might have missed it.

Not in my experience. The E2E suite in Kubernetes can sometimes run much more slowly than usual, without any particular test hanging. Then when the timeout occurs in a CI job, some random spec is still active and running.

When debugging interactively, I tend to use CTRL-C to ab

[2022-04-27 15:39] onsi commented on #966
hey @dmytro-zakharov Ginkgo lets you make the following trade-off:

- Build [independent specs](https://onsi.github.io/ginkgo/#mental-model-ginkgo-assumes-specs-are-independent) that can be parallelized and randomized.  This is the recommended approach and avoids using `Ordered` containers.  You can amortize the cost of setup in a variety of ways (happy to dig into it further with you if intereste

[2022-04-27 16:41] pohly commented on #966
For comparison, when doing unit tests and assertions with github.com/stretchr/testify, one can do some complex work, then check multiple aspects of the result with github.com/stretchr/testify/assert. Failures will be recorded, but testing continues. When passing a check is essential for continuing to test, then github.com/stretchr/testify/require records a failure and aborts.

Ginkgo supports only

[2022-04-27 16:49] onsi commented on #966
Correct - Ginkgo supports only the latter and that choice is intentional and stems from Ginkgo's origin story as a framework to enable TDD.

[2022-04-27 18:18] pohly commented on #966
This hint allowed me to solve my problem in PMEM-CSI: I moved the `Describe` calls from top-level into a `Context` and now they get executed in the order in which they are defined because `--randomize-all` is off.

As far as I am concerned, this issue can be closed.

[2022-04-27 18:22] #966 closed

[2022-04-27 18:42] pohly commented on #969
Isn't it so that there's always only one active node in a process? At least internally Gingko should be able to identify that node and then panic only when the active node is an `It`.

They could, if there was an API to determine the time that a spec still has left. I don't think there is one at the moment. The advantage of getting a context from Ginkgo is that it can be integrated with signal han

[2022-04-27 18:56] onsi commented on #969
Yes, except in this one context where an interrupt/timeout has occurred and Ginkgo is cleaning up as quickly as possible.

yep, a `GinkgoContext()` would make sense.  You can get the total time available to a suite at the beginning (in a `BeforeSuite` for example) by reading the `GinkgoConfiguration()`.  You could then have a parent `Context` that sets that timeout and gets distributed to all the

[2022-04-27 20:17] pohly commented on #969
That is very subjective. My own preference is the other way around, at least for the suites that I work on. But I can also see why for other suites the current behavior may be more suitable. Perhaps we could do a poll to find out which mode users would pick?

If both approaches would have users, we could add a command line switch that prevents concurrent cleanup and then do things like "panic duri

[2022-04-27 21:59] tomastigera opened #971 "v2 breaks the way --ginkgo.parallel.process -and -ginkgo.parallel.total used to work"
It was possible to run independent batches on different machines that would just execute their respective shard with v1. v2 can spin up multiple processes in parallel that require `--parallel.host` to be set (by default by CLI) so that a server would coordinate the shards. Is there either a way how to spin up the server independently or to turn this behaviour off? Parallelization within a single m

[2022-04-27 23:11] onsi commented on #971
Hey @tomastigera

Yes 2.0 removed support for that kind of sharding (which itself was a holdover of how early versions of Ginkgo used to distribute specs in parallel).  I'd always designed Ginkgo with the ability to run processes on remote workers in mind but had never seen anyone actually put that support to use.  So it's cool to hear you're interested.

I'd be happy to reintroduce it - but not v

[2022-04-28 00:23] tomastigera commented on #971
Hey @onsi  yeah I can see it is all ready for multi-worker setup :+1:

Depends on what the server needs to know. I compile the test into a single binary that is distributed across the workers. Perhaps what I would like to have is that the same binary san act both as a client where I would add `--parallel.host` and a server which I would run like `--server <port>` ?

When there is a failure each no

[2022-04-29 08:25] aojea commented on #969
timeouts on tests are a difficult topic , see related golang issue about "per-test timeouts" https://github.com/golang/go/issues/48157.

It seems per Onsi comments that there are some implementation details that are difficult to overcome, but maybe adding the necessary tooling to overcome these problems is the solution here, will this `GinkgoContext()` allow to users to implement graceful shutdown

[2022-04-29 08:35] pohly commented on #969
I think it would help those suite developers who don't want to run cleanup code in parallel to a running test. Suite developers who are okay with potential race conditions during cleanup don't need it (current approach).

[2022-04-29 08:50] pohly commented on #969
@aojea : you know the Kubernetes E2E suite. What's your opinion, would it make sense for us to run `AfterEach` in parallel to an `It` that has timed out but keeps running? The code is not prepared for this kind of concurrency, which is my main concern.

[2022-04-29 10:33] aojea commented on #969
The cleanup on the E2E depends on Kubernetes "namespaces", the framework creates a new namespace for each test, runs the test and in `AfterEach` it deletes the namespace.

The garbage collector then should kick in and try to delete all the things in the namespace asynchronous, IIRC it doesn't "force" so if the `It` keeps running it will not  be able to clean it up. However, if the `It` is destroye

[2022-04-29 11:20] onsi commented on #969
I have an idea for a design that would allow users to have a per-It timeout as well.

Contexts came on the scene after Ginkgo first went GA which is one reason why there isn't better native support for them.

[2022-04-29 11:30] pohly commented on #969
Not all resources are necessarily tracked via the test's namespace and/or there are cases where deleting the namespace is not enough to clean up. For example, PVCs are created in the namespace. But they get provisioned and deleted by a CSI driver, so if cleanup deletes the namespace and then immediately also the CSI driver, the volume leaks because Kubernetes cannot remove the PVC and thus the nam

[2022-04-29 17:08] raulvc commented on #582
welp, here we are again, testing from 1.18.1 SDK has this amazing change in testing.TB interface:
[code]

[2022-04-29 23:13] fernandesnikhil opened #972 "Panic with proto file already registered after module dependency update"
I recently updated the modules on a project I'm working on. Prior to the update I was able to run my Ginkgo tests with
```ginkgo -r```

After the update I get the following error
[code]

The go module update changed the following
[code]

I'm just getting into Go programming I don't fully understand how I could resolve this. Could someone help me understand what went wrong when I updated my module

[2022-05-03 10:17] fasaxc commented on #971
@onsi FYI we're running in a cloud CI so we can't _just_ start VMs, they're workers started by the CI system with particular parameters.  The CI provider lets us start up n parallel workers, each with its own shard number passed in by env var, but there's no ability to start up n workers, with a central coordination server and connectivity between them.

[2022-05-03 20:48] poojaprasanthi opened #973 "Failed test summary is not showing up in ginkgo 2.1.4"
I updated the ginkgo version to 2.1.4.

 In my older versions - the test run summary used to look like
[code]

but after the upgrade , I could not see the summary about failing tests. it only displays last lines:
[code]

what flag should I use to see the failed tests summary?

As of now I am using :
[code]

Also, how should I silence these outputs like

[code]

[2022-05-06 05:33] JiaYongfei commented on #964
Thanks. It helps.

[2022-05-06 05:33] #964 closed

[2022-05-08 20:47] fernandesnikhil commented on #972
I undid the `go get -u` and did a more targetted update on a single dependency that I wanted to get the latest version of and it's working now.

[2022-05-08 20:47] #972 closed

[2022-05-11 11:22] chendave opened #977 "`dry-run` mode generate unexpected test spec"
upgrade Ginkgo to latest version 1.2.4, run Ginkgo with `dry-run` mode will generate the test spec which `LeafNodeType` is `SynchronizedBeforeSuite`.

Here is an example of what I got in kubernetes.

[code]

This seems like a regression as only the `LeafNodeType`  equal with `It` will be generated pre 1.2.4 release.

[2022-05-11 11:23] chendave commented on #977
@onsi this is by design or a regression?

[2022-05-11 11:40] onsi commented on #977
this is by design.  the report data format was updated in 2.0.  you should be able to filter by type to get what you need.

[2022-05-16 18:42] nwaizer opened #979 "Can not access slack channel"
Hi,
I try to open the link provided in the Readme https://app.slack.com/client/T029RQSE6/CQQ50BBNW
This leads me to choose my workspace, but does not add the channel.
So how to get in touch with ya?
Niv

[2022-05-17 02:48] onsi commented on #979
hey @nwaizer  - not sure what that link isn't working, but you'll want to join the [Gophers slack](https://gophers.slack.com) and then join the #ginkgo channel.

You can also feel free to open an issue.

[2022-05-18 09:16] psturc opened #980 "DeferCleanup() or AfterAll() is not triggered if specs in nested container node is skipped"
Hello! I know it is probably not a recommended practice to write tests with so many nested container nodes (and I'm currently rewriting specs in my test to be independent), but I thought it's worth to report this issue anyway.

This is the code
[code]
When I run the tests with env var `SKIP=true` (which results in all specs in container node `Describe level 2` to be skipped), the `DeferCleanup, le

[2022-05-18 11:36] onsi commented on #980
hey @psturc thanks for reporting this.  Looks like it might be an edge-case bug that you've found.  I'll dig into it and see how if I can push a fix out soon.

[2022-05-18 15:07] KevinJCross commented on #875
Ive created  a few forks for cf/pivotel related repo's to enable us to move the app-autoscaler-release to V2
If anyone is interested:
https://github.com/KevinJCross/lager with pr https://github.com/cloudfoundry/lager/pull/54
https://github.com/KevinJCross/cfhttp with pr https://github.com/cloudfoundry/cfhttp/pull/18
https://github.com/KevinJCross/cf-test-helpers without a pr because I need changes

[2022-05-18 15:07] #875 closed

[2022-05-20 22:37] rejoshed opened #983 "Question: Shared or Reusable Context"
Hey, thanks for the awesome test lib!

I was trying to write a context block that I can reuse.

Essentially I want something that I can use like:

[code]
[code]

Is there an existing pattern that would allow this?

[2022-05-21 16:04] blgm commented on #983
Hi @rejoshed. You can just use higher order functions in Go (that is functions that return functions). For example:
[code]
One gotcha involves when functions are actually invoked: Describe/Context/When immediately invoke their callback function, while It/Spec callback functions are invoked later when the test is actually run. This causes problems in `for` loops, for example:
[code]
It's worth refe

[2022-05-21 17:19] onsi commented on #983
+1.  Here's a couple of additional ideas/patterns.  There really isn't a "right" or "wrong" way to do any of this - just whatever makes sense to you and helps you manage complexity:

You can write `CoolContext` as:

[code]

and then your tests look like:

[code]

Though in this case of shared setup/teardown I tend to prefer pulling out functions that do the cleanup/teardown (using Ginko's `DeferCl

[2022-05-22 16:21] MariusSchmidt opened #984 "Support go:embed directive in ginkgo build"
Hi ginkgo folks,

love your go bdd framework and have a feature request (or documentation request, if already available). We use [the Golang embed directive](https://pkg.go.dev/embed) to create an embedded filesystem and store some test environment specific properties there. But the ginkgo build does not seem to pack it into the binary generated with "ginkgo build <testdir>". Would be awesome to h

[2022-05-22 16:53] onsi commented on #984
hey @MariusSchmidt - glad you're enjoying Ginkgo :)

`ginkgo build` is simply using `go test -c` under the hood.  Can you do me a favor and check wether or not simply running `go test -c` results in different behavior?  Also do you see `embed` work when you run `ginkgo` (ie is the issue only occurring if you use `ginkgo build`?  or does it always happen?)

I'll try to do some debugging myself when

[2022-05-22 21:57] blgm commented on #984
I've used `go:embed` with files (not directories) in Ginkgo and it worked fine. Do you have any more detail on the issues that you're seeing? Can you make it work outside Ginkgo?

[2022-05-23 12:43] MariusSchmidt commented on #984
Hi @onsi  and hi @blgm ,

Your answers been helpful. Onsi you might want to add to the documentation, that gingko build basically calls go test -c. I debugged it using the "go test" build, to ensure it is not something weird with ginkgo build and found out, that I slightly misused the embed feature. For reference

What I did before (WRONG):

[code]

The problem is in the line with "ioutil.ReadFile