[2013-08-23 23:19] xoebus opened #1 "Hi!"
Hi!  Really?

[2013-08-24 00:38] onsi opened #2 "make it possible to include/exclude tests from the command line"
go test --include="regexp pattern" --exclude="regexp pattern"

[2013-08-24 05:49] #1 closed, assigned to nobody

[2013-08-25 08:16] vito opened #3 "pended tests are considered failures by 'go test'"
is this normal?

[code]

[2013-08-25 17:45] #3 closed, assigned to nobody

[2013-09-22 19:22] #2 closed, assigned to nobody

[2013-09-24 05:29] mark-rushakoff opened #5 "Fail undocumented"
I was very excited when I figured out that I can use `Fail("should be unreachable")` in a spec and it did the right thing.  But that doesn't seem to be covered in the documentation.

[2013-09-24 05:43] mark-rushakoff opened #6 "Full stack trace too noisy"
This isn't helpful:

[code]

This would be more helpful:

[code]

(Indentation is a little messed up but you get the idea.)

A naive solution may be to only show matches in the current directory.  A slightly more clever solution may only remove standard packages and ginkgo.

[2013-09-24 20:50] #6 closed, assigned to nobody

[2013-09-24 20:50] #5 closed, assigned to nobody

[2013-10-12 20:23] adamstep opened #9 "Question: Is it possible to reference testing.T in the tests?"
Is it possible to reference `testing.T` in the tests? This is needed by [gomock](http://godoc.org/code.google.com/p/gomock/gomock) to create a new mock controller.

[2013-10-20 21:25] xoebus opened #10 ""Weird Things" happen if the actual/expected values look like format strings"
I'm writing a test to make sure that one of my methods makes the correct request to a web server. It uses a lot of query parameters to do this which unfortunately look an awful lot like format strings.

A snippet of the code is below:

[code]

`lastAddUrl` looks something like this at the end of this:

[code]

Ginkgo reports the failure like so:

![screenshot 2013-10-20 22 23 33](https://f.cloud.g

[2013-10-22 13:55] #10 closed, assigned to nobody

[2013-10-24 20:52] michaelklishin opened #11 "Equality matcher should not compare types"
I have some code that looks roughly like this:

[code]

However, this leads to failures. Explicit casting helps:

[code]

It may be that I'm too new to Go but I believe type aliases [work the way I expect](http://play.golang.org/p/438du4UGg-). But this is not the case with Ginkgo. So my theory is that the `Equal` matcher does type equality checking (not equivalence).

At first I thought that's how

[2013-10-27 21:07] #11 closed, assigned to nobody

[2013-11-02 21:16] idawes opened #12 "Small feature request: Use timeout provided for It() with done channel to modify slowSpecThreshold for that test only"
If the timeout provided for an It() with a done channel is longer than the default 5 second timeout of slowSpecThreshold, it would be nice if we didn't have to modify the slowSpecThreshold for all tests to accommodate the one or two slow tests.

Also, it would be nice to have an option to skip known slow tests (i.e. the ones with a long timeout specified on the It())

[2013-11-16 22:41] adamstep opened #13 "Suggestion for focused specs"
While using Ginkgo I find myself often using `FDescribe()` while implementing a feature, and then wanting to use `FIt()` within the block to debug a specific assertion:

[code]

However, `go test` runs all of the specs in the container, not just the focused one. This seems counter-intuitive to me.

If you agree that focused specs should take precedence over focused spec containers, I'd be happy to

[2013-11-16 23:22] #13 closed, assigned to onsi

[2013-11-17 21:41] #9 closed, assigned to nobody

[2013-11-19 05:22] dcapwell opened #14 "getPackageImportPath assumes src only exists once in PWD"
[code]

I put all my github code under $HOME/src/github.  Because of go's directory requirements, I get around this by adding gopath under github, and have a src there.  So, if you look at my PWD, I have two src dirs.

[2013-11-19 16:57] #14 closed, assigned to nobody

[2013-11-22 06:13] AlexLuya opened #16 "Function request:mocking"
Hello,any plan to introduce mocking?

[2013-11-22 06:19] #16 closed, assigned to nobody

[2013-11-22 07:12] AlexLuya opened #17 "Is it possible to hook the mock lib of testify into ginkgo?"
I think the  mocking style of testify(https://github.com/stretchr/testify) is more nature than gomock,is it possible to hook it's mock lib into ginkgo?

[2013-11-22 12:07] sporto opened #18 "Passing reference from Global Setup"
In my global setup I get a reference to a db session.

[code]

Then I my test I will like to use this reference.

[code]

How can I do this?

Maybe Ginkgo needs a beforeAll block to do this?

[2013-11-23 01:52] #18 closed, assigned to nobody

[2013-11-25 22:54] luebken opened #19 "Support running ginkgo for a package"
A standard way for me is to run 'go run <packagename>' it would be great of ginkgo would support that to.

[2013-12-15 11:55] stephanos opened #22 "print number of tests after success"
I'd find it useful to see the total number of tests after everything runs successfully.
It gives you a sense of the project's test size.

[code]

[2013-12-15 11:56] #22 closed, assigned to nobody

[2013-12-15 12:27] stephanos opened #23 "Sequence"
I have a rather long spec that I had to split up into multiple `It` steps for readability and maintainability. But since each step depends on the success of the previous one it's rather annoying to go through dozens of failed tests to get to the root cause.

So a `Sequence` could be a special kind of `Description` that stops the execution of its `It`s as soon as the first one fails.

What do you t

[2013-12-15 12:37] stephanos opened #24 "allow easier stenographer customization"
When I have a test failure it looks like this

[code]

This is too much information. I usually only care about the very last line.

So of course I tried to change this myself. But to do so I had to modify `printFailure` and comment out the printing of the component code locations - just 1 line change. But it was quite tedious since I had to copy the whole original file and create my own reporter (

[2013-12-15 22:15] #23 closed, assigned to nobody

[2013-12-15 22:53] #19 closed, assigned to nobody

[2013-12-15 22:53] #24 closed, assigned to nobody

[2013-12-28 14:43] ereichert opened #25 "Feature Request: autorun support a la Guard in Rubyland."
Ginkgo is great but would be even better if you could start it up with a regex or -r and leave it running, watching for file changes (test and production code) and rerunning the appropriate tests.

Something like

ginkgo -r -a

would be ideal.

[2014-01-11 05:52] onsi opened #26 "Ginkgo's parallel output should be a single coherent stream"
Ginkgo's current parallel spec output leaves much to be desired.  The CLI launches a number of spec processes in parallel, waits for them to finish, then blams the output of all the processes onto screen in one shot.  Users get no output until the tests completely finish....

[2014-01-11 05:55] #26 closed, assigned to nobody

[2014-01-21 20:20] benlesh opened #28 "Unable to install on Windows 7, syscall.Dup2 undefined"
The title says it all. I'm trying to install this package on Windows 7 and I get the     following:

[code]

[2014-01-22 14:56] #28 closed, assigned to nobody

[2014-01-29 00:46] webdev opened #30 "Ginkgo + GDB"
Is there a mechanism within Gingko that would allow me GDB like debugging?

Please advise.

[2014-01-30 03:37] #17 closed, assigned to nobody

[2014-02-05 00:37] tjarratt opened #31 "Ginkgo should run tests from both the "name" package and "name_test" package"
I was very surprised to discover that Ginkgo will only run the tests that are defined in the same package as the suite_test. Seems like a bug, but I would also accept that this is a feature (because it forces you to write your tests in the `name_test` package.

Alternatively, if this is hard to solve, a warning would be very nice.

[2014-02-05 04:30] #25 closed, assigned to nobody

[2014-02-07 05:58] #31 closed, assigned to nobody

[2014-03-18 21:41] aramprice opened #39 "Slow test output should be bracketed for carlity"
Currently slow test output looks (something) like:

[code]

Perhaps something like:

[code]

[2014-03-19 15:32] AlexLuya opened #40 "Small feature request:change result color"
If I have following result:
SUCCESS! -- 2 Passed | 0 Failed | 0 Pending | 0 Skipped PASS

1,Hope the color of number "2" before "Passed" can be set to green
2,if only the numbers(before "Passed","Failed","Pending","Skipped") were colored,result will be easier to read

[2014-03-19 17:16] tedsuo opened #41 "Ginkgo -nodes should have a -debug flag that immediately streams output"
Sometimes its hard to debug issues like a hanging test when running in parallel because output is buffered.

It would be great if there was a way to have all output immediately streamed to the console, prefixed with the parrallelNode id.

[2014-03-19 20:22] #41 closed, assigned to nobody

[2014-03-21 07:46] neilgarb opened #42 "Failed assertion causes panic"
I may be missing something here, but I can't figure out why I get a panic if one of my assertions fails.

This is the panic I get:

[code]

From the following piece of code:

[code]

User is:

[code]

If any of the assertions inside the second Context() fail, I get that panic.  I've used == instead of Equal() for no particular reason.  I get the panic either way.

Using onsi/ginkgo@d3df15ba539a80f

[2014-03-21 11:47] #42 closed, assigned to nobody

[2014-03-24 23:23] aramprice opened #44 "Adding BeforeSuite()?"
Would it be possible to add a BeforeSuite() hook to do suite-wide setup.

Ex. authenticating into an API under test and doing some pre-test, non-polluting setup before Ginkgo spawns `-nodes` runners

I would be happy to work on a PR but I'm not sure where this aught to be added.

[2014-03-26 02:05] wulonghui opened #45 "How to run a specified use case"
whenI execute ginkgo ,it will run the whole use cases of a test suite:

root@test-ubunut-3:/home/share/go-yuki# ginkgo -v  test/demo
# Running Suite: Demo

Random Seed: 1395828075
Will run 2 of 2 specs

An application being started
  can start an app successfully
  /home/share/go-yuki/test/demo/demo_test.go:31
## ?

An application being started
  expert string
  /home/share/go-yuki/test/demo/demo_

[2014-03-31 19:13] #45 closed, assigned to nobody

[2014-03-31 19:14] #30 closed, assigned to nobody

[2014-03-31 19:15] #40 closed, assigned to nobody

[2014-03-31 19:25] onsi opened #46 "When running multiple test packages ginkgo should default to succinct mode"
Here's the planned behavior:

`ginkgo onepackage` will run with the standard reporter output
`ginkgo firstpackage secondpackage` will run in succinct mode
`ginkgo -v firstpackage secondpackage` will override succinct mode and run in verbose mode

As a part of this issue, Measurements will actually print out in succinct mode (they currently don't) though the output will be abbreviated.

[2014-03-31 19:28] onsi opened #47 "Make it possible to use the Ginkgo DSL and avoid . imports"
`ginkgo bootstrap` and `ginkgo generate` create test files that import Ginkgo and Gomega into the top-level namespace with `.`

This will remain the default, but there will now be a new `--nodot` mode that will explicitly import all exported names from Ginkgo and Gomega into the top-level namespace in the bootstrap file.

In addition there will be a `ginkgo nodot` command that will find the bootst

[2014-03-31 19:31] onsi opened #48 "Remove thirdparty/gomocktestreporter in favor of more general GinkgoT"
Gomock expects a `TestReporter` that is really just a subset of the methods implemented by `GinkgoT`.  As such there is no longer a need for the `gomocktestreporter`.  Users of gomock (and [anything else](https://github.com/stretchr/testify) that takes a `testing.T`-like interface) should simply use `GinkgoT()`

[2014-03-31 19:32] onsi opened #49 "Rename example => spec"
What is an example, anyway? ;)

This will affect custom reporters in the wild, but the fix should be a simple find-and-replace rename.

[2014-03-31 19:35] onsi opened #50 "Move cleanup out of Ginkgo and into its own repo"
A useful tool, but not particularly Ginkgo specific.

[2014-04-01 03:57] rvenugopal opened #51 "Is it possible to watch both the referenced packages along with the unit test suites?"
In my directory structure, I have

[code]

When I run ginkgo command with watch=true, it watches for any changes in my "tests\unit" folder, which is great.  However, I would also like to be able to run the unit tests whenever I make changes to the src folder as well (a bit like grunt-cli).

Is this possible?  How do I pass a list or folders to watch for changes?

Thanks
-Rao

[2014-04-04 19:29] ghost opened #52 "JustBeforeEach does not run when test is focused"
We added println to BeforeEach and JustBeforeEach and made a FIt. println from JustBeforeEach did not show up (unlike println from BeforeEach).
- @cppforlife, @dliebreich

[2014-04-07 19:05] onsi opened #53 "ginkgo CLI should take a -skipPackage flag"
When specified any packages with package names that match the passed in regular expression will be skipped (won't even be compiled/run).

[2014-04-11 01:19] #52 closed, assigned to nobody

[2014-04-11 01:20] onsi opened #54 "ginkgo CLI should have a way to pass arguments/flags to the test processes that it runs"
this will look something like:

[code]

[2014-04-12 14:13] rvenugopal opened #55 "Difficult to debug with stack trace when using gomock"
Firstly, thanks for creating this wonderful tool.

The issue I am facing is when using ginkgo/gomega with gomock, specifically with the stack trace.  For e.g., if I have a create order scenario

[code]

If my input input does not exactly match, gomock ends up failing the expectation and stopping processing.  However, by looking at the stack trace, I am only able to tell which test failed and I am

[2014-04-14 19:30] superduper opened #56 "Fail fast feature: Stop test runner on first fail"
Hello!
Is it possible to stop tests if any at least one test failed?

[2014-04-14 21:03] onsi opened #57 "Ginkgo CLI should be able to detect the number of available CPUs and run that many parallel nodes"
This might look like:

`ginkgo -auto-nodes`

[2014-04-14 21:04] #55 closed, assigned to onsi

[2014-04-14 21:04] #54 closed, assigned to onsi

[2014-04-14 21:04] #53 closed, assigned to onsi

[2014-04-14 21:04] #50 closed, assigned to onsi

[2014-04-14 21:05] #49 closed, assigned to onsi

[2014-04-14 21:05] #48 closed, assigned to onsi

[2014-04-14 21:05] #47 closed, assigned to onsi

[2014-04-14 21:05] #46 closed, assigned to onsi

[2014-04-14 21:05] #44 closed, assigned to onsi

[2014-04-16 17:17] onsi opened #58 "Package skipping should be based on folder names"
Any folder matching the hierarchy should be skipped.

[2014-04-17 21:40] vito opened #59 "Ginkgo's ParallelNode should be more of a first class citizen"
instead of

config.GinkgoConfig.ParallelNode

GinkgoParallelNode()

[2014-04-18 03:52] onsi opened #60 "The pending P's aren't yellow in succinct mode?"

[2014-04-18 16:52] #60 closed, assigned to onsi

[2014-04-20 22:01] #39 closed, assigned to nobody

[2014-04-23 19:37] onsi opened #62 "The coverprofile generated when running in parallel is invalid"
The fix involves generating one coverprofile per node and then reconstituting the various coverprofiles into one file...

[2014-04-23 20:33] #62 closed, assigned to onsi

[2014-04-25 04:56] #59 closed, assigned to onsi

[2014-04-25 07:12] cppforlife opened #63 "Gingko should exit with non-0 exit code if any of the tests are focused even if all focused tests pass"
...to avoid accidently committing focused tests and CI not turning red (since it's not running all the tests)

[2014-04-25 13:07] #58 closed, assigned to onsi

[2014-04-28 04:30] onsi opened #64 "Thoughts on 1.0?"
I'd like to drop the `-beta` off of `1.0` soon (early May) and start working on `1.1`.

Any thoughts/suggestions/reservations about the current DSL/functionality in 1.0?  I'd like to avoid non-backwards-compatible changes moving forward, so now is the time to bring that sort of thing up.

[2014-04-28 04:35] onsi opened #65 "`BeforeSuite` and friends should flush the `GinkgoWriter`"
Currently, writes to the `GinkgoWriter` performed during a failing `BeforeSuite` or `AfterSuite` don't make it to the screen.

[2014-04-28 17:19] #65 closed, assigned to nobody

[2014-04-29 22:54] onsi opened #66 "Ginkgo should support sending coverage reports directly to coveralls.io"
Something like:

ginkgo -cover -coverallsToken=YOUR_TOKEN -coverallsService=travis

[2014-04-30 23:28] tjarratt opened #67 "Ginkgo should run suites in a random order"
I was looking at the output from `ginkgo -r path/to/some/package` today and noticed that they always run in the same order -- the order they are specified in. Immediately I wondered if it was possible to randomize this order by providing a flag, but I wonder if always running suites in a random order would be better.

[code]

It occurred to me that Ginkgo runs the specs in a random order and it wo

[2014-05-01 05:34] onsi opened #68 "Ginkgo should run AfterSuite on SIG_TERM too"
Currently it only listens for SIG_INT.

[2014-05-02 00:52] fraenkel opened #69 "Ginkgo isn't reporting the proper location of tests"
When I run from the root of my tree, and hit a failure, I see something like:

Failed to compile varz:

 github.com/cloudfoundry/gorouter/varz_test
./varz_test.go:76: unknown route.Endpoint field 'Host' in struct literal
./varz_test.go:77: unknown route.Endpoint field 'Port' in struct literal

However, there are 2 varz_test.go (don't ask), but they are located at:
./common/varz_test.go
./varz/varz

[2014-05-02 05:23] #69 closed, assigned to onsi

[2014-05-03 21:01] #68 closed, assigned to onsi

[2014-05-12 15:15] modocache opened #70 "BeforeAll/AfterAll?"
RSpec includes `before(:all)` and `after(:all)` nodes. These nodes are executed once at the beginning or end of an example group, respectively:

[code]

When run, `rspec` outputs:

[code]

I was surprised that Ginkgo does not include `BeforeAll` or `AfterAll` functions. Is this a conscious omission? Would you consider a pull request which adds these functions?

[2014-05-19 05:58] petejkim opened #71 "Test freezes for no apparent reason"
The following is an extraction of a freezing test. When you run the following, `Hello!!!` gets printed, but `Bye!!!` does not because `Expect(d.Db).To(BeNil())` freezes for no apparent reason. Go bug?

[code]

**Expected Behavior:**

[code]

**Actual Behavior:**

[code]

[code]

[2014-05-19 06:13] petejkim opened #72 "A failing test in a test suite causes other test suites not to run."
A failure in a test suite makes Ginkgo skip other test suites.

[2014-05-19 06:52] #72 closed, assigned to nobody

[2014-05-23 15:45] rnapier opened #73 "Formatting matcher output"
This may already be implemented, I just haven't found it.

When I have an expectation like this:

[code]

If it fails, it logs a deep inspection of `something`. I find that in many cases this leads to overwhelming output. For example, one of my structures includes a `time.Time`. This is (surprisingly) over 250 of output due to a massive DST lookup table that's included in its `loc` field. Some of

[2014-05-23 19:45] rnapier opened #74 "Change random seed for untilItFails"
It looks like the untilItFails option uses the same random seed for every iteration. I would think it would be better to change the random seed each time, unless the caller passes --seed.

[2014-05-24 19:05] #71 closed, assigned to nobody

[2014-05-24 19:07] #73 closed, assigned to nobody

[2014-05-24 20:41] #74 closed, assigned to nobody

[2014-05-24 20:47] #64 closed, assigned to onsi

[2014-05-24 22:29] rnapier opened #75 "Passing build flags to ginkgo"
`go test` accepts generic build flags, but it does not appear to be possible to pass these to ginkgo. As a specific case, I'd like to pass the `-tags` flag to ginkgo to control the build environment that I'm testing with.

(This can be worked around using `go test -tags=...`, but then I lose other ginkgo features like `watch`.)

[2014-05-28 17:18] deiwin opened #76 "Bootstrap fails if current folder name contains an hyphen"
I was trying to bootstrap ginkgo tests for a project called `something-api`. The bootstrap fails, because the generated test suite will have a package name `something-api_test` and this gives an error when running `go fmt`. The test function's name will also be invalid.

Here's the exact error messsage:

[code]

[2014-05-29 16:07] #63 closed, assigned to onsi

[2014-05-29 16:50] onsi opened #77 "Ginkgo generate should take multiple arguments"
Would be nice to be able to say

[code]

[2014-05-30 04:36] #75 closed, assigned to onsi

[2014-05-30 04:40] #76 closed, assigned to onsi

[2014-05-30 16:02] #57 closed, assigned to onsi

[2014-06-03 15:43] geapi opened #78 "focused test with race set passed even with race condition"
We were running tests with --race on a set of tests the suite reports a correct failure, see attached screenshot, if we run the test that causes the race condition focused, the suite reports an incorrect success.

cheers
Johannes P. & Georg;

![ginkgo-race-no-focus-correct-fail](https://cloud.githubusercontent.com/assets/250449/3162486/c77b084a-eb35-11e3-851b-93b25069cc8b.png)
![race-focused-incor

[2014-06-04 04:02] #78 closed, assigned to nobody

[2014-06-04 20:10] #56 closed, assigned to onsi

[2014-06-04 20:21] #77 closed, assigned to nobody

[2014-06-04 23:28] onsi opened #79 "Ginkgo should have a -summarize flag to spit out a report of all failures at the end of the test"
This is especially useful for very verbose  suites.  It would be great if `ginkgo -summarize` printed out a summary of the tests that failed (just their locations).

[2014-06-09 19:27] onsi opened #80 "Ginkgo should be configurable to emit JSON"
The usecase here would be to make it easy to build external tools that can run Ginkgo and then interpret a stream of structured JSON data to construct reports, UI, etc...

[2014-06-11 21:18] #79 closed, assigned to onsi

[2014-06-12 16:05] #67 closed, assigned to onsi

[2014-06-19 04:50] AlexLuya opened #82 "Doubt that BeforeEach() and AfterEach() don't get executed as expected."
I am trying to test some db query operations,the basic work flow like these:

[code]

})
In my expectation,each test should satisfy assertion:

Expect(recordsFromDB).To(HaveLen( a number that is bigger then 1))
And if I run each test by adding prefix "F" to "Context(.." one by one,all tests pass,and I run all test in one,only the first test pass,all other tests report zero record got queried out f

[2014-06-19 15:42] #82 closed, assigned to nobody

[2014-07-05 23:20] code-ape opened #83 "Correct usage in TravisCI"
I've been using Ginkgo for a little while now and really liked it, however I'm struggling to figure out how to use it on TravisCI. My current travis.yml file is:

[code]

This successfully gets Ginkgo as my `go test` runs fine. However the installation doesn't register for in path and `ginkgo -r` fails. Any suggestions?

[2014-07-08 19:14] #83 closed, assigned to nobody

[2014-07-09 18:04] tedsuo opened #84 "Parallel Ginkgo fails to exit after all suites complete"
We're seeing ginkgo consistently fail to exit on our branch of inigo when running in parallel.  Our code changes relate to shutting down the garden http server properly.  Any context on why this is happening?  We'd like to start poking at this, since we can get it to do it consistently now.

[2014-07-15 16:53] onsi opened #85 "SkipPackage sucks"
Instead of a regexp it would be better if SkipPackage was a comma-separated list of paths/package names.  If any part of the package's _path_ satisfies any of the things int he list, it should be skipped.

[2014-07-15 18:50] vito opened #86 "-untilItFails should not recompile"
I think it's more intuitive to just Ctrl+C and restart the test run when I've made code changes. In the common case where I'm not editing code alongside, not recompiling would make the iterations much faster.

[2014-07-18 21:16] #86 closed, assigned to nobody

[2014-07-18 21:17] #84 closed, assigned to nobody

[2014-07-22 17:21] hiremaga opened #87 "Declaring an It inside another It should not work"
The snippet below should not pass (for 2 reasons)
1. An It has been declared inside another It
2. The inner it would have failed if it had been run

[code]

[2014-07-22 19:47] #85 closed, assigned to nobody

[2014-07-22 19:47] #51 closed, assigned to onsi

[2014-07-22 20:01] #87 closed, assigned to nobody

[2014-08-09 19:15] vito opened #88 "order of measurements samples is random"
looks like it's relying on map order, which as of go 1.3 is more randomized

[2014-08-10 20:50] #88 closed, assigned to nobody

[2014-08-13 16:26] onsi opened #89 "When running against multiple packages, `ginkgo --cover` should generate a composite coverfile and emit a single coverage percentage"

[2014-08-17 19:52] glycerine opened #90 "how to generating a 'project.test' binary for gdb step-through of ginkgo tests"
Hi Onsi,

With the golang-builtin-test-framework or with GoConvey, for a libary called xyz, I would typically use

[code]

to generate a xyz.test binary for stepping through tests using gdb.

Could you suggest how I could obtain such a binary when using tests written in Ginkgo?

My intention is to be able to single-step through the test logic and into the implementation code to see/debug the code

[2014-08-17 20:33] #90 closed, assigned to nobody

[2014-08-26 08:23] shanna opened #91 "Reporting assertions."
I have a few use cases, including functional testing where I'd like the ability for Reporters to report passing assertions (matchers) as well as failing ones. I don't like throwing away that data or having to duplicate the test with a benchmark and `b.RecordValue()`.

I imagine gomega matchers would have to hook into some sort of context the way `b.RecordValue()` does with benchmarks. I was thinki

[2014-08-26 21:40] vito opened #93 "When focuses are nested, only the inner focus should apply"
This probably gets complicated with, say, two outer focuses where one has a nested focus.

Given this set of focuses:

[code]

It should run all of F1A and only F2B.

[2014-08-28 20:25] vito opened #94 "when sigint is received, the GinkgoWriter'd logs of the current test should be printed"
pls

[2014-08-28 21:32] #91 closed, assigned to nobody

[2014-08-28 21:39] onsi opened #95 "Investigate performance of `ginkgo -r` -- seems to have slowed down in golang1.3"

[2014-08-28 21:50] onsi opened #96 "When running parallel nodes, the Ginkgo CLI should handle the case where the child Ginkgo process exits, but a leaking grandchild process prevents the CLI from noticing"
This is a very obscure bug.

A workaround is to have the Ginkgo CLI TestRunner monitor each node for exit and `done` message receive separately.

If a `done` message is received then we should wait for the process to exit up-to a threshold, and then print out failure and as much logging as possible.

If an `exit` is received we should wait for the `done` message until a timeout, and then print out

[2014-08-28 21:53] onsi opened #97 "Ginkgo should write spec progress to the GinkgoWriter"
Currently, if a spec hangs, or is running slowly, or is very chatty, it's hard to tell where in the spec's set of runnable nodes an issue is occurring.

Ginkgo should log that it is running a runnable node, along with its codelocation, to the GinkgoWriter.

This should be on by default, but could be turned off by setting a flag.

[2014-08-29 00:43] #93 closed, assigned to nobody

[2014-09-04 16:11] deathwish opened #98 "ginkgo convert integration tests fail"
In a clean GOPATH, the following currently fails:

[code]

All tests fail on `ginkgo convert` execution with the following trace:

[code]

This is running on go1.3 linux/amd64 on ubuntu/precise and ubuntu/trusty.

[2014-09-04 21:57] onsi opened #99 "Ginkgo should provide snippets for SublimeText"
I use sublime text when writing Go code and have a bunch of snippets that are Ginkgo friendly that I should put somewhere...  perhaps the docs?

[2014-09-05 23:56] #97 closed, assigned to nobody

[2014-09-05 23:57] #94 closed, assigned to nobody

[2014-09-06 05:51] mvpmvh opened #100 "Ginkgo generate --nodot does not import ginkgo or gomega dependencies"
According to the ginkgo docs (http://onsi.github.io/ginkgo/#avoiding-dot-imports), one should be able to avoid dot import using the CLI 'ginkgo generate --nodot <filename>' and have an auto-generated test file with the ginkgo, gomega, and local filepath package imported without the dot notation. When I attempt 'ginkgo generate --nodot raffle', only my local raffle package is imported, but neither

[2014-09-07 20:39] #100 closed, assigned to nobody

[2014-09-08 19:39] #99 closed, assigned to nobody

[2014-09-12 21:38] tammersaleh opened #101 "Use normal options format"
`-normalOptions=false`??  c'mon... `--normal-options=true`.

[2014-09-12 22:14] #101 closed, assigned to nobody

[2014-09-18 22:20] vito opened #103 "error message is the opposite of truth"
if i have an `It` in an `It`, Ginkgo says...:

[code]

[2014-09-22 03:33] first-developer opened #104 "Error: xxx_test.go: cannot find package "..." in any of"
Hi,
I'm trying to setup a test spec (logan_test.go) in my project (https://github.com/fdsolutions/logan).
However, when I run
`go test`

I got the following output :

[code]

I use Gom pkg to manage my go dependencies.

Do you have any idea of what I did wrong in my setup 'cause I go by the Getting Started tutorial (http://onsi.github.io/ginkgo/).

Thanks in advance

[2014-09-22 19:29] onsi opened #105 "When a failure occurs in a setup block, Ginkgo should be clear that that happened"

[2014-09-22 23:10] #104 closed, assigned to nobody

[2014-09-24 16:04] testobsessed opened #106 "Feature request: dry run mode"
Rspec has a dry run mode that prints out the output of the tests as though they were run, but without running them (see https://relishapp.com/rspec/rspec-core/docs/command-line/dry-run-option).

I find that feature quite handy for understanding what's tested in a given suite and for reviewing/improving the overall structure of the tests.

Could ginkgo support a dry run feature?

[2014-09-30 17:14] #103 closed, assigned to onsi

[2014-09-30 17:18] #95 closed, assigned to nobody

[2014-10-01 22:22] rohanliston opened #107 "'Ginkgo watch' runs in continuous loop due to being triggered by .test files"
When I run `ginkgo watch`, each suite generates a `.test` file, which causes `ginkgo watch` to re-run the tests in an infinite loop.

Running on Ubuntu 12.04 with a suite for each package in my application. Please let me know if you need any other information to reproduce.

[2014-10-02 17:44] #105 closed, assigned to nobody

[2014-10-02 23:25] AlexLuya opened #108 "Expect(jsonArr_1).To(Equal(jsonArr_2)) can't compare two json arrays correctly?"
I tried to compare two json arrays,and I checked them in text compare utility before,and ensure these two are identical,but still get err:

Expected

[code]

[code]

[code]

[2014-10-03 00:51] #106 closed, assigned to nobody

[2014-10-03 16:04] #98 closed, assigned to nobody

[2014-10-04 20:51] onsi opened #109 "Ginkgo should support compiling standalone test binaries, and running standalone test binaries."
`go test -c` basically does this, but one cannot run the compiled binary in parallel.

It would be great if ginkgo could:

`ginkgo build ...`

and then

`ginkgo -p /path/to/binary1 /path/to/binary2`

[2014-10-09 18:52] #108 closed, assigned to nobody

[2014-10-09 18:54] onsi opened #110 "Ginkgo should provide `ItThen(string, ...func())` to allow large `It`s to be broken down into steps"
This would not change the test hierarchy and is basically syntactic sugar for:

[code]

//cc @sclevine

[2014-10-10 15:34] AlexLuya opened #111 "Does go test run ginkgo tests parallel automatically?"
I have a project with structure like this

[code]

 skeleton of toAnotherUpdateDao_test.go and toMasterUpdateDao_test.go

[code]

Problem is:

[code]

[2014-10-10 23:07] #111 closed, assigned to nobody

[2014-10-11 21:36] #110 closed, assigned to nobody

[2014-10-13 15:59] craigfurman opened #113 "ginkgo blur/unfocus modifies vendored Godep dependencies (including Ginkgo itself)"
the `ginkgo blur` and `ginkgo unfocus` modify the contents of the Godeps folder, including the vendored copy of Ginkgo.

To replicate:
1. create a project that uses Ginkgo
2. `go get -u github.com/tools/godep`
3. `git init`, since Godep requires the project it is running in to be under version control
4. `godep save`
5. `git add .` so that future modification of the new Godeps folder will be appar

[2014-10-13 19:28] #107 closed, assigned to nobody

[2014-10-15 16:26] #109 closed, assigned to nobody

[2014-10-16 18:41] onsi opened #114 "Ginkgo should put .test files in a temp directory"
It's kind of icky that they get directly blasted into the package dirs.

[2014-10-28 12:18] nonsense opened #115 "Getting Example variables inside Ginkgo Reporter?"
I want to access variables from within a given Example inside a Ginkgo Reporter. For example if I am testing a REST API, I would like to be able to get the `request` and `response` objects inside the Reporter, so that I can perform action before and after each Example.

Any suggestions on how to achieve this?

Basically I am trying to build https://github.com/jsmestad/rspec_api_blueprint , but for

[2014-10-29 13:57] #115 closed, assigned to nobody

[2014-11-05 12:22] DamnWidget opened #117 "Ginkgo consumes way too much memory"
Hi.

I detected that Ginkgo consumes too much memory, for example, I can't run the tests in [this file](https://github.com/DamnWidget/VenGO/blob/master/cache/cache_test.go#L128-L186) in a machine with 8GB as it gets totally exhausted

Is that normal?

[2014-11-05 15:53] DanielCloudCredo opened #118 "Continue running package test suites if a prior one fails"
When running all of our tests with `ginkgo -r` is it possible to keep running the subsequent test suites if one of the packages fails?

The use case where this is most useful is when you have a failing integration test (in the package _integration_) and you're currently working on the unit test in a package with a name starting after _i_ in the alphabet. It'd also be handy when assessing how broke

[2014-11-05 17:39] #118 closed, assigned to nobody

[2014-11-05 17:45] #117 closed, assigned to nobody

[2014-11-10 18:43] ghost opened #122 "ginkgo test-runner binary does not work well with Go 1.3"
Since upgrading to Go 1.3, I receive the following output whenever I try to "ginkgo -r" my project:

[code]

Although my tests run, the ginkgo command exits with nonzero. It seems that ginkgo is embedding the Golang test runner and some confusion is happening regarding CLI flags, i.e. the Golang runner doesn't grok ginkgo's flags.

I will look into this as time permits and open a PR if I find a su

[2014-11-10 20:05] #122 closed, assigned to nobody

[2014-11-11 18:55] hiremaga opened #123 "`ginkgo -race` doesn't fail or provide output indicating data races when tests pass"
We noticed we had to  add `-v` to see the data races when our tests otherwise passed. The exit code is also 0 when there is a data race, even with `-v` set.

We're also not sure what this means for CI - what is the correct way to have CI fail when there is a data race?

We're using ginkgo at 7891f8646dc62f4e32642ba332bbe7cf0097d8c5

– Raina (@rmasand) & Abhi

[2014-11-20 21:36] drich10 opened #125 "Ginkgo does not allow you to set the number of compilation CPUs"
When running ginkgo -r, ginkgo does not have a flag that allows the user to set the number of CPUs to be used for compilation. This currently is an issue for the Cloudfoundry CLI when using ginkgo on Travis because Travis will kill the process (example [here](https://travis-ci.org/cloudfoundry/cli/builds/41641502)).

[2014-11-25 02:07] #125 closed, assigned to nobody

[2014-11-29 00:03] fzakaria opened #126 "Circular Dependency"
Is there a way to avoid the circular dependency between this package and Gomega ?
(test circular dependency)

[2014-12-01 17:28] #126 closed, assigned to nobody

[2014-12-02 13:55] glyn opened #127 "panics diagnosed incorrectly in parallel mode"
A panic of the form "runtime error: invalid memory address or nil pointer dereference" is displayed by ginkgo running in parallel mode as:

[code]

The map[] is a red herring.

Compare the diagnostics from the same test suite running serially:

[code]

which is much better.

See [this gist](https://gist.github.com/glyn/6ddcb4ba6085aaafe281) for a trivial test suite which panics. To reproduce the b

[2014-12-03 12:12] glyn opened #128 "-v should list successes in the summary list"
This would be helpful because -v typically causes a large volume of log data to appear in between the tests.  The summary of failures is very useful and having successes there too would be great.

[2014-12-06 23:42] #127 closed, assigned to nobody

[2014-12-08 06:40] tsjsdbd opened #129 "not support directory name with `-`, like "test-test" will fail"
if directory name with `-`, the command `ginkgo bootstrap` will create new package name with `_`, for example `test-test` will become `test_test`.

here is the detail:

[code]

you will found the diretory `test-test` was interpret to `test_test`, and ginkgo run failed.

@lyuyun @liuhewei

[2014-12-09 16:35] #123 closed, assigned to nobody

[2014-12-10 17:49] #129 closed, assigned to nobody

[2014-12-10 22:25] #128 closed, assigned to nobody

[2014-12-12 01:24] t3hmrman opened #130 "Multiple suites in one package?"
Is this possible?

I may just be mistaken on how I should be structuring my Go, but I have a project that looks like this

a/
|------a.go
|------a_suite_test.go
|------a_test.go
|------b.go

I'd lke to have a suite that ONLY tests the functionality in B (and requires different setup/teardown from tests in A)

Is this possible? I've read the docs up and down and it seems like multiple suites are po

[2014-12-14 23:15] #130 closed, assigned to nobody

[2014-12-22 17:10] glyn opened #131 "Empty FDescribe does not focus"
This is a trivial anomaly, but may be worth fixing just for consistency.

A new test containing:

[code]

allows all the other tests in the same directory to run, contrary to the description of "Focused Specs" in the documentation. However, if I add a single `It` to the above test, then only that `It` runs, as expected.

[2014-12-23 16:10] kjsteuer opened #132 "Ginko doesn't seem to respect package matching for tests and their respective test suite"
Easiest way to explain is by example.

Have two suites in a directory that test package X. One suite is used to test exposed methods and the second is used to test non-exposed methods.

When the ginko tests are run, both suites run all the tests.  This ends up in running the tests twice. Can this be extended to only run the tests if the tests package name and the suite package name match?.

[2014-12-23 21:06] #132 closed, assigned to nobody

[2014-12-26 19:48] #131 closed, assigned to nobody

[2014-12-26 19:51] #113 closed, assigned to nobody

[2015-01-07 15:06] tsaleh opened #133 "Feature request: `BeforeGroup`/`AfterGroup`"
I'd like to have `Foo` run *once*, before all of the tests in a single Describe group.  Unlike with `BeforeSuite`, I *don't* want `Foo` to run if I'm not running any examples in that particular group.

For example:

[code]

Works fine, until you focus on "two" - `Foo` is still executed.  I'd like something like:

[code]

...where `Foo` is only executed if an example inside "Group 1" is being run.

[2015-01-07 17:56] onsi commented on #133
This has come up before:
https://github.com/onsi/ginkgo/issues/70

And I've shared my thoughts on that thread.  tl;dr this kind of shared state smells like test pollution and isn't something I want to make easy.

You could always do:

[code]

and ditto for `AfterGroup`.

[2015-01-08 00:17] vito opened #134 "handle SIGQUIT gooder"
pls

[code]

[2015-01-10 01:31] #133 closed

[2015-01-10 01:34] #134 closed

[2015-01-10 01:57] vito commented on #134
rad

[2015-01-13 17:40] glyn opened #135 "Cannot use cgo"
It appears that we can't use cgo in a test package with Ginkgo. The failure is as follows:
[code]

If cgo is not supported, please could this be mentioned in the documentation. Better still, can it be supported? :-)

[2015-01-13 17:43] glyn commented on #135
Testcase is in [this gist](https://gist.github.com/glyn/33fd0e9759d047002008).

[2015-01-13 19:52] onsi commented on #135
Hmm this is likely a go test issue.  Perhaps there's a flag to go test that
I need to expose. Will take a look.

On Tuesday, January 13, 2015, Glyn Normington <notifications@github.com>
wrote:

[2015-01-17 22:10] onsi commented on #135
Looks like golang doesn't support importing "C" in _test files:
https://github.com/golang/go/issues/4030

[2015-01-17 22:10] #135 closed

[2015-01-19 09:04] glyn commented on #135
Wow! Thanks Onsi.

[2015-01-22 19:08] onsi opened #136 "A pending context with a focused it results in no tests running"

[2015-02-11 15:21] rrati opened #138 "Feature Request: Log method to suppliment By"
Ginkgo provides the By method to separate specs into steps, and it prefaces of all strings sent to the By method with STEP in the output.  There are times when you want to provide output on a progress of a step and you want that output to go through the GinkgoWriter.  You can use By for all logging, but that makes figuring out what was happening in a step cumbersome as everything is logged as a st

[2015-02-11 17:01] onsi commented on #138
You could just

[code]

I'd rather not add `Log` to the top level namespace and I think the GinkgoWriter gives you enough flexibility around this usecase.

[2015-02-11 17:04] rrati commented on #138
fmt.Fprintln(GinkgoWriter, "...") doesn't feel very clean to me and isn't all the obvious.  What's the issue with adding a Log method to the top level namespace?

[2015-02-11 17:07] onsi commented on #138
Since Ginkgo is imported into the global namespace I need to be very careful when I add new methods.  `Log` is very generic and is likely to collide with something somewhere.

But, really, the whole point of `GinkgoWriter` is that it's an `io.Writer` that you can use all over the place.  You can easily define your own `Log` method in the suite setup file, or you could use Golang's  [log library](h

[2015-02-11 17:17] rrati commented on #138
I wasn't intending that the method specifically be called Log because that is definitely too generic. :)

It's certainly possible to define a log method in the test suite as you suggest, but at some point if that is common practice for using ginkgo then it would make sense to have a high level api call for that type of functionality.  I can see a lot of use for a native log function in Ginkgo, but

[2015-02-16 20:38] abourget opened #141 "Feature request: HTML reporter"
It would be very handy to have a simple HTML reporter.  Anyone wrote one somewhere ?

thanks!

[2015-02-17 19:53] onsi commented on #141
Not that I'm aware of, no.  Should be fairly easy though I think more useful would be a generic JSON output format that one could build tooling on top of for visualization.

[2015-02-25 01:13] filbranden opened #144 "Feature requests: more structured tests and names for Ginkgo"
As referenced in GoogleCloudPlatform/kubernetes#3837, it would be nice to be able to have a more structured way to associate tags or a name with specific tests, in case we only want to run a subset of the tests or a single test.

Maybe make it more structured as a []string or add a new "verb" (like `Describe`, `It` etc.) that you could use to associate tags to existing tests?

Ideally a unique nam

[2015-02-28 02:43] onsi commented on #144
I'm trying to come up with a way to express this that is backwards compatible and not ugly.  The best I can come up with is something like:

[code]

Then the CLI would support:

[code]

(this runs all tests that don't have the "requires-internet" and "slow" labels)

[code]

(this runs all tests that have "requires-internet" and not "slow") - etc...

I'd then update the default report to include ta

[2015-03-03 17:35] onsi commented on #136
Fixed

[2015-03-03 17:35] #136 closed

[2015-03-12 17:04] binarylogic opened #145 "Shared example patterns"
This probably isn't a real issue and might be a noob question, but I can't for the life of me dot import the parent package as described in the [shared examples](http://onsi.github.io/ginkgo/#shared-example-patterns) section of the docs. I get a package not found error. It works find in the test file under the main package. I did place the `sharedexamples` package in it's own folder. Am I missing

[2015-03-12 20:03] onsi commented on #145
can you share some code?

it's posible you placed the `sharedexamples` package in a `_test` package:

`package sharedexamples_test`

if you did, in fact do this, then any definitions in the package will actually not be exported (as they are in the magical `_test` package)

[2015-03-12 20:38] binarylogic commented on #145
Sure

    package sharedbehaviors

    import (
      . "github.com/onsi/ginkgo"
      . "github.com/onsi/gomega"
      . "github.com/binarylogic/myapp" // <===== this import fails
    )

    type ImmutableInputs struct {
      Model interface{}
      Config *Config
    }

    func SharedImmutableBehavior(inputs *ImmutableInputs) {
      It("should fail", func() {
        Expect(true).To(BeFalse()

[2015-03-13 01:47] onsi commented on #145
Oh.  I see.  You can't import main.

Pull out what you need to share into a separate package and then import
*that* into both main and your shared behavior.

On Thursday, March 12, 2015, Ben Johnson <notifications@github.com> wrote:

[2015-03-13 01:50] binarylogic commented on #145
Awesome, that was it. Thank you!

[2015-03-13 01:50] #145 closed

[2015-03-18 17:44] rrati commented on #138
@onsi Any update on this?  The request came from the kubernetes project.  We've implemented a wrapper to do this functionality using the GinkgoWriter but a 1st class supported method would be better

[2015-03-18 19:15] fabioy opened #146 "Feature request: ability to have Ginkgo tests run with a different test runner"
Allow tests written using Ginkgo's DSL to run with a different test runner.

A scenario that's being envisioned is to write end-to-end tests using Ginkgo, but to be able to reuse the same tests in a long-running or continual stress environment. The stress runner would do things like randomize test selections (with optional selection weights); run them repeatedly (and in parallel); and other monito

[2015-03-18 20:48] onsi commented on #138
I think implementing a wrapper is the right approach here.  The `GinkgoWriter` gives you a flexible abstraction and I'd really rather avoid adding more to the top-level namespace than is strictly necessary (in fact, I'm not even convinced that `By` is strictly necessary...).

But it sounds like y'all would really like this -- can we think of a better name than `Log`?

[2015-03-18 20:53] onsi commented on #146
A lot of this can be accomplished today by scripting the `ginkgo` cli.  Exposing the tree of tests and allowing custom test runners is a cool idea but I wonder if it's overkill w.r.t the problem you are actually trying to solve - namely: keep running all/some of these tests and report on failure/success statistics.

I agree that adding yet more options to the cli is probably not the way to go - th

[2015-03-18 20:56] onsi commented on #144
ping? any thoughts on this approach?

[2015-03-18 21:27] fabioy commented on #146
Scripting ginkgo cli only goes so far. For the type of scenarios envisioned, access to the tree is the right approach. For example, it's easier to setup and share external resources among the tests, as well as do things like change the behavior on panics (some may be acceptable to continue, some should stop all testing for stress failure investigation).

While a lot of scenarios can be done with t

[2015-03-19 04:26] onsi commented on #146
Apologies for the length of this post.  I don't mean to be difficult - just want to make sure we identify [the actual problems you are trying to solve](http://mywiki.wooledge.org/XyProblem).  If gaining access to the tree is the best solution to the problems you want to solve I am open to that implementation choice (note, however, that writing a runner is not completely trivial so this adds a subs

[2015-03-19 04:44] onsi commented on #138
What did y'all call the helper you wrote?

[2015-03-19 14:26] rrati commented on #138
We called the wrapper Logf:

func Logf(format string, a ...interface{}) {
        fmt.Fprintf(GinkgoWriter, "INFO: "+format+"\n", a...)
}

We have a similar one called Failf that wraps Fail with an embedded fmt.Sprintf so we can provide sprintf-like strings and variables for a Fail invocation.  Having Fail and By accept and sprintf-like strings would be a nice enhancement as well, but that's a dif

[2015-03-19 14:37] rrati commented on #144
I like this proposal.  It allows you to more easily select a set of test cases to run and more importantly allow you to filter tests you don't want.  Unless I'm missing something, one of the missing test selections in ginkgo is the ability to have a test in a suite but not have it run by default.  The only way I see to handle that is to make the test/suite Pending, but that then involves manually

[2015-03-19 18:19] zmerlynn commented on #146
@fabioy: I'm actually with @onsi here. (@onsi, as a disclaimer, we're both on the Kubernetes project, so you've seen our questionable runner). We need to actually port our stuff over to the default ginkgo runner. There are technical blockers for us to do so and we just haven't gotten through them yet, but I think we either need to embrace the main Ginkgo runner, or (to be blunt) abandon the framew

[2015-03-19 20:28] onsi commented on #146
Yep - would love to hear more about your technical blockers and help y'all work through them.  We have an equally (if not more) complex set of Ginkgo test suites for Diego.

[2015-03-19 21:06] zmerlynn commented on #146
It probably makes more sense to do that as a either a separate issue, or an email thread. I'm happy to open an issue on our side and @ you on it, because it's something I've been threatening to do for a while.

[2015-03-19 21:59] fabioy commented on #146
Let me dig a bit more into this. Meanwhile, the actual problem I'm trying
to solve is designing a stress tool for for Kubernetes (see
https://github.com/GoogleCloudPlatform/kubernetes/issues/5601).

Where I'd like to get to is to be able to say, "If you write your e2e tests
using these components (i.e. use this to setup, this to tear down, etc),
then you can do <BLAH> and it'll become part of the

[2015-03-19 22:12] onsi commented on #144
It sounds like you actually want to have separate test suites.  Wanting a single test suite to represent two or three different classes/kinds of test is an anti-pattern (though it can be accomplished with the proposed `Label`s API and, even today, if you're willing to put up with the "label" living in the `It`/`Describe` strings).

Pendings are meant to convey tests that are currently failing but

[2015-03-19 22:22] zmerlynn commented on #146
Heh. I miss [fail(9)](http://www.freebsd.org/cgi/man.cgi?query=fail&sektion=9&apropos=0&manpath=FreeBSD%2B10.0-RELEASE) so much. (So much that I ported it out from the company I was at to FreeBSD. :P)

@fabioy, I think what you're looking for is just a fixture that can be queried for whether failures should occur at particular junctions or not. You could easily imagine something as dumb as:

[code

[2015-03-25 22:11] johnclaus opened #147 "Feature request: --cover flag generates html"
It would be handy if the --cover flag allowed an optional parameter which generated detailed html output of my test coverage.

[2015-03-26 04:04] onsi commented on #147
That is an existing feature with the go toolchain.  It's covered here: https://blog.golang.org/cover

[2015-03-26 04:46] onsi commented on #146
alrighty - sorry for the delay but I ended up spending a bit of time prototyping something.

https://github.com/onsi/composition-ginkgo-example presents one way to organize Ginkgo tests such that they can be shared between a traditional integration-style test and something more complex like a stress test.

I'll be the first to admit that the stress test I wrote doesn't quite give you all the fine

[2015-03-28 08:49] fabioy commented on #146
(I'm on vacation and replies will be very delayed).

Thanks for the example. I've cloned it and will take a look when I can.

I don't think our approaches are all that far off. I look at "predicted
failure and recovery type of test" as another type of integration test.
Useful to ensure product works and to catch regressions. A category that
perhaps falls a bit above it, but not quite chaos-monkey,

[2015-03-28 21:28] onsi commented on #144
Not intending to drag my feet on this.  It sounds like there was a bit of confusion as to what Ginkgo gives you out of the box.  In light of my previous post describing `--skip` and the user of regexes and `{FOO}` "tags" do y'all think there's much value in a more formal way of specifying per test labels?  It's starting to feel a little YAGNI to me -- are there problems that exist today that it do

[2015-04-03 17:39] jmtuley opened #148 "Internal compiler error"
We're not entirely sure that this is an issue with Ginkgo itself – but our error comes from within it, so it seems like a good starting place to look.

In the [logs](https://s3.amazonaws.com/archive.travis-ci.org/jobs/57065605/log.txt) from a [Travis build of loggregatorlib](https://travis-ci.org/cloudfoundry/loggregatorlib/jobs/57065605) against Go tip, we get a very interesting error message:

[

[2015-04-03 19:14] ixdy opened #149 "Feature request: also handle interrupts from SIGTERM"
When aborting a run (for example, due to a timeout), CI systems like Jenkins send test processes a SIGTERM rather than a SIGINT. As a result, all completed test result data is lost, since Ginkgo only prints its summary (and runs reporters like the JUnit reporter) on a completed run or SIGINT.

In GoogleCloudPlatform/kubernetes#6388 I hacked around this issue by catching SIGTERM and emitting a SIGI

[2015-04-03 20:14] onsi commented on #149
Just pushed a fix to master -- lemme know if this solves your Jenkins woes.

[2015-04-03 20:19] onsi commented on #148
Hmm sounds like a bug on Go tip to me.... we could open an issue there and point to this issue.

[2015-04-04 00:52] jmtuley commented on #148
That does seem reasonable. It may be difficult to build a minimal runnable example, but we can take a stab.

[2015-04-09 09:13] sharpner commented on #114
any news on this?

[2015-04-09 11:47] sharpner opened #150 "ginkgo does not work running in symlinks that start with _"
Hi,

today I updated to mac os x 10.10.3 and after that, all my ginkgo testsuites fail with the following error:

[code]

Anyone else having this issue?

The binary project.test got compiled and can be run manually afterwards, but the autostart does not seem to work anymore.

[2015-04-09 12:17] sharpner commented on #150
ok this seems to be on my machine only.

[2015-04-09 12:54] sharpner commented on #150
ok found the problem. If I changed to the directory via symlink, the filename differs.

E.g. symlink hello to -> src/github.com/welcome the created binary is welcome.test but it will try to start _hello.test.

[2015-04-09 14:58] tjarratt commented on #150
Hey @sharpner this is a really weird bug. I also just upgraded to 10.10.3 and none of my ginkgo test suites are failing. Maybe you're invoking ginkgo differently than I am?

For reference, this is what I tried to reproduce what you described, as far as symlinks are concerned (but this works as expected for me)

[code]

[2015-04-10 10:41] sharpner commented on #150
hi @tjarratt thanks for your response.

Could you try `ln -s $(pwd)/grubby ~/git/_grubby` for me? All my symlinks start with an underscore.

I actually have no idea what the problem might be... But for now a cd -P works for me...

[2015-04-10 10:42] sharpner commented on #150
![bildschirmfoto 2015-04-10 um 12 42 28](https://cloud.githubusercontent.com/assets/574362/7086276/1162628a-df7f-11e4-8472-cea0e61f80fe.png)

I added a screenshot for reference, maybe I'm missing something?

[2015-04-10 15:21] tjarratt commented on #150
That's pretty strange, underscores work just fine for me. I tried creating a symlink both in my home directory, and inside of my $GOPATH like you were.

[code]

I did poke around in Ginkgo a bit and found [the code that handles finding the suites and files in the current directory](https://github.com/onsi/ginkgo/blob/master/ginkgo/testsuite/test_suite.go#L72) -- perhaps there's a subtle bug here t

[2015-04-10 19:29] onsi commented on #150
managed to reproduce it locally -- will take a look @sharpner

[2015-04-11 12:22] sharpner commented on #150
awesome, let me know if I can help. I'm just glad it could be reproduced.

[2015-04-14 03:21] onsi commented on #150
hey @sharpner - I don't think I'm going to get to this till next week.  The issue is unrelated to the version of OS X or the underscore.  It's something to do with how Go/the kernel runs a binary with CWD set to a symlink.

I think #114 will fix this for free so I'm going to just do that.

[2015-04-14 08:02] sharpner commented on #150
sure thing. I'll update the title and remove the OS X specific name.

[2015-04-14 20:07] filbranden commented on #144
Sorry for the delay, I was on vacation for a couple of weeks.

I'm not really sure we can find a *good enough* way to introduce this feature given the current constraints...

At this point I think my better suggestion is to keep this one in mind so that if at some point you decide to change the API (maybe on a `ginkgo2` package or such?) then try to address it then...

Otherwise, I kind of agree t

[2015-04-14 20:07] #144 closed

[2015-04-15 03:29] onsi commented on #149
Closing this out -- lemme know if it's still an issue for you

[2015-04-15 03:29] #149 closed

[2015-04-16 23:59] ixdy commented on #149
Thanks! I tested this locally and it seems to work; just opened GoogleCloudPlatform/kubernetes#6944 to update our version of Ginkgo and revert my hack.

[2015-04-24 20:12] onsi commented on #148
gonna close this out... for now...

[2015-04-24 20:12] #148 closed

[2015-04-24 20:13] #12 closed

[2015-04-24 21:58] jmtuley commented on #148
Sure; we're also not seeing it anymore. Sorry for leaving it open forever.

[2015-05-02 14:10] vmihailenco opened #155 "Feature request: add flag that prints test name before execution"
This greatly helps when tests are stucked and you have to find which test caused deadlock.

[2015-05-02 14:16] onsi commented on #155
this already exists

ginkgo -v

I'd also recommend

ginkgo -v -progress

Which will emit output just before each block of code (BeforeEach, It,
AfterEach, etc..) runs

On Saturday, May 2, 2015, Vladimir Mihailenco <notifications@github.com>
wrote:

[2015-05-02 14:23] vmihailenco commented on #155
I added to the tests:

[code]

and run

[code]

and I don't get any output.  What I am doing wrong?

[2015-05-02 15:29] onsi commented on #155
in general i recommend using the `ginkgo` cli as it smooths over some rough edges around `go test` (and allows you to run your suite in parallel)

you're running into one of those rough edges.  when `go test` is explicitly pointed at a package (like you are doing: `go test gopkg.in/redis.v2` it suppresses all output from the test.  you want:

[code]

or

[code]

FWIW `ginkgo` is just calling `go t

[2015-05-03 17:29] onsi commented on #150
aight should be fixed on master!  closing for now, please reopen if it doesn't work for you @sharpner

[2015-05-03 17:29] #150 closed

[2015-05-03 17:29] onsi commented on #114
at long last! done.

[2015-05-03 17:29] #114 closed

[2015-05-03 17:30] onsi commented on #96
fixed on master (hooray!)

[2015-05-03 17:30] #96 closed

[2015-05-04 09:22] vmihailenco commented on #155
Thanks, `-test.v` worked for me.

[2015-05-04 09:22] #155 closed

[2015-05-04 09:38] sharpner commented on #150
thanks I will test it later. !

[2015-05-04 13:46] wwwdata opened #156 "Ginkgo does not work with go <=1.3"
Hi,

we are using ginkgo for a long time now and it always worked fine. But it seems that the newest version does not work correctly with go 1.3 and 1.2. It works all fine with 1.4

The tests are working when executed with `go test`. But it is not possible to run them with the ginkgo command line tool. But we'd like to do that for additional options for our CI builds.

Output:
[code]

Here is a tr

[2015-05-04 13:49] wwwdata commented on #156
Hm, just saw in the Readme go version 1.4+

Does that mean older versions are not supported anymore?

[2015-05-04 15:30] onsi commented on #156
Hey @wwwdata - yes I introduced a change that requires go 1.4.  I'm using go test -c -o which is only available in go 1.4.

If this is very painful for you/others I can fairly easily add a fallback that will work with older versions.  Was trying to avoid that if possible.

[2015-05-04 15:31] wwwdata commented on #156
alright, thanks for your reply, i will close the ticket

[2015-05-04 16:30] onsi commented on #147
closing due to inactivity

[2015-05-04 16:30] #147 closed

[2015-05-08 07:26] dareid opened #157 "BeforeAll / AfterAll feature request"
It would be great to have a BeforeAll and AfterAll hook available, allowing code to be run before or after all the tests in the Describe block.

[2015-05-08 07:29] dareid commented on #157
Ah just seen #70 was not accepted. Closing this issue.

[2015-05-08 07:29] #157 closed

[2015-05-08 11:22] nvcnvn opened #158 "How to run spec in a specific order?"
I'm using Agouti with Gomega to write some test, including:
1. User registration.
2. User purchasing an item.
3. User playing with that item.

I think each of them should live in each own "Describe" block and on different file.
And 1 must run before 2 and then 3.
I don't know how to do that, so I repeat a test before other test (and this make the test take longer to finish) like this:
[code]
###
[

[2015-05-10 19:32] momchil-atanasov opened #159 "Feature request: Skip children if parent fails"
Hi,

Here is an example that will make this easier to explain.

[code]

I believe that should `factory should not be nil` fail, then the `when two integers are created` branch should not be executed, since it will likely run on top of broken functionality and cannot be trusted, even if it were to pass.

In our example case, if `NewIntegerFactory` returns `nil`, then it is certain that all the othe

[2015-05-16 21:16] onsi commented on #159
Hey @momchil-atanasov

In my mind this is somewhat equivalent to #70.  That thread captures my thoughts on why I don't think this sort of thing makes sense for Ginkgo.  A quick summary: it makes it hard to parallelize tests and to run tests in random order as it introduces an implicit relationship between different `It`s.

In general, I prefer making the assertion in my `BeforeEach`.  The `BeforeE

[2015-05-16 21:25] onsi commented on #158
HI @nvcnvn - sorry for the delay in getting back to you.  Ginkgo is *built* for running tests in parallel so I think you'll find it will suit your needs quite well once you learn how to leverage its feature set.

Based on your code snippets, however, I'd recommend that you spend some time reading the [documentation](http://onsi.github.io/ginkgo/).  You must not place assertions inside `Describe` b

[2015-05-16 21:37] momchil-atanasov commented on #159
Since I wrote this issue, I've spent some time thinking about it and I have to agree that it would do more harm than good.

Still, I cannot fully agree that having the validation in the BeforeEach is the best way to go. In the example case above it does the job, but I can easily see case where it is unclear.

[code]

Not having the `should contain all integers to that size` evaluation inside the B

[2015-05-16 21:54] onsi commented on #159
Your example is interesting but I don't think I would advocate for moving everything in the `should contain all integers to that size` `It` to the `BeforeEach`.

I generally only include `nil`-checks and error validations in `BeforeEach`es.  *Maybe* you might include the `Ω(intArr.Size()).Should(Equal(3))` in the `BeforeEach` but even that is probably unnecessary.

[2015-05-18 08:25] #158 closed

[2015-05-20 16:59] fgrosse commented on #156
I would like to have the fallback if it is easily possible. I love ginko but not all my systems do have go 1.4 yet and I would like to support go 1.3 a little longer. Until then I will now stick with an older version of ginkgo

[2015-05-22 00:20] lavalamp opened #163 "Feature request: Allow AfterEach functions to tell if the test has failed"
That way, they can print extra debugging information etc.

[2015-05-22 01:27] onsi commented on #163
It's a mouthful but:

[code]

does what you're asking for.

In case you aren't aware of it, the `GinkgoWriter` is also a way to communicate additional information when a test fails.  Everything written to the `GinkgoWriter` is stored off in an in-memory buffer.  If the current test fails, the contents of this buffer are emitted to stdout.  This is super helpful when you are running, say, an extern

[2015-05-22 01:30] lavalamp commented on #163
Thank you very much!

[2015-05-22 01:30] #163 closed

[2015-05-26 15:03] mwf commented on #156
Hi!
The same thing for me - I'd like to have the fallback. Debian stable repos provide go 1.3, that's why it's still widely used.

[2015-05-27 03:13] onsi commented on #156
It's not hard to do but I'm pretty busy these days :/

Is anyone up for a PR?  I'd be happy to point you in the right direction.

[2015-05-27 11:18] fgrosse commented on #156
I would be happy to help :)

[2015-05-28 00:50] onsi commented on #156
Sweet - thanks @fgrosse  :)

So basically:
https://github.com/onsi/ginkgo/blob/master/ginkgo/testrunner/test_runner.go#L66-L106

Compiles with `go test -c -i -o <PATH>` to place a binary at the location specified by `<PATH>`.  If you're on go `< 1.4` this will fail as the `-o` flag is new.  If that failure occurs, `CompileTo` could retry without `-o` and, upon success, move the file produced by `g

[2015-05-28 17:00] tve opened #164 "ginkgo -cover produces local import paths in coverprofile"
This is most likely not really a ginkgo issue, but I'm not sure where to ask...

All my imports use full paths (e.g. github.com/rightscale/uca/<subpackage>) but the coverprofile I get from ginkgo -cover looks like this:
[code]
My GOPATH is `/tmp/go/src/github.com/rightscale/uca/.vendor:/tmp/go` and I'm using the same commands I use in other very similar projects without this effect. How can I trou

[2015-05-28 21:32] lavalamp opened #165 "Timeout expiration doesn't stop running functions"
Essentially, it looks like the timeout feature is _only_ good for detecting deadlocks, and it's _not_ good for stopping slow tests.

Example problems:
- If a slow function eventually fails, the failure is counted towards the wrong test.
- If a slow function eventually completes and calls `close(done)` it will panic with a double-close error.
- Since AfterEach is run when the timeout happens and th

[2015-05-29 01:25] tve commented on #164
Ughh, this was due to symlinks; disregard

[2015-05-29 01:25] #164 closed

[2015-05-30 13:55] onsi commented on #165
@lavalamp - there is no way for one goroutine to kill another goroutine.

If and when Ginkgo 2.0 is written I will almost certainly be removing the `done Done` async test feature.  It seemed like a good idea at the time when I came up with it but our experience with it (across several teams using Ginkgo to build all sorts of interesting and complicated async tests) is that its utility is severely

[2015-05-31 14:54] onsi commented on #156
Thanks to @fgrosse this should now be resolved!

[2015-05-31 14:54] #156 closed

[2015-06-09 00:37] sclevine opened #167 "`panic(nil)` in a test results in it immediately passing"
This behavior was identical to that of the built-in `testing` package, but it changed over a year ago: https://github.com/golang/go/issues/6546

Relevant sections:
 - [internal/leafnodes/runner.go#L97](https://github.com/onsi/ginkgo/blob/master/internal/leafnodes/runner.go#L97)
 - [internal/leafnodes/runner.go#L72](https://github.com/onsi/ginkgo/blob/master/internal/leafnodes/runner.go#L72)
 - [gi

[2015-06-09 01:34] onsi commented on #167
Yes we should fix this, even if it breaks existing suites (which are likely incorrectly passing)

Do you think you have the bandwidth for a PR?

[2015-06-09 01:56] sclevine commented on #167
Yep, happy to help!

[2015-06-12 22:34] karlkfi opened #168 "Skip() inside test and before block"
Looking for a way to skip a test at runtime (add to pending list) based on some conditional.

Intuitively I was looking for:

[code]

I found `GinkgoT().Skipf()` put it doesn't do what I expect it to, which is exit the test (non-failure) and increment the "pending" counter printed at the end.

Could be a feature request, unless there's an idomatic way already.

[2015-06-14 19:55] onsi commented on #168
hey @karlkfi

There are, implicitly, two execution times in Ginkgo: tree-construction time followed by test-execution time.  Tree-construction time occurs when Go starts up the test binary and all your `Describe`s and `It`s are run.  This builds an in-memory tree of tests (closures, really).  Ginkgo then walks this tree to execute your tests.

Whether a test is marked as pending/focused/etc... mus

[2015-06-15 19:07] karlkfi commented on #168
Yeah, that's kind of what I was afraid of. I think in the case I was looking at the platform was being determined at test execution time in a BeforeSuite. The options seemed to be either fail and require user to --skip or return and pass with no notification to the user other than a log hidden in the verbose output. I guess alternatively I can spawn test sub-commands, but the thought of that makes

[2015-06-16 00:59] karlkfi commented on #168
Another option might be a Skip that raises a singleton panic that indicates a state other than failure...

[2015-08-02 14:58] sharpner opened #172 "bad --trace performance in go 1.5beta3"
I don't know if it is a bug or not, but maybe you can provide some useful information or at least want to know :-)

Testresults on Travis-CI:

1.4.2 Performance:
[code]

[2015-08-02 21:18] onsi commented on #172
Hey @sharpner thanks for letting me know, absolutely.  I haven't had a chance to play with 1.5 yet.

This is really odd. `--trace` is just a simple boolean that makes its way down to ginkgo's test output printer.  It doesn't modify anything substantial other than to emit additional information (information that is already always being captured) when a failure occurs.

Weird.. I'll try to dig out s

[2015-08-02 21:23] onsi commented on #172
lol, could it be this:

http://tip.golang.org/doc/go1.5#trace_command

`ginkgo` takes pains to namespace its flags so that `ginkgo --trace` eventually gets turned into `go test --ginkgo.trace` to avoid collisions.  But maybe that isn't happening correctly?

[2015-08-02 21:26] onsi commented on #172
Actually, I just confirmed that `--trace` does get namespaced correctly.  Guess I'll have to just install the beta and try it out myself.

[2015-08-03 06:11] sharpner commented on #172
Nice :) Let me know if I can help!

[2015-08-04 05:02] robdimsdale opened #173 "Misleading output when BeforeSuite fails, and running in parallel, and Focussing a test"
Apologies for the convoluted title.

I have 10 integration tests which run in parallel and which share a `BeforeSuite`. The `BeforeSuite` validates the user-provided credentials, failing fast if they are invalid. When I `Focus` one of the tests and provide incorrect credentials, I see the expected failure in `BeforeSuite` but ginkgo prints the failure text 10 times. Ginkgo does also say that it on

[2015-08-04 20:50] robdimsdale commented on #173
Correction: i saw the message 7 times, not 10. I feel I've read research that suggests humans aren't very good at quickly counting the number of a set of objects once that number exceeds about four.

Anyway, it sounds like the `BeforeSuite` is running for each node, regardless of whether it actually has any tests to run. The fact there are ten tests is irrelevant.

This also manifests itself if th

[2015-08-05 21:48] onsi commented on #173
A PR if you have time would be great!  Thanks @robdimsdale

To make sure we're on the same page, first a mental model:

Now, the proposed behavior:

After filtering the tests, if a node discovers that there are **no tests** to run (perhaps they are all skipped? perhaps there are more nodes than tests?) the node should *not* run the `BeforeSuite` or `AfterSuite`.

There is one caveat.  If there is

[2015-08-06 09:07] egarle opened #174 "How can I distinguish between various type of test case ?"
Hello Onsi: I want to run part of test cases, so I want to distinguish of them, How can I do ?

[2015-08-06 09:29] onsi commented on #174
I'm going to need a bit more detail than that to help.  What problem are you trying to solve?  Can you give me some concrete examples or point me at code?

[2015-08-07 02:22] egarle commented on #174
I have two type of test in a testsuite: Unit test and Performance test. When running Unit Test, there's no need to run Performance test. The question is, who can I do that, thx.

[2015-08-07 03:06] onsi commented on #174
One approach I take is something like:

Describe("[PERF] some perf stuff", func() {
...
})

Then you can

ginkgo -skip=PERF

or

ginkgo -focus=PERF

[2015-08-08 01:13] AlexLuya opened #175 "Question:any plan to support table driven test?"
Hello,
     It will reduce lot of duplications,so any play to support it?

[2015-08-08 19:47] onsi commented on #175
IMO there's really nothing to support.  Table driven testing is a technique that works just fine in Ginkgo.  I've used tables to generate Contexts, tables to generate Its and sometimes tables that simply generate assertions in a single It.

Am wondering if you have thoughts around what more formal support for table-driven tests might look like.

Curious to hear what table driven test support might

[2015-08-09 00:49] AlexLuya commented on #175
just like:
https://dzone.com/articles/spock-data-driven-testing#!

[2015-08-10 20:42] duskhacker opened #176 "Question: Modifying benchmark output to show milli/micro/nano seconds"
I'm interested in seeing my benchmark output reported in milliseconds instead of seconds. I've looked somewhat at the code, but there doesn't seem to be an easy way to do this without modifying the internal source. I've looked at writing a reporter, but that doesn't seem to do what I want, I seem to be able to write a reporter that outputs the actual measurement in the units I want, but I don't se

[2015-08-20 19:23] jplethier opened #177 "Run goroutines synchronous"
Is there a way to set goroutines to run synchronous when I am running the tests with ginkgo?

[2015-08-20 23:12] onsi commented on #177
Nope.  Not possible in go.  What problem are you trying to solve, maybe I can help.

[2015-08-20 23:27] jplethier commented on #177
I would like to do a config where I do not need to worry with goroutines in
tests, so I could test the result of goroutines and could have sure that I
am erasing all data from database after each test.

For example, I have a goroutine that updates something in database and, for
the rest of the code, does not matter if the update was successfull or not,
so, I do not need channel or anything else wi

[2015-08-20 23:47] onsi commented on #176
hey @duskhacker sorry for the delay.

Unfortunately the `Measure` code is fairly opinionated (too opinionated) around how it records and represents time.

One approach could be to make it possible to specify the units and a precision for a benchmark:

1. Add a new method to the [`Benchmarker` interface](https://github.com/onsi/ginkgo/blob/master/ginkgo_dsl.go#L175-L178) called

[code]

2. Add `Pre

[2015-08-20 23:50] onsi commented on #177
@jplethier yep, there's no way to force go to run your goroutines synchronously.  there are whole classes of things that simply would not work if that were the case.

For your particular case, I'd recommend looking at Gomega's [`Eventually`](http://onsi.github.io/gomega/#making-asynchronous-assertions)

Here's a simple example (obviously this is made up):
[code]

[2015-08-20 23:58] onsi commented on #175
I'm not sure that first-class support for this is particularly necessary though I'm open to the idea.  In fact, it could be a new library distinct from Ginkgo/Gomega that gives you a DSL you can use within an `It`

To get concrete, though.  The following example from your link:

[code]

Could be (note all the `context` and `description` stuff is sugar, not necessary but helpful IMO):

[code]

Obvi

[2015-08-21 00:13] jplethier commented on #177
Thanks, I will try this eventually
Em 20/08/2015 20:50, "Onsi Fakhouri" <notifications@github.com> escreveu:

[2015-08-24 21:55] evanshort73 opened #178 "ginkgo -race detector exits 0"
When running tests with ginkgo, @robdimsdale and I are seeing the race detector exit with 0 even though data races are found. Unlike Issue #123 we are able to see output describing the race condition, and unlike Issue #78 we have no focused or excluded tests. We are passing the following options to ginkgo:
[code]
The output is as follows. Let us know if you need more info.
![screen shot 2015-08-24

[2015-08-24 22:14] robdimsdale commented on #178
to clarify, the `CGO_ENABLED=1` is because we're running in a container where golang was compiled with `CGO_ENABLED=0` - we see the same issue when running locally in OSX with golang installed via brew (and no additional flags)

[2015-08-25 01:00] onsi commented on #178
Yep.  Try a plain vanilla (xunit style test) with the race detector enabled and you'll see the same thing,  the race detector does not cause the test suite to fail.

I think the idea is that the race detector is generic and can run in running code, not just tests.  In the running context it doesn't cause the process to exit, but simply emits to stdout.   I think that behavior carried over into go

[2015-08-25 01:23] onsi commented on #178
Actually.  I might be misremembering.  In any event, `go test --race` now exits with `66` on go 1.5 and the latest Ginkgo does honor this exit code and mark the test suite as failed.  Maybe try upgrading both?

[2015-08-25 14:48] robdimsdale commented on #178
We are using the latest ginkgo, and we will upgrade to golang 1.5 soon - we can report back at that point. Happy to close this issue, or we can leave it open to capture the results of further investigation.

[2015-08-25 15:42] onsi commented on #178
Do please keep it open and lemme know what you find!

[2015-08-25 15:45] robdimsdale commented on #178
Roger that

[2015-08-29 06:45] theduke opened #179 "Test for panic"
Is there any built-in convenience for checking that a function call panics?
The docs don't mention it.

[2015-08-29 19:27] onsi commented on #179
Are you using gomega?  If so:
http://onsi.github.io/gomega/#panic

[2015-08-30 07:12] theduke commented on #179
Yes I am. That's great, thanks.
Should have checked the Gomega docs too.

[2015-08-30 07:12] #179 closed

[2015-08-30 20:22] onsi commented on #177
Marking this closed.  Reopen if you'd like!

[2015-08-30 20:22] #177 closed

[2015-08-30 20:23] onsi commented on #176
Closing this out for now.  @duskhacker lemme know if you'd like to work on this/reopen the issue.

[2015-08-30 20:23] #176 closed

[2015-08-30 22:46] jplethier commented on #177
Eventually works great, thanks
Em 30/08/2015 17:22, "Onsi Fakhouri" <notifications@github.com> escreveu:

[2015-09-01 10:09] piotrkowalczuk opened #180 "Build tag produce an error"
Hi,

my test file starts with

[code]

when i call ginkgo from package directory:

[code]

without tag it works correctly

[2015-09-01 23:52] onsi commented on #175
hey @AlexLuya - on second thought, I experimented with a DSL for supporting this.

It's documented here: http://onsi.github.io/ginkgo/#table-driven-tests

And on master now!  Note that it's not part of the Ginkgo core but, rather, an extension under `extensions/table`.  Give it a whirl :)

[2015-09-01 23:52] #175 closed

[2015-09-03 12:29] stevekuznetsov opened #184 "Is it possible to start fewer nodes when few tests need to be run?"
We have `ginkgo` set up to use many nodes to parallelize testing. When there are few tests (<7) we still see seven nodes spawned for parallel processing. How do we ensure that if there are few test cases we do not spawn more nodes than we have tests to run? Usually we run with a `focus` that restricts us to 1 or 2 specs out of 20-30.

[2015-09-14 15:28] onsi commented on #184
Sorry for the delay :/

When tests are focused ginkgo doesn't do any work to distribute them across the number of nodes you are spinning up.  In principal this is possible though, fwiw, the excess nodes are basically no-ops.

If you're focusing tests why not just run without -p?

[2015-09-15 18:02] stevekuznetsov commented on #184
Potentially our `-focus` flag will grab many specs. We are using it to select functional areas of code. We still want to run in parallel for performance.

[2015-09-19 14:45] robdimsdale commented on #89
I would like to +1 this.

I'm currently using [gover](https://github.com/modocache/gover) to collect various `coverfiles` in preparation for sending to a coverage processor (e.g. coveralls.io) and it would be an easier workflow if ginkgo collected them for me.

[2015-09-20 05:26] elliotchance opened #186 "Comparing different signs is a failure?"
Not sure if this is a bug or it exists for a reason, but the following code will fail:

[code]

Whereas, this will pass because the types are now the same.

[code]

[2015-09-20 19:32] tjarratt commented on #186
This occurs because ginkgo has to guess the type on the right hand side. Because Equal receives a value as interface{} it needs to guess what type you actually meant, and probably defaults to int.

In my tests, I often use the BeEquivalentTo matcher because it's more forgiving and compares int values of different types.

Hope this helps!

Sent From A Very Small Keyboard

[2015-09-20 19:40] onsi commented on #186
`Equal` uses Go's `reflect.DeepEqual` which is pretty persnickety about types.

When comparing numbers I prefer [`BeNumerically("==", 1)`](http://onsi.github.io/gomega/#benumericallycomparator-string-compareto-interface).

[2015-09-20 23:36] elliotchance commented on #186
Ah thanks, looks like `BeEquivalentTo` is what I need - cheers guys!

[2015-09-20 23:36] #186 closed

[2015-09-22 23:13] stevekuznetsov commented on #184
@onsi Are you saying that currently there is no way to change the behavior so it does not start nodes that only run `nop`?

[2015-09-25 14:19] sharpner commented on #172
any news on this?

[2015-09-25 18:26] robdimsdale commented on #178
After upgrading to go 1.5.1 and using the latest version of ginkgo (`1b59c57`) we observe that race conditions cause ginkgo to report failure, as expected.

Feel free to close this issue.

[2015-09-26 04:18] tve commented on #89
+1 on doing it "right". But I'm not sure there is one right way... I write a lot of high-level functional test and often end up with tests at the top level that really test subpackages. The net effect is that I want coverprofiles to be merged and not just concatenated. The way I do that is my Makefile's cover rule has something like:
[code]
and the awk script to do the merging is:
[code]
I hope th

[2015-09-26 20:07] onsi commented on #184
The `ginkgo` cli know nothing about your tests.  It does not compute the tree of tests and has no idea how many tests will end up running.  It simply compiles (if necessary) and launches test processes.

These processes then each compute the tree of tests then filter it to apply the `-focus` flag or any programmatic focus (e.g. `Fit`).

When running in parallel mode, the `ginkgo` cli launches `N`

[2015-09-26 20:12] onsi commented on #180
Sorry for the delay.  It looks like the `ginkgo` cli is detecting that a test suite exists in the given directory (it does this by simply looking for a file that looks like `*_test.go`).  However, since you aren't running `ginkgo -tags=development` Go doesn't find anything to compile and ends up bailing.  Ginkgo then complains that it can't find the test file it expected to find.

I could fix it b

[2015-09-26 20:39] stevekuznetsov commented on #184
@onsi  That makes sense. We've changed our invocation of `ginkgo` so that the user has to specify when they want parallelism, so that solves our problem.

[2015-09-26 20:39] #184 closed

[2015-09-27 18:53] onsi commented on #178
woot!

[2015-09-27 18:53] #178 closed

[2015-09-27 18:54] onsi commented on #172
hey nino, sorry -- but no one I'm aware of has managed to reproduce this.  do you have a repo you could point me to?

[2015-09-27 19:01] sharpner commented on #172
hey! I think you can close this. I just wanted to look up the repository and saw that the problem seems to be fixed. Sorry to bother you! :-)

[2015-09-27 19:01] #172 closed

[2015-09-28 19:15] tve opened #187 "support vendoring"
Would it make sense to add minimal support for vendoring into ginkgo? In the sense of not running tests recursively on vendored packages. Right now I using the `skipPackage` option but that turns out to be very verbose:
[code]
Maybe there's another option I'm missing?

[2015-09-28 19:29] onsi commented on #187
I haven't been keeping up with the Jonses on the vendoring adventures that Golang is going through.

There's this:
https://github.com/onsi/ginkgo/blob/master/ginkgo/testsuite/test_suite.go#L60-L65

which uses a regexp to ignore hidden directories (anything beginning with a `.`) and Godeps style vendoring (anything beginning with a `_`).

If you're up for a PR to support skipping `/vender/` - that

[2015-09-30 17:56] jchauncey opened #188 "-skipPackage output"
It would be nice if you could quiet the skipPackage output.

[2015-10-05 15:29] robdimsdale opened #189 "Copy compiled file if move fails"
When running on golang < 1.4, there is no `-o` option so ginkgo attempts to compile the file and move it (see [test_runner.go](https://github.com/onsi/ginkgo/blob/462326b1628e124b23f42e87a8f2750e3c4e2d24/ginkgo/testrunner/test_runner.go#L108))

This fails if `/tmp` is on a different partition. It should be possible to copy the file across partitions instead.

I appreciate this is an edge-case as n

[2015-10-06 03:13] robdimsdale commented on #173
Thanks for the detailed explanation - it's much appreciated.

It's been a couple of months since I opened this issue and I haven't felt this pain again, so I'm going to close this issue.

If it does become an issue again I may re-open this and work on a PR.

[2015-10-06 03:13] #173 closed

[2015-10-07 04:02] onsi commented on #189
@robdimsdale that would be great.  I agree that driving it out with a test will be tricky.  Since this is supporting an edge case with old versions of Go I'm ok doing this without a test.  If you can confirm that it works in your environment that'll have to do.

[2015-10-07 04:04] robdimsdale commented on #189
Great, thanks. I will figure something out and submit a PR soon, probably without a test.

[2015-10-07 17:54] #189 closed

[2015-10-08 20:52] vito opened #192 "Context() could take an argument for the BeforeEach()"
Instead of...:

[code]

...wouldn't it be neato if you could write...:

[code]

...?

[2015-10-09 05:20] robdimsdale commented on #168
@onsi should this issue be closed? The corresponding PR #169 was merged.

[2015-10-09 05:26] onsi commented on #168
Yessir, it should!

[2015-10-09 05:26] #168 closed

[2015-10-09 23:23] ixdy commented on #144
We've been tagging our tests using "[tag]" in the name for a while now, which basically seems to work, but it interacts poorly with the JUnit reporter and CI systems - every time we add or remove the tag, we lose any history for that test, since the name is now different.

Do you have any suggestion for how we might approach this? One idea was passing some sort of regular expression to the JUnit r

[2015-10-26 17:58] Zteve opened #193 "Seeing compilation failure when using -race"
[code]
It works fine when running with `-race=false`. Is this a Go problem?

Go version 1.5.1; Here are the ginkgo and gomega versions:
[code]

[2015-10-26 17:58] Zteve commented on #193
PS: Installed go with macports.

[2015-10-27 04:42] robdimsdale commented on #193
I don't know of many people that have install golang with macports - homebrew seems far more common.

That being said, a search for your issue returned the following thread: https://groups.google.com/forum/#!topic/golang-nuts/Fk5KSGs-kYA

A similar issue appeared to be resolved by ensuring `GOPATH` is set correctly - it might be worth checking that is set before running the tests again.

[2015-10-27 10:51] Zteve commented on #193
Thanks Rob; here is my output for `go env`:
[code]
and, as you can see, `GOPATH` is fine.

The interesting things is `GORACE`, which I've never seen before; and that `GOBIN` is not set to anything.  I've checked and the directory `/opt/local/lib/go/pkg/darwin_amd64_race` doesn't exist (obviously) and it is likely that it doesn't have permission to create it because the ownership of `pkg` is `root/

[2015-10-27 12:03] Zteve commented on #193
More info: I have uninstalled (using Macports) go 1.5.1 (and its dependency go 1.4.3 !!?!) and reinstalled go 1.5.1 (which reinstalls go 1.4.3 !!?!) and now my tests run fine.  I've no idea why this should have happened, but all is well now. [Well, except that two of my tests failed, but I know how to fix those :-)]

Thanks!

[2015-10-27 12:03] #193 closed

[2015-11-17 22:42] ashb opened #194 "Color of nested context verbose description invisible using the Solarized theme"
Best describe with two pictures:
![screen shot 2015-11-17 at 22 38 01](https://cloud.githubusercontent.com/assets/34150/11227085/ebb38734-8d7b-11e5-8f37-e9bfb489742e.png)

And if I highlight that gap:
![screen shot 2015-11-17 at 22 38 15](https://cloud.githubusercontent.com/assets/34150/11227088/ee9e9128-8d7b-11e5-8c44-4cd6fcd0b7eb.png)

I'm not saying you should support my colour scheme of choice

[2015-11-19 12:19] ches opened #195 "Question: Output descriptions of passing specs?"
Hi, thanks for making Ginkgo and Gomega!

Just a quick question—from reading through the docs and past issues on GitHub I'm not finding it so I assume the answer is no, but I'm somewhat surprised: is there any option for outputting descriptions of all specs, including passing ones? I'm thinking of something like RSpec's `specdoc` formatter, if you're familiar, where there is an indented outline of

[2015-11-19 13:27] onsi commented on #195
Closest thing out of he box today is `ginkgo -v`

Otherwise, yes, you're in custom reporter territory.

[2015-11-19 17:08] ches commented on #195
Okay, thanks for the quick response. I'll close this and re-open if it is something I have a chance to take a stab at (and/or #143 instead).

[2015-11-19 17:08] #195 closed

[2015-11-25 06:28] nkuacac opened #196 "if BeforeSuite fail special test spec will not report"
Is it good to dry run test spec, if BeforeSuite fail.  Thinks

[2015-11-27 03:24] nkuacac commented on #196
because if before suite fail, it is hard to check if the test spec is fail from log

[2015-11-28 02:15] cstockton opened #198 "The unicode code point 2022 BULLET "•" resulting in terminal beeps"
I was trying to use Ginkgo for the first time, I happen to be on windows and I was hearing the BELL sound.. it was driving me insane because it would go off dozens of times per run! At first I figured it was powershell / cmd.exe not handling the colors output properly and a 0x7 sneaking through somewhere.. so I tried -noColors.. still beeped. I dug through the code a bit and saw the Announce namin

[2015-11-30 06:45] onsi commented on #198
Wow... bizzare!  Thanks for digging into this @cstockton

I'd be happy to pull in a PR.  Your patch to the stenographer looks good but rather than key off of the `color` bool, you could detect whether or not `ginkgo`'s running on windows (I do this in https://github.com/onsi/ginkgo/blob/master/ginkgo/run_watch_and_build_command_flags.go#L91)

Would you mind putting something together?

[2015-12-01 16:22] mikeatlas opened #199 ""Using other matcher libraries" documentation contains a small coding typo"
Small issue. The sample function:

[code]

should be:

[code]

Note the empty parameters parens for the `It` function are in the wrong order on the documentation page.

[2015-12-02 02:33] cstockton commented on #198
@onsi Here ya go: https://github.com/onsi/ginkgo/pull/200

[2015-12-02 14:12] onsi commented on #198
Hooray!

[2015-12-02 14:12] #198 closed

[2015-12-03 16:35] #180 closed

[2015-12-06 21:01] #199 closed

[2015-12-06 21:01] onsi commented on #199
Thanks!

[2015-12-06 21:03] mikeatlas commented on #199
thanks for the great library =)

[2015-12-06 21:16] onsi commented on #194
hi @ashb - sorry for the delay.  I can imagine a number of ways of doing this.

I've long wanted to add support for a `.ginkgo` file that will allow users to override certain Ginkgo defaults.  The `.ginkgo` file could appear in the user's home director and be overridden by more `.ginkgo` files in source code root directories.  I think this sort of configuration file would be a great place to "them

[2015-12-07 09:46] niranjankl opened #201 "Enable cpuprofiling"
Hi,
I would like to know how to enable cpu/mem profile for ginkgo. I really would like to use it along with -Nodes option.

Thanks,
Niranjan KL

[2015-12-07 10:26] ashb commented on #194
I understand entirely - finding time for open source is work is hard.

I'd like to say "I'll get right on it - here's a PR" but in practice I also don't have any spare time February. If no one gets to it by then I'll see if I can find a weekend to try this.

[2015-12-08 00:28] pib commented on #194
In the meantime, if you happen to be using iTerm2 in OSX, there is a "Minimum contrast" setting in the "Colors" section of the settings which you can use to fix the issue.

![screen shot 2015-12-07 at 6 25 46 pm](https://cloud.githubusercontent.com/assets/32910/11644260/27e83f30-9d10-11e5-81f4-ea76d744d59a.png)
![screen shot 2015-12-07 at 6 25 33 pm](https://cloud.githubusercontent.com/assets/3291

[2015-12-10 22:17] marun opened #202 "Duplicate test collection"
I'm seeing duplicate collection of tests in the [openshift origin](https://github.com/openshift/origin/) networking test suite.  My intent is to run a subset of the [kubernetes](http://github.com/kubernetes/kubernetes/) e2e tests alongside some new tests in the origin tree, and the origin tests are always collected twice.  Here are the origin tests in question:

 - https://github.com/openshift/ori

[2015-12-11 02:37] onsi commented on #202
Hey @marun,

There's a ton of complexity in your setup scripts.  Can you provide a simpler repro case that reproduces the issue in ginkgo?  Or, at the very least, figure out precisely what your networking.sh script actually ends up invoking?

One thing I'm noticing is you have some Ginkgo tests defined in an `_test.go` file and others in the networking package itself.  While I think this should wo

[2015-12-15 00:51] xeger commented on #187
I wasn't courageous enough to add unit tests to the CLI, but by my reckoning, the vendor-skipping behavior should be conditional on the GO15VENDOREXPERIMENT env variable anyhow, so it can be nicely encapsulated  side FindTestSuites). I opened a PR, with unit tests, to skip vendored tests (and skip recursing into vendor); see #204

[2015-12-17 22:48] jayunit100 commented on #69
Is it true that `_test.go` is a requirement for the ginkgo executables?

[2015-12-18 14:12] onsi commented on #69
Yes _test.go is necessary.  Ginkgo is just calling go test under the hood.

[2015-12-19 21:07] #187 closed

[2016-01-04 18:02] jasonkeene opened #205 "Cover profile for focus tests"
When Describe, It, etc are focused `ginkgo -cover` does not output a coverprofile at all. It would be nice if, when you focus tests, you get coverage statistics for just the tests that run. That would allow developers to easily pinpoint what code is being exercised by what tests. If this feature is not desired then I'd prefer some sort of message in the output letting you know that -cover is not s

[2016-01-06 02:47] ixdy opened #206 "in parallel mode, no output for hanging test on timeout-induced interrupt"
We have a test suite running ginkgo tests in parallel on Jenkins. I'm currently trying to track down a hanging test in https://github.com/kubernetes/kubernetes/issues/13485, but it's been very hard to figure out what's wrong, since the log output doesn't seem to be including the hanging test.

The log for one of our failing runs shows nothing for over 30m:

[code]

I'm guessing this is intentional

[2016-01-16 08:43] luxas opened #208 "Not building on arm64"
`syscall.Dup2` doesn't exist when building on `linux_arm64`...
Kubernetes uses this code and now when I'm trying to get it working on `arm64`, this fails.

Could you add an alias or something? Because `syscall.Dup3(oldfd, newfd, 0)` works on arm64.
I will return with more information soon and maybe a PR.
Cross-ref: golang/go#10235

[2016-01-27 22:16] james-lawrence opened #211 "ginkgo -r and vendor"
ginkgo when provided the -r argument attempts to run tests within the vendor directory.

[2016-01-27 22:53] james-lawrence commented on #211
side note this can be fixed using ```-skipPackage vendor``` as a work around.

[2016-01-27 23:17] tve opened #213 "ginkgo incompatible with cmd.Wait() ?"
I have a test case where I'm running a sub process using Cmd in the os/exec package. My code uses Cmd.Wait() to wait for the termination of the subprocess. What I'm observing is that sometimes it blocks forever, even though the subprocess has long terminated. I'm wondering whether this is a problem with ginkgo, e.g. that ginkgo has some goroutine that is also calling Wait() and that gets the child

[2016-01-27 23:23] jim-slattery-rs commented on #211
Not sure if this has been addresses already here: https://github.com/onsi/ginkgo/pull/204 ?

[2016-01-27 23:24] james-lawrence commented on #211
possibly, my version might be old on this machine =) will double check.

[2016-01-27 23:34] tve commented on #213
It may have been a different issue and I was just confused...

[2016-01-27 23:34] #213 closed

[2016-01-27 23:44] #211 closed

[2016-01-27 23:44] james-lawrence commented on #211
outdated version =D

[2016-01-28 16:05] abourget opened #214 "Before and After"
Mocha has `.before` and `.after`, which runs only once in a given `Context` or `Describe` .. that would be useful for some of our use cases.

Right now, what we do is:

[code]

but a similar solution for `After` would be difficult, as we don,t know if we're the last, if we're quitting the `Context` or `Describe` block.

Having something native would be great.. How hard do you think it would be to

[2016-01-28 16:06] abourget commented on #192
not sure about this one :) the former seems more readable, more explicit.. it _is_ two lines more.. but it's a lot easier to read for the newcomer, don't you think ?

[2016-01-28 16:11] robdimsdale commented on #214
Does this pattern work well with randomization of tests? Could you move this logic to a `BeforeSuite/AfterSuite` which is guaranteed to run before/after all tests

[2016-01-28 17:12] onsi commented on #214
This comes up from time to time.  Here is the original discussion:
https://github.com/onsi/ginkgo/issues/70

[2016-01-28 17:14] luxas commented on #208
Fixed with: #209

[2016-01-28 17:14] #208 closed

[2016-01-28 22:36] keaty opened #215 "--skip option behaves differently depending upon the order of the values given"
We're getting different behavior from the Ginkgo `--skip` option depending upon the order in which the values are given.

When "Getting instance information" is adjacent to "NO_DIEGO_SUPPORT" (the only other spec skipped from the Apps suite) both specs are skipped.

[code]

When "Getting instance information" _isn't_ adjacent to "NO_DIEGO_SUPPORT", and is instead placed at the end or in the middle

[2016-01-28 23:33] robdimsdale commented on #215
@keaty you have spaces in your strings which are probably not being handled by the shell in the way you might expect. Have you tried adding double quotes around the entire skip string e.g. `ginkgo--skip="NO_DIEGO_SUPPORT|insufficient resources|SSO Lifecycle|scp|sftp"`

[2016-01-29 14:40] keaty commented on #215
Hey Rob, my bad, I copied the output of the CATs test script (with set +x at the top). The actual call to `./bin/test` in CATs looks like:

[code]

[2016-01-30 02:37] mpmlj opened #218 "Advise needed on setup/teardown for multiple packages"
Hi,

Before my tests I need to setup 3 test databases and pre-fill them with mock data. In the end - I need to drop them.
I could use BeforeSuite & AfterSuite for setup/teardown, but the problem is that I split the code into services, each being a separate package:
/services/music
/services/events
/services/posts
etc.
Looks like I cannot join them into a single Ginkgo test suite and that leads to

[2016-01-30 20:55] onsi commented on #218
hi @mpmlj - I might need some more information.  Are you trying to spin up and populate *one* shared global database for *all* your tests across *all* your packages?  If so, how do you avoid test pollution?

In cases like these, each package's test suite typically spins up a database, fills it with mock data, and then tears it down using `BeforeSuite` and `AfterSuite` (in fact, to avoid test pollu

[2016-01-31 04:21] mpmlj commented on #218
@onsi , hi!

_>> Are you trying to spin up and populate one shared global database for all your tests across all your packages? _

Correct.

_>> If so, how do you avoid test pollution?_
During setup I'm adding a part of mock data that will be used by all tests and is not supposed to be mutated. For example: tags, a set of test users of all types and roles, relations between these users and their c

[2016-01-31 07:05] onsi commented on #218
I see.  There is no `BeforeAll/AfterAll` as you describe it -- it sounds like you want a way to set up the world, then invoke `ginkgo watch`, and then tear down the world when you `^C`.  A simple script to set up the database and then tear it down might be the way to go here - but I agree that isn't great because you'll want to have that behavior in each test as well.

Terrible idea: how important

[2016-01-31 19:40] robdimsdale commented on #215
@keaty given you're quoting the strings, I agree that seems that unexpected behavior. My initial suspicion would be the way regex is being parsed, but I'm not really sure.

If you're interested in driving this behavior out, you could take a look at the [tests around skipping specs](https://github.com/onsi/ginkgo/blob/master/internal/spec/specs_test.go#L122). I don't have the bandwidth to dig into

[2016-01-31 19:52] robdimsdale commented on #196
Hi @nkuacac. I'm not quite sure what you're asking here, but it sounds like you're asking about two different things.

Firstly it sounds like you are looking for advice on whether performing a dry run (with `-dryRun`) is a good idea if the `BeforeSuite` fails. I'm not sure what `-dryRun` buys you in this case. I'm not actually sure if the `BeforeSuite` is executed when `-dryRun` is provided - I as

[2016-01-31 19:54] robdimsdale commented on #188
Hi @jchauncey can you provide an example of the output you find noisy, and what parts of it you would prefer not to see?

[2016-01-31 19:55] jchauncey commented on #188
When you do -skipPackage it prints all the directories that won't be included. This is noisy if you are using a vendor dir. I'm not at my laptop right now but I'll try and get some output for you guys to see soon.

[2016-01-31 19:56] robdimsdale commented on #188
Great thanks, that would be really helpful

[2016-01-31 19:59] robdimsdale commented on #201
@niranjankl as far as I'm aware the only profile that ginkgo supports is test coverage. It sounds like you're proposing a feature request where ginkgo can optionally report CPU and memory profiling, perhaps writing it to a file like the cover profiling.

Reading between the lines, it sounds like you're running tests in parallel with `-nodes` and would like to correlate that with CPU and memory per

[2016-01-31 20:04] robdimsdale commented on #192
I like the elegance of this @vito, but I tend to agree with @abourget - readability is really important, and one of the attractive aspects of the go programming language is that anything written in golang tends to look similar. I'd like to see ginkgo adhere to that mindset as much as possible. I value both readability and elegance, but if I can only have one I prefer readability.

[2016-01-31 20:48] vito commented on #192
It's not really about saving lines, it's more about encouraging that `Context` implies `BeforeEach`. It also saves indentation, making it easier to distinguish between setup code vs. example code (which currently have the same level of indentation). Which imo makes it more readable.

Hard to see without a larger example though, and it does have one concrete drawback: there's nowhere to put declara

[2016-01-31 21:01] robdimsdale commented on #192
Right, you're describing something like:

[code]

which wouldn't work with your suggestion.

The other points are interesting though; being more explicit about the connection between `Context` and setup, and the indentation point is fair too.

Given this proposal doesn't work with declarations, I'm not inclined to explore it further. If you have more to add, great, otherwise I'll close this issue.

[2016-01-31 21:34] #80 closed

[2016-02-01 01:51] onsi commented on #206
Sorry for the delay - What signal is being sent here?  It *should* handle SIGINT correctly and do its best to emit logs. To confirm: are these being run in parallel?

[2016-02-01 02:08] onsi commented on #205
Sorry for the delay.  I've looked into this and it is, in fact, an issue - but I don't think it's fixable :/

Ginkgo tests exit with a "special" status code (197) if the user applies a programmatic focus (i.e. `FDescribe`, `FIt`, etc...).  The intent with this non-zero exit code is to ensure that CI systems will fail the test if there is a programmatic focus - it is almost always a mistake to comm

[2016-02-01 09:18] niranjankl commented on #201
@robdimsdale thanks a lot for your inputs. We use ginkgo as unit testing framework extensively and I thought it would be great if we can collect performance metrics using ginkgo itself.

[2016-02-01 14:52] robdimsdale commented on #201
Ok, thanks for clarifying. I haven't yet found a situation where profiling unit tests would need helpful, but if you wanted to submit a PR to support this I expect we would take it.

I don't have a clear idea as to how one might implement that, but I might start by looking at https://golang.org/pkg/net/http/pprof/

If this is something you are interested in working on let's use this issue to drive

[2016-02-01 17:12] mpmlj commented on #218
@onsi
Thank you, I got the idea.
Could you add BeforeAll/AfterAll functions to Ginkgo or is this a bad thing (some anti-pattern) for some reason? If latter, I would really appreciate your vision on why this is bad!

Thank you!

[2016-02-01 18:46] jchauncey commented on #188
[code]

[2016-02-01 22:18] tarnold55 opened #219 "Add option to "continue-on-fail" in Describe"
Describe block will panic on failed assertion aborting the remaining tests.  There will be test blocks that want this behavior and other test blocks that will want to continue on failure.  I don't see anyway to continue if previous tests in the describe block fail.

[2016-02-02 02:24] robdimsdale commented on #188
@jchauncey I could see how that gets irritating. I assume you're doing something like:

[code]

Obviously one way of solving this problem would be to specify the directories explicitly like:

[code]

etc.

However, I think that's less elegant as it adds overhead to the consumer - having to remember all the packages.

I wonder if the real problem here isn't the noise-level of `-skipPackage` but ins

[2016-02-02 02:26] robdimsdale commented on #218
@mpmlj the question about `BeforeAll/AfterAll` was originally raised in https://github.com/onsi/ginkgo/issues/70 - hopefully that should answer your questions

[2016-02-02 02:30] robdimsdale opened #220 "docs pages should have syntax highlighting"
Apparently github pages now support jekyll 3, and with it the `kramdown` syntax, coupled with `rouge` syntax highlighting. I'm curious as to whether this might enable the docs to have syntax highlighting - if so this could be helpful.

see: https://github.com/blog/2100-github-pages-now-faster-and-simpler-with-jekyll-3-0

[2016-02-02 02:40] robdimsdale commented on #219
@tarnold55 you are talking about assertions in `Describe` but I assume you mean assertions in `BeforeEach` and potentially `BeforeSuite`.

I've not come across a situation like this so I can't yet see the use-case. Could you give an example of a failing expectation in a `BeforeEach` that you're happy to ignore? The reason I'm unsure about this is because I view the `BeforeEach` as a way of setting

[2016-02-02 02:44] mpmlj commented on #218
ok, thank you

[2016-02-02 02:44] #218 closed

[2016-02-02 02:45] onsi commented on #219
@tarnold55 perhaps you can share a code snippet that illustrates the issue you are seeing?  As a rule all assertions should be in a `BeforeEach` Or `It` Never in he body of the `Describe/Context`.

[2016-02-02 02:51] jchauncey commented on #188
Yeah skipping the vendor dir altogether would probably be best.
On Feb 1, 2016 7:24 PM, "Rob Dimsdale" <notifications@github.com> wrote:

[2016-02-02 02:54] robdimsdale commented on #188
@onsi thoughts on skipping the `vendor/` directory by default? It's not completely clear to me whether ginkgo gets this for free in go1.6 due to https://github.com/golang/go/issues/12239 and even if it does, do we want to make that behavior common across previous versions of go (which really only means supporting `GO15VENDOREXPERIMENT=1` on golang 1.5.x

[2016-02-02 02:56] onsi commented on #188
There's this:

https://github.com/onsi/ginkgo/pull/204

I believe we should be skipping vendor by default now...

[2016-02-02 03:01] robdimsdale commented on #188
Great, I hadn't seen that, so thank you.

@jchauncey if you are using golang 1.5.x and set `GO15VENDOREXPERIMENT=1` then you should find the `vendor/` directory is skipped. You should also see `vendor/` is always skipped in go1.6 as `GO15VENDOREXPERIMENT=1` is the default behavior in go1.6

So, are you using an up to date version of ginkgo?

[2016-02-02 03:23] jchauncey commented on #188
I'll update ginkgo tomorrow and make sure it gets skipped.
On Feb 1, 2016 8:01 PM, "Rob Dimsdale" <notifications@github.com> wrote:

[2016-02-02 23:43] tarnold55 commented on #219
All my asserts are in It and the Before.. and After... blocks.  I found an issue where I had a nested It and the outer It had a failure.  I fixed that and I got the behavior I expected.  This issue was user error.  Thanks for the quick response.

[2016-02-02 23:43] #219 closed

[2016-02-03 02:10] onsi commented on #219
Wait.  `It`s should never be nested - the behavior is basically undefined...

[2016-02-07 04:28] cppforlife opened #221 "More consistent suite test files convention"
Working with a few projects that use ginkgo, I noticed that it's very common to:
- copy *_suite_test.go file from one package to another
- forget to update suite test file with proper package naming (file name, function name, suite name)
- forget to add suite test file and think for a bit why test is not executing

Without thinking about how to get rid of those files completely, it would be nice t

[2016-02-07 08:05] xoebus commented on #221
suite idea

[2016-02-07 20:41] onsi commented on #221
I'm all for making it easier to copy-paste the `suite_test.go` file @cppforlife and your tweaks & suggestions are good.

How does `generate -a` work?  Is it "if I see any `*_test.go` file in any subdirectory of `cwd` with no `*_suite_test.go` file I generate a `suite_test.go` file?

Also, I disagree with

the `suite_test.go` file is the canonical place to put `BeforeSuite`, `AfterSuite` and any to

[2016-02-07 22:17] cppforlife commented on #221
inline

Sent from my iPhone

yup, but also make sure that contents of existing suite_test.go files conform to the convention.

fair enough. i never used before/after suite but i did have a few common helpers for specific packages. given that golang aids in rewriting/fmting its prolly easy enough to persistent non-conflicting changes in suite_test.go if it was modified.

[2016-02-09 01:43] ixdy commented on #206
Yes, the tests are being run in parallel.

A recent example from this morning is http://pr-test.k8s.io/20810/kubernetes-pull-build-test-e2e-gce/27402/build-log.txt. (All times in this log are UTC, I think.) We have the timeout set to 1hr, so at around 16:31, Jenkins sent an interrupt to abort, though there's oddly nothing in the console output from Ginkgo after 15:53 or so.

Ginkgo printed a bit m

[2016-02-09 16:13] thockin opened #222 "AfterEach not called in case of ^C"
We have a BeforeEach that creates some cloud infrastructure for the test, and an AfterEach that cleans it up.  I notice that if the test is interrupted, out AfterSuite is run, but the AfterEach is not.  This causes cloud resources to leak and require manual cleanup.  Is this by design?

We have a hacky register/unregister workaround now so that AfterSuite does final cleanup, but it feels like some

[2016-02-10 19:46] ixdy commented on #206
Another mysterious timeout, of the form in my first comment:
[code]

(Full log [here](http://ci-test.k8s.io/kubernetes-e2e-gke/680/build-log.txt))

The lack of context is making it hard to tell where we were stuck.

[2016-02-11 05:08] robdimsdale commented on #188
@jchauncey were you able to validate a new version of ginkgo correctly ignores the `vendor` directory as described above?

[2016-02-11 21:34] jchauncey commented on #188
You are right this works now and ignores the vendor dir. Thanks so much! =)

[2016-02-11 21:34] #188 closed

[2016-02-12 03:08] marun commented on #202
@onsi Not sure what we were doing wrong, but the problem has since gone away.  Sorry for the false alarm.

[2016-02-12 03:08] #202 closed

[2016-02-12 05:22] robdimsdale commented on #221
I like this idea. I'd love to see better tooling around enforcing the mindset of `foo/suite_test.go` being the default place for helpers, as well as around its naming. I've seen a few patterns across different projects, `init_test.go` being a reasonably common one, and I think a lack of easy tooling has contributed to this. Shifting the burden from the developer having to understand an unfamiliar

[2016-02-12 05:27] robdimsdale commented on #222
@thockin I'm not aware of that behavior, but I haven't really paid it much thought either. I can't speak to whether this is intentional or accidental - perhaps @onsi could shed some light?

On the face of it, it seems to me that your request that the test framework cleans up on both `AfterEach` and `AfterSuite` would be more intuitive and desirable.

Are there any other confounding factors here? F

[2016-02-12 06:31] thockin commented on #222
Nothing else special.  I am running with a focus of a single test, but
hitting ^C goes straight to AfterSuite
On Feb 11, 2016 9:27 PM, "Rob Dimsdale" <notifications@github.com> wrote:

[2016-02-12 15:31] robdimsdale commented on #222
I can't reproduce the behavior you describe with the latest version of ginkgo. I created a sample ginkgo test at https://github.com/robdimsdale/ginkgotest which sleeps long enough to be killed, and the output of killing that test is below:

[code]

And for reference, the output when the test is not interrupted:

[code]

What might you be doing differently to cause the behavior you observe?

[2016-02-12 18:06] thockin commented on #222
Your ginkgotest_test.go says "BeforeEach" twice.  Once that is fixed:

[code]

[2016-02-12 19:15] robdimsdale commented on #222
@thockin you're totally correct, thanks for catching that. I've pushed a fix to my example repo.

I agree that this looks like a bug. Thoughts, @onsi ?

[2016-02-12 21:02] onsi commented on #222
Hey all, sorry for the delay.  It's true that ^C only triggers the `AfterSuite`, not any pending `AfterEach`es.  This was done intentionally, but not for any real reason other than time constraints and code quality in this part of the codebase:
https://github.com/onsi/ginkgo/blob/master/internal/specrunner/spec_runner.go

(tl;dr this part of the code is crap and I didn't have the time to untangle

[2016-02-12 21:34] thockin commented on #222
I'm unfortunately totally buried at the moment with Kubernetes, and I don't
want to make commitments I can't follow-through on.  We have a workaround
that works but isn't really something I want to carry in the long-term.

https://github.com/thockin/kubernetes/commit/c091c63520e3c44a562740457bc62c7929ab9da1

On Fri, Feb 12, 2016 at 1:02 PM, Onsi Fakhouri <notifications@github.com>
wrote:

[2016-02-17 05:44] robdimsdale commented on #206
I'm trying to understand what might be different between running ginkgo locally, where we observe ginkgo responds correctly to `SIGINT`, and in your CI environment, where you observe that it hangs.

I haven't used Jenkins in a while, so I'd just like to confirm that the signal that Jenkins sending to ginkgo is in fact `SIGINT`, and not e.g. `SIGTERM` or `SIGQUIT`?

[2016-02-17 05:51] ixdy commented on #206
I think it sends `SIGTERM`, but with dbb5c6caf33238b57facc1d975b1aaca6b90288c that should be handled correctly.

One guess I have is that Jenkins is sending `SIGTERM` to all of the Ginkgo nodes, not just node 1, though I haven't fully investigated this theory yet. It seems like it might explain why the Ginkgo nodes aren't all returning.

[2016-02-17 05:56] ixdy commented on #206
Haven't looked at the code, but from https://wiki.jenkins-ci.org/display/JENKINS/Aborting+a+build:

If it was waiting for a completion of a child process, Jenkins will search for all the descendant processes and kill them all. On Unix, this is done through java.lang.UnixProcess.destroyProcess, which sends SIGTERM on Sun's JREs.

[2016-02-17 06:00] robdimsdale commented on #206
And just to confirm, you are running the latest version of the ginkgo binary?

It would be interesting if you're able to follow up on that line of investigation. Ginkgo does seem to spawn multiple os-level processes (at least on OSX; I assume the behavior is the same on linux) and it seems feasible that Jenkins would signal all the processes in the tree.

[2016-02-17 06:02] robdimsdale commented on #206
I replied before I saw your comment above. It should be fairly easy to reproduce the described Jenkins behavior locally by creating a bunch of tests that run long enough to find and kill all the PIDs, and observe whether ginkgo hangs.

[2016-02-17 06:11] ixdy commented on #206
We're currently using Ginkgo `v1.2.0-42-g07d85e6`, which should be the latest.

I can try simulating a "kill-all-Ginkgo-processes" setup to see if I can get it to reproduce locally.

Looking around at Jenkins stuff, I found this [long-open issue with Jenkins](https://issues.jenkins-ci.org/browse/JENKINS-17116) regarding graceful process termination (which is somewhat outdated - Jenkins doesn't use

[2016-02-20 05:24] robdimsdale commented on #214
@abourget I'm going to close this issue. If you feel you want to continue this discussion feel free to open another issue.

[2016-02-20 05:24] #214 closed

[2016-02-20 05:26] robdimsdale commented on #138
@rrati it's been a while since the last comment in this conversation. How are you getting on with your `Logf` function? Is it something you want to submit a PR for?

[2016-02-21 02:10] robdimsdale commented on #159
It sounds like we're all on the same page with regards to the value in having each `It` be independent of all others, as well as using `BeforeEach` mainly to assert that setup code was able to get the environment in the desired state, and that it did so without error, and not to assert behavior of the object under test.

@momchil-atanasov I'm going to close this issue. Please feel free to open ano

[2016-02-21 02:10] #159 closed

[2016-02-21 02:14] robdimsdale commented on #174
A concrete example of what is described above is can be found at: https://github.com/cloudfoundry/cf-acceptance-tests/blob/master/apps/crashing_test.go#L28 with the constant defined in https://github.com/cloudfoundry/cf-acceptance-tests/blob/master/apps/init_test.go#L22

@egarle does this and the above comment answer your question?

[2016-02-21 02:17] robdimsdale commented on #205
@jasonkeene given the above comment, this is an issue that we can't fix in ginkgo, so I'm going to close this issue. Please feel free to open a new issue if you have any further questions.

[2016-02-21 02:17] #205 closed

[2016-02-21 03:47] jasonkeene commented on #205
@robdimsdale Yeah, I was thinking about closing this a little while ago as well. I've been using --focus and a few other work arounds to get the cover profiles I need. If these work arounds don't work in the future I'll reopen. Thanks!

[2016-02-23 17:14] timothysc commented on #130
@onsi
So this would be a nice RFE, b/c if you have testing infra libraries across multiple repos this behavior would be useful for extensiblity.

/cc @jayunit100

[2016-02-24 18:34] robdimsdale commented on #220
@onis looks like we need to address this as the existing markdown isn't rendering properly anymore:

the link http://onsi.github.io/ginkgo/#structuring-your-specs doesn't work and it renders as:

[code]

instead of a heading:

## Structuring Your Specs

[2016-02-25 00:33] rosenhouse opened #224 "My tests are running too quickly"
[code]

cc: @zachgersh

[2016-02-27 18:29] jayunit100 opened #226 "Mechanism for broader programmatic skipping before dryRun happens"
**it would be great if ginkgo supported a broader array of metadata in the top level test tree, so that the need for runtime skips were minimized.**  Examples
- skips based on the test file's compiled path
- skips which are detected by the test tree path walker thingy, i.e. if we could
  `test.EditSuite(func(subjectNode SubjectNode){ return true }`

These are just some rough ideas:  Im not sure wh

[2016-02-28 15:02] jayunit100 commented on #226
One possible way to skip @smarterclayton has used is the FileName metadata.  It appears to only be referenced at runtime, however, and not during dryRun.
[code]
I've never really dived much into ginkgo internals : so any clues would be useful, but I think there might be a way we add a top level option which is able to filter tests based on the codeLocation metadata (i.e. FileName).  if we can do t

[2016-02-28 15:41] jayunit100 commented on #226
ah actually `newRunner`  inside of leafnodes/runner.go gets called via dryRunner , which indeed has access to codeLocation etc.  So i guess rigging codeLocation into the top level runner path won't be too bad.

[2016-02-28 17:26] jayunit100 commented on #226
`SynchronizedBeforeSuite` might do the trick?

[2016-02-28 18:33] jayunit100 commented on #226
`SynchronizedBeforeSuite` might do the trick? update:SubjectNodes have BasicNodes which have code paths in em.  So i think this is indeed readily available during pre processing.

[2016-02-28 19:35] jayunit100 commented on #226
Okay, i figured out a simple way to do what i want:   Updating the focus implementation to match on a string that includes the file name, gives you tons of flexibility in pretest skipping... like so:

ginkgo/internal/spec/specs.go

`toMatch := []byte(description + " " + spec.ConcatenatedString() + " " +spec.subject.CodeLocation().FileName)`.

I can craft a PR for this as well, adding it into `skip

[2016-02-29 03:23] onsi commented on #226
I'm open to this sort of PR though I'd prefer a separate `ginkgo.focusFiles` or `ginkgo.skipFiles` to avoid breaking existing behavior in subtle ways.

But.

This all feels really... odd.  Why not annotate your `Describe`s and `Context`s with tags, instead.  I prefer:

[code]

This allows you to `ginkgo --focus="{foo}"` or `ginkgo --skip="{bar}"`

Are there reasons that sort of approach wouldn't w

[2016-02-29 03:24] onsi commented on #224
welp.  any repro?  Does this happen consistently?  Bizarre...

[2016-02-29 03:40] jayunit100 commented on #226
Hi! Ok, yes A concrete example will be useful here...

In openshift we have 100 or so tests which are packaged into the same binary as 100 or so kubernetes tests.

Right now there is some concern in the community that it isn't a good idea to tag all the tests. So the current mechanism for separating the tests is to do a FileName check at runtime and inspect the package path, and interpret ginkgo t

[2016-02-29 10:40] jayunit100 commented on #226
@onsi I'll craft the PR as a --filePathFilters=true option, that is OFF be default.  That will be perfectly flexible and explicit and won't break any existing functionality .
- backward compatible
- adds functionality to both focus and skip
- won't collide with existing precedence semantics for focus and skip

[2016-02-29 21:32] jayunit100 opened #229 "Ginkgo timeouts array: Undocumented functionality?"
The ginkgo timeouts array that is sent to `It()` clearly has a purpose, but the parseTimeout function seems to simply grab the first timeout.

What is the purpose of the var args input for ginkgo timeouts?   Maybe its just a  legacy function to keep backward compat?

@onsi maybe we should panic if folks send more than one arg (or i understand it incorrectly).

[2016-03-01 02:51] robdimsdale commented on #174
@egarle I'm going to close this issue. Feel free to open another one if you have further comments or questions.

[2016-03-01 02:51] #174 closed

[2016-03-01 02:52] robdimsdale commented on #192
@vito I'm going to close this issue. Feel free to open another one if you have further thoughts or questions.

[2016-03-01 02:52] #192 closed

[2016-03-01 02:53] robdimsdale commented on #196
@nkuacac I'm going to close this issue. Please feel free to open another one if you have further thoughts or questions.

[2016-03-01 02:53] #196 closed

[2016-03-01 02:58] robdimsdale commented on #229
@jayunit100 looking at the [parseTimeout function](https://github.com/onsi/ginkgo/blob/master/ginkgo_dsl.go#L552-L558) it appears you're correct.

I have no context on why this is the case, but I also don't think panicking here is a good idea either.

Have you run into issues passing multiple timeouts into the `It()` method? If so, what were you expecting to happen?

[2016-03-01 03:02] robdimsdale commented on #226
@jayunit100 assume the PR is https://github.com/onsi/ginkgo/pull/228 ?

Can you expand a little on what you said earlier, specifically:

Which community? What's the rationale behind these thoughts? We use tags as onsi describes above with success, and I don't believe we've run into issues that would be solved with your proposal.

To be clear, I'm not against your PR, just trying to understand the

[2016-03-01 06:07] onsi commented on #229
The var args is a hack that is used throughout Ginkgo and Gomega.  It makes it possible to *optionally* specify an additional parameter.  It's true that anything beyond the first value is ignored.

[2016-03-01 06:17] onsi commented on #226
I'm not a huge fan of using the file name for anything other than debugging purposes - if the filename carves out some sort of distinct grouping why not make that explicit in the test description?

Would a more formal tags infrastructure in Ginkgo help assuage these concerns?  You could even cook up your own convention with something like:

[code]

Now, anyone can:

[code]

And then `ginkgo --focu

[2016-03-01 07:08] rosenhouse commented on #224
I can't seem to reproduce now.  Maybe the VM running the tests had a clock sync issue?  Closing.

[2016-03-01 07:08] #224 closed

[2016-03-01 07:39] jayunit100 commented on #229
Yup I think a panic is needed then for >1 args

[2016-03-01 08:18] jayunit100 commented on #226
@robdimsdale @onsi thanks for the feedback, ill explain specifically whats going on.
- Kubernetes has an e2e build product using ginkgo for 100s of test.
- In openshift we extend that e2e build product.
- We have a form of synthetic filtering in openshift which already filters on tests, it doesn't work with DryRun at all and is very problematic when running massive ginkgo runs on 1000 node cluster

[2016-03-03 18:08] ihmccreery opened #230 "Chaos monkey style tests"
For https://github.com/kubernetes/kubernetes/issues/15131, I would like to be able to make some assertions in parallel across some sort of mutation of the system under test (in this case, upgrading compoents).  I would like to do something like the following:

[code]

Given the constraints of Ginkgo, the best I've come up with is doing the whole thing in a `BeforeEach` block, and then having very

[2016-03-03 18:10] ihmccreery commented on #230
To clarify, I need to be able to do these things in parallel because `MutateSystemUnderTest` takes `O(minutes)`, and the number of assertions I need to make is large, so doing this over and over again in serial is infeasible.

[2016-03-03 18:15] ihmccreery commented on #230
Also, if you're interested in adding this functionality, I'd be happy to contribute.  Wanted to get a conversation going before writing a bunch of code.

[2016-03-03 22:30] JC1738 opened #231 "New to ginkgo"
I am following the first couple of steps at: http://onsi.github.io/ginkgo/

$ cd path/to/books
$ ginkgo bootstrap

work fine, run go test, got
--- PASS: TestBootstrap (0.00 seconds)
PASS
ok      books   0.019s

But when I do

$ ginkgo generate book

And then run go test

Get:

no buildable Go source files in /Users/JC/go/src/github.com/JC/books

Not sure why this step doesn't seem to work.

Thanks

[2016-03-05 19:59] james-lawrence opened #232 "ginkgo generate flag to use normal package name."
I understand the argument for having tests only testing the exposed api especially in behaviour testing
however, in practice I've found it annoying and more frustrating when attempting to test that internal function.

wondering if you'd even accept a PR for generate to take a flag (or maybe as a subcommand) to generate
a testing file that is within the normal package. Maybe it gives it a different

[2016-03-05 20:13] robdimsdale commented on #232
@james-lawrence There was a PR to do this by default at https://github.com/onsi/ginkgo/pull/207 and after some conversation in that thread, it was rejected. I understand you are proposing a flag to optionally support this behavior, instead of making it the default, but I don't think we want ginkgo to support this functionality at all.

Allowing tests to access internal implementations is a poor te

[2016-03-05 20:20] james-lawrence commented on #232
@robdimsdale you're assertion its poor testing practice is an opinion. its fine you want to hold it but others do not share it, including those who implement the go runtime.

Testing should guarantee the API but also when developing there internals that are not exposed to the outside packages that need to be tested.

not only does it make determining the location of the bugs easier but its a more

[2016-03-05 21:09] james-lawrence commented on #221
just support a taking a file as an option and copy its contents updating the package name/imports/suite name.
fairly easy with go/ast, go/token, etc packages.

[2016-03-05 21:15] robdimsdale commented on #231
@JC1738 I follow the steps and I get the same issue as you. This is because there isn't anything to test.

The docs are testing an example package `books` with various methods and objects. To get past your immediate issue you could create that package:

[code]

and then re-run the steps:

[code]

This is a different error, and it is because ginkgo imports some packages by default.

Generally those

[2016-03-05 21:32] robdimsdale commented on #230
@ihmccreery I don't think I've seen ginkgo/gomega used in this manner before.

I think you could do this asynchronously starting the mutation logic in the `BeforeSuite`, and running the `It`s in parallel, signaling each test when the mutation is complete. Something like:

[code]

This isn't very elegant, and requires a custom atomic bool type.

Could you provide an example of how you've achieved t

[2016-03-05 21:49] robdimsdale commented on #229
I haven't seen any evidence that this is causing issues for people, so I don't feel strongly about failing when more than one is provided.

If you do feel strong, and you want to submit a PR that panics (or better still `Expect(len(args)).To(BeNumerically("<=",1))`) everywhere varargs are used in this manner as optional, then we can merge that.

If not, we will close this issue without change.

[2016-03-05 21:51] james-lawrence commented on #221
sadly eg doesn't support . file usage =)

but it definitely shows promise as a proof of concept for what I described:
eg example file:
[code]
[code]

[2016-03-06 17:41] zachgersh commented on #66
@onsi - I'd actually love to know the `why` behind the decision change. I know quite a few projects outside of our use cases that actually like to use coverage reports.

I'd be happy to put something together on this unless you think there is something super complex here?

[2016-03-07 19:11] ihmccreery commented on #230
@robdimsdale My `BeforeEach` solution is basically what I described above, where just the two `assert`s are in the `It`, and everything else is in `BeforeEach`.

[code]

At this point, we're basically getting no benefit from the `Ginkgo` structure, just piggybacking off of it to get goodies like the runner and JUnit.

Your solution comes close, but we need to actually start checking the state from

[2016-03-10 00:58] ihmccreery commented on #230
Ah, I just realized the `BeforeEach` solution won't work either, because `BeforeEach` will run before each (duh), not just once.

I will continue working.  @onsi or @robdimsdale, do you all think this is the kind of thing that you'd like to extend Ginkgo to be able to do, or is this outside of the scope of this project?  It'd be nice to know as I'm working on this if you all want to collaborate.

[2016-03-10 04:36] robdimsdale commented on #230
@ihmccreery I don't really have a good idea how you would implement this in ginkgo without significant restructuring of the internals. If you can figure out a way to make this work in a backwards-compatible manner it seems like desirable behavior and we would probably merge a PR.

We're quite pressed for time at the moment, so we're probably not able to help too much; apologies for that.

[2016-03-10 04:52] robdimsdale commented on #232
@james-lawrence you're correct, my statement that testing internals is a poor testing practice is an opinion I (and many others) hold. Ginkgo/Gomega is an opinionated test framework, created primarily from the opinion that the existing testing infrastructure in golang didn't offer the expressiveness and flexibility to write tests the way we want. Another opinion we hold is that testing internals i

[2016-03-10 05:38] robdimsdale commented on #226
Commented on the PR at https://github.com/onsi/ginkgo/pull/228

[2016-03-10 06:07] onsi commented on #232
I like `ginkgo generate --internal` and I think what @robdimsdale has described is correct.

(when I said "without the test suffix" I meant on the package, not the file)

[2016-03-10 06:09] onsi commented on #231
yep, what @robdimsdale said - apologies for this @JC1738

The doc examples are meant as illustrations not copy-paste examples.  If that would be valuable I think a simple GitHub repo with Ginkgo and Gomega examples and patterns might be the way to go.

Could be a cool community supported thing to do if someone had the bandwidth and/or interest...

[2016-03-10 06:33] onsi commented on #230
With this sort of thing it's tempting to get very precise and controlled with your tests but what you probably *actually* want is to embrace the chaos.

1. Kick off the upgrade
2. While the upgrade is running, repeatedly run a set of tests
3. When the upgrade completes, stop running tests and evaluate whether any failed

Ginkgo's going to fight you here.  It wants to compute the testing tree up-fr

[2016-03-10 06:34] onsi commented on #229
I'm not sure this is super valuable.  Improving the documentation might be sufficient?

[2016-03-10 15:24] jayunit100 commented on #229
At least we can start with the docs.  I feel strongly that functions shouldnt silently ignore arguments, but if others don't feel that way i wont press the issue.

[2016-03-10 15:57] Julio-Guerra commented on #221
I was wondering why this `*_suite_test.go` file is even needed?

[2016-03-12 22:35] james-lawrence commented on #232
yup sounds close enough to me. I'll look at implementing it next weekend.

[2016-03-14 05:30] robdimsdale opened #234 "Ginkgo panics when using the Table extension"
see https://sunrise.ci.cf-app.com/pipelines/pivnet-resource/jobs/test/builds/135

[code]

I see the same thing when locally when not running in parallel.

This is running golang 1.6 and I believe the behavior is not observed on golang 1.5 as I have used the `Table` extension in other projects on golang 1.5 without issue.

[2016-03-14 05:41] onsi commented on #234
very weird... i can't get this to reproduce locally with a minimal example.  maybe we can poke at it a bit tomorrow, @robdimsdale ?

[2016-03-14 14:28] robdimsdale commented on #234
I ran this with go 1.5.3 and it worked - https://sunrise.ci.cf-app.com/builds/855 is a one-off build demonstrating this behavior (you can't see the SHA but it's the same commit that fails in golang 1.6).

[2016-03-14 14:29] robdimsdale commented on #234
https://github.com/pivotal-cf-experimental/pivnet-resource/commit/95ee3d357f5adaa41f60f0f31394aa4bb24841f5 is the offending commit

[2016-03-14 14:41] robdimsdale commented on #234
Stepping away from the specifics of the test for that project and using a minimal example, I can reproduce locally this with the table-driven-testing example given at http://onsi.github.io/ginkgo/#table-driven-tests with the following set of files:

foo.go
[code]

foo_suite_test.go
[code]

foo_test.go
[code]

and I get the following output:
[code]

[2016-03-14 14:46] robdimsdale commented on #234
I understand that others have seen this error without using the `Table` Extension: the cf routing team reported the same panic in cloudfoundry/ginkgo slack channel for the hunk at https://github.com/cloudfoundry/cf-acceptance-tests/blob/wip-108400168-multiports/routing/multiple_app_ports_test.go#L70-L76

From Slack

[code]

[2016-03-14 15:39] onsi commented on #234
bizzare. i took your example and tried it on my machine running go 1.6 (brew installed) and it works for me... have you cleared your $GOPATH/pkg?

[2016-03-14 15:57] markstgodard commented on #234
go version go1.5.3 darwin/amd64
ginkgo:  (from cf acceptance tests Godeps)
[code]

As Rob mentioned, I did get an error: flag redefined: ginkgo.seed.

I originally got the error when adding a test when working on a routing story... another pair finished the story, however I seemed to be able to narrow down and recreate the problem, If I modify the test as follows:

https://github.com/cloudfoundry/

[2016-03-15 00:57] robdimsdale commented on #66
Reopening as it looks like there's some community interest. @zachgersh can you provide a highlight of what you'd like to do in a PR?

[2016-03-15 01:24] robdimsdale commented on #234
@onsi yes I removed `$GOPATH/pkg` and `$GOPATH/bin` and I also tried this on a brand new image (that's in CI above).

However, I have solved my issue. In my case the issue I was seeing was that I had not added `github.com/onsi/ginkgo/extensions/table` to my `vendor` directory - once I did this, everything worked fine locally and [in CI](https://sunrise.ci.cf-app.com/pipelines/pivnet-resource/jobs/

[2016-03-15 01:36] markstgodard commented on #234
@robdimsdale I'll check, thx

[2016-03-15 02:09] markstgodard commented on #234
@robdimsdale I nuked $GOPATH/bin and $GOPATH/pkg and also made sure I did a godep restore from cf-acceptance-tests,  however problem still persists for me.
Should be using the version of cf-test-helpers that are in Godeps. . . oddness.

If you wanted to Close, it could be something off in my env, but I'll look deeper.

Cheers

[2016-03-15 04:11] onsi commented on #234
Sigh.. Go.  The hackery that went into the vendor experiment continues to blindside people (also `flags` and ginkgo both use global state, so caveat emptor).

OK this makes sense @robdimsdale - if `ginkgo` is vendored but `/table` isn't vendored *and* ginkgo happens to be under your `$GOPATH` then go will pull in the package under `$GOPATH/github.com/onsi/ginkgo/extensions/table`  which will impor

[2016-03-15 15:52] tnine opened #236 "Help with testing multiple implementations"
Hey guys,
  Sorry to open an issue for this, I couldn't find an email or IRC channel.  I'm really enjoying learning Ginkgo, and I have a problem I need a hand finding a solution.  I have an interface I want to test via Describe and IT.  This interface will have several implementations.  I'd like to re-use a single Describe, and execute all tests in the Describe on each implementation.

I'm not sur

[2016-03-15 15:54] jim-slattery-rs commented on #236
Here you go, there are some options described here:
https://onsi.github.io/ginkgo/#shared-example-patterns

[2016-03-16 02:04] robdimsdale commented on #234
@onsi makes total sense, thanks for the excellent explanation.

@markstgodard you're using go 1.5.3, correct? Are you setting the `GO15VENDOREXPERIMENT` environment variable? If not, I wonder how your issue is manifesting. It's probably two separate packages of ginkgo being registered, but which ones? And how?

[2016-03-18 14:50] momchil-sap opened #237 "Leaves hanging processes"
Hi,

It seems that when using the `exec` package from within Ginkgo tests, it's possible to end up with a hanging process. Let me give an example.

I have the following script file. It prints the current date twice a second.

[code]

If I run the following go program, I have no problems and the shell script is regularly started and stopped with `SIGTERM`.

[code]

If I run the following Ginkgo tes

[2016-03-21 13:42] robdimsdale commented on #236
@jim-slattery-rs thanks for the help. @tnine does this answer your question? Can we help more on this topic?

[2016-03-21 15:28] zachgersh commented on #66
So, coming back to this:

Currently uploading coverage reports for go is not simple. You need two tools and it just seems like a bit of a mess to get everything running correctly :/

The two other tools you need in addition to the go coverage tool are:
`github.com/modocache/gover`
`github.com/mattn/goveralls`

It would be so much easier for people to be able to simple do something like this in gin

[2016-03-21 19:25] mantzas opened #238 "Coverage result into on single file for processing"
When running the cover flag the files will be created in ach package folder.
It would be nice if we had a switch that would merge all these files into one file.
With this we could send the coverage report to sites that do coverage analysis simple and easy instead of running custom scripts in order to generate the file.

[2016-03-23 17:55] odlp commented on #237
@momchil-sap seems like we're having a similar issue, after upgrading to Go 1.6. Which version are you using?

[2016-03-26 16:53] robdimsdale commented on #238
@mantzas do you think this is covered (no pun intended) by #66 and #89 ? If so, are happy with closing this issue so we can keep the discussion in one place?

Thanks,
Rob

[2016-03-26 16:55] robdimsdale commented on #231
It's been a couple of weeks without any response to this issue, so I'm closing it now. @JC1738 if you have further questions or are interested in submitting a PR to update the docs please feel free to open a new issue.

Thanks,
Rob

[2016-03-26 16:55] #231 closed

[2016-03-26 16:57] robdimsdale commented on #229
@jayunit100 I'm going to close this issue as it's been over two weeks without any update. If you'd like to continue this conversation or submit a PR please feel free to open a new issue.

Thanks,
Rob

[2016-03-26 16:57] #229 closed

[2016-03-26 17:22] robdimsdale opened #240 "Optimal distribution mechanism of ginkgo executable?"
I'm wondering if `go get` is still the best mechanism for obtaining the latest version of the ginkgo binary? I've had success in building binaries and attaching them to github releases. Examples include https://github.com/robdimsdale/wl and https://github.com/robdimsdale/garagepi

Somewhat orthogonal is the question of vendoring third-party dependencies; in my experience once you get a couple of e

[2016-03-26 17:43] jayunit100 commented on #240
- Sounds like you're suggesting that we start using `Godep`s ?
- I would agree its pretty much the standard  if 3rd party reps are needed.

[2016-03-26 18:59] jayunit100 commented on #240
Actually, come to think of it - we already have one external deep: Gomega.  So realistically, I guess we really need godeps already.

[2016-03-26 19:57] onsi commented on #240
I'd prefer to avoid Godep/what-have-you -- will respond on the other issue.

[2016-03-26 20:07] onsi commented on #237
hey @momchil-sap your examples are subtly different.  `--untilItFails` runs the compiled test binary many times whereas your `main.go` program invokes the binary in a for loop.  Not sure if it makes a big difference but it might be good to compile `main` and run it in a loop (e.x. with bash or - to be even more faithful - by invoking it in a loop from another go program) to see how it behaves.

I'

[2016-03-26 20:16] jayunit100 commented on #240
Maybe it is premature for godep.

In any case @onsi maybe if we (you :)) Added the code policies that would help set things like this in stone (I.e. Regarding external deps, preferred build, and test process) since gomega and protobuf and so on are dependencies, I'm sure this issue will be brought up again ... And I'm sure ginkgo will enjoy more Prs and growth in the future , so it's good to have

[2016-03-26 22:01] robdimsdale commented on #240
Continuing the current pattern of copying dependencies means we can continue using `go get` as the distribution mechanism, so I'll close this issue now.

[2016-03-26 22:01] #240 closed

[2016-03-27 08:23] mantzas commented on #238
yes it is! i am closing the issue. thanks

[2016-03-27 08:23] #238 closed

[2016-03-27 08:24] mantzas commented on #89
+1

[2016-03-28 06:29] momchil-sap commented on #237
@onsi @odlp I think the same would occur on `1.5` as well.

I did the experiment with a `main` that runs `test.sh` that is called by another `main` in a loop. Could not reproduce it.

[2016-03-30 12:19] james-lawrence commented on #232
sorry life has been busy, still planning on doing this might be a few weeks though =)

[2016-04-02 17:20] onlyjob opened #245 "please tag new release"
Latest release 1.2.0 was a while ago and now more and more Go applications vendor unreleased post-1.2.0 snapshots of _ginkgo_ and _gomega_ due to multiple fixes and improvements.

New release would be very helpful. Thanks.

[2016-04-04 11:20] Julio-Guerra opened #246 "Writting dependent Specs?"
[Given the example from the documentation](https://onsi.github.io/ginkgo/#organizing-specs-with-containers-describe-and-context), we can see an example of dependent specs: if the call to `NewBookFromJSON()` fails, everything else will too, and with a panic. This is a very common case of dependent specs and we can of course imagine others.

As far as I know, these dependencies make impossible runni

[2016-04-04 12:00] TheTincho opened #247 "suite_test.go has some flaky tests"
Hi,

I am the Debian maintainer for ginkgo. Recently I got a [bug report](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=819214) of ginkgo failing to build, due to a test that fails under heavy load.

The problematic line is https://github.com/onsi/ginkgo/blob/master/internal/suite/suite_test.go#L133 and the failure can be reproduced pretty consistently if running the tests with nice while hogg

[2016-04-04 17:48] #247 closed

[2016-04-04 17:48] onsi commented on #247
That should do it..

[2016-04-04 17:57] onsi commented on #246
The individual `It`s are required to be independent to make parallelization and randomization possible.  While you can inadvertently affect one test by leaking global state from another test this is almost always a bug in how the tests are written.

The correct approach, in Ginkgo, to do what you are trying to do here is to use `BeforeEach`.  `BeforeEach`es in parent Describe/Context blocks always

[2016-04-04 19:25] Julio-Guerra commented on #246
Yes. This is how I also solved the problem for object creations.
But as soon as you allow the nesting of spec-containers, you kind of express a dependency relationship that `It()` does not really follow because they are kind of "flattened".

Maybe this could be listed as a limitation?

Anyway, thanks for "the official position" :+1:

[2016-04-04 21:47] jchauncey opened #248 "Exit after certain time has gone by"
I would like the tests to exit if they take longer than say 5 minutes to complete. I know this functionality exists in `go test` but doesn't seem to exist in `ginkgo`

[2016-04-05 17:51] sykesm opened #249 "Proposal: Skip the `vendor` directory by default when using go 1.6+"
When dependencies are included, `ginkgo -r` tries to test them too.  We're using `ginkgo -r --skipPackage ./vendor` to avoid this behavior today.

Happy to create a PR if you're interested in this.

Thanks.
@sykesm & @rosenhouse

[2016-04-05 18:00] robdimsdale commented on #249
@sykesm @rosenhouse check your version of ginkgo executable is up to date - this issue was raised and fixed in https://github.com/onsi/ginkgo/issues/187 (and again in https://github.com/onsi/ginkgo/issues/211) and should be fixed in newer versions of ginkgo.

Thanks,
Rob

[2016-04-05 19:32] sykesm commented on #249
The [code] is only looking at the `GO15VENDOREXPERIMENT` environment variable and isn't taking the go version into account. With go 1.6, the vendor support is enabled by default.

Thanks.

[code]: https://github.com/onsi/ginkgo/blob/master/ginkgo/testsuite/test_suite.go#L52-L58

[2016-04-06 00:22] robdimsdale commented on #249
Are you saying that you are using golang 1.6 and not observing the desired behavior by default (i.e. ginkgo is not skipping `./vendor`). If so, a PR would be welcome.

[2016-04-06 04:05] onsi commented on #249
Yep, would love to have a PR for this.  I believe the original PR left the
1.6 case dangling.  We should circle back on that.  Thanks @sykesm!

On Tue, Apr 5, 2016 at 5:22 PM, Rob Dimsdale <notifications@github.com>
wrote:

[2016-04-06 15:16] jchauncey opened #251 "JUnitReporter does not handle running tests in parallel"
When I run my test suite in parallel using the JUnitReporter the only values that are captured are the last node to return.

[2016-04-07 09:55] TheTincho commented on #247
@onsi, thanks for looking at this.

My only worry is that it stays being a timing-dependant test. I can imagine that in some extreme cases, this can still be a problem. Isn't there a way to make it completely deterministic?

Thanks!

[2016-04-07 15:08] onsi commented on #247
Not really.  The test is asserting that a method that does some timing, did some timing.  Honestly I could just delete it - very low value.  Compromise:  if it exhibits flakiness again, I kill it?

On Thu, Apr 7, 2016 at 2:55 AM -0700, "Martín Ferrari" <notifications@github.com> wrote:

@onsi, thanks for looking at this.

My only worry is that it stays being a timing-dependant test. I can imagine

[2016-04-08 03:03] TheTincho commented on #247
On 07/04/16 16:08, Onsi Fakhouri wrote:

Fair enough. Thanks!

--
Martín Ferrari (Tincho)

[2016-04-09 22:05] james-lawrence commented on #249
this is resolved with #253 being merged.

[2016-04-14 04:44] robdimsdale commented on #66
@zachgersh there's a fair bit of community interest so if you want to submit a PR I think it would be welcome.

What changes do you propose to make to ginkgo to achieve your goals above?

[2016-04-26 21:28] Julio-Guerra commented on #246
I have now written more advanced integration tests using ginkgo and I am more and more convinced that ginkgo should implement nested requirements to be able to write nice readable scenarios which are basically cascaded requirements.

Here is a concrete example of how I mapped into ginkgo's dsl a subset of the TTY API which is full of nested requirements (A => B => C ...):

[code]

It is already po

[2016-04-27 01:42] robdimsdale commented on #246
As you've seen, this works. I doubt it will change, but it's probably also not part of the official spec (i.e. if there's a really good reason to randomize we might start doing that by default).

I would really encourage you to not couple your tests, as you will never be able to run them randomly or in parallel, two behaviors which we find incredible valuable in writing effective tests and driving

[2016-04-27 02:03] robdimsdale commented on #248
@jchauncey sounds like a reasonable request. I imagine if you wanted to submit a PR we would probably merge that - we don't currently have the resources to do that ourselves.

If you're interested in submitting a PR, let us know and @onsi or I can guide you as to what you might want to look at.

[2016-04-27 02:05] robdimsdale commented on #249
@james-lawrence thanks for the update - closing this issue now. @sykesm feel free to re-open if you see anything untoward.

[2016-04-27 02:05] #249 closed

[2016-04-27 02:07] robdimsdale commented on #245
@onlyjob see similar comment in https://github.com/onsi/gomega/issues/144 - repeated here for convenience.

[2016-04-27 02:10] robdimsdale commented on #237
@momchil-sap did you get chance to try this on golang 1.5? It sounds like you can't reproduce this on go 1.6 anymore? I'm a little confused as to whether this is still causing issues for you?

[2016-04-27 02:16] robdimsdale commented on #221
@Julio-Guerra in the case where you have multiple `_test.go` files, it makes sense to keep the "bootsrapping" logic separate from any specific test file.

@cppforlife is this something you still want to dig into?

@james-lawrence were you interested in submitting a PR for this?

[2016-04-27 02:21] robdimsdale commented on #251
@jchauncey can you elaborate on what you mean here? Can you provide some example output of what you saw happened and what you would expect to happen?

Thanks,
Rob

[2016-04-27 02:25] jchauncey commented on #251
Basically when a node finishes it writes data to the file which overrides
the existing data. We basically write several files out now with random
filenames to get around this but would be nice just to have one file.
On Apr 26, 2016 8:22 PM, "Rob Dimsdale" <notifications@github.com> wrote:

[2016-04-27 02:56] james-lawrence commented on #221
@robdimsdale can't atm, want to put some effort into my own project for a few weeks.

[2016-04-27 06:09] momchil-sap commented on #237
Hi @robdimsdale , I could reproduce this with `golang 1.6` and I believe it was reproducible with `golang 1.5.2` as I had similar issues before. I have not tried with `1.6.2` to see if something has changed.

I will check and get back to you.

[2016-04-27 12:43] momchil-sap commented on #237
@robdimsdale I spent a considerable amount of time trying to reproduce this again but couldn't.

I could not get the desired result even once on my personal laptop, which has the latest versions of `Go`, `ginkgo` and `gomega`. I tried using different versions of Go (`1.5.2`, `1.5.4`, `1.6`, `1.6.1`, `1.6.2`), Ginkgo and Gomega but to no avail.

I moved to a workstation that had older versions of t

[2016-04-27 15:01] Julio-Guerra commented on #246
I agree and what I am trying to show is that a parent `It()` should have precedence over its siblings containers: recursively, do not run until sibling `It()`s have successfully finished.

It does not prevent doing parallelization nor randomization at all. And it avoids copying/pasting parent `It()`s assertions into sibling and sub-containers' `BeforeEach()`es.

[2016-04-27 15:04] robdimsdale commented on #246
By preventing some tests from running until another test is complete, you are preventing parallelization and, to some degree, randomization.

I agree that it avoids copying any pasting, but it does so at the cost of making the tests more brittle, and, to many, more confusing. I accept to you this may be less confusing.

Like I said, we may need to agree to disagree, but it's unlikely that we will

[2016-05-05 20:36] thockin opened #254 "relative paths to exec.Cmd in test_suite.go"
in `testsuite.New()` ginkgo says:

[code]

Later that Path field gets used to construct an exec.Cmd, as the Dir field.  The problem (it seems) is that when that Dir is expanded, if your CWD has any symlinks in it, things go sideways.  In our case, Path becomes `./../../../../../../other/stuff`, but then I get a `chdir: no  such file or directory` and everything fails.

Is there a reason for making

[2016-05-05 22:51] ixdy commented on #251
@jchauncey we've been using the junit reporter + parallel mode without issue for a while. You'll need to use `config.GinkgoConfig.ParallelNode` in the filename, though, as noted in [the documentation](https://onsi.github.io/ginkgo/#generating-junit-xml-output).

[2016-05-07 16:33] sgravrock opened #255 "Docs: Small, low-contrast text is hard to read"
I don't know if this is the right place to report this kind of problem, but some of the text on http://onsi.github.io/ginkgo/ is hard for me to read:

![ginkgo docs](https://cloud.githubusercontent.com/assets/2879775/15093208/2509e254-1435-11e6-9d5e-b57c8a27fc8f.png)

Notice how the text in the red boxes doesn't contrast very much with the background. The green background image makes it worse, but

[2016-05-18 10:54] devghosh opened #256 "covermode not supported in ginkgo"
My project structure has
src/node/.. , contains code
src/test/system, contains bdd to test my project

For getting the coverage of files inside src/node by executing bdd test, I have to perform following steps:
_go test -c test/system -covermode=count -coverpkg ./...
./system.test -test.coverprofile coverage.cov
go tool cover -html=coverage.cov -o coverage.html_

I tried with ginkgo:
_ginkgo -r -v

[2016-05-19 21:33] thedodd commented on #89
+1 this would be pretty fantastic!

[2016-05-19 21:34] thedodd commented on #89
If someone want's to point out the code which needs focus, I am happy to take a crack at it. Haven't looked at the codebase for this project yet.

[2016-05-20 19:10] robdimsdale commented on #237
@momchil-sap did you ever manage to figure this out? I'm happy to close the issue if you didn't make any more progress

[2016-05-25 13:42] sivagollapalli commented on #248
@robdimsdale I would like to give a shot but I am a newbie. Any references would be great

[2016-05-25 19:12] robdimsdale commented on #248
Thanks, @sivagollapalli

I would probably add a flag called `timeout` to: https://github.com/onsi/ginkgo/blob/master/ginkgo/run_watch_and_build_command_flags.go#L26-L29 and https://github.com/onsi/ginkgo/blob/master/ginkgo/run_watch_and_build_command_flags.go#L112-L116.

I would suggesti that its value could be an int (seconds) or a string that golang can parse. The latter is probably better.

As

[2016-05-26 04:55] zachgersh opened #257 "--failFast should cause all nodes to exit when running in parallel"
Back a long, long time ago when this feature was first implemented @onsi stated that with `--failFast` on only the node that was running would exit (all other nodes would continue to run):

https://github.com/onsi/ginkgo/issues/56

Imagine my surprise when I wanted the whole test suite I was running in parallel, which takes around 35 minutes, to exit immediately on the first failure (I have to sta

[2016-05-30 06:20] momchil-sap commented on #237
No luck. @robdimsdale, I guess you can close it. If I ever do reproduce it, I could open a new one and link to this one.

[2016-05-30 14:25] robdimsdale commented on #237
Absolutely, sounds great. Thanks for checking in again - much appreciated.

[2016-05-30 14:25] #237 closed

[2016-06-03 07:43] gabrielf opened #258 "Slow tests?"
Hi, we use Ginkgo for our unit tests. The tests are executed fast (0,5s) but to run all the tests are slow (28s).

Are the test files are compiled one by one instead of in one go? Is there any way to speed up the test run?

[2016-06-07 12:04] emidander commented on #258
I would also like to know this! Test performance appears to have become worse with Go 1.6.

[2016-06-08 04:52] onsi commented on #258
ginkgo first identifies all packages to test and then compiles the packages using `go test -c` and then runs the compiled binaries as they compile.  the packages are compiled _in parallel_ in order to speed up compilation.  you can try using the `ginkgo --compilers=N` flag to control the number of parallel compilers - it _might_ help to use low `N` (default is number of CPUs).

compilation got _re

[2016-06-17 16:39] mml commented on #70
I know this is an ancient issue, but I'll mention another way this is an issue.  In kubernetes, we have a rather large end-to-end test suite.  There is a single suite for the entire project, and so the nested Describe/Context blocks often have very specific needs.

As this is an e2e setup, it's often the case that we need to create certain API objects and wait for them to stabilize in the running

[2016-06-20 21:54] lavalamp opened #260 "Flake mitigation"
My goal here is to allow some grace around flaky tests. Unfortunately, they are a fact of life for the Kubernetes project. Sometimes that's due to programmer error and sometimes due to downstream dependencies, etc--I'm not arguing that I want flaky tests, just that I need to my CI system to understand the difference between "fails occasionally" and "totally broken". So I want to implement a mode t

[2016-06-21 21:54] lavalamp commented on #260
@onsi I'm looking at implementing this. Do you have suggestions on how to present this to the reporter.Reporter interface?

[2016-06-22 04:54] tedsuo commented on #260
As an alternative, what do you think about reporting that allows you to consume the failed tests, and re-run them yourself? Would that be too onerous?

The approach you're proposing is not without merit. If we did it that way, i think I would also want a different signal on exit, so CI systems can indicate that the tests only "passed".

[2016-06-22 05:06] lavalamp commented on #260
I want to rerun without having to go through BeforeSuite/AfterSuite. I
think what I'm proposing will still report the failures in e.g. JUnit while
claiming that the suite passed. I need that, anyway, to file issues about
the failures.
On Jun 21, 2016 9:54 PM, "Ted Young" <notifications@github.com> wrote:

[2016-06-22 05:37] Amit-PivotalLabs commented on #260
@lavalamp:

Fair point.

@tedsuo:

I believe most CI systems only know passed and failed, and won't know a different exit code means scare-quotes-"passed".  I imagine if don't want test runs with retried flakes in them to count as passing builds, you simply wouldn't use the flag in your build.  I'd be curious to hear @ryanmoran's thoughts on this proposal.

[2016-06-22 08:54] glyn commented on #260
Stipulating retries at the level of the whole build is too risky from my perspective. What if true non-deterministic bugs creep in? Then the build would likely still pass. Wouldn't it be better to identify specific flaky tests as such and supply a per-test retry count (as well as a string which could point to an issue tracker bug, for instance)?

(I wonder if @Amit-PivotalLabs wanted to hear @rmor

[2016-06-22 19:59] lavalamp commented on #260
I intend to use this to identify flaky tests in the first place, so requiring an up-front list of known flaky tests wouldn't work for me.

[2016-06-22 22:25] tedsuo commented on #260
Those are some valid concerns, all around.

I ran the following proposal by @onsi and he was down with it:

Ginkgo supports the notion of prefixing `Describe`, `Context`, and `It` blocks to enable special behavior. For example `FIt` and `FDescribe` enable focusing and `XIt` enables skipping. This proposal adds the `R` prefix to enable retries. The new functions are `RIt`, `RDescribe`, and `RContex

[2016-06-22 22:50] lavalamp commented on #260
So if it went that way, I'd be using Rxx everywhere. I don't think I want max retries to differ by test case, I don't want that boilerplate if possible.

[2016-06-22 22:52] Amit-PivotalLabs commented on #260
The use cases I've seen for this are when your environment is flaky and out
of your control, not when individual tests are flaky. The "RIt" proposal
doesn't solve the environment flakiness issue, which I think is the main
issue at hand.

On Wednesday, June 22, 2016, Daniel Smith <notifications@github.com> wrote:

[2016-06-22 22:57] lavalamp commented on #260
Yes, I agree. Individual tests that are bad should be fixed ASAP. In my case I just can't fail everyone else's PRs while I wait.

[2016-06-23 00:19] tedsuo commented on #260
You can use `RDescribe`, so you do not need to put `RIt` everywhere. We could add a `defaultMaxRetries=4` flag could help with the rest of the boilerplate. Considering that your usecase is not the norm, a small amount of boilerplate should be acceptable. That said, if the `R` prefix is not solving any existing usecase effectively, we can keep looking.

Possibly a combo of a `maxRetries` and a `fai

[2016-06-23 00:34] lavalamp commented on #260
But I want things retried at the smallest level of granularity, would RDescribe propagate that way?

A global default for number of retries is more palatable.

Our (Kubernetes's) e2e testing is done via ginkgo. It runs on every PR and has to pass. Often, it fails on people for reasons that are not their fault. Right now, they have to identify an issue to ask for a retest. I want to instead rerun j

[2016-06-23 00:38] lavalamp commented on #260
It's also worth noting that I want to run all the tests with this flake detection bit turned *off* in other configurations (in our post-submit tests)--there I already have a strategy for mitigating flakes in place, I compare between run N and N+1. That strategy doesn't work as a presubmit, because there is no N-1 run, and anyway the PR author might have broken something.

[2016-06-23 03:34] tedsuo commented on #260
`RDescribe` would propagate in the manner you desire, it's just a level of scoping so that you don't have to say `RIt` everywhere. But I'm coming up short on actual usecases, and thinking of more edge cases (for example, failures in BeforeEach and AfterEach). So I'm starting to agree with just having a command-line option. If we need to scope it down later, we could possibly add a `--retry=REGEX`

[2016-06-23 04:11] Amit-PivotalLabs commented on #260
I agree with @glyn's concern that you might start to use this to deal with flakes that are out of your control, but that this may start to then mask flakes that you should be controlling.  That said, the use case seems reasonable.

If you're getting a lot of contributions, and they all need to pass e2e tests, and the e2e test setup is expensive, and expressed in ginkgo, then maybe the answer is to

[2016-06-23 05:17] lavalamp commented on #260
=D lol

Yeah, agreed, I have another system in the works to get those under control. In a perfect world I wouldn't need this, but in the current world I have 50 PRs a day blocked on this :/

I'm totally fine with leaving that out and just having it always 1. But just for clarity, the way I implemented it it runs the test until it gets N passes or it's mathematically impossible to get N passes. I t

[2016-06-28 21:51] lavalamp commented on #260
Any followup on this? #261 implements my original idea. It seems to work. I'm happy to modify as desired, I've got most of the rest of the pieces I need in my stack to make this work and I'd really hate to point at a fork temporarily while we figure this out :)

[2016-06-29 20:45] lavalamp opened #263 "BuildFlagArgs is not tested"
If one adds fields to the config struct, no test fails if they are not also added to BuildFlagArgs.

[2016-06-30 20:50] tinygrasshopper commented on #260
Your particular use case does looks fair. But on the other hand I am yet to come across a test runner which provides rerunning of failed test as a feature. Other test runners that I have worked with, provide mechanisms to extend the test runner to handle custom use cases like these. For example in junit test retry logic can be implemented with test 'Rules'.

I propose rather than adding retrying o

[2016-06-30 21:37] lavalamp commented on #260
@tinygrasshopper so it's the responsibility of the SpecRunnerStrategy to call the right things on the reporter? I had to tweak that a bit in my change to get it to work: https://github.com/onsi/ginkgo/pull/261/files#diff-245d401c0f93bef3b7927b60d3418905R175

[2016-06-30 21:41] lavalamp commented on #260
I'm fine with redoing my change to look like that but I'd like some buy-in first.

[2016-07-01 15:12] onsi commented on #260
ive commented on the pr.  i think the current direction will be fine but am asking for a few tweaks.

[2016-07-01 16:43] lavalamp commented on #260
Thanks, appreciate it! I hope to get those done for you late today.

On Fri, Jul 1, 2016 at 8:12 AM, Onsi Fakhouri <notifications@github.com>
wrote:

[2016-07-01 17:29] tedsuo commented on #263
I feel like we should be able to refactor this so that the two cannot be decoupled. For example, if the base names for the flags were tags on `GinkgoConfigType` and `ToArgs(prefix string)[]string` and SetFlags(flagSet *flag.FlagSet, prefix string, includeParallelFlags bool)` became methods which used the tags.

Much of this code hasn't really been refactored since the original spike, so there are

[2016-07-02 23:44] ryanmoran commented on #260
@Amit-PivotalLabs I'm just seeing this thread for the first time now.

First impression: "WAT!?!?"
Second impression: "Who am I to mandate that some other developer can't use something like this in their suite".

I would never use a mechanism like this, and would probably look down upon those that did, but I can be judgmental like that up here in my ivory tower.

As for the CF Release Engineering

[2016-07-03 01:03] lavalamp commented on #260
I agree, no one should use this. My rough impression is that about half of
our flakes are real system problems.

Unfortunately, there's one of me and 700ish contributors to my project.
It's not fair to them to block their change because some test is flaking,
when they didn't write it, or they don't understand that part of the
system. There's a lot of code in our repo, and few people can fix any
pr

[2016-07-11 15:09] mikeatlas opened #265 "Documentation for pass-through arguments"
In order to effectively use pass-through arguments in my test suite, this took me a bit of guesswork to make work, and could be documented as an example. If you want to pass-through flags from the command line, they need to be evaluated as package-level variables:

Given:

[code]

The following code is needed at the package-level;.

[code]

The parsing can't happen in any `BeforeSuite`, `BeforeEac

[2016-07-14 05:05] onsi commented on #265
Yes that works @mikeatlas

My preferred pattern is to define a `func init()`:

[code]

That's all you need.  Now `myFlag` will be populated with the passed in flags and made available to your tests.  Note that there's no need to call `flag.Parse()` (sigh... shared globals).  Ginkgo will call that eventually when parsing its own flags.

Are you up for a PR to the docs?  (github pages)

[2016-07-15 09:31] sunmoonone opened #267 "command line option -r is ambiguous"
-r	Find and run test suites under the current directory recursively
but is it also a flag for some other feature?

When I use -r to run all test suits in subdirectories:
[code]

The output:
[code]

[2016-07-15 09:55] #267 closed

[2016-07-15 09:56] sunmoonone commented on #267
caused by an empty my_test.go file

[2016-07-15 15:02] mikeatlas commented on #265
You're right, `init()` makes far more sense. I'll create a PR on the gh-pages repo, sure.

[2016-07-18 18:27] lavalamp commented on #260
My PR was merged and documentation was, also, so I think we can close this. Thanks everyone!

[2016-07-18 18:27] #260 closed

[2016-07-19 16:40] allenluce opened #271 "-gcflags support in Gingko test runner?"
I'd like to use the Ginkgo test runner do not know how to pass `-gcflags=-l` through to the compiler through it. Is there currently a way to do this?

[2016-07-20 13:37] onsi commented on #271
hey @allenluce - i've been adding additional build flags in as they come up.  would you be up for submitting a PR to add `-gcflags`?  The code would basically need to mirror the existing support for `-tags` (there's a [commit](https://github.com/onsi/ginkgo/commit/6d2c60e821e0e33f45c0bb3a1c19970c6288a1f0) that added this but it is likely out of date at this point as I've moved around how test suit

[2016-07-21 09:04] chriswhitty opened #273 "Vendor tests run when building in go 1.6+"
We just pulled the latest update and found that the tests for vendored packages are now running. (we're using go1.6)

It looks like the cause is [this commit](https://github.com/onsi/ginkgo/pull/272). In the [docs](https://golang.org/pkg/go/build/)  the build tag go1.6 is documented as: `"go1.6", from Go version 1.6 onward`

This suggests that the previous behavior was correct.

We are working aro

[2016-07-21 12:06] onsi commented on #273
hmmm... thanks @chriswhitty will take a look soon

[2016-07-21 14:16] robdimsdale commented on #273
We reverted that bad commit - thanks for the heads-up and sorry for the inconvenience! This should be fixed now.

[2016-07-21 14:16] #273 closed

[2016-07-21 14:24] chriswhitty commented on #273
No problem, thanks for the fix.

[2016-07-22 01:58] allenluce commented on #271
Yeah, totally. I didn't actually look at the commit you referenced until after I'd done this, but hopefully it's not too off-track.

[2016-07-22 02:01] onsi commented on #271
I think you've got it.  will merge it in once travis goes green.

On Thu, Jul 21, 2016 at 8:58 PM, Allen Luce <notifications@github.com>
wrote:

[2016-07-29 05:21] squeedee opened #277 "Pass through -work to go build"
We had a test polution that i suspected was removing the intermediary `go build` files. I wanted to run `ginkgo -r -work` to prove it, but that's not an option.

I admit that `go test -work ./...` get's me there, but theres a small but time-consuming cognitive dissonance switching from ginkgo's syntax to go test's packages spec.

[2016-07-29 05:25] squeedee opened #278 "Why not use the `go help packages` package spec"
When writing #277 I realised it's inconsistent for ginkgo to use `-r` and/or requiring the packages listed out as though they are `import` statements.

So why did you eschew the packages spec (`go help packages`?)
I can understand that it's not fun to [implement](https://github.com/bunniesandbeatings/go-flavor-parser/blob/master/parser/parser.go#L35), but I was curious for your feelings about it.

[2016-08-06 07:28] ches commented on #278
This confused me too. Concretely, trying my first `gexec` spec:

[code]

[2016-08-06 08:13] ches commented on #232
I believe this can be closed 🎉

[2016-08-06 19:27] robdimsdale commented on #232
@ches looks like you're right - thanks for bumping!

[2016-08-06 19:27] #232 closed

[2016-08-10 13:11] benhyland opened #280 "Running suites in parallel"
I have a few questions about test parallelisation which I don't think are answered by the docs.

As I understand it, `ginkgo -r -p` will run specs within each suite in parallel and runs the suites serially.

What is a good way to use ginkgo to parallelise across suites as well as within suites?

In the end, I might want to control the scheduling of specs based on their expected run time, to reduce

[2016-08-11 23:27] allenluce commented on #271
Working great, thanks!

[2016-08-11 23:27] #271 closed

[2016-08-12 21:18] allenluce commented on #256
This should be taken care of by #281.

[2016-08-18 04:58] onsi commented on #280
you understand it right.  There isn't a way from the `ginkgo` cli to parallelize across suites and this wouldn't be solved by a custom test runner either.  Each suite is its own test binary and ginkgo launches these serially

-- too much detail -->

In fact, when it runs a suite in parallel Ginkgo takes the compiled binary and launches it `N` times passing it flags to inform it of its node index.

[2016-08-18 08:59] benhyland commented on #280
Thanks for the confirmation, and for the extra detail :)

The value I was hoping to gain was a way to split long-running acceptance tests that require a significant external environment across several test-running agents so as to be able to target several pre-deployed environments in parallel.
I thought a custom test runner might be useful for this, and might also have been used to combine each te

[2016-08-18 13:38] tinygrasshopper opened #285 "Ginkgo fails for code which has flag parsing"
Ginkgo throws an exception when testing the main package if a main package has a init function which parses flags. Works with `go test`, following error is see when executing ginkgo:

[code]

Testfile:
[code]

main.go
[code]

We have attached the entire code example as an attachment, unzip it in `$GOPATH/github.com/test/test` to use

@henryaj and @tinygrasshopper

[one.zip](https://github.com/onsi

[2016-08-18 17:59] onsi commented on #285
:( Sadly `flag.Parse()` is a magical global that you can only run once.  Any subsequent calls are ignored.

Ginkgo registers its flags in an `init` and then calls `flag.Parse()` just before running your tests.

I don't know what Go best practices are but I'm forming the opinion that the right approach is *always* to `flag.Parse()` in your `main()` *not* in `init()`.

You'll have to change your cod

[2016-08-19 02:41] robdimsdale commented on #285
@tinygrasshopper thanks for the effort in isolating a reproduction.

A quick google suggests a slight tendency to parse in `main.main()` rather than `init()` and that is consistent with my own experience. This advice is often based on the kind of problem you're running into during testing. It's actually never occurred to me to parse flags in `init()`, and I've never had problems parsing in `main.m

[2016-08-20 19:37] jawnsy opened #286 "Expose spec suite randomization seed to test code"
Hello maintainer,

Thanks for your work and for sharing this great library. We're just starting to play with ginkgo (with gomega and agouti) and things are great so far. I particularly like that specs are executed in randomized order by default, with a seed provided to enable repeatable test runs, as this was a similar technique we were exploring for randomization in our own codebase.

Please cons

[2016-08-20 22:47] onsi commented on #286
Hey @jawnsy - glad to hear you are enjoying Ginkgo, Gomega and Agouti!

You can actually access the seed from test code.  It's a bit ugly (globals... blech) but if you import the `github.com/onsi/ginkgo/config` package you can get to it via `config.GinkgoConfig.RandomSeed`

[2016-08-20 22:48] onsi commented on #286
and, yeah, I don't think there's any harm in using the current time.  Seemed like the simplest thing to do at the time.

[2016-08-21 00:37] jawnsy commented on #286
Hey @onsi, that's awesome, thanks for that info & your very quick reply, I'll give it a shot!

If you can share your thoughts on how to best modify the code to expose this, I'd be happy to work on a PR - it's the least we can do, as beneficiaries of your work :smile: Fair warning, I'm a relative newbie to Go, which is probably why I wasn't able to find that global myself :laughing:

I switched ove

[2016-08-22 23:00] onsi commented on #286
:) if you'd like you can add a `GinkgoRandomSeed` identical to `GinkgoParallelNode` here:
https://github.com/onsi/ginkgo/blob/master/ginkgo_dsl.go#L71-L75

I'm not 100% convinced we need to worry too much about seed collision (what's the harm?) and the UnixNano numbers are pretty long.  Any strong reasons driving you towards it?

[2016-08-22 23:03] jawnsy commented on #286
Nope, no real reason - just thinking out loud. If your tests run quickly and you run them twice in rapid succession, then you can end up with two identical seeds. We can shorten the displayed seed value by using a different encoding (hex?) and/or dropping the most significant bits, as they aren't going to change much between runs. As I don't have great reasons for making that change, it's fair to

[2016-08-22 23:04] onsi commented on #286
yeah, I'd prefer to leave them as is.  But true if you are using something like `ginkgo --untilItFails` you'll have test runs with similar seeds if they run in the same second.

[2016-08-23 09:38] tinygrasshopper commented on #285
Thanks for the comments folks.

We inherited a codebase which has this issue. The actual code we are trying to modify doesn't look that easy to change, as the flags are populated all over the place. We are going to keep it as it is for now, and use `go test` as the test runner.

[2016-08-23 09:38] #285 closed

[2016-08-31 22:16] lcoote opened #287 "GinkgoT().Logf() doesn't mimic newline behavior of testing.T"
Using the standard golang testing.T object, if I call

[code]

then I get the following output:

[code]

however, if I call Logf with the object returned by GinkgoT(), my loglines are not separated newlines.

[code]

[2016-09-07 11:13] ddwolf opened #289 "can you add "incremental test" feature?"
I.E. I modified two files and these two files only affect two test case, when I run

[code]

only two test cases would run.

Can you add this feature?

~thks

[2016-09-07 14:31] robdimsdale commented on #289
Hi @ddwolf, interesting question. How would you do this in practice? I am aware that some testing frameworks support this, but I'm not sure how they implement this logic. Do you have some ideas? We would be happy to walk through the changes needed if you were willing to submit a PR.

[2016-09-08 08:35] ddwolf commented on #289
hi @robdimsdale thks for replying.
I think this kind of "incremental testing" can only work for file-level, not testcase-level,do you know of bazel from google? bazel can do every aspect of incremental build only if you have a proper dependency tree described in the  BUILD files, but google dont suggest using bazel in projects using golang.

[2016-09-08 14:25] robdimsdale commented on #289
Thanks for that info. Are you aware of `ginkgo watch`? It will detect changes and re-run tests automatically. It sounds like that has some functionality you'd like, but it will run all the tests, not just the specific ones that are impact. You can read the docs [here](https://onsi.github.io/ginkgo/#watching-for-changes) ?

[2016-09-09 00:56] ddwolf commented on #289
@robdimsdale sounds interesting, but my goal is to speed up the build process, include compile/staticCheck/test/..., now we already have incremental compile/pack, but incremental test.

[2016-09-09 05:17] robdimsdale commented on #289
Ok makes sense. This would be a useful feature to have, especially when combined with `ginkgo watch`. Realistically we're probably not going to be able to implement it ourselves as we don't have the bandwidth, but we'd be happy to walk you through a PR if you would like?

If not, we will probably close this issue, but would be open to such a PR from yourself or others in the future.

[2016-09-09 07:44] ddwolf commented on #289
@robdimsdale OK, thanks for your patient replies.

[2016-09-13 07:00] rosenhouse opened #290 "CLI issue when a package's only test file uses a build tag"
Given your package has only a single `something_test.go` and that file begins with

[code]

When you run `ginkgo` on that package

Then things go sideways:

[code]

Minimal repro here: https://github.com/rosenhouse/ginkgo-build-flags-issue

If I wanted to try to fix this, would you suggest that I start..... [here-ish](https://github.com/onsi/ginkgo/blob/master/ginkgo/testrunner/test_runner.go#L60)

[2016-09-14 19:26] onsi commented on #290
Hmm.  interesting.  what should the desired behavior be?  I guess it should just ignore the package as there are no matching tags?

Starting [there](https://github.com/onsi/ginkgo/blob/master/ginkgo/testrunner/test_runner.go#L60) might be problematic as `go test -c` exits 0 and just says:

[code]

We'd need `ginkgo` to somehow detect that "hey everything's actually OK, but no test binary was gener

[2016-09-16 17:28] hermanccw opened #292 "How do I exclude the vendor folder on ginkgo watch?"
trying ginkgo watch -depth 0 didn't work for me.

[2016-09-17 01:59] robdimsdale commented on #292
@hermanccw are you running the most up-to-date version of `ginkgo`? There were some issues around `vendor` that were fixed a few months back.

I cannot reproduce your problem; when I `ginkgo watch -r` I don't see anything under `vendor` in the message:

[code]

and when I edit an existing file under `vendor` I don't see any tests run.

[2016-09-17 03:01] hermanccw commented on #292
@robdimsdale, look at the last commit in our ginkgo folder (under vendor), it is `7d3240191d7b2311b60090fcbc96e56bffc45ec0` which is super old, so I guess that's why it's still reading the vendor folder.  thanks for the reply.  should I update to the latest commit in master?

[2016-09-17 05:19] robdimsdale commented on #292
Yes, I would bump the version to latest and see if that resolves your issue.

I'm a little surprised, because that commit came after a lot of the `vendor` related work, but on the other hand I'm not sure what else it would be. What version of golang are you running?

[2016-09-19 18:03] hermanccw commented on #292
sorted it out, turns out to be some other problem in my code base.

[2016-09-19 18:03] #292 closed

[2016-09-19 21:21] robdimsdale commented on #292
Glad to hear it!

[2016-09-20 23:10] jawnsy commented on #286
Created https://github.com/onsi/ginkgo/pull/293

[2016-09-24 04:15] Random-Liu opened #294 "Specify serial test in parallel suite"
Is it possible to add a spec `SIt()` which specifies whether the test should be run in serial?

And when ginkgo framework runs the test suite, it runs all normal test in parallel first, and then run all serial test one by one.

In Kubernetes, we have many different test suites for different test purposes. Ideally, we want to group test into different suites by different purposes. However, currentl

[2016-09-24 20:10] vito commented on #294
Is the intent for the tests to be run in the given order (possibly preserving side-effects between them), or just not in parallel with each other?

Would it make more sense to have a `Serial` wrapper around `It`s instead, and allow `Serial` blocks to run concurrently (while running their contained `It`s serially)? Otherwise it feels like `SIt` could scale poorly as more are added that aren't stric

[2016-09-24 20:18] onsi commented on #294
good question @vito

@Random-Liu perhaps you can help us understand *why* some k8s tests need to be run in series?

[2016-09-24 22:16] Random-Liu commented on #294
For test which needs to be run in given order, at least we can do them in one spec. The problem is that for some test we don't want it to run in parallel with the other test.

I understand that it is recommended to make each spec independent, but sometimes it's quite hard. We usually just run many tests against a Kubernetes cluster, instead of creating a new cluster (create VMs, deploy K8s etc.) f

[2016-09-26 14:30] GinFungYJF opened #295 "build ginkgo with bazel"
Can anybody use bazel to build ginkgo? I find it's troublesome and challenging.

[2016-09-26 21:18] #286 closed

[2016-09-27 15:48] #265 closed

[2016-09-27 15:57] mikeatlas opened #296 "flag provided but not defined: -ginkgo.seed"
This is pretty simple. I pulled ginkgo into a new project today, and when running it from the CLI, I get:

[code]

It looks to be related to yesterday's commit https://github.com/onsi/ginkgo/commit/45a5f6ffb2a14e4f29698c16ae4c0a34018a8951 (@jawnsy) regarding random seeds.

[2016-09-27 16:06] onsi commented on #296
woah... very strange.  I just carved out a new GOPATH, pulled the latest ginkgo and gomega, made an empty project.  All seems to work for me.

Yesterday's commit didn't touch the actual flag definitions and looking through it I can't imagine what changed.  @mikeatlas can you try rebuilding your `ginkgo`?

[2016-09-27 16:21] mikeatlas commented on #296
I went an made sure to run `go get -u`, rebuilt the `ginkgo` binary, and manually copied the binary into my `$GOPATH/bin`. Same result from my project. But, running `ginkgo` from other paths seemed to run fine, with the standard "Found no test suites" message.

I dug a little deeper, and in my new project, I have:
[code]
This call is what appears to be interfering with Ginkgo's flag parsing. Remov

[2016-09-27 16:46] onsi commented on #296
ah makes sense.  take a look at this #285 and this comment in particular:

https://github.com/onsi/ginkgo/issues/285#issuecomment-240804867

you can only call `flag.Parse()` once.  Doing it in `init()` means other packages can't define their flags in `init()` in time (I _think_ the ordering is undefined).  Generally betters to `flag.Parse()` in `main.main()` as it is guaranteed to be a singleton.

[2016-09-27 16:59] mikeatlas commented on #296
Thanks @onsi

[2016-09-27 16:59] #296 closed

[2016-09-27 17:18] heynemann opened #297 "Make globalSuite public"
Hi, thanks for the awesome testing library!

I'm trying to encapsulate some common testing logic in a new Describe (HTTPDescribe - starts a test http server and runs measure against it). I want to be able to support the same level of functionality that Describe does (FDescribe, XDescribe, etc).

The only way I could find to do that is to push it to the globalSuite as a container. The problem with

[2016-09-27 17:37] onsi commented on #297
Rather than try to build `HTTPDescribe` "from scratch" you could compose it out of `Describes` etc.  Something like (apologies for pseudocode):

[code]

[2016-09-27 18:20] heynemann commented on #297
I did that, but I thought it a little weird, instead of just calling a method to properly register my container, test, before, etc.

Well, it's done anyway! Thanks once more for the great library!

[2016-09-27 18:20] #297 closed

[2016-10-03 17:30] tedsuo commented on #294
I don't think it's good UX to pass command line flags that are then ignored by the program. You will find a lot of complexity in the corner cases. For example, what happens when I say `-p -randomizeAllSpecs` and there is a hidden control layer that says "run these particular tests in serial"? Regardless of the answer, it's not obvious and it's hard to document.

Currently, command-line flags and g

[2016-10-06 15:06] TheTincho opened #301 "Test failure on ppc"
Hi,

I am experiencing [test failures](https://buildd.debian.org/status/fetch.php?pkg=golang-ginkgo&arch=powerpc&ver=1.2.0%2Bgit20160914.46c87bb-1&stamp=1475199110) when compiling ginkgo on powerpc/gccgo:

[code]

[2016-10-07 05:09] onsi commented on #301
Weird.  `innerCodeLocation` is assigned to in [line 281](https://github.com/onsi/ginkgo/blob/master/internal/leafnodes/shared_runner_test.go#L281)

It's never read, however, and can just be removed (was a copy-paste issue).  I've done this on master now.  Lemme know if it helped.

[2016-10-07 11:34] TheTincho commented on #301
It does indeed fix it, it seems that gccgo has some extra checks.

Thanks!

[2016-10-07 11:34] #301 closed

[2016-10-11 11:32] kargakis opened #303 "Need for a JustAfterEach call"
_JustBeforeEach blocks are guaranteed to be run after all the BeforeEach blocks have run and just before the It block has run. We can use this fact to clean up the Book specs:_
https://onsi.github.io/ginkgo/#separating-creation-and-configuration-justbeforeeach

I need a `JustAfterEach` that will run after It blocks and before AfterEach blocks so I can setup trap failures scoped to the test blocks

[2016-10-11 21:31] mnussbaum opened #304 "Allow for testing of SIGINT and SIGTERM handling"
I'd love to have the ability to test my applications handling of `SIGINT` and `SIGTERM`, but sending those signals to the application during the test suite causes ginkgo to [fail and exit the test suite](https://github.com/onsi/ginkgo/blob/master/internal/specrunner/spec_runner.go#L192).

I'm not sure exactly what mechanism I'd like to see, but perhaps a way to register your own signal handlers to

[2016-10-12 05:03] onsi commented on #303
Hey @kargakis can you describe exactly what you are trying to accomplish?  A `JustAfterEach` doesn't make too much sense in Ginkgo.  You *can* just have multiple, appropriately nested `AfterEach` blocks.  For example:

[code]

Would print out (ignoring Ginkgo's own test output):

[code]

So you can add custom logic to the `A-2` `AfterEach` for the `"Another group of tests"` block that will not aff

[2016-10-12 08:19] and-hom commented on #70
I need BeforeAll/AfterAll too. I created integration test for my application. It prepares environment, starts app and performs tests. So I'd like to test my app with different config files and different environment variables. And I have more then one test per each configuration.
Now I have to create a package per each test configuration and one more package for common test utils. It's a workaround

[2016-10-12 13:17] kargakis commented on #303
I would swear I was trying to use a nested AfterEach block and it wasn't working. Maybe I need to try again.. Was it a bug fixed recently in ginkgo? Kubernetes seems to be using a fairly recent [version](https://github.com/kubernetes/kubernetes/blob/3a882072e92bcce244c565f0539e4ad45d1b958c/Godeps/Godeps.json#L1559) of the framework.

[2016-10-12 13:27] onsi commented on #303
Naw it should totes work. Try it in isolation with that version of ginkgo before putting it into the k8s integration test.

[2016-10-12 20:50] nikhilm opened #305 "Ginkgo "corrupts" some global state when testing "package main""
I have a project that has certain functions in `package main` that I want to test. The tests are located in another directory. I am aware that this is bad style, and I should move the exported functions to another package and so on... but the fact is, it is something that works, until running ginkgo makes it not work.

I have a reduced test case at https://github.com/nikhilm/ginkgo-broken that int

[2016-10-14 18:35] seanschade commented on #201
It looks like Ginkgo doesn't support all of the testing flags. I have benchmarks for which I want the cpu and memory profiles for. However, it seems these flags are ignored.

https://golang.org/cmd/go/#hdr-Description_of_testing_flags

[2016-10-15 00:52] onsi commented on #70
@and-hom can you point me at a concrete or specific example?

PSA:

If you want `BeforeAll` or `AfterAll` you can always add a guard to a `BeforeEach` and `AfterEach` block to ensure it only runs once.

This will not work with paralellized tests or `--randomizeAllSpecs`.  This is one reason why I do not intend to add `BeforeAll` or `AfterAll`.

[2016-10-15 00:53] onsi commented on #305
Fastinating... I'll try to take a look soon.

[2016-10-15 01:00] onsi commented on #201
are you on head?  i believe this commit:

https://github.com/onsi/ginkgo/commit/120efcfd33906beedc53369a8659c41cc9190e81

pulled this in...

[2016-10-15 01:01] onsi commented on #201
(don't forget to rebuild the ginkgo cli after you pull)

[2016-10-16 09:16] albertoleal opened #306 "Generating bench profiles"
Hi,

I'm playing with `pprof` and I'd like to export some *profiles for my test suite, but without success so far. I'm not sure if I'm missing something, so I've created a very simple example and trying to make it work:

[code]

I've tried to run this bench with `ginkgo` and `go test` as follows, but the content of  `cpu.profile` file is always the same: `'`.

[code]

[code]

Am I missing anything

[2016-10-16 20:58] onsi commented on #305
`ginkgo` calls into `go test -i -c -o=...` to produce a compiled artifact.  It looks like `go test -i` is to blame.

If you clone your repo and run:

`go test -i`

then all subsequent invocations of `go test` fail until you `touch project/main.go`

Weird.  I recommend opening an issue on [go itself](https://github.com/golang/go/issues)

For now, I'm removing the `-i` flag.  It's not necessary and

[2016-10-16 20:59] #305 closed

[2016-10-16 21:11] onsi commented on #303
@kargakis thoughts?

[2016-10-16 21:15] onsi commented on #304
hey @mnussbaum this feels like an edge case to me.  most suites I've seen that test signal handling are integration tests that spin up the binary and manipulate it externally.

rather than add a feature to ginkgo perhaps you can use `signal.Reset` in a `BeforeSuite` and then let your code register its own signal handler?

my concern with adding something that does this for you in Ginkgo is it will

[2016-10-16 21:25] james-lawrence commented on #295
should be able to build ginkgo with just go get? never used bazel as a build system, not sure if this is the appropriate place to ask this question. But if you provide more information about the issue you're having its more likely to get a useful response.

[2016-10-16 22:11] james-lawrence commented on #66
not a huge fan of this honestly, too tightly coupled with coveralls/gover. I'd be more interested in something that combines the individual cover reports and outputs a single file.

[2016-10-21 00:45] robdimsdale commented on #66
We haven't had any activity on this thread in six months - I'm closing it (again).

[2016-10-21 00:45] #66 closed

[2016-10-23 00:30] hcliff opened #307 "Huge slowdowns on recent commits"
A change introduced in the last 5-9 days is causing _huge_ slowdowns. I've seen my test times go from 2minutes to 20 minutes. Tests are running quickly themselves, it appears to be the compilation steps.

I've verified it's ginkgo by replaying old (fast) CI tests with varying versions of ginkgo, and cross referenced vanilla `go test ./...` to be safe

I've been able to fix this by checking out an

[2016-10-23 00:37] onsi commented on #307
i suspect it was this commit:

https://github.com/onsi/ginkgo/commit/afe049e1120cfc831ad789f4895818d3c6c95de8

can you confirm?

[2016-10-23 00:51] hcliff commented on #307
yup, looks like it

[2016-10-23 02:03] onsi commented on #307
le sigh... does anyone on the internet know how `go test -i` works... I'll revert the commit...

[2016-10-23 02:04] hcliff commented on #307
If it's helpful ping me with a branch and I'll trial it prior to merging into master?

[2016-10-23 02:19] onsi commented on #307
naw just pushed it to master, give it a shot @hcliff